﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>@ViewBag.Title</title>

    @*<script src="@Url.Content("~/assets/global/plugins/pace/pace.min.js")" type="text/javascript"></script>
    <!-- END PAGE FIRST SCRIPTS -->
    <!-- BEGIN PAGE TOP STYLES -->
    <link href="@Url.Content("~/assets/global/plugins/pace/themes/pace-theme-flash.css")" rel="stylesheet" type="text/css" />*@

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@Url.Content("~/assets/global/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/assets/global/css/components-md.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/assets/global/css/plugins-md.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@Url.Content("~/assets/pages/css/login-4.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mycustom.css?v2.2.17")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/zocial.css")" rel="stylesheet" type="text/css" />

    
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
  

    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.png")" />
</head>

<body class="login">
    <div id="divLoading" class="go-now-loading">
        <div class="loader bar">
            <div class="g-blue"></div>
            <div class="g-yellow"></div>
            <div class="g-green"></div>
            <div class="g-red"></div>
        </div>
    </div>
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="/login">
            <img src="@Url.Content("~/Content/Images/sendmail-123.png")" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    @RenderBody()
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    @*<div class="copyright"> 2015 &copy; app.123sendmail.com</div>*@
    <!-- END COPYRIGHT -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/assets/global/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/assets/global/plugins/excanvas.min.js")"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

    <script src="@Url.Content("~/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/backstretch/jquery.backstretch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-sessiontimeout/bootstrap-session-timeout.js")" type="text/javascript"></script>
    
   

     <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
   
    <script src="@Url.Content("~/Scripts/jquery.cookie.js?v2.2.17")"></script>

    <script src="@Url.Content("~/Scripts/custom.js?v2.2.17")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Login/login.js?v2.2.17")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/find-in-json.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ResetPassWold/retpasswold.js?v2.2.17")"></script>
   
    <script src="@Url.Content("~/Scripts/jquery.ddslick.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Login/loginrequired.js")" type="text/javascript"></script>

    @RenderSection("JS", required: false)
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58b3c9311919dc09f9056f1e/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
