﻿<!DOCTYPE html>
<!--

<!--<![endif]-->
<!-- BEGIN HEAD -->
<html>
<head>
    <meta charset="utf-8" />
    <title>app.123sendmail.com</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    @*<script src="@Url.Content("~/assets/global/plugins/pace/pace.min.js")" type="text/javascript"></script>
        <!-- END PAGE FIRST SCRIPTS -->
        <!-- BEGIN PAGE TOP STYLES -->
        <link href="@Url.Content("~/assets/global/plugins/pace/themes/pace-theme-flash.css")" rel="stylesheet" type="text/css" />*@


    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->


    <link href="@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/morris/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/assets/global/css/components-md.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/assets/layouts/layout/css/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/layouts/layout/css/themes/darkblue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/assets/layouts/layout/css/custom.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>


    <link href="@Url.Content("~/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/assets/global/plugins/bootstrap-summernote/summernote.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/jquery-multi-select/css/multi-select.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/clockface/css/clockface.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/css/plugins-md.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/jquery-minicolors/jquery.minicolors.css")" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.png")" />
    <link href="@Url.Content("~/Content/mycustom.css")" rel="stylesheet" type="text/css" />
</head>

<!-- END HEAD -->
<body class="page-header-fixed page-container-bg-solid page-md">
    <div id="divLoading" class="go-now-loading">
        <div class="loader bar">
            <div class="g-blue"></div>
            <div class="g-yellow"></div>
            <div class="g-green"></div>
            <div class="g-red"></div>
        </div>
    </div>
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#">
                    <img src="@Url.Content("~/Content/Images/sendmail-123.png")" alt="logo" class="logo-default" style="width:150px;margin-top:10px;" />
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    @{Html.RenderAction("MenuProfile", "Home");}
                    @{Html.RenderAction("LanguageBar", "Home");}

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="300" style="padding-top: 20px">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper hide">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler"> </div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>

                    <li class="nav-item" id="mndasdboard">
                        <a href="~/Home/" class="nav-link nav-toggle">
                            <i class="icon-home"></i>
                            <span class="title">@Resources.Resource.mnDashBoard</span>
                        </a>
                    </li>

                    <li class="heading">
                        <h3 class="uppercase">@Resources.MenuResource.mnAnalyticsBasic</h3>
                    </li>

                    <li class="nav-item" id="mnstatisticbasic">

                        <a href="@Url.Content("~/Statistics/generalstatistics/")" class="nav-link">
                            <i class="fa fa-area-chart"></i>
                            <span class="title">@Resources.MenuResource.mnAnalytics</span>
                        </a>
                    </li>
                    <li class="heading">
                        <h3 class="uppercase">@Resources.MenuResource.mnAnalyticAdvanced</h3>
                    </li>
                    <li class="nav-item " id="mnstatistictimebase">
                        <a href="@Url.Content("~/Statistics/timebased/")" class="nav-link ">
                            <i class="fa fa-calendar"></i>
                            <span class="title">
                                @Resources.MenuResource.mnTimeBase
                            </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="@Url.Content("~/Statistics/actionbased/")" class="nav-link ">
                            <i class="fa fa-star-o"></i>
                            <span class="title">
                                @Resources.MenuResource.mnActionBase
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN THEME PANEL -->
                <!-- END THEME PANEL -->
                <!-- BEGIN PAGE BAR -->
                <!-- END PAGE BAR -->
                <!-- BEGIN PAGE TITLE-->
                <!-- END PAGE TITLE-->
                <!-- END PAGE HEADER-->
                <!-- BEGIN DASHBOARD STATS 1-->

                

                @RenderBody()

                <div class="clearfix"></div>
                <!-- END DASHBOARD STATS 1-->

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2015 &copy; APP.123SENDMAIL.COM
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    @*<script>

                document.onreadystatechange = function (e) {
                    if (document.readyState === 'complete') {

                    }
                    App.blockUI({
                        target: 'body',
                        animate: true
                    });
                };
                window.onload = function (e) {
                    App.unblockUI('body');
                };

        </script>*@

    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    @*<script src="@Url.Content("~/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/morris/morris.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/morris/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/counterup/jquery.waypoints.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/counterup/jquery.counterup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.resize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.categories.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/pages/scripts/form-validation-md.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>



    <script src="@Url.Content("~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/assets/pages/scripts/timeline.min.js")" type="text/javascript"></script>*@

    <script src="@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")"></script>

    <script src="@Url.Content("~/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js")" type="text/javascript"></script>
    
    <script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/pie.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/serial.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Url.Content("~/assets/pages/scripts/profile.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/pages/scripts/components-bootstrap-select.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Home/menuprofile.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@Url.Content("~/assets/layouts/layout/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/layout/scripts/demo.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/global/scripts/quick-sidebar.min.js")" type="text/javascript"></script>

    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
    <script src="~/Scripts/Statistics/statistics.js"></script>
    <script src="~/Scripts/Statistics/statistictimebase.js"></script>
</body>
</html>