﻿<!DOCTYPE html>
<!--

<!--<![endif]-->
<!-- BEGIN HEAD -->
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | toomarketer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/morris/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/assets/global/css/components-md.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/assets/layouts/layout/css/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/layouts/layout/css/themes/darkblue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/assets/layouts/layout/css/custom.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js?v2.2.17")"></script>
    <link href="@Url.Content("~/assets/pages/css/pricing.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/jquery-multi-select/css/multi-select.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/pages/css/profile.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/clockface/css/clockface.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/css/plugins-md.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/jquery-minicolors/jquery.minicolors.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="/assets/global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/nouislider/nouislider.css" rel="stylesheet" />

    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.png")" />
    <link href="@Url.Content("~/Content/mycustom.css")?@ViewBag.JsPara" rel="stylesheet" type="text/css" />

 
</head>
@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];
    int DateTrial = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["DayTrial"]);
}
<!-- END HEAD -->
<body class="page-header-fixed  page-content-white page-sidebar-fixed page-md">
    <div id="divLoading" class="go-now-loading">
        <div class="loader bar">
            <div class="g-blue"></div>
            <div class="g-yellow"></div>
            <div class="g-green"></div>
            <div class="g-red"></div>
        </div>
    </div> 
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Content("/Contacts")">
                    <img src="@Url.Content("~/Content/Images/sendmail-123.png")" alt="logo" class="logo-default" style="width:150px;margin-top:10px;" />
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!--BEGIN NOTIFYCATION EXDATE-->
            <div style="float:left;color:white;height:46px;padding-left: 20px;padding-right: 20px;">
                <div style="margin-top:12px;" class="font-red">
                    @if (userinfo.ExpireDate.Value.ToString("yyyy-MM-dd") == userinfo.CreateDate.AddDays(DateTrial).ToString("yyyy-MM-dd"))
                    {
                        <span>@Resources.HomeResource.PagebarNotify</span>
                    }
                    @if (userinfo.ExpireDate.Value <= DateTime.Now.AddDays(DateTrial))
                    {
                        <span class="title"> @Resources.HomeResource.AccountExpiry @userinfo.ExpireDate.Value.ToString("dd-MM-yyyy"). <a href="/Account/UserProfile#Recharge" class="btn btn-xs green-jungle">@Resources.HomeResource.Renewal</a></span>
                    }
                </div>
                
            </div>
            <!--END NOTIFYCATION EXDATE-->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    @{Html.RenderAction("UseStats", "Home");}
                    @{Html.RenderAction("MenuProfile", "Home");}
                    @{Html.RenderAction("LanguageBar", "Home");}

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>

    <div class="clearfix"> </div>

    <div class="page-container">

        <div class="page-sidebar-wrapper">

            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                    @{Html.RenderAction("PageSideBar", "Home");}
                </ul>

            </div>

        </div>
      
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                @RenderBody()
                @{Html.RenderAction("Notifycation", "Home");}
                <div class="clearfix"></div>
            </div>
        </div>
      
    </div>

    <div class="page-footer">
        <div class="page-footer-inner">
            2016 &copy; APP.TOOMARKETER.COM
        </div>
        @*<div class="page-footer-inner pull-right">
            <span>Mọi thắc mắc liên hệ <b>0900000000</b> . Email: <b>support@gmail.com</b></span>
        </div>*@
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $('#mncreatebasiccampaign').on('click', function () {
                localStorage.setItem('BasicCampaign', 0);
            });

            var FirstLimitRecharge = '@System.Configuration.ConfigurationManager.AppSettings["FirstLimitRecharge"]';

            //yêu  cầu nạp tiền
            var date = moment(new Date()).format('YYYY-MM-DD');
            var datex = '@userinfo.ExpireDate.Value.ToString("yyyy-MM-dd")';

            if (datex < date) {
                if ('@permission.IsParent'.toLowerCase()=='true') {
                    window.location.href = "/Account/UserProfile#Recharge";
                } else {
                    window.location.href = "/NotHavePermission/Expired";
                }

            }
            
           
            var createdate = '@userinfo.CreateDate.AddDays(DateTrial).ToString("yyyy-MM-dd")';
            if (datex == createdate && parseInt( @userinfo.CurrentBalance) >= parseInt(FirstLimitRecharge)) {
                window.location.href = "/Account/UserProfile#Recharge";
            }
        });


    </script>
    
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <![endif]-->

    
    <!-- BEGIN CORE PLUGINS -->
  
    @*<script src="@Url.Content("~/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/morris/morris.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/morris/raphael-min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/assets/global/plugins/counterup/jquery.waypoints.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/counterup/jquery.counterup.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.resize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.categories.min.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/pages/scripts/form-validation-md.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/additional-methods.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/assets/global/plugins/bootstrap-summernote/summernote181.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/assets/pages/scripts/timeline.min.js")" type="text/javascript"></script>*@

    @*<script src="@Url.Content("~/assets/global/scripts/datatable.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/global/plugins/datatables/datatables.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-editable/inputs-ext/address/address.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-typeahead/bootstrap3-typeahead.min.js")" type="text/javascript"></script>
   
    <script src="@Url.Content("~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")"></script>
    
    <script src="@Url.Content("~/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.js")" type="text/javascript"></script>

    <script src="/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/nouislider/nouislider.js"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @*<script src="@Url.Content("~/assets/pages/scripts/profile.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/assets/pages/scripts/components-bootstrap-select.min.js")" type="text/javascript"></script>
   
  
    <script src="~/Scripts/bootstrap-multiselect.js"></script>

    <script src="@Url.Content("~/Scripts/datetimepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/find-in-json.js")" type="text/javascript"></script>

    <script src="~/Scripts/DefineConstant.js?@ViewBag.JsPara"></script>
    <script src="@Url.Content("~/Scripts/Home/menuprofile.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Home/notifycation.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Home/keeplive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ddslick.min.js")" type="text/javascript"></script>

    <script src="~/Scripts/CheckSMS/vn-convert.js?@ViewBag.JsPara"></script>
    <script src="~/Scripts/CheckSMS/validatesms.js?@ViewBag.JsPara"></script>
    <script src="~/Scripts/CheckSMS/gsm-unicode.js?@ViewBag.JsPara"></script>

    <script src="@Url.Content("~/Scripts/appshare.js")?@ViewBag.JsPara" type="text/javascript"></script>
    @RenderSection("JS", required: false)
   
   
  
    <script src="@Url.Content("~/Scripts/global-datatable.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Scripts/Home/userstats.js"></script>
    <script src="@Url.Content("~/assets/layouts/layout/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/layout/scripts/demo.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/global/scripts/quick-sidebar.min.js")" type="text/javascript"></script>
   
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="@Url.Content("~/Scripts/custom.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58b3c9311919dc09f9056f1e/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>