﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.uprofileProfileAccount</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1_1" data-toggle="tab">@Resources.AccountResource.uprofilePersonalInfo</a>
                    </li>
                    <li>
                        <a href="#tab_1_2" data-toggle="tab">@Resources.AccountResource.uprofileChangeAvatar</a>
                    </li>
                    @*<li>
                        <a href="#tab_1_4" data-toggle="tab">@Resources.AccountResource.uprofileEmailFrom</a>
                    </li>*@
                    <li>
                        <a href="#tab_1_3" data-toggle="tab">@Resources.AccountResource.uprofileChangePassword</a>
                    </li>
                    <li>
                        <a href="#tab_1_4" data-toggle="tab">Cập nhật email</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="portlet-body form">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctfirstname</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </span>
                                            <input type="text" placeholder="John" class="form-control" id="acount-firstname" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctlastname</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </span>
                                            <input type="text" placeholder="Doe" class="form-control" id="acount-lastname" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctphone</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-mobile"></i>
                                            </span>
                                            <input type="text" placeholder="0912345678" class="form-control" id="acount-mobile" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctcompany</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-home"></i>
                                            </span>
                                            <input type="text" placeholder="@Resources.AccountResource.ifctcompany" class="form-control" id="acount-company" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctstreet</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-street-view"></i>
                                            </span>
                                            <input type="text" placeholder="@Resources.AccountResource.ifctstreet" class="form-control" id="acount-street" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctfacebook</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-facebook"></i>
                                            </span>
                                            <input type="text" placeholder="@Resources.AccountResource.ifctfacebook" class="form-control" id="acount-facebook" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifcttwitter</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-twitter"></i>
                                            </span>
                                            <input type="text" placeholder="@Resources.AccountResource.ifcttwitter" class="form-control" id="acount-twitter" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctcity</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-map-marker"></i>
                                            </span>
                                            <input type="text" class="form-control" id="accountcity" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.ifctcountry</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-map-o"></i>
                                            </span>
                                            <select class="form-control" id="accountcountry"></select>
                                        </div>
                                    </div>
                                   
                                    <div class="margiv-top-10" style="text-align:center;">
                                        <a id="submit_updateinfo" href="javascript:;" class="btn green-jungle"><i class="fa fa-save"></i> @Resources.AccountResource.ctSave </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <div style="padding-bottom:5px;">
                            <div class="form-group">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    @if (userinfo.Avatar == "https://123sendmail.blob.core.windows.net/")
                                            {

                                            <div class="fileinput-new thumbnail" style="width: 250px; height: 250px;">
                                                <img src="~/Content/Images/no-avatar.png" alt="" />
                                            </div>
                                            }
                                            else
                                            {
                                            <div class="fileinput-new thumbnail" style="width: 250px; height: 250px;">
                                                <img src="@userinfo.Avatar" alt="" />
                                            </div>
                                            }
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 250px; max-height: 250px;"> </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new">@Resources.AccountResource.SelectImage </span>
                                            <span class="fileinput-exists">@Resources.AccountResource.Change </span>
                                            <input type="file" name="..." id="accountavatar" accept="image/x-png, image/jpeg">
                                        </span>
                                        <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                    </div>
                                </div>
                                <div class="clearfix margin-top-10">
                                    <span class="label label-danger">@Resources.AccountResource.Note </span>
                                    <span> @Resources.AccountResource.Attached</span><br />
                                    <span>@Resources.AccountResource.SupportFormat</span>
                                </div>
                            </div>
                            <div class="margin-top-10">
                                <a href="javascript:;" id="submitavatar" class="btn green-jungle"><i class="fa fa-save"></i> @Resources.AccountResource.ctSave </a>
                            </div>
                        </div>
                    </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- config from email-->
                    @*<div class="tab-pane" id="tab_1_4">
                        <div class="portlet-body form">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="table-responsive">
                                        <div class="wrap-table">

                                            <table class="head">
                                                <thead>
                                                    <tr>
                                                        <th style="width:40%;"> My from email </th>
                                                        <th style="width:30%;"> Status  </th>
                                                        <th style="width:30%;" class="text-right"> </th>

                                                    </tr>
                                                </thead>

                                            </table>
                                            <div class="inner_table">
                                                <table class="table" id="table-config-from-email"></table>
                                            </div>

                                        </div>
                                    </div>
                                

                                    <div class="row margin-top-20 " style="text-align:center;">
                                        <div class="col-md-12" id="div-add-from-email" style="display:none;">
                                            <div class="form-group form-md-line-input col-md-2 col-sm-2 col-xs-2"></div>
                                            <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-font"></i>
                                                    </span>
                                                    <input type="text" placeholder="Name" class="form-control" id="fromemail-name" />
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="text" placeholder="Email" class="form-control" id="fromemail-email" />
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input col-md-2 col-sm-2 col-xs-2">
                                                <a id="btn-add-from-email" href="javascript:;" class="btn green">Thêm</a>
                                            </div>
                                        </div>
                                            <a id="btn-show-add-from-email" href="javascript:;" class="btn green">Thêm địa chỉ mới</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#" class="accountsetting-form " style="padding-bottom:5px;max-width:800px;margin:0 auto;">
                            <div class="form-group">
                                <label class="control-label">@Resources.AccountResource.cpoldpass</label>
                                <div class="controls">
                                    <div class="input-icon">
                                        <i class="fa fa-check"></i>
                                        <input type="password" class="form-control" name="oldpassword" id="old_password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@Resources.AccountResource.cpnewpass</label>
                                <div class="controls">
                                    <div class="input-icon">
                                        <i class="fa fa-check"></i>
                                        <input type="password" class="form-control" name="newpassword" id="new_password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@Resources.AccountResource.cpnewpassagain</label>
                                <div class="controls">
                                    <div class="input-icon">
                                        <i class="fa fa-check"></i>
                                        <input type="password" class="form-control" name="rnewpassword" id="rnew_password" />
                                    </div>
                                </div>
                            </div>

                            <div class="margin-top-10 margin-bottom-10 text-center">
                                <button type="submit" class="btn green-jungle"><i class="fa fa-save"></i> @Resources.AccountResource.ctSave </button>
                                @*<a href="javascript:;" class="btn default"> @Resources.AccountResource.ctCancel </a>*@
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_1_4">
                        <div class="accountsetting-form-email" style="padding-bottom:5px;max-width:800px;margin:0 auto;">
                            <div class="form-group">
                                <label class="control-label">Cập nhật email đăng nhập</label>
                                <div class="controls">
                                    <div class="input-icon">
                                        <i class="fa fa-check"></i>
                                        <input type="text" class="form-control" name="newemal" id="newemail-update" placeholder="email@gmail.com" />
                                    </div>
                                </div>
                            </div>
                            <div class="margin-top-10 margin-bottom-10 text-center">
                                <button type="submit" id="update-email" class="btn green-jungle"><i class="fa fa-save"></i> @Resources.AccountResource.ctSave </button>
                            </div>
                        </div>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="modal-delete-from-email" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> Xóa một cấu hình email gửi</h4>
            </div>
            <div class="modal-body text-center">
                <h5> Xóa cấu hình email gửi này bạn sẽ không thể phục hồi lại được.</h5>
                <h4>Bạn muốn tiếp tục?</h4>
            </div>
            <div class="modal-footer">
                <a  class="btn green-jungle" id="confirm-delete-from-mail"><i class="fa fa-save"></i>Có, tiếp tục</a>
                <a  class="btn btn-outline font-grey-gallery" data-dismiss="modal"><i class="fa fa-remove"></i>Không, cảm ơn</a>
           
            </div>

        </div>
    </div>
</div>*@
<script>
    $(document).ready(function () {
        var message = {
            Success: '@Html.Raw(Resources.AccountResource.notifyUpateSuccess)',
            Error: '@Html.Raw(Resources.AccountResource.notifyUpateError)',
            OldPassError: '@Html.Raw(Resources.AccountResource.notifyOldPassError)',
            FirstName: '@Html.Raw(Resources.AccountResource.notifyFistNameError)',
            LastName: '@Html.Raw(Resources.AccountResource.notifyLastNameError)',
            Mobile: '@Html.Raw(Resources.AccountResource.notifyMobileError)',
            MobileFormat: '@Html.Raw(Resources.AccountResource.notifyMobileFormatError)',
            MobileFormat: '@Html.Raw(Resources.AccountResource.notifyMobileFormatError)',
            Entercurrentpass: '@Html.Raw(Resources.AccountResource.Entercurrentpass)',
            Enternewpass: '@Html.Raw(Resources.AccountResource.Enternewpass)',
            Reenternewpass: '@Html.Raw(Resources.AccountResource.Reenternewpass)',
            PassworldLeastCharacter: '@Html.Raw(Resources.AccountResource.PassworldLeastCharacter)',

        };
        var userId='@userinfo.UserId';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]'
        accountsetting_Proccess(apiDomain, access_token, userId, message)
        var user = {
            FirstName:  '@Html.Raw(userinfo.FirstName)',
            LastName: '@Html.Raw(@userinfo.LastName)',
            Company: '@Html.Raw(userinfo.Company)',
            Street: '@Html.Raw(userinfo.Street)',
            City: '@Html.Raw(userinfo.City)',
            Country: '@Html.Raw(userinfo.Country)',
            Mobile: '@Html.Raw(userinfo.Mobile)',
            Facebook: '@Html.Raw(userinfo.Facebook)',
            Twitter:'@Html.Raw(userinfo.Twitter)'
        }
        accountsetting_LoadInfo(apiDomain, access_token, user);
        //  accountsetting_GetCountryOnload(apiDomain, access_token, user);
        //accountsetting_CountryChange(apiDomain, access_token);

    });


</script>