﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.FromEMailTitle </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="table-responsive">
                                <div class="wrap-table">

                                    <table class="head">
                                        <thead>
                                            <tr>
                                                <th style="width:40%;"> @Resources.AccountResource.MyEmailAddress </th>
                                                <th style="width:30%;"> @Resources.AccountResource.Status  </th>
                                                <th style="width:30%;" class="text-right"> </th>

                                            </tr>
                                        </thead>

                                    </table>
                                    <div class="inner_table">
                                        <table class="table" id="table-config-from-email"></table>
                                    </div>

                                </div>
                            </div>

                            @if (permission.IsParent)
                            {
                            <div class="row margin-top-20 " style="text-align:center;">
                                <div class="col-md-12" id="div-add-from-email" style="display:none;">
                                    <div class="form-group form-md-line-input col-md-2 col-sm-2 col-xs-2"></div>
                                    <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                        <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                            <span class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </span>
                                            <input type="text" placeholder="@Resources.AccountResource.EnterFromName" class="form-control" id="fromemail-name" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                        <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" placeholder="@Resources.AccountResource.EnterFromEmail" class="form-control" id="fromemail-email" />
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-2 col-sm-2 col-xs-2">
                                        <a id="btn-add-from-email" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.Add</a>
                                    </div>
                                </div>
                                <a id="btn-show-add-from-email" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.AddAddresses</a>
                            </div>
                            }
                            else
                            {
                                if (permission.FromMail == 2)
                                {
                                    <div class="row margin-top-20 " style="text-align:center;">
                                        <div class="col-md-12" id="div-add-from-email" style="display:none;">
                                            <div class="form-group form-md-line-input col-md-2 col-sm-2 col-xs-2"></div>
                                            <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-font"></i>
                                                    </span>
                                                    <input type="text" placeholder="@Resources.AccountResource.EnterFromName" class="form-control" id="fromemail-name" />
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="text" placeholder="@Resources.AccountResource.EnterFromEmail" class="form-control" id="fromemail-email" />
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input col-md-2 col-sm-2 col-xs-2">
                                                <a id="btn-add-from-email" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.Add</a>
                                            </div>
                                        </div>
                                        <a id="btn-show-add-from-email" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.AddAddresses</a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-delete-from-email" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> @Resources.AccountResource.DeleteFromEmail</h4>
            </div>
            <div class="modal-body text-center">
                <h5>@Resources.AccountResource.WarningDelete </h5>
            </div>
            <div class="modal-footer">
                <a class="btn green-jungle" id="confirm-delete-from-mail"><i class="fa fa-save"></i>@Resources.AccountResource.YesContinue</a>
                <a class="btn btn-outline font-grey-gallery" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AccountResource.NoThank</a>

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var userId='@userinfo.UserId';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            HaveError: '@Html.Raw(Resources.AccountResource.HaveError)',
            VerificationPending: '@Html.Raw(Resources.AccountResource.VerificationPending)',
            NotifyVerify: '@Html.Raw(Resources.AccountResource.NotifyVerify)',
            Delete: '@Html.Raw(Resources.AccountResource.Delete)',
            Setdefault: '@Html.Raw(Resources.AccountResource.Setdefault)',
            Verified: '@Html.Raw(Resources.AccountResource.Verified)',
            NoFromEmail: '@Html.Raw(Resources.AccountResource.NoFromEmail)',
            DeleteSuccess: '@Html.Raw(Resources.AccountResource.DeleteSuccess)',
            FromNameRequire: '@Html.Raw(Resources.AccountResource.FromNameRequire)',
            FromEmailRequire: '@Html.Raw(Resources.AccountResource.FromEmailRequire)',
            CreateSuccess: '@Html.Raw(Resources.AccountResource.CreateSuccess)',
            UpdateSuccess: '@Html.Raw(Resources.AccountResource.UpdateSuccess)',
            Default: '@Html.Raw(Resources.AccountResource.Default)',
            FromEmailExist: '@Html.Raw(Resources.AccountResource.FromEmailExist)',
            Reverify: '@Html.Raw(Resources.AccountResource.Reverify)',
            EmailErrorFormat: '@Html.Raw(Resources.ContactResource.FormatEmailError)',
            ResentEmailVerify:'@Html.Raw(Resources.AccountResource.ResentEmailVerify)',
            ResentOverTime:'@Html.Raw(Resources.AccountResource.ResentOverTime)',
        };

        var permissiontable=@Html.Raw(Json.Encode(permission));
        frommail_Proccess(apiDomain, access_token, userId, message, permissiontable);

    });


</script>