﻿
@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md" style="width:100%;">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.ConfigList </span>
                    <a class="btn btn-sm yellow-gold pull-right" href="http://help.toomarketer.com/cau-hinh-de-goi-sms-tu-toomarketer-thong-qua-sim-dien-thoai-rieng-cua-ban/"><i class="fa fa-question-circle" style="color:white"></i> @Resources.MenuResource.mnHelp</a>
                    <a class="btn btn-sm green-jungle pull-right" style="margin-right:5px;" id="btn-add-setting"><i class="fa fa-plus"></i> @Resources.AccountResource.Add</a>

                </div>
            </div>
            <div class="portlet-body">
                
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body nopading">
                           
                            <div class="table-responsive">
                                <div class="wrap-table">

                                    <table class="head">
                                        <thead>
                                            <tr>
                                                <th style="width:20%;"> @Resources.AccountResource.Configurationname </th>
                                                <th style="width:80%;"> @Resources.AccountResource.Config </th>
                                                <th style="width:20%;" class="text-right"> </th>

                                            </tr>
                                        </thead>

                                    </table>
                                    <div class="inner_table" id="inner_table_setting">
                                        <table class="table" id="table-setting-from-mobile"></table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.FromMobileTitle<a class="btn btn-sm green-jungle" target="_blank" href="https://play.google.com/store/apps/details?id=com.toomarketer.mobile"> @Resources.AccountResource.DownLoadApp <i class="fa fa-cloud-download"></i></a> <span style="text-transform:lowercase;font-size:13px;">@Resources.AccountResource.FromMobileTitleSub</span></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body nopading">
                            <div class="table-responsive">
                                <div class="wrap-table">

                                    <table class="head">
                                        <thead>
                                            <tr>
                                                <th style="width:20%;"> @Resources.AccountResource.Device </th>
                                                <th style="width:20%;"> @Resources.AccountResource.Mobile </th>
                                                <th style="width:40%;"> @Resources.AccountResource.Status  </th>
                                                <th style="width:20%;" class="text-right"> </th>

                                            </tr>
                                        </thead>

                                    </table>
                                    <div class="inner_table" id="inner-table-config">
                                        <table class="table" id="table-config-from-mobile"></table>
                                    </div>

                                </div>
                            </div>

                            @*@if (permission.IsParent)
                            {
                                <div class="row margin-top-20 " style="text-align:center;">
                                    <div class="col-md-12" id="div-add-from-mobile" style="display:none;">
                                        <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4"></div>
                   
                                        <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                            <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input type="text" placeholder="@Resources.AccountResource.EnterFromMobile" class="form-control" id="frommobile-mobile" />
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4 text-left">
                                            <a id="btn-add-from-mobile" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.Add</a>
                                        </div>
                                    </div>
                                    <a id="btn-show-add-from-mobile" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.AddFromMobile</a>
                                </div>
                            }
                            else
                            {
                                if (permission.FromMobile == 2)
                                {
                                    <div class="row margin-top-20 " style="text-align:center;">
                                        <div class="col-md-12" id="div-add-from-mobile" style="display:none;">
                                            <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4"></div>
                                            <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4">
                                                <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="text" placeholder="@Resources.AccountResource.EnterFromMobile" class="form-control" id="fromemobile-mobile" />
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input col-md-4 col-sm-4 col-xs-4 text-left">
                                                <a id="btn-add-from-email" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.Add</a>
                                            </div>
                                        </div>
                                        <a id="btn-show-add-from-mobile" href="javascript:;" class="btn green-jungle"><i class="fa fa-plus"></i> @Resources.AccountResource.AddFromMobile</a>
                                    </div>
                                }
                            }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-delete-from-mobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> @Resources.AccountResource.DeleteFromEmail</h4>
            </div>
            <div class="modal-body text-center">
                <h5>@Resources.AccountResource.WarningDelete </h5>
            </div>
            <div class="modal-footer">
                <a class="btn green-jungle" id="confirm-delete-from-mobile"><i class="fa fa-save"></i>@Resources.AccountResource.YesContinue</a>
                <a class="btn btn-outline font-grey-gallery" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AccountResource.NoThank</a>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-setting-from-mobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.AccountResource.AddConfigTitle</h4>
            </div>
            <div class="modal-body">
                <div style="padding-left:15px;" id="sendsms-device">

                    <table style="width:100%;">
                        <tr>
                            <td>
                                @Resources.AccountResource.AddConfigName
                            </td>
                            <td>
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <input type="text" class="form-control" placeholder="@Resources.AccountResource.AddConfigName..." id="frommobile-setting-name" autofocus autocomplete="off">
                                </div>
                            </td>
                      
                         </tr>
                        <tr>
                            <td>
                                @Resources.AccountResource.SendtoMobifone
                            </td>
                            <td>
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="custom-select form-control" id="select-sendsms-device" style="width:100%;"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Resources.AccountResource.SendtoVina
                            </td>
                            <td>
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="custom-select form-control" id="select-sendsms-device-vina" style="width:100%;"></select>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @Resources.AccountResource.SentoViettel
                            </td>
                            <td>
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <select class="custom-select form-control" id="select-sendsms-device-viettel" style="width:100%;"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Resources.AccountResource.SenttoAnother
                            </td>
                            <td>
                                <div class="form-group form-md-line-input form-md-floating-label">

                                    <select class="custom-select form-control" id="select-sendsms-default-device" style="width:100%;"></select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline font-grey-gallery" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AccountResource.NoThank</a>
                <a class="btn green-jungle" id="btn-add-setting-from-mobile"><i class="fa fa-save"></i>@Resources.AccountResource.YesContinue</a>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modelConfirmDeleteSetting" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p style="font-size:15px;">
                    @Resources.AccountResource.WarningDeleteSettingMobile
                </p>
                <h4 class="bold">@Resources.ContactResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                <button type="button" id="btnDeleteSetting" class="btn default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modelConfirmDeleteDevice" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p style="font-size:15px;">
                    @Resources.AccountResource.WarningDeleteConfigMobile
                </p>
                <h4 class="bold">@Resources.ContactResource.QuestionContinue  </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                <button type="button" id="btnDeleteDevice" class="btn default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var userId='@userinfo.UserId';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            HaveError: '@Html.Raw(Resources.AccountResource.HaveError)',
            VerificationPending: '@Html.Raw(Resources.AccountResource.VerificationPending)',
            NotifyVerify: '@Html.Raw(Resources.AccountResource.NotifyVerify)',
            Delete: '@Html.Raw(Resources.AccountResource.Delete)',
            Setdefault: '@Html.Raw(Resources.AccountResource.Setdefault)',
            Verified: '@Html.Raw(Resources.AccountResource.Verified)',
            NoFromEmail: '@Html.Raw(Resources.AccountResource.NoFromEmail)',
            DeleteSuccess: '@Html.Raw(Resources.AccountResource.DeleteSuccess)',
            FromNameRequire: '@Html.Raw(Resources.AccountResource.FromNameRequire)',
            FromEmailRequire: '@Html.Raw(Resources.AccountResource.FromEmailRequire)',
            CreateSuccess: '@Html.Raw(Resources.AccountResource.CreateSuccess)',
            UpdateSuccess: '@Html.Raw(Resources.AccountResource.UpdateSuccess)',
            Default: '@Html.Raw(Resources.AccountResource.Default)',
            FromEmailExist: '@Html.Raw(Resources.AccountResource.FromEmailExist)',
            Reverify: '@Html.Raw(Resources.AccountResource.Reverify)',
            MobileErrorFormat: '@Html.Raw(Resources.ContactResource.FormatMobileError)',
            ResentOverTime:'@Html.Raw(Resources.AccountResource.ResentOverTime)',
            MobileError: '@Html.Raw(Resources.ContactResource.notifyMobileError)',
            Senttoanother:'@Html.Raw(Resources.AccountResource.SenttoAnother)',
            Senttoviettel:'@Html.Raw(Resources.AccountResource.SentoViettel)',
            Senttovina:'@Html.Raw(Resources.AccountResource.SendtoVina)',
            Senttomobi:'@Html.Raw(Resources.AccountResource.SendtoMobifone)',
            NohaveConfig:'@Html.Raw(Resources.AccountResource.NohaveConfig)',
            VerifyMobilePending:'@Html.Raw(Resources.AccountResource.VerifyMobilePending)',
            NohaveMobile:'@Html.Raw(Resources.AccountResource.NohaveMobile)',
            Update:'@Html.Raw(Resources.AccountResource.Update)',
            BeforeDeleteCofing:'@Html.Raw(Resources.AccountResource.BeforeDeleteCofing)',
            WatingSendCodeVerifyMobile:'@Html.Raw(Resources.AccountResource.WatingSendCodeVerifyMobile)',
        };

        var permissiontable=@Html.Raw(Json.Encode(permission));
        frommobile_Proccess(apiDomain, access_token, userId, message, permissiontable);

    });


</script>