﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Lập trình tích hợp với hệ thống toomarketer</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 margin-bottom-20">
                        <div style="font-size:16px;" class="margin-bottom-15 padding-tb-15">

                            Nếu Website, ứng dụng, hệ thống của bạn đang cần tính năng gửi email, sms tự động để chăm sóc khách hàng, thông báo, cảm ơn, chúc mừng sinh nhật ... thì hệ thống <b>API Toomarketer</b> sẽ đáp ứng được hoàn toàn các yêu cầu của bạn.
                            <br /><br />

                            Hệ thống <b>API Tomarketer</b> của chúng tôi đảm bảo tính nhanh, đơn giản, tin cậy và dễ dàng tích hợp vào bất kỳ hệ thống nào.
                            <br /><br />
                            Có thể kết nối bằng tất cả cả các ngôn ngữ thông qua <b>Restful Api</b>
                            <br /><br />
                            <span>Tài liệu api tham khảo <a href="http://api.toomarketer.com/Help" target="_blank"><b>tại đây</b></a> </span>
                            <br />
                            <br />
                            <span class="label label-danger">Chú ý</span> <span> Phần này dành cho các lập trình viên, các đơn vị có bộ phận IT.</span>
                           
                           
                        </div>
                        <div class="margin-bottom-10 margin-top-10 text-center">
                            <span style="font-size:16px;" class="note note-success">Để được hỗ trợ vui lòng liên hệ qua mail: tech@toomarketer.com</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

