﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.uprofileMoney</span>
                </div>
                <ul class="nav nav-tabs">
                    @*<li class="active">
                        <a href="#tab-payment-log" data-toggle="tab">@Resources.AccountResource.uprofilePaymentLog</a>
                    </li>*@
                    <li class="active">
                        <a id="reporttotal" href="#tab-report-total" data-toggle="tab">@Resources.AccountResource.reportTotal</a>
                    </li>
                    <li class="">
                        <a id="banlancelog" href="#tab-balance-log" data-toggle="tab">@Resources.AccountResource.uprofileBalanceLog</a>
                    </li>
                    
                    @*<li>
                        <a id="recharge-money" href="#tab-recharge-money" data-toggle="tab">@Resources.AccountResource.uprofileRecharge</a>
                    </li>*@
                   

                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    @*
    <div class="tab-pane active" id="tab-payment-log">

            <div class="portlet-body">
                <div id="divAction">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-2" id="divcheckpaid">
                        <div class="md-checkbox ">
                            <input type="checkbox" id="checkpaid" class="md-check">
                            <label for="checkpaid">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>Chưa trả
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input" id="divAction-formtype">
                                <select id="divAction-type" class="form-control edited">
                                    <option value="Descending">Giảm dần</option>
                                    <option value="Ascending">Tăng dần</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-md-line-input" id="divAction-formsort">
                                <select id="divAction-sort" class="form-control edited">
                                    <option value="CreateDate">CreateDate</option>
                                    <option value="PaymentMethod">PaymentMethod</option>
                                    <option value="Amount">Amount</option>
                                    <option value="IsPaid">IsPaid</option>
                                    <option value="PayDate">PayDate</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-hover" id="tablePaymentLog">
                    <thead>
                        <tr>
                            <th  class="col-md-2 col-sm-2 col-xs-2"></th>
                            <th  class="col-md-3 col-sm-3 col-xs-3"></th>
                            <th  class="col-md-2 col-sm-2 col-xs-2"></th>
                            <th  class="col-md-3 col-sm-3 col-xs-3"></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- END EXAMPLE TABLE PORTLET-->

    </div>
                    *@
                    
                    <div class="tab-pane " id="tab-balance-log">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover" id="tableBalanceLog">
                                <thead>
                                    <tr>
                                        <th class="col-md-4 col-sm-4 col-xs-4"></th>
                                        <th class="col-md-1 col-sm-1 col-xs-1"> </th>
                                        <th class="col-md-5 col-sm-5 col-xs-5"> </th>
                                        <th class="col-md-2 col-sm-2 col-xs-2"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <!--tab báo cáo tổng hợp-->
                    <div class="tab-pane active" id="tab-report-total">
                        <div class="portlet-body">
                            <div class="row">

                                <div class="form-group col-lg-12 col-md-12">
                                    <div class="col-lg-8 col-md-12 padding-tb-10">
                                        <div class="pull-left input-group input-large date-picker input-daterange"  data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                            <input id="select-date-from" type="text" class="form-control" name="from">
                                            <span class="input-group-addon"> @Resources.AccountResource.to </span>
                                            <input id="select-date-to" type="text" class="form-control" name="to">
                                        </div>
                                        <a class="btn green-jungle pull-left" style="margin-left:5px;" id="select-date-report"><i class="fa fa-check"></i> @Resources.AccountResource.Submit</a>
                                        @*<a class="btn yellow-gold" id="money-export-excel" style="margin-left:5px;" ><i class="fa fa-file-excel-o"></i> Export</a>*@
                                    </div>
                                   
                                    
                                </div>
                                <div class="col-md-12 " style="padding-top:10px;padding-bottom:10px;">
                                    @*<p class="label label-danger">Lưu ý </p><span>Áp dụng từ tháng 11-2016</span>*@
                                </div>
                                <div id="total-export-excel">
                                    <table>

                                        @*<tr>
                                            <td>

                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <h4>@Resources.AccountResource.balanceinacount </h4>
                                                </div>
                                            </td>
                                            <td>
                                                <h4 id="user-balance-total" class="bold"></h4>
                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <h4>@Resources.AccountResource.paidinacount </h4>
                                                </div>
                                            </td>
                                            <td>
                                                <h4 id="user-paid-total" class="bold"></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 caption col-md-12 nomargin">
                                                    <div><h4>@Resources.AccountResource.timerecharge: </h4></div>
                                                </div>
                                            </td>
                                            <td>

                                                <h4 class="bold" id="user-timecharge-total"></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>@Resources.AccountResource.amountpaidemail </h4></div>

                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-campaign-total" class="bold"> </span> / <span class="bold" id="user-contact-campaign-total"></span>
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>@Resources.AccountResource.amountpaidsms </h4></div>

                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-sms-total" class="bold"></span> / <span id="user-contact-sms-total" class="bold"></span>
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>@Resources.AccountResource.amountpaidsmsnomal </h4></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-smsnomal-total" class="bold"></span> / <span id="user-contact-smsnomal-total" class="bold"></span>
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>@Resources.AccountResource.amountpaidsmsbrandname</h4></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-brandname-total" class="bold"></span> / <span class="bold" id="user-contact-brandname-total"></span>
                                                </h4>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>Trả tiền cho sms brandname chiến dịch auto</h4></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-brandname-auto-total" class="bold"></span> / <span class="bold" id="user-contact-brandname-auto-total"></span>
                                                </h4>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>Trả tiền cho sms ngẫu nhiên chiến dịch auto </h4></div>
                                                </div>
                                            </td>

                                            <td>
                                                <h4>
                                                    <span id="user-paid-ranđom-auto-total" class="bold"></span> / <span class="bold" id="user-contact-random-auto-total"></span>
                                                </h4>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>Trả tiền cho email trong chiến dịch auto </h4></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-email-auto-total" class="bold"></span> / <span class="bold" id="user-contact-email-auto-total"></span>
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>Trả tiền cho sms qua số cá nhân cho chiến dịch sms và rocket </h4></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-sms-via-person-total" class="bold"></span> / <span class="bold" id="user-contact-sms-via-person-total"></span>
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group col-lg-12 col-md-12 nomargin">
                                                    <div><h4>Trả tiền cho sms qua số cá nhân cho chiến dịch autoresponder</h4></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    <span id="user-paid-sms-via-person-total-auto" class="bold"></span> / <span class="bold" id="user-contact-sms-via-person-total-auto"></span>
                                                </h4>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                                    <!--
          <div id="total-export-excel">
              <table style="width:100%;">
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 col-md-12 hide text-center" style="text-align:center;">
                              <h4 class="bold">BẢNG BÁO CÁO CHI TIẾT THANH TOÁN GỬI EMAIL - SMS <span id="time-export-excel"></span></h4>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 col-md-12 hide" style="text-align:center;">
                              <span class="bold">User: @userinfo.FirstName @userinfo.LastName</span><br />
                              <span class="bold">Email: @userinfo.Email</span>
                          </div>
                      </td>

                  </tr>
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 col-md-12 nomargin">
                              <h5 class="bold">@Resources.AccountResource.balanceinacount <span id="user-balance"></span>VNĐ</h5>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 col-md-12 nomargin">
                              <h5 class="bold">@Resources.AccountResource.paidinacount <span id="user-paid"></span>VNĐ</h5>
                          </div>
                          <br />
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 caption col-md-12">
                              <div><h5 class="bold">@Resources.AccountResource.timerecharge</h5></div>

                              <div id="table-payment-report-total">

                              </div>
                          </div>

                          <br />
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 col-md-12">
                              <div><h5 class="bold">@Resources.AccountResource.amountpaid</h5></div>

                              <div id="table-blance-report-total">

                              </div>
                          </div>
                          <br />
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 col-md-12">
                              <div><h5 class="bold">@Resources.AccountResource.amountpaidnocampaign</h5></div>

                              <div id="table-blance-report-total-sms">

                              </div>
                          </div>
                          <br />
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="form-group col-lg-12 col-md-12">
                              <div><h5 class="bold">@Resources.AccountResource.amountpaidtest</h5></div>

                              <div id="table-blance-report-total-emailtest">

                              </div>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>
          -->
                                </div>
                        </div>
                    </div>
                    <!--end-->

                    <!--tab nạp tiền-->
                    @*
                    <div class="tab-pane" id="tab-recharge-money">
                        <div class="portlet light">

                        <div class="portlet-body form">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group text-center">
                                        <span class="font-lg bold uppercase">@Resources.AccountResource.currentbalance: <span id="money-current-balance">@userinfo.CurrentBalance</span>  VND</span>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-3">@Resources.AccountResource.entermoney</label>
                                        <div class="input-group col-md-6 col-sm-6 col-xs-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-dollar"></i>
                                            </span>
                                            <input class="form-control" id="mask_currency_recharge"  type="text" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                                            <a id="via-sendcount" class="payment-choose inline-block bg-clay">
                                                <div class="media-left text-center">
                                                    <span class="inline-block box-slect-buy-plan">
                                                        <img class="img-circle box-size-img" src="~/Content/Images/send.jpg" alt="Domestic">
                                                    </span>
                                                </div>
                                                <div class="media-body text-center">
                                                    <h4 class="ng-scope">@Resources.AccountResource.transfer</h4>
                                                    <p class="help-block box-select-description">@Resources.AccountResource.transfernote</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                                            <a id="via-paypal" class="payment-choose inline-block bg-clay">
                                                <div class="media-left text-center">
                                                    <span class="inline-block box-slect-buy-plan">
                                                        <img class="img-circle box-size-img" src="~/Content/Images/paypal.png" alt="Domestic">
                                                    </span>
                                                </div>
                                                <div class="media-body text-center">
                                                    <h4 class="ng-scope">@Resources.AccountResource.Paypal</h4>
                                                    <p class="help-block box-select-description">@Resources.AccountResource.Paypalnote </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                                            <a id="via-visa-money" class="bg-clay inline-block payment-choose">
                                                <div class="media-left text-center">
                                                    <span class="inline-block box-slect-buy-plan">
                                                        <img class="img-circle box-size-img" src="https://s3-ap-southeast-1.amazonaws.com/ubrand-staging/assets/visa.png" alt="international">
                                                    </span>
                                                </div>
                                                <div class="media-body text-center">
                                                    <h4 class="ng-scope">@Resources.AccountResource.InternationalCard</h4>
                                                    <p class="help-block ng-scope">@Resources.AccountResource.InternationalCardnote </p>
                                                </div>
                                            </a>
                                        </div>
                                       
                                        <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                                            <a id="via-atm-money" class="payment-choose inline-block bg-clay">
                                                <div class="media-left text-center">
                                                    <span class="inline-block box-slect-buy-plan">
                                                        <img class="img-circle box-size-img" src="https://s3-ap-southeast-1.amazonaws.com/ubrand-staging/assets/atm.png" alt="Domestic">
                                                    </span>
                                                </div>
                                                <div class="media-body text-center">
                                                    <h4 class="ng-scope">@Resources.AccountResource.Localcard </h4>
                                                    <p class="help-block box-select-description">@Resources.AccountResource.Localcardnote </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end nạp tiền-->
                    
                </div>
                    *@
            </div>
        </div>
    </div>
</div>
</div>
    @*<!--modal atm-->
    <div class="modal fade bs-modal" id="modal-atm-money" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title uppercase">Chọn ngân hàng phát hành thẻ</h4>

                </div>
                <div class="modal-body">
                    <h4>Lưu ý: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</h4>
                    <div class="portlet-body form">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="col-sm-12" id="money-box-bank">
                                        <!--12-->
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                            </a>
                                        </div>

                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="DAB" title="Ngân hàng Đông Á"></i>
                                            </a>
                                        </div>

                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                            </a>
                                        </div>

                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="MB" title="Ngân hàng Quân Đội"></i>
                                            </a>
                                        </div>

                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                            </a>
                                        </div>

                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="VAB" title="Ngân hàng Việt Á"></i>
                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="ACB" title="Ngân hàng Á Châu"></i>
                                            </a>
                                        </div>

                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="OJB" title="Ngân hàng Đại Dương"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="NAB" title="Ngân hàng Nam Á"></i>

                                            </a>
                                        </div>
                                        <div class="icon-btn box-atm" id="seclect-bank-atm">
                                            <a href="javascript:;">
                                                <i class="BAB" title="Ngân hàng Bắc Á"></i>

                                            </a>
                                        </div>
                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>   
 <!--modal chuyển khoản -->
<div class="modal fade bs-modal" id="modal-payment-send-money" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title uppercase">Phương thức chuyển khoản</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                            <div class="modal-body" style="">
                                <div class="clearfix">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th colspan="4" style="padding:10px 0;border:none;">Thông tin đơn hàng</th>
                                            </tr>
                                            <tr class="info">
                                                <td style="width:150px">Mã đơn hàng</td>
                                                <td colspan="3"><b class="text-danger" id="payment-code"></b></td>
                                            </tr>
                                            <tr>
                                                <th colspan="4">Thông tin thanh toán</th>
                                            </tr>
                                            <tr class="info">
                                                <td>Ngày tạo</td>
                                                <td colspan="3" id="payment-create-date"></td>
                                            </tr>
                                            <tr class="info">
                                                <td>Cách thanh toán</td>
                                                <td colspan="3">
                                                    <div style="border:0">
                                                        Phương thức thanh toán Chuyển khoản qua Ngân hàng
                                                    </div>
                                                    <div class="text-danger">
                                                        Bạn vui lòng chuyển khoản số tiền <b id="payment-price-2"></b> vào 1 trong các tài khoản bên dưới
                                                        và nhập Mã đơn hàng (<b id="payment-code-2"></b>) vào nội dung chuyển khoản.
                                                        Chúng tôi sẽ chuyển đổi gói sử dụng của bạn sớm nhất ngay khi nhận được thông tin chuyển khoản.
                                                    </div>
                                                    <div>Chủ tài khoản: <b>Công ty Cổ Phần MyXteam</b></div>
                                                    <div>Số tài khoản: <b>0071000945247</b></div>
                                                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Ngoại Thương Việt Nam (VietComBank)</b></div>
                                                    <div>hoặc</div>
                                                    <div>Chủ tài khoản: <b>Nguyễn Lưu Quốc</b></div>
                                                    <div>Số tài khoản: <b>14256349</b></div>
                                                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Á Châu (ACB)</b></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-danger">

                                    </div>
                                    <div class="text-center" style="margin-top:10px">
                                        <button class="btn btn-sm green-jungle" id="close-payment-send-money" type="button" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal chuyển khoản -->*@
<script type="text/javascript">

    //định nghĩa table paymentlog;
    var tableId = '#tablePaymentLog';
    var dataUrl = 'api/User/Web/GetPaymentLog';
    var file = "/Scripts/JsonDefineColumn/paymentlogs.json";
    var columnDefine = JSON.parse(custom_ReadTextFile(file));
    var idCondition = {
        sorttype: "#tab_1_1 #divAction-type",
        sortvalue: "#tab_1_1 #divAction-sort",
        ispaidvalue: "#tab_1_1 #checkpaid",

    };

    var type = $(idCondition.sorttype + ' option:selected').val();
    var sortvalue = $(idCondition.sortvalue + ' option:selected').val();
    var ispaid = true;

    $(idCondition.sorttype).on('change', function (event, state) {
        type = $(idCondition.sorttype + ' option:selected').val();
        alert(type);
        $(tableId).dataTable().fnDraw();


    });

    $(idCondition.sortvalue).change(function () {
        sortvalue = $(idCondition.sortvalue + ' option:selected').val();
        $(tableId).dataTable().fnDraw();
    });

    $(idCondition.ispaidvalue).change(function () {
        if ($(idCondition.ispaidvalue).prop('checked')) {
            ispaid = false;
        } else {
            ispaid = true;
        }
        $(tableId).dataTable().fnDraw();
    });
    var AdditionalParameters = function (data) {
        data.SortColumn = sortvalue;
        data.SortDirection = type;
        data.IsPaid = ispaid;
    }

    //định nghia table blance
    var tableBancelogId = '#tableBalanceLog';
    var dataUrLBanlance = 'api/User/Web/GetBalanceLog'
    var fileBanlance = "/Scripts/JsonDefineColumn/blancelog.json";
    var columnDefineBalance = JSON.parse(custom_ReadTextFile(fileBanlance));
    var AdditionalParametersBanlance;
    AdditionalParametersBanlance = function (data) {
        data.SortColumn = 'CreateDate';
        data.SortDirection = 'Descending';
        data.SpendTypeId = 0;
    }

    var access_token = '@HttpContext.Current.Session["access_token"]';
    var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
    var heightpayment = resizeTablePayment();
    var heightblance = resizeTableBlance();
    var message = {
        Total:'@Html.Raw(Resources.AccountResource.Total)',
        Campaign:'@Html.Raw(Resources.AccountResource.Campaign)',
        Cost:'@Html.Raw(Resources.AccountResource.Cost)',
        Method:'@Html.Raw(Resources.AccountResource.Method)',
        Date:'@Html.Raw(Resources.AccountResource.Date)',
    };
    var row=20;
    global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, heightpayment,row, message);
    global_DataTable(apiDomain, access_token, tableBancelogId, dataUrLBanlance, columnDefineBalance, AdditionalParametersBanlance, heightblance,row, message);

    var UserInfo = {
        Name: '@Html.Raw(userinfo.LastName)',
        Email: '@Html.Raw(userinfo.Email)',
        Mobile: '@Html.Raw(userinfo.Mobile)'?@userinfo.Mobile!=null:'0987654321',
        Balance: '@Html.Raw(userinfo.CurrentBalance)',
    }

    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true,
        format: 'yyyy-mm-dd', //'dd/mm/yyyy'//,
       // startDate: moment('2016-11-1').format('YYYY-MM-DD') 
    });

        $("#select-date-from").datepicker("setDate",moment.utc().format('YYYY-MM-DD'));
        $('#select-date-to').datepicker("setDate", moment.utc().format('YYYY-MM-DD'));
    

    //số tiến hiện tại
    //$('#money-current-balance').text(' '+formatMoney(parseInt('@userinfo.CurrentBalance'), ''));

    money_Action(apiDomain, access_token, UserInfo,message);
    money_GetReport(apiDomain, access_token, message);

</script>



