﻿@{Layout = "";}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET -->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Lịch sử đăng nhập</span>
                    <span class="caption-helper hide">weekly stats...</span>
                </div>
                @*<div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Today
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Week
                        </label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Month
                        </label>
                    </div>
                </div>*@
            </div>
            <div class="portlet-body">
                @*<div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-left">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> Total </div>
                                <div class="number"> 2460 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-right">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar2"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> New </div>
                                <div class="number"> 719 </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                
                    <table class="table table-striped  table-hover " id="tableHistoryLog">
                        
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
</div>
<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var tableId = "#tableHistoryLog";
        var file = "/Scripts/JsonDefineColumn/historyloginlog.json";
        var dataUrl = "api/User/Web/GetLoginLog";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));
        var AdditionalParameters;
        var height = resizeTableLoginLog();
        var message = {};
        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, message)
    })
</script>
