﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    int FreeDay =Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["DayTrial"]);
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                @* <div class="portlet-title tabbable-line">*@

                <div class="caption caption-md">
                    <i class="icon-globe theme-font"></i>
                    @*<span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.uprofileRecharge</span>*@
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.currentbalance: <span id="money-current-balance"> @userinfo.CurrentBalance</span>  VNĐ</span>

                </div>
               
            </div>
            <div class="portlet-body">
                <!--tab nạp tiền-->
                <div class="form-horizontal">
                    <div class="form-body">
                        @if (ViewBag.PayMaintenanceFee)
                        {
                            <div class="form-group text-center" style="margin:2px;">
                                <p class="note note-success" style="font-size:16px;">@Resources.AccountResource.PayFee<b class="money-leastmoney-recharge"> @ViewBag.LeastMoney VNĐ</b></p>
                            </div>
                        }
                        else
                        {
                            if (userinfo.ExpireDate.Value.Date == userinfo.CreateDate.AddDays(FreeDay).Date)
                            {
                            <div class="form-group text-center" style="margin:2px;">

                               <p class="note note-success" style="font-size:16px;"> @Html.Raw(@Resources.AccountResource.MinimumFirstFee) </p>
                            </div>
                            }
                            if (userinfo.ExpireDate.Value.Date < DateTime.Now.Date && userinfo.ExpireDate.Value.Date != userinfo.CreateDate.AddDays(FreeDay).Date)
                            {
                            <div class="form-group text-center" style="margin:2px;">
                                <p class="note note-success" style="font-size:16px;"> @Html.Raw(Resources.AccountResource.MinimumLastFee) </p>
                               
                            </div>
                            }
                        }
                        
                        <div class="form-group form-md-line-input col-md-12 col-sm-12" style="padding-bottom:10px;">
                            <label class="control-label col-md-4 col-sm-4 col-xs-4" style="font-size:18px;font-weight:600;"> @Resources.AccountResource.entermoney</label>
                            <div class="input-group col-md-4 col-sm-4 col-xs-4">
                                <span class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                </span>
                                <input class="form-control" id="mask_currency_recharge" placeholder="(VNĐ)" autofocus onkeypress="validate();"  type="text" style="font-size:20px;">
                                
                            </div>
                           
                        </div>
                        <div class="col-md-12 col-sm-12 margin-top-10 margin-bottom-10">
                            <p class="font-lg nomargin">
                               @Resources.AccountResource.SelectMethodRecharge
                            </p>
                        </div>
                        <div class="form-group nomargin">
                            <div class="col-sm-6 col-xs-12" style="padding:0px 2px !important;">
                                <a id="via-sendcount" class="payment-choose inline-block bg-clay">
                                    <div class="media-left text-center">
                                        <span class="inline-block box-slect-buy-plan">
                                            <img class="img-circle box-size-img" src="~/Content/Images/send.jpg" alt="Domestic">
                                        </span>
                                    </div>
                                    <div class="media-body text-center">
                                        <h4 class="ng-scope">@Resources.AccountResource.transfer</h4>
                                        <p class="help-block box-select-description padding2px">@Resources.AccountResource.transfernote</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-12 " style="padding:0px 2px !important;">
                                <a id="via-paypal" class="payment-choose inline-block bg-clay">
                                    <div class="media-left text-center">
                                        <span class="inline-block box-slect-buy-plan">
                                            <img class="img-circle box-size-img" src="~/Content/Images/paypal.png" alt="Domestic">
                                        </span>
                                    </div>
                                    <div class="media-body text-center">
                                        <h4 class="ng-scope">@Resources.AccountResource.Paypal</h4>
                                        <p class="help-block box-select-description padding2px">@Resources.AccountResource.Paypalnote </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-12 "style="padding:0px 2px !important;">
                                <a id="via-visa-money" class="bg-clay inline-block payment-choose">
                                    <div class="media-left text-center">
                                        <span class="inline-block box-slect-buy-plan">
                                            <img class="img-circle box-size-img" src="~/Content/Images/visa.png" alt="international">
                                        </span>
                                    </div>
                                    <div class="media-body text-center">
                                        <h4 class="ng-scope">@Resources.AccountResource.InternationalCard</h4>
                                        <p class="help-block ng-scope padding2px">@Resources.AccountResource.InternationalCardnote </p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-6 col-xs-12 "style="padding:0px 2px !important;">
                                <a id="via-atm-money" class="payment-choose inline-block bg-clay">
                                    <div class="media-left text-center">
                                        <span class="inline-block box-slect-buy-plan">
                                            <img class="img-circle box-size-img" src="~/Content/Images/atm.png" alt="Domestic">
                                        </span>
                                    </div>
                                    <div class="media-body text-center">
                                        <h4 class="ng-scope">@Resources.AccountResource.Localcard </h4>
                                        <p class="help-block box-select-description padding2px">@Resources.AccountResource.Localcardnote </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-12 col-sm-12 margin-top-10 margin-bottom-10">
                                <p class="font-lg nomargin">@Html.Raw(Resources.AccountResource.TitleRechargeByCode) </p> 
                            </div>
                            <div class="col-sm-6 col-xs-12 padding2px">
                                <div id="via-code" class="payment-choose inline-block bg-clay">
                                    <div class="media-left text-center">
                                        <span class="inline-block box-slect-buy-plan">
                                            <img class="img-circle box-size-img" src="~/Content/Images/qrcode.jpg" alt="Domestic">
                                        </span>
                                    </div>
                                    <div class="media-body text-center">
                                        <div class="margin-bottom-10 margin-top-20" style="margin:20px 15px auto">
                                            <div class="input-group input-group-lg" style="width:400px;margin:0 auto;">
                                                <input type="text" id="code-to-recharge" class="form-control" placeholder="@Resources.AccountResource.EnterCode" style="font-size:22px;font-weight:600;">
                                                <span class="input-group-btn">
                                                    <button class="btn green-jungle" id="btn-recharge-bycode" type="button">@Resources.AccountResource.Recharge</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-top:5px">
                                            <small id="CodeHint" class="font-red bold"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height:5px; background:#eef1f5">

                </div>
                <div class="margin-top-10">
                    <p class="font-lg">@Resources.AccountResource.SystemPrice</p>
                    <p style="padding-bottom:20px;">
                        <span><i class="fa fa-tag font-red"></i> @Resources.AccountResource.Fee: <span class="bold" id="pricefee"></span> VNĐ/@Resources.AccountResource.Year </span><span style="padding:0 10px"></span>
                        <span><i class="fa fa-tag font-green-jungle"></i> @Resources.AccountResource.SMSBasic (OTP): <span class="bold" id="pricesms"></span></span><span style="padding:0 10px"></span>
                        <span><i class="fa fa-tag font-green-jungle"></i> @Resources.NewsletterResource.SMSGateway : <span class="bold" id="pricesms">Phí theo nhà mạng và trừ vào sim</span></span><span style="padding:0 10px"></span>
                        <span><i class="fa fa-tag font-green-jungle"></i> @Resources.AccountResource.SMSBrand: <span class="bold" id="pricesmsbrand"></span></span><span style="padding:0 10px"></span>
                        <span><i class="fa fa-tag font-green-jungle"></i> Email: <span class="bold" id="priceemail"></span></span><span style="padding:0 10px"></span>
                    </p>
                    <p style="padding-bottom:20px;">
                        <span><i class="fa fa-tag font-red"></i> @Resources.AccountResource.BrandnameFee: <span class="bold">500.000</span> VNĐ</span><span style="padding:0 10px"></span>
                        <span><i class="fa fa-tag font-green-jungle"></i> @Resources.AccountResource.BrandnameMaintenance: <span class="bold">180.000</span> VNĐ/@Resources.AccountResource.Month</span>
                        <span><a class="btn btn-xs green-jungle" data-toggle="modal" data-target="#modal-register-brandname-sms" href="~/View/RegBrandName">@Resources.AccountResource.Registerbrandname</a></span>
                    </p>
                    
                    <p style="padding-bottom:20px;"><span  class="font-red bold"><i class="fa fa-tag font-red"></i> @Resources.AccountResource.NoteVAT</span></p>
                </div>
            </div>

        </div>
        <!--end nạp tiền-->
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modal-register-brandname-sms" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>

<!--modal atm-->
<div class="modal fade bs-modal" id="modal-atm-money" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">Chọn ngân hàng phát hành thẻ</h4>

            </div>
            <div class="modal-body">
                <h4>Lưu ý: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</h4>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-12" id="money-box-bank">
                                    <!--12-->
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="DAB" title="Ngân hàng Đông Á"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="MB" title="Ngân hàng Quân Đội"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="VAB" title="Ngân hàng Việt Á"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="ACB" title="Ngân hàng Á Châu"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="OJB" title="Ngân hàng Đại Dương"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="NAB" title="Ngân hàng Nam Á"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="BAB" title="Ngân hàng Bắc Á"></i>

                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--modal chuyển khoản -->
<div class="modal fade bs-modal" id="modal-payment-send-money" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title uppercase">Phương thức chuyển khoản</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="modal-body" style="">
                            <div class="clearfix">
                                <table class="table borderless">
                                    <tbody>
                                        <tr >
                                            <th colspan="4" style="padding:10px 0;border:none;">Thông tin đơn hàng</th>
                                        </tr>
                                        <tr class="note note-warning">
                                            <td style="width:30%;">Mã đơn hàng</td>
                                            <td colspan="3"><b class="font-red" id="payment-code"></b></td>
                                        </tr>
                                        <tr>
                                            <th colspan="4">Thông tin thanh toán</th>
                                        </tr>
                                        <tr class="note note-warning">
                                            <td>Ngày tạo</td>
                                            <td colspan="3" id="payment-create-date"></td>
                                        </tr>
                                        <tr class="note note-warning">
                                            <td>Cách thanh toán</td>
                                            <td colspan="3">
                                                <div style="border:0">
                                                    Phương thức thanh toán Chuyển khoản qua Ngân hàng
                                                </div>
                                                <div class="font-red">
                                                    Bạn vui lòng chuyển khoản số tiền <b id="payment-price-2"></b> vào 1 trong các tài khoản bên dưới
                                                    và nhập Mã đơn hàng (<b id="payment-code-2"></b>) vào nội dung chuyển khoản.
                                                    Chúng tôi sẽ chuyển đổi gói sử dụng của bạn sớm nhất ngay khi nhận được thông tin chuyển khoản.
                                                </div>
                                                <div style="background: white;padding: 10px;">
                                                    <div>Chủ tài khoản: <b>Nguyễn Lưu Quốc</b></div>
                                                    <div>Số tài khoản: <b>14256349</b></div>
                                                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Á Châu (ACB), Chí nhánh Thành phố Hồ Chí Minh</b></div>
                                                </div>
                                                <div>hoặc</div>
                                                <div style="background: white;padding: 10px;">
                                                    <div>Chủ tài khoản: <b>Nguyễn Lưu Quốc</b></div>
                                                    <div>Số tài khoản: <b>0071001147248</b></div>
                                                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Ngoại thương Việt Nam (VietComBank) Phòng Giao Dịch Hàm Nghi, Hồ Chí Minh</b></div>
                                                </div>
                                                    <div>hoặc</div>
                                                <div style="background: white;padding: 10px;">
                                                    <div>Chủ tài khoản: <b>Công ty cổ phần phần mềm trí tuệ việt</b></div>
                                                    <div>Số tài khoản: <b>17493489</b></div>
                                                    <div>Tên ngân hàng: <b>Hội sở Thành phố hồ chí minh, Ngân hàng Á châu ACB</b></div>
                                                </div>
                                               
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-danger">

                                </div>
                                <div class="text-center" style="margin-top:10px">
                                    <button class="btn btn-sm green-jungle" id="close-payment-send-money" type="button" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal chuyển khoản -->
<script type="text/javascript">

    var access_token = '@HttpContext.Current.Session["access_token"]';
    var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';

    var UserInfo = {
        Name: '@Html.Raw(userinfo.LastName)',
        Email: '@Html.Raw(userinfo.Email)',
        Mobile: '@Html.Raw(userinfo.Mobile)'?@userinfo.Mobile!=null:'0987654321',
        Balance: '@Html.Raw(userinfo.CurrentBalance)',
    }
    var message={
        EnterAmount:'@Html.Raw(Resources.AccountResource.enteramount)',
        GetCodeError:'@Html.Raw(Resources.AccountResource.getcodeerror)',
        Error:'@Html.Raw(Resources.AccountResource.NotifyError)',
        Money100:'@Html.Raw(Resources.AccountResource.Money100)',

    }
    var MoneyFirst = '@System.Configuration.ConfigurationManager.AppSettings["FirstLimitRecharge"]';
    var BonusFirst = '@System.Configuration.ConfigurationManager.AppSettings["FirstBonusRecharge"]';
    var MoneyLast= '@System.Configuration.ConfigurationManager.AppSettings["LastLimitRecharge"]';

    money_Action(apiDomain, access_token, UserInfo,message, MoneyFirst , BonusFirst, MoneyLast);

</script>


