﻿
@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md" style="width:100%;">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.SpecialDayTitle </span>
               @if (permission.IsParent || permission.SpeicalDay == 2)
               {

                <a id="btn-show-add-from-email" href="javascript:;" class="btn btn-sm green-jungle pull-right"><i class="fa fa-plus"></i> @Resources.AccountResource.Add</a>

               }
                 </div>
                
            </div>
            <div class="portlet-body">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="table-responsive">
                                <div class="wrap-table">

                                    <table class="head">
                                        <thead>
                                            <tr>
                                                <th style="width:40%;"> @Resources.AccountResource.SpecialDayName </th>
                                                <th style="width:30%;"> @Resources.AccountResource.Date  </th>
                                                <th style="width:30%;" class="text-right"> </th>

                                            </tr>
                                        </thead>

                                    </table>
                                    <div class="inner_table">
                                        <table class="table" id="table-specialday"></table>
                                    </div>

                                </div>
                            </div>

                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-delete-specialday" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> Xóa ngày đặc biệt</h4>
            </div>
            <div class="modal-body text-center">
                <h4>@Resources.AccountResource.WarningDelete </h4>
            </div>
            <div class="modal-footer">
                <a class="btn green-jungle" id="confirm-delete-specialday"><i class="fa fa-save"></i>@Resources.AccountResource.YesContinue</a>
                <a class="btn btn-outline font-grey-gallery" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AccountResource.NoThank</a>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal-add-special" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> @Resources.AccountResource.Update</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label" for="form_control_1">
                        @Resources.AccountResource.SpecialDayName
                        <span class="required"></span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="txtSpecialDayName" />
                        <div class="form-control-focus"> </div>
                        <span class="help-block">@Resources.AccountResource.inputSpecialDayName</span>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label" for="form_control_1">
                        @Resources.AccountResource.Date
                        <span class="required"></span>
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" date-picker id="txtSpecialDay" />
                        <div class="form-control-focus"> </div>
                        <span class="help-block">@Resources.AccountResource.inputDate</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer margin-top-20">
                <a class="btn btn-outline font-grey-gallery" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AccountResource.NoThank</a>

                <a class="btn green-jungle" id="confirm-add-specialday"><i class="fa fa-save"></i>@Resources.AccountResource.YesContinue</a>

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var userId='@userinfo.UserId';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            HaveError: '@Html.Raw(Resources.AccountResource.HaveError)',
            Delete: '@Html.Raw(Resources.AccountResource.Delete)',
            NoSpecialDay: '@Html.Raw(Resources.AccountResource.NoSpecialDay)',
            DeleteSuccess: '@Html.Raw(Resources.AccountResource.DeleteSuccess)',
            SepcialNameRequire:'@Html.Raw(Resources.AccountResource.SepcialNameRequire)',
            SepcialDayRequire:'@Html.Raw(Resources.AccountResource.SepcialDayRequire)',
            CreateSuccess: '@Html.Raw(Resources.AccountResource.CreateSuccess)',
            UpdateSuccess: '@Html.Raw(Resources.AccountResource.UpdateSuccess)',

            Update:'@Html.Raw(Resources.AccountResource.Update)',
            UsingInEvent:'@Html.Raw(Resources.AccountResource.UsingInEvent)',
        };

        $('#txtSpecialDay').datepicker({
            rtl: App.isRTL(),
            orientation: "left",
            autoclose: true,
            format:'dd-mm'
        });

        var permissiontable=@Html.Raw(Json.Encode(permission));
        specialday_Proccess(apiDomain, access_token, userId, message, permissiontable);

    });


</script>