﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<div class="">
    <div class="col-md-12" style="padding-left:0;padding-right:0;">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md" style="width:100%;">

                    <span class="caption-subject font-blue-madison bold uppercase"> @Resources.AccountResource.uprofileSubUser </span>
                    @if (permission.IsParent)
                    {
                        <a class="btn btn-sm green-jungle pull-right" id="create-teammates"><i class="fa fa-plus"></i> @Resources.AccountResource.Create</a>
                    }
                    else
                    {
                        if (permission.SubAccount == 2)
                        {
                            <a class="btn btn-sm green-jungle pull-right" id="create-teammates"><i class="fa fa-plus"></i> @Resources.AccountResource.Create</a>
                        }
                    }
                </div>
            </div>
            <div class="portlet-body">
               
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="table-responsive">
                                <div class="wrap-table">

                                    <table class="head">
                                        <thead>
                                            <tr>
                                                <th style="width:40%;"> Email  </th>
                                                <th style="width:20%;"> @Resources.AccountResource.ifctfirstname </th>
                                                <th style="width:30%;"> @Resources.AccountResource.ifctlastname   </th>
                                                <th style="width:30%;"> @Resources.AccountResource.ifctphone  </th>
                                                <th style="width:40%;" class="text-right"> </th>
                                            </tr>
                                        </thead>

                                    </table>
                                    <div class="inner_table">
                                        <table class="table text-left" id="table-subuser">
                                            @*<tr>
                                                <td>ok@gmail.com</td>
                                                <td>ok</td>
                                                <td>ok</td>
                                                <td>0972154652</td>
                                                <td><a data-target="#modal-update-teammates" data-toggle="modal"><i class="fa fa-cogs"></i></a></td>
                                            </tr>*@
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal right fade" id="modal-update-teammates" tabindex="-1" role="dialog" aria-labelledby="modal-update-teammates">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-update-teammates-label"></h4>
            </div>

            <div class="modal-body">
                <div class="modal-body-permission">
                    <div class="row form-group form-md-line-input">
                        <label class="col-md-12 nopading control-label">
                            @Resources.AccountResource.EmailSubAccount
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-12 nopading">
                            <input type="text" name="name" class="form-control" id="subuser-email" autofocus autocomplete="off">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">@Resources.AccountResource.EnterEmailSubAccount</span>
                        </div>
                    </div>
                    <div class="md-radio-list md-radio-permision">
                        <div class="md-radio choice-permission">
                            <img class="img-permission" src="~/Content/Images/icon-teammate-admin.svg">
                            <input type="radio" id="permission-admin" name="permission" class="md-radiobtn" value="1" checked style="">

                            <label  class="lable-permission" for="permission-admin">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> @Resources.AccountResource.InviteasAdmin 
                            </label>
                            <label  class="lable-permission" for="permission-admin">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> @Resources.AccountResource.PermissionAdmin
                            </label>
                        </div>
                        <div class="md-radio choice-permission">
                            <img class="img-permission" src="~/Content/Images/icon-teammate-readonly.svg">
                            <input type="radio" id="permission-access" name="permission" class="md-radiobtn" value="2">
                            <label class="lable-permission" for="permission-access">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> @Resources.AccountResource.InviteReadonly
                            </label>
                            <label  class="lable-permission" for="permission-access">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> @Resources.AccountResource.PermissionReadOnly 
                            </label>
                        </div>
                        <div class="md-radio choice-permission">
                            <img class="img-permission" src="~/Content/Images/icon-teammate-custom.svg">
                            <input type="radio" id="permission-custom" name="permission" class="md-radiobtn" value="0">
                            <label class="lable-permission" for="permission-custom">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> @Resources.AccountResource.InviteRestricted 
                            </label>
                            <label class="lable-permission" for="permission-custom">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> @Resources.AccountResource.PermissionRestricted 
                            </label>
                        </div>
                    </div>
                    <div id="content-set-permisstion" style="display:none">
                        <div>
                            <span class="font-lg">@Resources.AccountResource.AccessPresets</span>
                            <div id="list-btn-permission" class="button-list text-center margin-top-10">
                                <a class="btn btn-sm white" data-value="1">Marketer access</a>
                                <a class="btn btn-sm white" data-value="2">Accountant access</a>
                                <span style="padding:0 5px;">Or</span>
                                <a class="btn btn-sm white" id="custom-access" data-value="0">@Resources.AccountResource.Customaccess</a>
                            </div>
                        </div>
                        <div class="margin-bottom-10 margin-top-20 col-md-12 nopading">
                            <div class="col-md-6 col-sm-6">@Resources.AccountResource.AccessDetails</div>
                            <div class="col-md-2 nopading">@Resources.AccountResource.NoAccess</div>
                            <div class="col-md-2 nopading">@Resources.AccountResource.ReadAccess</div>
                            <div class="col-md-2 nopading">@Resources.AccountResource.FullAccess</div>
                        </div>
                        <div class="col-md-12 group-custom-permission nopading" id="group-custom-permission">

                        </div>
                    </div>
                    <div class="margin-top-10 margin-bottom-40 col-md-12 text-right">
                        <a class="btn btn-sm green-jungle" id="btn-subuser-update"> </a>
                        <a class="btn btn-sm white" data-dismiss="modal"> @Resources.AccountResource.ctCancel</a>
                    </div>
                </div>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade" id="modelConfirmResendSubUser" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                  @Resources.AccountResource.WarningResentSubAccount
                </p>
                <h4 class="bold">@Resources.ContactResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                <button type="button" id="btnResentSubUser" class="btn default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelConfirmDeleteSubUser" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Resources.ContactResource.WarningDelete
                </p>
                <h4 class="bold">@Resources.ContactResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                <button type="button" id="btnDeleteSubUser" class="btn default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            errorReadSubUser: '@Html.Raw(Resources.AccountResource.errorReadSubUser)',
            reInvite: '@Html.Raw(Resources.AccountResource.reInvite)',
            update: '@Html.Raw(Resources.AccountResource.Update)',
            deleteSubUser: '@Html.Raw(Resources.AccountResource.Delete)',
            noHaveSubUser: '@Html.Raw(Resources.AccountResource.noHaveSubUser)',
            errorGetPreset: '@Html.Raw(Resources.AccountResource.errorGetPreset)',
            errorGetPermission: '@Html.Raw(Resources.AccountResource.errorGetPermission)',
            emailSubUserRequire: '@Html.Raw(Resources.AccountResource.emailSubUserRequire)',
            presetRequire: '@Html.Raw(Resources.AccountResource.presetRequire)',
            createSuccess: '@Html.Raw(Resources.AccountResource.CreateSuccess)',
            emailExist: '@Html.Raw(Resources.AccountResource.EmailExist)',
            haveError: '@Html.Raw(Resources.AccountResource.HaveError)',
            updateSuccess: '@Html.Raw(Resources.AccountResource.UpdateSuccess)',
            success: '@Html.Raw(Resources.AccountResource.Successfull)',
            deleteSuccess: '@Html.Raw(Resources.AccountResource.DeleteSuccess)',
            editsubuser:'@Html.Raw(Resources.AccountResource.editsubuser)',
            createsubuser:'@Html.Raw(Resources.AccountResource.createsubuser)',
            create:'@Html.Raw(Resources.AccountResource.Create)',
            upgrade:'@Html.Raw(Resources.AccountResource.Upgrade)',
        

        }
        var permissiontable=@Html.Raw(Json.Encode(permission));

        teammates_Action(apiDomain, access_token, message,permissiontable);
    });
</script>
