﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
   
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.AccountResource.uprofileUserPlan</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-current-plan" id="select-tab-current-plan" data-toggle="tab">@Resources.AccountResource.uprofileCurrentPlan</a>
                    </li>
                    <li>
                        <a href="#tab_1_2" data-toggle="tab">@Resources.AccountResource.uprofileHistoryPlan</a>
                    </li>
                    <li>
                        <a href="#tab_1_3" data-toggle="tab">@Resources.AccountResource.uprofileUpgrade</a>
                    </li>

                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                   
                    <div class="tab-pane active" id="tab-current-plan" >
                        <form role="form" action="#">
                            <div style="margin-top:20px;">
                                <div style="margin-top: 10px;  padding: 5px; display: table; width: 99%; text-align: left">
                                    <div style="display: table-cell; width: 20%">Gói sử dụng
                                    </div>
                                    <div style="display: table-cell; width: 20%"> Hạng mức</div>
                                    <div  style="display: table-cell; width: 20%">Bắt đầu
                                    </div>
                                    <div style="display: table-cell; width: 20%">Kết thúc
                                    </div>
                                </div>
                                <div style="margin-top: 10px; border-width: 1px 0; border-style: dotted; border-color: #DEDEDE; padding: 5px; display: table; width: 99%; text-align: left">
                                    <div  style="display: table-cell; width: 20%">
                                        <b id="info-monthlyplan-name">@userinfo.MonthlyPlanName</b>
                                    </div>
                                    <div style="display: table-cell; width: 20%"><b id="info-quota">@userinfo.Quota</b> e-mail / tháng</div>
                                    <div id="plan-start-date" style="display: table-cell; width: 20%">
                                    </div>
                                    <div id="plan-end-date" style="display: table-cell; width: 20%">
                                    </div>
                                </div>
                                <div style="padding-top:10px;">
                                    <span style="float:left;padding-right:5px;">Tự động gia hạn gói mail:</span><input type="checkbox" style="width:15px;" />
                                </div>
                                <div style="padding-top:10px;">
                                    Nếu vượt mức e-mail gởi trong tháng thì bạn có thể nâng cấp gói lên cao hơn.
                                    Nếu không nâng cấp thì toomarketer sẽ tự động gởi theo phương thức "Tính phí theo số e-mail" chỉ với mức giá 25₫ / e-mail và sẽ trừ vào số tiền trong tài khoản của bạn.
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_1_2">
                        <table class="table table-striped table-hover" id="tableMonthlyPlanLog">
                            <thead>
                                <tr>
                                    <th class="col-md-3 col-sm-3 col-xs-3">Gói</th>
                                    <th class="col-md-3 col-sm-3 col-xs-3">Ngày bắt đầu</th>
                                    <th class="col-md-3 col-sm-3 col-xs-3">Ngày kết thúc </th>
                                    <th class="col-md-3 col-sm-3 col-xs-3">Hạn mức </th>
                                    <th class="col-md-3 col-sm-3 col-xs-3">Đã gửi </th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="tab_1_3">
                        <div class="portlet-body">
                            <div class="pricing-content-1">
                                <div class="row" id="pricing-email" style="text-align:center;">
                                    <h3>Số tiền hiện tại: <span id="current-blance-user"> @userinfo.CurrentBalance</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CHANGE PLAN TAB -->

                </div>
            </div>
        </div>
    </div>
</div>

<!--modal nap gói tháng-->

<div class="modal fade bs-modal" id="modal-buy-plan" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                <h4 class="modal-title uppercase">Chọn hình thức thanh toán</h4>

            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-6"><p>Bạn chọn gói : <span class="selected-plan"></span></p></div>
                    <div class="col-md-6 col-sm-6 col-xs-6"><p>Giá : <span class="slected-price"></span></p></div>
                </div>
                
                <div class="col-xs-12 pd-l-0 payment-switch">
                    <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                        <a id="payment-choose-visa" class="bg-clay inline-block payment-choose">
                            <div class="media-left text-center">
                                <span class="inline-block box-slect-buy-plan">
                                    <img class="img-circle box-size-img" src="https://s3-ap-southeast-1.amazonaws.com/ubrand-staging/assets/visa.png" alt="international">
                                </span>
                            </div>
                            <div class="media-body text-center">
                                <h4 class="ng-scope">Thẻ quốc tế</h4>
                                <p class="help-block ng-scope">Thanh toán trực tuyến với thẻ credit hoặc debit (VISA hoặc MASTER).</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                        <a id="payment-choose-sendcount"  class="payment-choose inline-block bg-clay">
                            <div class="media-left text-center">
                                <span class="inline-block box-slect-buy-plan">
                                    <img class="img-circle box-size-img" src="~/Content/Images/send.jpg" alt="Domestic">
                                </span>
                            </div>
                            <div class="media-body text-center">
                                <h4 class="ng-scope">Chuyển khoản</h4>
                                <p class="help-block box-select-description">Chuyển khoản trực tiếp vào tài khoản chính thức của công ty</p>
                            </div>
                        </a>
                    </div>
                    <!--<div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                        <a id="payment-choose-card" class="payment-choose inline-block bg-clay" data-target="#modal-card-userplan" data-toggle="modal">
                            <div class="media-left text-center">
                                <span class="inline-block box-slect-buy-plan">
                                    <img class="img-circle box-size-img" src="https://s3-ap-southeast-1.amazonaws.com/ubrand-staging/assets/scratch.png" alt="Topup Card">
                                </span>
                            </div>
                            <div class="media-body text-center">
                                <h4 class="ng-scope">Thẻ cào</h4>
                                <p class="help-block box-select-description">Thanh toán bằng thẻ cào của Viettel, Mobifone, Vinaphone, ...</p>
                            </div>
                        </a>
                    </div>-->
                    <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                        <a id="payment-choose-atm" class="payment-choose inline-block bg-clay" data-target="#modal-atm-userplan" data-toggle="modal">
                            <div class="media-left text-center">
                                <span class="inline-block box-slect-buy-plan">
                                    <img class="img-circle box-size-img" src="~/Content/Images/atm.jpg" alt="Domestic">
                                </span>
                            </div>
                            <div class="media-body text-center">
                                <h4 class="ng-scope">Thẻ nội địa</h4>
                                <p class="help-block box-select-description">Thanh toán bằng thẻ ATM nội địa của các ngân hàng trong nước.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">
                        <a id="payment-choose-paypal" class="payment-choose inline-block bg-clay">
                            <div class="media-left text-center">
                                <span class="inline-block box-slect-buy-plan">
                                    <img class="img-circle box-size-img" src="~/Content/Images/paypal.png" alt="Domestic">
                                </span>
                            </div>
                            <div class="media-body text-center">
                                <h4 class="ng-scope">Paypal</h4>
                                <p class="help-block box-select-description">Thực hiện thanh toán điện tử bằng tài khoản paypal</p>
                            </div>
                        </a>
                    </div>
                    <!--<div class="col-sm-6 col-xs-12 mgbt-5 pd-r-0 ">

                        <a id="payment-choose-NL" class="payment-choose inline-block bg-clay">
                            <div class="media-left text-center">
                                <span class="inline-block box-slect-buy-plan">
                                    <img class="img-circle box-size-img" src="https://s3-ap-southeast-1.amazonaws.com/ubrand-staging/assets/coupon.png" alt="Coupon">
                                </span>
                            </div>
                            <div class="media-body text-center">
                                <h4 class="ng-scope">NgânLượng</h4>
                                <p class="help-block box-select-description">
                                    Ví điện tử NgânLượng ,được bảo hộ cấp phép bởi nhà nước
                                </p>
                            </div>
                        </a>
                    </div>-->
                </div>

               

            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-sm green-jungle" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--end modal-->
<!--modal chọn ngân hàng-->
<div class="modal fade bs-modal" id="modal-atm-userplan" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                @*<button id="close-modal-atm" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                <h4 class="modal-title uppercase">Chọn ngân hàng phát hành thẻ</h4>
            </div>
            <div class="modal-body">
                <h4>Lưu ý: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</h4>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-12" id="box-bank-atm">
                                    <!--12-->
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="DAB" title="Ngân hàng Đông Á"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="MB" title="Ngân hàng Quân Đội"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="VAB" title="Ngân hàng Việt Á"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm"  id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="ACB" title="Ngân hàng Á Châu"></i>
                                        </a>
                                    </div>

                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm"  id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="OJB" title="Ngân hàng Đại Dương"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm"  id="seclect-bank-atm">
                                        <a href="javascript:;">
                                            <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="NAB" title="Ngân hàng Nam Á"></i>

                                        </a>
                                    </div>
                                    <div class="icon-btn box-atm" id="seclect-bank-atm">
                                        <a href="javascript:;" >
                                            <i class="BAB" title="Ngân hàng Bắc Á"></i>

                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button id="close-modal-atm" type="button" class="btn btn-sm green-jungle" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
</div>
<!--end modal chọn ngân hàng-->
<!--modal thẻ cào-->

    <!--<div class="modal fade bs-modal" id="modal-card-userplan" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button id="close-modal-card" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">Chọn nhà mạng và nạp thẻ</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-sm-12 col-xs-12" id="box-choose-card">
                                    <a id="click-choose-card-viettel">
                                        <div class="col-sm-4 col-xs-4 item-card item-viettel">
                                            <input class="card-dt display-hide" type="radio" name="userplan-card" id="card-viettel" checked />
                                        </div>
                                    </a>
                                    <a id="click-choose-card-mobi">
                                        <div class="col-sm-4 col-xs-4 item-card item-mobi">
                                            <input class="card-dt display-hide" type="radio" name="userplan-card" id="card-mobi" checked />
                                        </div>
                                    </a>
                                    <a id="click-choose-card-vina">
                                        <div class="col-sm-4 col-xs-4 item-card item-vina">
                                            <input class="card-dt display-hide" type="radio" name="userplan-card" id="card-vina" checked />
                                        </div>
                                    </a>
                                    <a id="click-choose-card-vcoin">
                                        <div class="col-sm-4 col-xs-4 item-card item-vcoin">
                                            <input class="card-dt display-hide" type="radio" name="userplan-card" id="card-vcoin" checked />
                                        </div>
                                    </a>
                                    <a id="click-choose-card-gate">
                                        <div class="col-sm-4 col-xs-4 item-card item-gate">
                                            <input class="card-dt display-hide" type="radio" name="userplan-card" id="card-gate" checked />
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <form id="form-payment-card">
                                <div class="form-group form-md-line-input ">
                                    <label class="control-label col-md-4">Seri card</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="" id="seri-card" name="sericard">
                                        <div class="form-control-focus"> </div>
                                        <span class="help-block">Nhập mã seri thẻ cào</span>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input ">
                                    <label class="control-label col-md-4">Pin card</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="" id="pin-card" name="pincard">
                                        <div class="form-control-focus"> </div>
                                        <span class="help-block">Nhập mã pin thẻ cào</span>
                                    </div>
                                </div>
                                <div class="form-group" style="text-align:center;">
                                    <button type="submit" id="btn-payment-card" class="btn btn-sm green-jungle"><i class="glyphicon glyphicon-open"></i>Nạp thẻ</button>
                                    @*<button id="colse-modal-card" type="button" class="close btn btn-sm green-jungle" data-dismiss="modal" aria-hidden="true"></button>*@

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!--modal chuyển khoản -->
<div class="modal fade bs-modal" id="modal-send-money" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                @*<button id="close-modal-send-money" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                <h4 class="modal-title uppercase">Phương thức chuyển khoản</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body form">
                    <div class="form-horizontal">
                            <div class="modal-body" style="">
                                <div class="clearfix">
                                    <table class="table">
                                        <tbody>
                                            <tr >
                                                <th colspan="4" style="padding:10px 0;border:none;">Thông tin đơn hàng</th>
                                            </tr>
                                            <tr class="info">
                                                <td style="width:150px">Mã đơn hàng</td>
                                                <td colspan="3"><b class="text-danger" id="pay-code"></b></td>
                                            </tr>
                                            <tr class="info">
                                                <td>Gói đăng ký</td>
                                                <td style="width:150px"><b id="pay-plan-name"></b></td>
                                                <td style="width:180px">Giá gói</td>
                                                <td ><b id="pay-price"></b></td>
                                            </tr>
                                            <tr>
                                                <th colspan="4">Thông tin thanh toán</th>
                                            </tr>
                                            <tr class="info">
                                                <td>Ngày tạo</td>
                                                <td colspan="3" id="pay-create-date"></td>
                                            </tr>
                                            <tr class="info">
                                                <td>Cách thanh toán</td>
                                                <td colspan="3">
                                                    <div style="border:0">
                                                        Phương thức thanh toán Chuyển khoản qua Ngân hàng
                                                    </div>
                                                    <div class="text-info">
                                                        Bạn vui lòng chuyển khoản số tiền <b id="pay-price-2"></b> vào 1 trong các tài khoản bên dưới
                                                        và nhập Mã đơn hàng (<b id="pay-code-2"></b>) vào nội dung chuyển khoản.
                                                        Chúng tôi sẽ chuyển đổi gói sử dụng của bạn sớm nhất ngay khi nhận được thông tin chuyển khoản.
                                                    </div>
                                                    <div>Chủ tài khoản: <b>Công ty Cổ Phần MyXteam</b></div>
                                                    <div>Số tài khoản: <b>0071000945247</b></div>
                                                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Ngoại Thương Việt Nam (VietComBank)</b></div>
                                                    <div>hoặc</div>
                                                    <div>Chủ tài khoản: <b>Nguyễn Lưu Quốc</b></div>
                                                    <div>Số tài khoản: <b>14256349</b></div>
                                                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Á Châu (ACB)</b></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-danger">

                                    </div>
                                    <div class="text-center" style="margin-top:10px">
                                        <button class="btn btn-sm green-jungle" id="close-modal-send-money"  type="button" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!--end modal chuyển khoản -->

              
                <!--end modal thẻ cào-->
<script>
    $(document).ready(function () {
        //chuyển đổi ngày tháng
       // $('#plan-end-date').text( moment(new Date('@userinfo.EndDate')).local().format("DD-MM-YYYY HH:mm"))
      //  $('#plan-start-date').text( moment(new Date('@userinfo.StarDate')).local().format("DD-MM-YYYY HH:mm"))

        $('#plan-end-date').text('@userinfo.EndDate');
        $('#plan-start-date').text('@userinfo.StarDate');

        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var UserInfo = {
            Name: '@Html.Raw(userinfo.LastName)',
            Email: '@Html.Raw(userinfo.Email)',
            Email: '@Html.Raw(userinfo.Mobile)'?@userinfo.Mobile!=null:'0987654321',
            CurrentBalance:'@Html.Raw(userinfo.CurrentBalance)',
            MonthlyPlanName:'@Html.Raw(userinfo.MonthlyPlanName)',
            Quota:'@Html.Raw(userinfo.Quota)',
            StartDate:'@Html.Raw(userinfo.StarDate)',
            EndDate:'@Html.Raw(userinfo.EndDate)',

        }
        var message= {
            ButtonBuy: '@Html.Raw(Resources.AccountResource.ButtonBuyName)',
            ButtonFree: '@Html.Raw(Resources.AccountResource.ButtonFree)',
                GetPlanError:'@Html.Raw(Resources.AccountResource.NotifyGetPlanError)',
            UpgradeSuccess:'@Html.Raw(Resources.AccountResource.NotifyUpgradeSuccess)',
            UpgradeError:'@Html.Raw(Resources.AccountResource.NotifyUpgradeError)',
            HadPaid: '@Html.Raw(Resources.AccountResource.NotifyHadPaid)',
            GenCodeError:'@Html.Raw(Resources.AccountResource.NotifyGenCodeError)',
            Error:'@Html.Raw(Resources.AccountResource.NotifyError)',

        }
        userplan_Action(apiDomain,access_token,UserInfo,message);

        var tableId = '#tableMonthlyPlanLog';
        var dataUrl = 'api/User/Web/GetMontlyPlanLog';

        var file = "/Scripts/JsonDefineColumn/monthlyplanlog.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));

        var AdditionalParameters = function (data) {
            data.SortColumn = 'PlanNum';
            data.SortDirection = 'Descending';
        }

        var height = resizeTableContactList();

        var messageTable = {
        };

        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters,height,messageTable);

    });

</script>
