﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    ViewBag.Title= Resources.PagetitleResource.pagetitleUserProFile;
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
<script src="~/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
<link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
<link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinModern.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Account/usersprofile.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/teammates.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/userplan.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/overview.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/money.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/accountsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/frommail.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/frommobile.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.cookie.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Account/specialday.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.PagetitleResource.pagetitleHome</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Resources.PagetitleResource.pagetitleUserProFile</span>
        </li>
    </ul>
</div>
<div class="row">
    <div aria-busy="true" aria-label="Loading, please wait." role="progressbar"></div>
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet ">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                @if (userinfo.Avatar == "https://123sendmail.blob.core.windows.net/")
                {
                    <img src="~/Content/Images/no-avatar.png" class="img-responsive" alt="" id="avatarprofile">
                }
                else
                {

                    <img src="@userinfo.Avatar" class="img-responsive" alt="" id="avatarprofile">
                }
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name"> @userinfo.FirstName @userinfo.LastName  </div>
                <div class="profile-usertitle-email" id="info-email-login" style="color: #5a7391;font-size:18px;"> @userinfo.Email  </div>
                <div class="profile-usertitle-email font-red" style="color: #5a7391;padding-top:5px;font-size:12px;">@Resources.AccountResource.Expirydate @userinfo.ExpireDate.Value.ToString("dd-MM-yyyy")</div>
               
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    @*<li id="overview">
                        <a id="btnoverview" href="#Overview">
                            <i class="icon-home"></i> @Resources.AccountResource.uprofileOverview
                        </a>
                    </li>*@
                    @if (permission.IsParent)
                    {
                    <li id="accountsetting">
                        <a id="btnaccountsetting" href="#AcountSetting" >
                            <i class="icon-settings"></i> @Resources.AccountResource.uprofileAccountSettings
                        </a>
                    </li>
                    <li id="teammates">
                        <a id="btnteammates" href="#Teammates">
                            <i class="icon-users"></i> @Resources.AccountResource.uprofileSubUser
                        </a>
                    </li>
                    <li id="frommail">
                        <a id="btnfrommail" href="#FromEmail" >
                            <i class="icon-envelope"></i> @Resources.AccountResource.uprofileFromEMail
                        </a>
                    </li>
                    <li id="frommobile">
                        <a id="btnfrommobile" href="#FromMobile">
                            <i class="fa fa-tablet"></i> @Resources.AccountResource.uprofileFromMobile
                        </a>
                    </li>
                    <li id="specialday">
                        <a id="btnspecialday" href="#SpecialDay">
                            <i class="fa fa-calendar-o"></i> @Resources.AccountResource.uprofileSpecialDay
                        </a>
                    </li>
                    <li id="money">
                        <a id="btnmoney" href="#ManageMoney" >
                            <i class="icon-trophy" ></i> @Resources.AccountResource.uprofileUserMoney
                        </a>
                    </li>
                    <li id="recharge">
                        <a id="btnrecharge" href="#Recharge">
                            <i class="icon-diamond"></i> @Resources.AccountResource.uprofileRecharge
                        </a>
                    </li>
                    }
                    else
                    {
                        if (permission.SettingAccount != 0)
                        {
                            <li id="accountsetting">
                                <a id="btnaccountsetting" href="#AcountSetting">
                                    <i class="icon-settings"></i> @Resources.AccountResource.uprofileAccountSettings
                                </a>
                            </li>
                        }
                        if (permission.SubAccount != 0)
                        {
                            <li id="teammates">
                                <a id="btnteammates" href="#Teammates">
                                    <i class="icon-users"></i> @Resources.AccountResource.uprofileSubUser
                                </a>
                            </li>
                        }
                        if (permission.FromMail != 0)
                        {
                            <li id="frommail">
                                <a id="btnfrommail" href="#FromEmail">
                                    <i class="icon-envelope"></i> @Resources.AccountResource.uprofileFromEMail
                                </a>
                            </li>
                        }
                        if (permission.SpeicalDay != 0)
                        {
                            <li id="specialday">
                                <a id="btnspecialday" href="#SpecialDay">
                                    <i class="fa fa-calendar-o"></i> @Resources.AccountResource.uprofileSpecialDay
                                </a>
                            </li>
                        }
                        if (permission.StatisticMoney != 0)
                        {
                            <li id="money">
                                <a id="btnmoney" href="#ManageMoney">
                                    <i class="icon-trophy"></i> @Resources.AccountResource.uprofileUserMoney
                                </a>
                            </li>
                        }

                    }
                    <li id="integrated">
                        <a id="btnintegrated" href="#Integrated">
                            <i class="fa fa-plug"></i> @Resources.AccountResource.Integarted
                        </a>
                    </li>
                    @*<li id="help">
                        <a href="#Help">
                            <i class="icon-info"></i> @Resources.AccountResource.uprofileHelp
                        </a>
                    </li>*@
                </ul>
            </div>
            <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
        <!-- PORTLET MAIN -->
        <!-- END PORTLET MAIN -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">

    </div>
    <!-- END PROFILE CONTENT -->
</div>

<script>

    $(document).ready(function () {
        //custom_HideMenu();
        usersprofile_Action();
       // OverView();
    })
</script>



