﻿
@{
    ViewBag.Title = Resources.PagetitleResource.pagetitleUpdateInfo;
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}
@section JS{

    <script src="@Url.Content("~/Scripts/UpdateInfo/updateinfo.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Login/login.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
<style>
    body{background:white;}
</style>
<div class="col-md-12">
    <div class="text-center margin-top-40">
        <img src="~/Content/Images/sendmail-123.png" />

    </div>
    @if (!ViewBag.IsAccept)
    {
        <div class="text-center margin-top-40">
            <p class="font-lg font-white">Liên kết đã hết hạn, vui lòng liên hệ chủ tài khoản gửi lại email cập nhập thông tin tài khoản sub user cho email <b> @ViewBag.Email </b></p>
        </div>
    }
    else
    {
    <div class="text-center margin-top-40">
        <p class="font-white" style="font-size:25px;">@Resources.LoginResource.UpdateInfo</p>
    </div>
    <div style="max-width:460px;width:100%;margin:0 auto;">
        <div  id="portletFormSetting" class="form-update-info-subuser">
            <div class="portlet-body margin-bottom-10" >
                <!-- BEGIN FORM-->

                <div id="formSetting" >
                    <div>
                        <div class="form-group">
                            <label class="control-label font-lg font-white">@Resources.LoginResource.loginUsername</label>
                            <div class="input-icon">
                                <i class="fa fa-user" style="padding-bottom: 7px;"></i>
                                <input class="form-control placeholder-no-fix input-lg" style="width:100% !important" type="text" autofocus autocomplete="off"  id="txtupdatesub-email" value="@ViewBag.Email"  readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label font-lg font-white">@Resources.LoginResource.loginFirstname</label>
                            <div class="input-icon">
                                <i class="fa fa-user" style="padding-bottom: 7px;"></i>
                                <input class="form-control placeholder-no-fix input-lg" style="width:100% !important" type="text" autofocus autocomplete="off" placeholder="@Resources.LoginResource.loginFirstname" id="txtupdatesub-firstname"   />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label font-lg font-white">@Resources.LoginResource.loginLastname</label>
                            <div class="input-icon">
                                <i class="fa fa-user" style="padding-bottom: 7px;"></i>
                                <input class="form-control placeholder-no-fix input-lg" style="width:100%  !important" type="text" autofocus autocomplete="off" placeholder="@Resources.LoginResource.loginLastname" id="txtupdatesub-lastname"  />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label font-lg font-white">@Resources.LoginResource.loginMobile</label>
                            <div class="input-icon">
                                <i class="fa fa-user" style="padding-bottom: 7px;"></i>
                                <input class="form-control placeholder-no-fix input-lg" style="width:100%  !important" type="text" autofocus autocomplete="off" placeholder="@Resources.LoginResource.loginMobile" id="txtupdatesub-mobile"  />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label font-lg font-white">@Resources.LoginResource.loginPassword</label>
                            <div class="input-icon">
                                <i class="fa fa-user" style="padding-bottom: 7px;"></i>
                                <input class="form-control placeholder-no-fix input-lg" style="width:100%  !important" type="password" autofocus autocomplete="off" placeholder="@Resources.LoginResource.loginPassword" id="txtupdatesub-password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label font-lg font-white">@Resources.LoginResource.loginRetype</label>
                            <div class="input-icon">
                                <i class="fa fa-user" style="padding-bottom: 7px;"></i>
                                <input class="form-control placeholder-no-fix input-lg" style="width:100%  !important" type="password" autofocus autocomplete="off" placeholder="@Resources.LoginResource.loginRetype" id="txtupdatesub-repassword" />
                            </div>
                        </div>

                    </div>
                    <div class="margin-bottom-10 margin-top-10 text-center">
                        <a class="btn btn-lg green-jungle " style="width:100%;" id="update-info-subuser">@Resources.LoginResource.Update</a>
                    </div>
                    
                </div>

                <!-- END FORM-->
            </div>
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var userid = '@ViewBag.UserId';
        var parentid = '@ViewBag.ParentId';
        var email = '@ViewBag.Email';
        var message = {
            errorFirstname: '@Html.Raw(Resources.LoginResource.errorFirstname)',
            errorLastname: '@Html.Raw(Resources.LoginResource.errorLastname)',
            errorEmail: '@Html.Raw(Resources.LoginResource.errorEmail)',
            errorFormatEmail: '@Html.Raw(Resources.LoginResource.errorFormatEmail)',
            errorMobile: '@Html.Raw(Resources.LoginResource.errorMobile)',
            errorFormatMobile: '@Html.Raw(Resources.LoginResource.errorFormatMobile)',
            errorPass: '@Html.Raw(Resources.LoginResource.errorPass)',
            errorLeastPass: '@Html.Raw(Resources.LoginResource.errorLeastPass)',
            errorRePass: '@Html.Raw(Resources.LoginResource.errorRePass)',
            errorComparePass: '@Html.Raw(Resources.LoginResource.errorComparePass)',
            errorNTC: '@Html.Raw(Resources.LoginResource.errorNTC)',
            sendmailresetpass: '@Html.Raw(Resources.LoginResource.notifyResetPass)',
            emailNotFound: '@Html.Raw(Resources.LoginResource.emailNotFound)',
            hasError: '@Html.Raw(Resources.LoginResource.hasError)',
        };
        updateinfo_Action(apiDomain, userid, parentid, email, message);
    });
</script>

