﻿
<style>
    .transferbox td, th {
        padding: 3px 5px;
        vertical-align: top;
    }
</style>
<div class="transferbox clearfix">
    <table>
        <tbody>
            <tr>
                <td colspan="4">
                    <h4 class="box-header"><a id="btCloseTransferBox" class="btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a> Thông tin đơn hàng </h4>
                </td>
            </tr>
            <tr class="info">
                <td style="width:100px">Mã đơn hàng:</td>
                <td colspan="3"><b class="text-danger">@ViewBag.PaymentCode</b></td>
            </tr>
            <tr class="info">
                <td>Đơn hàng:</td>
                <td colspan="3"><b>Nạp tiền vào tài khoản</b></td>
            </tr>
            <tr class="info">
                <td>Số tiền:</td>
                <td colspan="3"><b class="text-danger">@ViewBag.Amount.ToString("#,##0") đ</b></td>
            </tr>
            <tr class="info">
                <td>Ngày tạo:</td>
                <td colspan="3">@ViewBag.Date.ToString("dd-MM-yyyy HH:mm:ss")</td>
            </tr>
            <tr class="info">
                <th colspan="4">Cách thanh toán</th>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="text-warning">
                        Bạn vui lòng chuyển khoản số tiền <b> @ViewBag.Amount.ToString("#,##0") đ</b> vào 1 trong các tài khoản bên dưới
                        và nhập Mã đơn hàng (<b class="text-danger">@ViewBag.PaymentCode</b>) vào nội dung chuyển khoản.
                        Chúng tôi sẽ xử lý sớm nhất ngay khi nhận được thông tin chuyển khoản.
                    </div>
                    <div>Chủ tài khoản: <b>Nguyễn Lưu Quốc</b></div>
                    <div>Số tài khoản: <b>14256349</b></div>
                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Á Châu (ACB)</b></div>
                    <div>hoặc</div>
                    <div>Chủ tài khoản: <b>Nguyễn Lưu Quốc</b></div>
                    <div>Số tài khoản: <b>0071001147248</b></div>
                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Ngoại thương Việt Nam (VCB) PGD Hàm Nghi, Hồ Chí Minh</b></div>
                    <div>hoặc</div>
                    <div>Chủ tài khoản: <b>Công ty Cổ Phần phần mềm Trí Tuệ Việt</b></div>
                    <div>Số tài khoản: <b>17493489</b></div>
                    <div>Tên ngân hàng: <b>Ngân hàng TMCP Á Châu (ACB)</b></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<script>
    $('#btCloseTransferBox').click(function () {
        hideTransferInfo();
    });
</script>
