﻿
@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_LayoutLoginOnPage.cshtml";

    string Payment = (string)ViewBag.Method == "PP" ? "PayPal" : "Ngân Lượng";
}
<link href="~/Content/paymentmobile.css" rel="stylesheet" />
<div class="mobile-container">
    <h3 class="box-header">Hủy thanh toán</h3>
    <div style="margin-top:20px">
        Bạn đã hủy thanh toán từ @Payment. Bạn vẫn có thể tiến hành thanh toán lại bất kỳ lúc nào
    </div>
</div>


