﻿@{
    ViewBag.Title = "PaymentForm";
    Layout = "~/Views/Shared/_LayoutLoginOnPage.cshtml";
    string access_token = ViewBag.Token;
    string UserName= ViewBag.UserName;
    string Email= ViewBag.Email;
    string Mobile= ViewBag.Mobile;
}
<link href="~/Content/paymentmobile.css" rel="stylesheet" />
<div class="mobile-container">
    <div id="alert-error-money" class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span></span>
    </div>
    <div id="divPaymentMethodWrapper">
        
        <h4 class="box-header">Nhập số tiền cần nạp</h4>
        <div style="margin-top:10px">
            <input id="input-money"  class="form-control input-money" placeholder="+VNĐ" />
        </div>
        <h4 class="box-header">Chọn phương thức nạp tiền</h4>
        <div style="margin-top:10px">
            <a class="btn btn-info btn-info-toomarketer btn-block btPay btn-xs" data-id="1" style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/send.jpg")" />
                </div>
                <div class="payment-info">
                    <h4>Chuyển khoản</h4>
                    <div>Chuyển khoản vào tài khoản Toomarketer.</div>
                </div>
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="btn btn-info btn-info-toomarketer btn-block btPay btn-xs" data-id="3" style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/paypal.png")" />
                </div>
                <div class="payment-info">
                    <h4>Paypal</h4>
                    <div>Thực hiện thanh toán bằng tài khoản Paypal.</div>
                </div>
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="btn btn-info btn-info-toomarketer btn-block btPay btn-xs" data-id="2" style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/atm.png")" />
                </div>
                <div class="payment-info">
                    <h4>Thẻ nội địa</h4>
                    <div>Thanh toán bằng thẻ ATM của các ngân hàng.</div>
                </div>
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="btn btn-info btn-info-toomarketer btn-block btPay btn-xs" data-id="4" data-payment style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/visa.png")" />
                </div>
                <div class="payment-info">
                    <h4>Thẻ quốc tế</h4>
                    <div>Thanh toán trực tuyến với thẻ VISA, MASTER.</div>
                </div>
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="btn btn-info btn-info-toomarketer btn-block btPay-code btn-xs" data-id="5" data-payment style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/qrcode.jpg")" />
                </div>
                <div class="payment-info">
                    <h4>Mã nạp tiền</h4>
                    <div>Mã nạp tiền do Toomarketer cung cấp</div>
                </div>
            </a>
        </div>
    </div>
    <div id="divBanklist" style="display:none">
        <h4 class="box-header"><a id="btBack" class="btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a> <span>Chọn ngân hàng </span></h4>
        <p class="small">Lưu ý: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</p>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-sm-12 money-box-bank">
                            <!--12-->
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="DAB" title="Ngân hàng Đông Á"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                </a>
                            </div>

                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="MB" title="Ngân hàng Quân Đội"></i>
                                </a>
                            </div>

                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                </a>
                            </div>

                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="VAB" title="Ngân hàng Việt Á"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="ACB" title="Ngân hàng Á Châu"></i>
                                </a>
                            </div>

                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="OJB" title="Ngân hàng Đại Dương"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="NAB" title="Ngân hàng Nam Á"></i>

                                </a>
                            </div>
                            <div class="icon-btn box-atm seclect-bank-atm">
                                <a href="javascript:;">
                                    <i class="BAB" title="Ngân hàng Bắc Á"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divBankTransfer">

    </div>
    <div id="divMoneyCode" style="display:none;">
        <h4 class="box-header"><a id="btBackCode" class="btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a> <span>Nhập mã nạp tiền</span></h4>
        <div class="small text-muted">
            <b>Lưu ý: </b>
            <p>
                Mã nạp tiền chỉ được cung cấp bởi Toomarketer.
            </p>
            <p>
                Mỗi mã chỉ được sử dụng một lần.
            </p>
            
        </div>
        <div style="margin-top:10px">
            <input id="input-code-money" class="form-control input-code" placeholder="Nhập mã vào đây" />
        </div>
        <div class="row" style="margin-top:5px">
            <div class="clearfix" style="text-align: center; margin-bottom: 10px;">
                <small id="CodeHint" class="font-red bold" ></small>
            </div>
            <div class="text-center">
                <a id="btPayCode" class="btn btn-success btn-sm">Nạp tiền</a>
            </div>
        </div>
    </div>
</div>

<script>

    function showTransferInfo(code,date,amount) {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').hide();
        $('#divBankTransfer').show();
        $('#divBankTransfer').load('@Url.Content("~/PaymentMobile/BankTransferBox")', { code: code, date: date, amount: amount });
    }

    function hideTransferInfo() {
        $('#divBanklist').hide();
        $('#divBankTransfer').hide();
        $('#divPaymentMethodWrapper').show();

    }

    function showATM() {
        $('#divBanklist').show();
        $('#divPaymentMethodWrapper').hide();
        $('#divMoneyCode').hide();
    }

    function hideATM() {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').show();
        $('#divMoneyCode').hide();
        $('#alert-error-money span').text("");
        $('#alert-error-money').hide();
    }

    function showCode()
    {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').hide();
        $('#divMoneyCode').show();

    }
    function hideCode() {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').show();
        $('#divMoneyCode').hide();
        $('#alert-error-money span').text("");
        $('#alert-error-money').hide();

    }

    $('#divBanklist').on('click', '.seclect-bank-atm', function () {
        Payment_MenthodId = 2; //mặt định
        Payment_Note = "Nạp tiền vào tài khoản";
        Payment_Price = $('#input-money').val().replace(/[,.]/g, '');
        var Object = money_GenCode(Payment_MenthodId, Payment_Price, Payment_ForPlanId, Payment_Note);
        var errorcode = parseInt(Object.ErrorCode)
        switch (errorcode) {
            case 0:
                var data = Object.Data;
                var bank = $(this).find('i').attr('class'); //lấy mã ngân hàng
                var Payment = {
                    Bank: bank,
                    PayCode: data.PayCode,
                    Menthod: 'ATM_ONLINE', //mã mặt định
                    Amount: Payment_Price,
                    PlanId: Payment_ForPlanId,
                    Email: '@Email',
                    Mobile: '@Mobile',
                    UserName: '@UserName',
                    AccessToken: '@access_token'
                }
                //hàm xử lí
                paymentNganLuong(Payment);

                break;
            default:
                custom_shownotification("error", message.GetCodeError);
                break;
        }

    });

    $('#btBack').click(function () {
        hideATM();

    });

    $('#btBackCode').click(function () {
        hideCode();
    })

    $('.btPay').click(function () {
        if (checkMoney()) {
            var payMethodId = parseInt($(this).data('id'));
            if (payMethodId == 1) {
                money_ViaSendMoney();
            }
            if (payMethodId == 2) //show popup chọn bank
            {
                showATM();
            }
            if (payMethodId == 3) {
                money_ViaPaypal();
            }

            if (payMethodId == 4) {
                money_ViaVisa();
            }


        }
    });

    $('.btPay-code').click(function () {
        showCode();
    });



    $('#input-money').keyup(function (event) {

        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) {
            event.preventDefault();
        }

        $(this).val(function (index, value) {
            value = value.replace(/,/g, '');
            return numberWithCommas(value);
        });
    });

    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    //function checkMoney()
    //{
    //    if ($('#input-money').val()=='') {
    //        $('#alert-error-money span').text('Vui lòng nhập số tiền');
    //        $('#alert-error-money').show();
    //        return false;
    //    }
    //    if (isNaN($('#input-money').val().replace(/[,.]/g, ''))) {
    //        $('#alert-error-money span').text('Số tiền phải là kiểu số');
    //        $('#alert-error-money').show();
    //        return false;
    //    }
    //    if (parseInt($('#input-money').val().replace(/[,.]/g, '')) < 100000) {
    //        $('#alert-error-money span').text('Số tiền nạp tối thiểu 100.000');
    //        $('#alert-error-money').show();
    //        return false;
    //    }
    //    if (Number.isInteger(parseInt($('#input-money').val().replace(/[,.]/g, '') / 1000))) {
            
    //    }else {
    //        $('#alert-error-money span').text('Số tiền nạp phải là bội số của 1000');
    //        $('#alert-error-money').show();
    //        return false;
    //    }
    //    else return true;
    //}

    function checkMoney() {
        var Money = parseInt(Number($('#input-money').val().replace(/[,.]/g, '')));
        if (Number.isInteger(Money / 1000)) {
            if (Money > 100000000) {
                $('#alert-error-money span').text('Số tiền nhập tối đa là 100.000.000 VNĐ');
                $('#alert-error-money').show();
                Money.Accept = false;
            } else {
                var Money = $.ajax({
                    url: '/PaymentMobile/CheckMoneyRecharge?m=' + Money,
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                    async: false,
                }).responseJSON;
                if (Money.Accept == false) {
                    $('#alert-error-money span').text('Số tiền nhập tối thiểu là '+ formatMoney(parseInt(Money.LeastMoney), 'VNĐ'));
                    $('#alert-error-money').show();
                }
            }
           
        } else {
            $('#alert-error-money span').text('Số tiền nạp phải là bội số của 1000');
            $('#alert-error-money').show();
            Money.Accept = false;
          
        }
        return Money.Accept;


      
    };


    var Payment_ForPlanId = ""; //nạp tiền nên để trống
    var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
    //gọi tạo đơn hàng chuyển khoản
    function money_ViaSendMoney() {

                //thì modal phuong thuc nạp tiền đóng
                Payment_MenthodId = 1;
                Payment_Note = "Nạp tiền vào tài khoản";
                Payment_Price = $('#input-money').val().replace(/[,.]/g, '');

                //tạo pay code
                var Object = money_GenCode(Payment_MenthodId, Payment_Price, Payment_ForPlanId, Payment_Note);
                var errorcode = parseInt(Object.ErrorCode)
                switch (errorcode) {
                    case 0:
                        $(this).attr('data-target', '#modal-payment-send-money');
                        $(this).attr('data-toggle', 'modal');
                        var data = JSON.parse(JSON.stringify(Object.Data))

                        showTransferInfo(data.PayCode, moment(moment.utc(data.CreateDate).toDate()).format('YYYY-MM-DD'), Payment_Price);

                        break;

                    default:
                        $('#alert-error-money span').text("Có lỗi xảy ra");
                        $('#alert-error-money').show();
                        break;
                }


    }


    // nạp qua paypal
    function money_ViaPaypal() {

        Payment_MenthodId = 3; //paypal
        Payment_Note = "Nạp tiền vào tài khoản";
        Payment_Price = $('#input-money').val().replace(/[,.]/g, '');

        var Object = money_GenCode(Payment_MenthodId, Payment_Price, Payment_ForPlanId, Payment_Note);
        var errorcode = parseInt(Object.ErrorCode)
        switch (errorcode) {
            case 0:
                var data = Object.Data;
                var Payment = {
                    PayCode: data.PayCode,
                    Amount: Payment_Price,
                    PlanId: Payment_ForPlanId,
                    Menthod: 'Paypal',
                    Email: '@Email',
                    Mobile: '@Mobile',
                    UserName: '@UserName',
                    AccessToken: '@access_token'
                }
                //hàm xử lí
                paymentPaypal(Payment);

                break;
            default:
                $('#alert-error-money span').text("Có lỗi xảy ra");
                $('#alert-error-money').show();
                break;
        }
    }

    //chọn kiểu nạp visa
    function money_ViaVisa() {

                Payment_MenthodId = 3;
                Payment_Note = "Nạp tiền vào tài khoản";
                Payment_Price = $('#input-money').val().replace(/[,.]/g, '');

                var Object = money_GenCode(Payment_MenthodId, Payment_Price, Payment_ForPlanId, Payment_Note);
                var errorcode = parseInt(Object.ErrorCode)
                switch (errorcode) {
                    case 0:
                        var data = Object.Data;
                        var Payment = {
                            PayCode: data.PayCode,
                            Amount: Payment_Price,
                            PlanId: Payment_ForPlanId,
                            Menthod: 'Visa',
                            Email: '@Email',
                            Mobile: '@Mobile',
                            UserName: '@UserName',
                            AccessToken: '@access_token'
                        }
                        //hàm xử lí
                        paymentPaypal(Payment);

                        break;
                    default:
                        $('#alert-error-money span').text("Có lỗi xảy ra");
                        $('#alert-error-money').show();
                        break;
                }
    }


    //hàm chung tạo mã đơn hàng
    function money_GenCode(PaymentMethodId, Amount, ForPlanId, Note) {
        var Paycode = $.ajax({
            url: apiDomain + 'api/User/CreatePayment?PaymentMethodId=' + PaymentMethodId + '&Amount=' + Amount + '&ForPlanId=' + ForPlanId + '&Note=' + Note + '',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + '@access_token');
            },
            async: false,

        }).responseJSON;
        return Paycode
    }

    //hàm gọi controller xử lý ngân lượng
    function paymentNganLuong(data) {
        $('#divLoading').show();
        $.ajax({
            url: '/PaymentMobile/NLProcess',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',

            success: function (r) {
                $('#divLoading').hide();
                switch (r.Success) {
                    case true:
                        window.location.href = r.Result;
                        break;
                    case false:
                        $('#alert-error-money span').text(r.Result);
                        $('#alert-error-money').show();
                        break;

                }

            },
            error: function (x, s, e) {
                $('#alert-error-money span').text("Có lỗi xảy ra");
                $('#alert-error-money').show();
            },

        })

    }

    //goi controler xử lý paypal
    function paymentPaypal(data) {
        $('#divLoading').show();
        $.ajax({
            url: '/PaymentMobile/PPProcess',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',

            success: function (r) {
                $('#divLoading').hide();
                switch (r.Success) {
                    case true:

                        window.location.href = r.Result;
                        break;
                    case false:
                        $('#alert-error-money span').text(r.Result);
                        $('#alert-error-money').show();
                        break;

                }

            },
            error: function (x, s, e) {
                $('#alert-error-money span').text("Có lỗi xảy ra");
                $('#alert-error-money').show();
            },

        })

    }


    $('#btPayCode').click(function () {
        var codeinput = $('#input-code-money').val();
        if (codeinput) {
            $.ajax({
                url: apiDomain + 'api/User/CreatePaymentFromCode?Code=' + $('#input-code-money').val(),
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (request) {
                    request.setRequestHeader('Authorization', 'Bearer ' + '@access_token')
                },
                success: function (r) {
                    switch (parseInt(r.ErrorCode)) {
                        case 0:
                            //money_LoadUserInfo(apiDomain, access_token);
                            $('#alert-error-money span').text("Nạp tiền thành công");
                            $('#alert-error-money').show();
                            $.when(
                                money_AddToPaid()).then(function () {
                                    setTimeout(function () {
                                        window.location.href = "/PaymentMobile/PaySuccess"

                                    }, 500);
                                });

                            $('#input-code-money').val('');
                            break;
                        case 101:
                            $('#input-code-money').val('');
                            setRetryCookie();
                            break;
                        default:
                            $('#input-code-money').val('');
                            $('#alert-error-money span').text("Có lỗi xãy ra");
                            $('#alert-error-money').show();
                            //   setRetryCookie();
                            break;
                    }
                },
                error: function () {
                    $('#input-code-money').val('');
                    $('#alert-error-money span').text("Có lỗi xãy ra");
                    $('#alert-error-money').show();
                    // setRetryCookie();
                }
            })


        }
        else {
            $('#alert-error-money span').text("Vui lòng nhập mã nạp tiền");
            $('#alert-error-money').show();
        }
    });


    var tm = 5;
    function checkCodeInput() {
        if ($.cookie('tuc') != null && $.cookie('tuc') != undefined) {
            var t = $.cookie('tuc');
            t = JSON.parse(t);
            if (t.time >= tm) {
                $('#CodeHint').html('Bạn đã thử quá ' + tm + ' lần! Vui lòng đợi <span id="lockTimer"></span> để nhập lại!');
                //setTimerToUnLock(t.expire);
                var expire = t.expire;
                $('#lockTimer').html(moment(moment(expire).diff(moment())).format('mm:ss'));
                $('#btPayCode').prop('disabled', true);
            }
        }
        else {
            $('#btPayCode').prop('disabled', false);
            $('#CodeHint').html('');
        }
    }

    setInterval(function () {
        checkCodeInput();
    }, 1000);

    function setRetryCookie() {
        var date = new Date();
        var minutes = 5;
        date.setTime(date.getTime() + (minutes * 60 * 1000));

        var t = $.cookie('tuc');
        if (t == undefined) {
            t = { time: 1, expire: date };
        }
        else {
            t = JSON.parse(t);
            t.time += 1;
            t.expire = date;
        }

        $.cookie('tuc', JSON.stringify(t), { expires: date });

        $('#code-to-recharge').val('');
        if (t.time >= 5) {
            checkCodeInput();

            $('#alert-error-money span').text("Nhập mã quá 5 lần");
            $('#alert-error-money').show();
        }
        else {
            $('#alert-error-money span').text('Mã không tồn tại hoặc đã được sử dụng! Bạn còn ' + (tm - t.time) + ' lần thử!');
            $('#alert-error-money').show();
            
        }
    };

    function money_AddToPaid() {
         var Payment = {
            Email: '@Email',
            Mobile: '@Mobile',
            UserName: '@UserName',
            AccessToken: '@access_token'
        }
        $.ajax({
            url: '/PaymentMobile/UpdateRechargeByCode',
            type: 'Post',
            data: JSON.stringify(Payment),
            contentType: 'application/json; charset=utf-8',
            success: function () {

            }, error: function () {

            }
        })

    }

</script>
