﻿@{
    ViewBag.Title = "PaySuccess";
    Layout = "~/Views/Shared/_LayoutLoginOnPage.cshtml";
}

<h2>PaySuccess</h2>
@if (ViewBag.PayMaintenanceFee)
{
    <div class="form-group text-center" style="margin:2px;">
        <p class="note note-success" style="font-size:16px;">Hệ thống đã trừ phí duy trì<b class="money-leastmoney-recharge"> @ViewBag.LeastMoney VNĐ</b></p>
    </div>
}
