﻿@using _123SendMailV2.ViewModels;
@model ReturnResultPayment
@{
    ViewBag.Title = "Kết quả thanh toán";
    Layout = "~/Views/Shared/_LayoutLoginOnPage.cshtml";
}
<link href="~/Content/paymentmobile.css" rel="stylesheet" />
<div class="mobile-container">
    <h3 class="box-header">@(Model.ErrorCode == 0 ? "Thanh toán thành công" : "Thanh toán không thành công")</h3>
    <div style="margin-top:30px;">
        @if (Model.ErrorCode == 0)
        {
            <text>
                <h4 class="text-success">
                    @Model.ErrorMessage
                </h4>
            </text>
            if (Convert.ToBoolean(Request.Browser["IsMobileDevice"]) == true)
            {
                <text>
                    <script>
                        setTimeout(function () {
                            window.location.href = '@Url.Content("~/PaymentMobile/PaySuccess")';
                        }, 2000);
                    </script>
                </text>
            }
        }
        else
        {
            <text>
                <h4 class="text-warning">
                    @Model.ErrorMessage
                </h4>
            </text>
        }

    </div>
</div>

