﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding-top:10em">
    <h2 style="color:white;">@ViewBag.Error</h2>
    @if (ViewBag.Status == "00")
    {
    <h2 id="statuspayment" style="color:white;">@Resources.PaymentResource.Error00</h2>
    }
    else if (ViewBag.Status == "01")
    {
    <h2 id="statuspayment" style="color:white;">@Resources.PaymentResource.Error01</h2>
    }
    else if (ViewBag.Status == "02")
    {
    <h2 id="statuspayment" style="color:white;">@Resources.PaymentResource.Error02</h2>
    }
    else if (ViewBag.Status == "104")
    {
        <h2 id="statuspayment" style="color:white;">@Resources.PaymentResource.Error104</h2>
    }
    else if (ViewBag.Status == "0")
    {
        <h2 id="statuspayment" style="color:white;">@Resources.PaymentResource.Error0</h2>
    }
   
    <button id="redirec-to-userprofile" class="btn btn-sm green-jungle">Quay lại</button>
</div>
<script>
    $(document).ready(function () {
        payment_Action();
        payment_Background();
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';

        test(apiDomain, access_token)
    })
</script>



