﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleEmailConfirm;
}
@section JS{
    <script src="@Url.Content("~/Scripts/Newsletters/emailconfirm.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
                <i class="fa fa-circle"></i>
            
        </li>
        <li>
            <a id="pagetitleBasicCampaign" href="@Url.Content("~/BasicCampaign")">
                <span>@Resources.PagetitleResource.pagetitleBasicCampaign</span>
            </a>
                <i class="fa fa-circle"></i>
            
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleEmailConfirm</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="mt-element-step">
            <div class="row step-no-background-thin">
                <a id="colSetting" class="col-md-3 mt-step-col first done">
                    <div class="mt-step-number bg-white">1</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estSetting</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaSetting</div>
                </a>
                <a id="colContent" class="col-md-3 mt-step-col done">
                    <div class="mt-step-number bg-white">2</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estContent</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaContent</div>
                </a>
                <a id="colRecipient" class="col-md-3 mt-step-col done">
                    <div class="mt-step-number bg-white">3</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estRecipient</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaRecipient</div>
                </a>
                <a id="colConfirm" class="col-md-3 mt-step-col last active">
                    <div class="mt-step-number bg-white">4</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estConfirm</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaConfirm</div>
                </a>
            </div>
        </div>
    </div>
    <div id="divRedirect" class="col-md-12" style="padding-bottom:0px !important;height:40px;">

        <div>
            <button type="reset" id="btnConfirmBack" class="btn btn-sm yellow-gold" style="float:left;">
                <i class="icon-action-undo"></i>@Resources.NewsletterResource.Previous
            </button>
        </div>
        <div>
            
            <button id="btncancelcampaignschedule" class="btn btn-sm red btn-outline" style="float:right;display:none">
                <i class="fa fa-calendar-times-o"></i>@Resources.NewsletterResource.CancelSchedule
            </button>
            <button id="btnsendcampaignschedule" class="btn btn-sm green-jungle" style="float:right;display:none;margin-right:5px;">
                <i class="fa fa-calendar-check-o"></i>@Resources.NewsletterResource.SendSchedule
            </button>
            
            
            <button id="btnsendcampaign" class="btn btn-sm green-jungle" style="float:right;margin-right:5px;">
                <i class="icon-paper-plane"></i>@Resources.NewsletterResource.SendCampaign
            </button>
            <button id="btnsendtestcampaign" class="btn btn-sm blue" style="float:right;margin-right:5px;">
                <i class="fa fa-random"></i>@Resources.NewsletterResource.SendTest
            </button>
            <button id="btncampaignschedule" class="btn btn-sm yellow-saffron" style="float:right;margin-right:5px;">
                <i class="fa fa-calendar-plus-o"></i>@Resources.NewsletterResource.Schedule
            </button>
            @*<a id="btnpreviewcampaign3" class="btn btn-sm white" style="float:right;margin-right:5px;">
                <i class="fa fa-eye"></i>
            </a>
            <H5 id="lblpreviewcampaign"  style="float:right;margin-right:5px;margin-left:5px;">XEM TRƯỚC EMAIL:</H5>*@
        </div>

    </div>
    <div class="col-md-12">
 
            <div class="portlet portlet-fit portlet-form">
                <div class="portlet-body">
                    <div id="infoConfirm">
                        <div class="form-horizontal">
                            <div class="form-group note note-info" style="display:none;background-color: rgba(0, 188, 212, 0.58);" id="confirmscheduleaction">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                    <h4>@Resources.NewsletterResource.Schedule</h4>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="input-group date form_datetime">
                                        <input type="text" size="16" readonly class="form-control col-md-3" id="datetimeSchedule">
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>*@
                                <div class="col-lg-3 col-md-5 col-sm-5">
                                    <div id="date-schedule-send-email" class="date-picker" data-date-format="mm/dd/yyyy"> </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <label>@Resources.SendsmsResource.time</label>
                                    <input class="form-control hide" id="time-schedule-send-email-basic" type="time" value=""/>
                                    <div class="col-lg-12 col-md-12 col-sm-12 nopading">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <select class="form-control " id="select-hour-schuedule"></select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <select class="form-control" id="select-minus-schuedule"></select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="info" class="form-group note note-info">
                                <div class="col-md-1">
                                    <img id="statementhod" src="" style="width:48px;" />
                                </div>
                                <div class="col-md-9">
                                    <h4>@Resources.NewsletterResource.Info</h4>
                                    <span><i class="fa fa-angle-double-right"></i> @Resources.NewsletterResource.MenthodSendCampaign<span id="confirmmenthod"></span></span><br />
                                    <div id="emailmenthod" style="display:none;">
                                        <span><i class="fa fa-angle-double-right"></i> @Resources.NewsletterResource.InfoEmailSend <span id="confirmsender"></span> <span id="confirmemailsend"></span></span><br />
                                        <span><i class="fa fa-angle-double-right"></i> @Resources.NewsletterResource.InfoEmailReply <span id="confirmreply"></span></span><br />
                                        @*<span><i class="fa fa-angle-double-right"></i> Footer: </span><br /> <span id="confirmfooter"></span>*@
                                    </div>
                                </div>
                                <div class="col-md-2 text-right">
                                    <a id="confirmeditsetting" class="btn btn-xs green-jungle-stripe default"><i class="fa fa-pencil"></i> @Resources.NewsletterResource.Edit</a>
                                </div>
                            </div>
                            <div id="info" style="position: relative" class="info-money-beforesend form-group note note-info">
                                <img id="img-loading-money-beforesend"  src="~/assets/global/img/loading-spinner-blue.gif" />
                                <div class="col-md-1">
                                    <img id="statemoney" src="" style="width:48px;" />
                                </div>
                                <div class="col-md-11" id="confirmmoney">
                                    <div id="sendmoment" class="hide col-md-12 nopading">
                                        <div id="costsms" style="padding-top:10px;" class="col-md-7 col-sm-7 hide">
                                            <div class="text-left">
                                                <h4 class="row-money-info">@Resources.NewsletterResource.SendSms</h4>

                                            </div>
                                             <table style="width:100%">
                                                <tr>
                                                    <td colspan="3">
                                                        <h5 class="row-money-info"> <span>@Resources.NewsletterResource.MessageLength</span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="messagelength">0</span><span> SMS</span></h5>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <td>
                                                        <h5 class="row-money-info"> <span>Vietel</span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="CostPerSMSViettel">0</span><span> VNĐ/SMS</span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="SMSViettelCount">0</span><span> <i class="fa fa-user font-grey-gallery"></i></span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="SMSViettelTotal">0</span><span> VNĐ</span></h5>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5 class="row-money-info"> <span>Mobifone</span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="CostPerSMSMobi">0</span><span> VNĐ/SMS</span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="SMSMobiCount">0</span><span> <i class="fa fa-user font-grey-gallery"></i></span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="SMSMobiTotal">0</span><span> VNĐ</span></h5>
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5 class="row-money-info"> <span>Vinaphone</span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="CostPerSMSVina">0</span><span> VNĐ/SMS</span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="SMSVinaCount">0</span><span> <i class="fa fa-user font-grey-gallery"></i></span></h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info"> <span class="font-red" id="SMSVinaTotal">0</span><span> VNĐ</span></h5>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                     <td>
                                                         <h5 class="row-money-info"> <span>@Resources.NewsletterResource.OtherNetworks</span></h5>
                                                     </td>
                                                     <td>
                                                         <h5 class="row-money-info"> <span class="font-red" id="CostPerSMS">0</span><span> VNĐ/SMS</span></h5>
                                                     </td>
                                                     <td>
                                                         <h5 class="row-money-info"> <span class="font-red" id="SMSAnotherCount">0</span><span> <i class="fa fa-user font-grey-gallery"></i></span></h5>
                                                     </td>
                                                     <td>
                                                         <h5 class="row-money-info"> <span class="font-red" id="SMSAnotherTotal">0</span><span> VNĐ</span></h5>
                                                     </td>
                                                 </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <h5 class="row-money-info">
                                                            <span>@Resources.NewsletterResource.TotalSendSMS</span>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info">
                                                            <span class="font-red" id="SMSTotalCost">0</span><span> VNĐ</span>
                                                        </h5>
                                                    </td>
                                                </tr>
                                            </table>
                                           
                                        </div>
                                        <div id="costemail" style="padding-top:10px;" class="col-md-5 col-sm-5 hide">
                                            <div class="text-left">
                                                <h4 class="row-money-info">@Resources.NewsletterResource.SendEmail</h4>
                                            </div>
                                            <div id="noquota-moment" class="hide">
                                                <table style="width:100%;">
                                                    
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>@Resources.NewsletterResource.CostPerEmail </span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span class="font-red" id="costperemail">0</span><span> VNĐ/Email</span>
                                                            </h5>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>@Resources.NewsletterResource.TotaQuota </span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span id="total-quota-after" class="font-red">0</span><span> Email</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">

                                                                <span>@Resources.NewsletterResource.Recipient</span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">

                                                                <span class="font-red" id="totalemailsend">0</span><span> @Resources.NewsletterResource.People</span>
                                                            </h5>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span> @Resources.NewsletterResource.TotalSendEmail </span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span class="font-red" id="totalcostemail">0</span><span> VNĐ</span>
                                                            </h5>
                                                        </td>

                                                    </tr>
                                                </table>





                                            </div>

                                        </div>
                                        <div id="totalmoney" style="padding-top:20px;" class="hide col-md-12 col-sm-12">
                                            <div class="text-left">
                                                <h4 class="row-money-info">@Resources.NewsletterResource.TotalCost</h4>
                                            </div>
                                            <table style="width:50%;margin:0 auto;">
                                                
                                                <tr>
                                                    <td>
                                                        <h5 class="row-money-info">
                                                            <span>@Resources.NewsletterResource.TotalPay </span>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info">
                                                            <span id="totalcost" style="color:red">0</span><span> VNĐ</span>
                                                        </h5>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5 class="row-money-info">
                                                            <span>@Resources.NewsletterResource.CurrentAmount </span>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info">
                                                            <span id="currentbalance" style="color:red">0</span><span> VNĐ</span>
                                                        </h5>
                                                    </td>

                                                </tr>
                                            </table>



                                        </div>

                                    </div>
                                    @*<div id="sendschedule" class="col-md-12 nopading hide">
                                        <div id="costsms" style="padding-top:10px;" class="hide col-md-6 col-sm-6">
                                            <div>

                                                <div class="text-left">
                                                    <h4 class="row-money-info">@Resources.NewsletterResource.SendSms</h4>
                                                </div>
                                                <table style="width:100%">
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                               <span>Số tiền trên 1 sms</span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span class="font-red" id="costpersms">0</span><span> vnđ/sms</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>Độ dài tin nhắn</span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                               <span class="font-red" id="messagelength">0</span><span> sms</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>@Resources.NewsletterResource.Recipient </span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span class="font-red" id="totalsmssend">0</span><span> người</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>Tổng tiền gửi email </span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                               <span class="font-red" id="totalcostsms">0</span><span> vnđ</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                </table>
                                               
                                               
                                                
                                           
                                                
                                                
                                              
                                            </div>
                                        </div>
                                        <div id="costemail" style="padding-top:10px;" class="hide col-md-6 col-sm-6" >
                                            <div class="text-left">
                                            <h4 class="row-money-info">@Resources.NewsletterResource.SendEmail</h4>
                                                </div>
                                            <div id="noquota-schedule" class="hide">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>@Resources.NewsletterResource.CostPerEmail </span>
                                                            </h5>

                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span class="font-red" id="costperemail">0</span><span> vnđ/email</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>@Resources.NewsletterResource.TotaQuota </span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span id="total-quota-after" class="font-red">0</span><span> email</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span>Người nhận</span>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                               <span class="font-red" id="totalemailsend">0</span><span> người</span>
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                   
                                                    <tr>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                                <span> Tổng tiền gửi email</span> 
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="row-money-info">
                                                               <span class="font-red" id="totalcostemail">0</span><span> vnđ</span>
                                                            </h5>
                                                        </td>
                                                    </tr>

                                                </table>

                                              
                                             
                                               
                                               
                                             
                                            </div>

                                        </div>
                                        <div id="totalmoney" style="padding-top:20px;" class="col-md-12 col-sm-12 hide">
                                            <div class="text-left">
                                                <h4 class="row-money-info">@Resources.NewsletterResource.TotalCost</h4>
                                            </div>
                                             <table style="width:50%;margin:0 auto;">
                                                
                                                <tr>
                                                    <td>
                                                        <h5 class="row-money-info">
                                                            <span>@Resources.NewsletterResource.TotalPay </span>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <h5 class="row-money-info">
                                                          <span id="totalcost" style="color:red">2</span><span> vnđ</span>
                                                        </h5>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                     <td>
                                                         <h5 class="row-money-info">
                                                             <span>@Resources.NewsletterResource.CurrentAmount </span>
                                                         </h5>
                                                     </td>
                                                     <td>
                                                         <h5 class="row-money-info">
                                                             <span id="currentbalance" style="color:red">0</span><span> vnđ</span>
                                                         </h5>
                                                     </td>
                                                 </tr>
                                                
                                            </table>
                                           
                                            
                                           
                                        </div>
                                    </div>*@
                                    <div id="not-enough-money-send" class="text-center col-md-12" style="display:none;padding-top:20px;">
                                        <h5 class="font-blue bold"><i class="fa fa-ban"></i> @Resources.NewsletterResource.NotEnoughMoney</h5>
                                    </div>
                                </div>
                                
                            </div>
                            <div id="info" class="info-recipient-beforesend form-group note note-info">
                                <div class="col-md-1">
                                    <img id="staterecipient" src="" style="width:48px;" />
                                </div>
                                <div class="col-md-9">
                                    <h4>@Resources.NewsletterResource.Recipient</h4>
                                    <span><i class="fa fa-angle-double-right"></i> @Resources.NewsletterResource.RecipientSend <span id="confirmrecipient"></span> <a id="confirmcountemail"></a> <a id="confirmcountsms"></a></span>
                                </div>
                                <div class="col-md-2 text-right">
                                    <a id="confirmeditrecipient" class="btn btn-xs green-jungle-stripe default"><i class="fa fa-pencil"></i> @Resources.NewsletterResource.Edit</a>
                                </div>
                            </div>
                            <div id="info" class="info-content-beforesend form-group note note-info">
                                <div class="col-md-1">
                                    <img id="statemessage" src="" style="width:48px;" />
                                </div>
                                <div class="col-md-9" id="confirmmessage">
                                    <h4>@Resources.NewsletterResource.Content</h4>
                                    <span id="emailmenthodcontent" class="hide">
                                        <i class="fa fa-angle-double-right"></i>
                                        <span id="confirmistemplate"></span>
                                        <span id="confirmtemplate"></span>
                                        <span id="confirmemailnull"></span>
                                    </span><br />
                                    <span id="smsmenthod" class="hide">
                                        <i class="fa fa-angle-double-right"></i>
                                        <span id="confirmsmslength"></span>
                                        <span id="smslength"></span>
                                        <span id="confirmesmsnull"></span>

                                    </span>
                                </div>
                                <div class="col-md-2 text-right">
                                    <a id="confirmeditcontent" class="btn btn-xs green-jungle-stripe default"><i class="fa fa-pencil"></i> @Resources.NewsletterResource.Edit</a>
                                </div>
                            </div>

                        
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
        
    </div>


<div class="modal fade " id="modelConfirmSend" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>@Resources.NewsletterResource.WarningTitleSend</p>
                <h4 class="bold">@Resources.NewsletterResource.WarningSend</h4>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm default btn-outline font-grey-gallery" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" id="btnConfirmSave" class="btn btn-sm btn green-jungle"> @Resources.NewsletterResource.yescontinue</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="modelSendTest" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.NewsletterResource.SendTest</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="email-send-test-campaign" autofocus placeholder="@Resources.NewsletterResource.Titlesendtest"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i> @Resources.NewsletterResource.Close</button>
                <button type="button" id="btnConfirm-Send-Test" class="btn btn-sm green-jungle"><i class="fa fa-send"></i> @Resources.NewsletterResource.SendTest</button>
            </div>
        </div>
    </div>
</div>
<!--modal preview-->
<div id="modalPreviewEmailBeforeSend" style="display:none; position: fixed; height: 100vh; top:0; left: 0px; right: 0px; z-index: 9999; background:grey;">

    <div >
        <div class="clearfix custom-preview-header">
            <a class="item-preview-email" id="item-preview-email-desktop">
                Desktop
                <i class="fa fa-desktop"></i>
            </a>
            <a class="item-preview-email" >
                <i class="glyphicon glyphicon-option-vertical"></i>
            </a>
            <a class="item-preview-email" id="item-preview-email-mobile">
                Mobile
                <i class="fa fa-mobile-phone"></i>
            </a>
            <a id="btClosePreviewEmailContent" style="margin-top:10px;display:block" class="btn-circle btn-sm btn-default pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div id="formSetting">
            <div class="form-horizontal">
                
                <div class="bg-success-mobile" >
                  <div id="content-mobile-preview" class="scroller" style="height: 480px;border: 1px solid #C1C1C1;" data-always-visible="1" data-rail-visible="0">
                       <iframe id="iframepreviewmobile"  frameBorder="0"  style="width: 320px;" scrolling="no" src="about:blank"></iframe>
                   </div>
                </div>
                <div  class="bg-success-desktop" style="display:none" >
                    <div id="content-desktop-preview-email" class="scroller" style="border: 1px solid #C1C1C1;" data-always-visible="1" data-rail-visible="0"></div>

                </div>
            </div>
        </div>
    </div>


</div>

<!--end modal preview-->
<script type="text/javascript">
    $(document).ready(function () {

        //loading
        $('#divLoading').show();

        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            HaveError: '@Html.Raw(Resources.NewsletterResource.notifyHaveError)',
            RecipientEmail: '@Html.Raw(Resources.NewsletterResource.RecipientEmail)',
            RecipientSMS: '@Html.Raw(Resources.NewsletterResource.RecipientSMS)',
            EmailFormat: '@Html.Raw(Resources.NewsletterResource.EmailFormat)',
            NotSetting: '@Html.Raw(Resources.NewsletterResource.NotSetting)',
            Yes: '@Html.Raw(Resources.NewsletterResource.Yes)',
            No: '@Html.Raw(Resources.NewsletterResource.No)',
            ShowUnsubcribe: '@Html.Raw(Resources.NewsletterResource.ShowUnsubcribe)',
            SentCampaignSuccess: '@Html.Raw(Resources.NewsletterResource.notifySentCampaignSuccess)',
            SentCampaignError: '@Html.Raw(Resources.NewsletterResource.notifySentCampaignError)',
            ScheduleCampaignError: '@Html.Raw(Resources.NewsletterResource.notifyScheduleCampaignError)',
            ScheduleCampaignSuccess: '@Html.Raw(Resources.NewsletterResource.notifyScheduleCampaignSuccess)',
            SelectDateScheduleError: '@Html.Raw(Resources.NewsletterResource.notifySelectDateScheduleError)',
            SelectRecipientError: '@Html.Raw(Resources.NewsletterResource.notifySelectRecipientError)',
            EmailContentError: '@Html.Raw(Resources.NewsletterResource.notifyEmailContentError)',
            MoneyError: '@Html.Raw(Resources.NewsletterResource.notifyMoneyError)',
            SMSContentError: '@Html.Raw(Resources.NewsletterResource.notifySMSContentError)',
            SelectTimeError: '@Html.Raw(Resources.NewsletterResource.SelectTimeError)',
            SelectDayError: '@Html.Raw(Resources.NewsletterResource.SelectDayError)',
            SendTestSuccess: '@Html.Raw(Resources.NewsletterResource.SendTestSuccess)',
            SendTestError: '@Html.Raw(Resources.NewsletterResource.SendTestError)',
            EmailIsRequire: '@Html.Raw(Resources.NewsletterResource.notifyEmailReciveRequired)',
            EmailFormatError: '@Html.Raw(Resources.NewsletterResource.notifyEmailFormatError)',
            MessageLength: '@Html.Raw(Resources.NewsletterResource.MessageLength)',
            NoEmailContact: '@Html.Raw(Resources.NewsletterResource.NoEmailContact)',
            NoSMSContact: '@Html.Raw(Resources.NewsletterResource.NoSMSContact)',


        }



        var CampaignId = '@ViewBag.CampaignId';

        emailconfirm_Action(apiDomain, access_token, CampaignId, message);

    });
    jQuery(function ($) {
        var lastHeight = 0, curHeight = 0, $frame = $('iframe:eq(0)');
        setInterval(function () {
            curHeight = $frame.contents().find('body').height();
            if (curHeight != lastHeight) {
                $frame.css('height', (lastHeight = curHeight) + 'px');
            }
        }, 500);
    });
</script>



      
