﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleEmailContent;
}
@section JS{
   
    <script src="@Url.Content("~/Scripts/sms_counter.js")?@ViewBag.JsPara"></script>
    <script src="@Url.Content("~/Scripts/Newsletters/emailcontent.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Newsletters/partialcontent.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Newsletters/partialsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
   
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a id="pagetitleBasicCampaign"><span>@Resources.PagetitleResource.pagetitleBasicCampaign</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b> <span>@Resources.PagetitleResource.pagetitleEmailContent</span></b>
        </li>
    </ul>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-md-12">
        <div class="mt-element-step">
            <div class="row step-no-background-thin">
                <a id="colSetting" class="col-md-3 mt-step-col first done">
                    <div class="mt-step-number bg-white">1</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estSetting</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaSetting</div>
                </a>
                <a id="colContent" class="col-md-3 mt-step-col active">
                    <div class="mt-step-number bg-white">2</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estContent</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaContent</div>
                </a>
                <a id="colRecipient" class="col-md-3 mt-step-col step-thin">
                    <div class="mt-step-number bg-white">3</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estRecipient</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaRecipient</div>
                </a>
                <a id="colConfirm" class="col-md-3 mt-step-col last">
                    <div class="mt-step-number bg-white">4</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estConfirm</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaConfirm</div>
                </a>
            </div>
        </div>
    </div>



    <div id="divRedirect" class="col-md-12 col-sm-12">


        <button type="reset" id="btnContentBack" class="btn btn-sm yellow-gold">
            <i class="icon-action-undo"></i>@Resources.NewsletterResource.Previous
        </button>
        <button id="btnContentSave" class="btn btn-sm blue">
            <i class="fa fa-save"></i>@Resources.NewsletterResource.Save
        </button>
        <button id="btnContentNext" class="btn btn-sm green-jungle">
            <i class="icon-action-redo"></i>@Resources.NewsletterResource.NextAndSave
        </button>



    </div>


    <div class="col-md-12 col-sm-12 nopading">
        <div class="basiccontent">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li id="li-tab-content-email" class="active" style="display: none;">
                        <a href="#tab_contentemail" data-toggle="tab">@Resources.NewsletterResource.contentemail </a>
                    </li>
                    <li id="li-tab-content-sms" class="" style="display: none;">
                        <a href="#tab_contentsms" data-toggle="tab">@Resources.NewsletterResource.SmsContent</a>
                    </li>
                </ul>
                <div class="tab-content" style="padding:10px;">
                    <div class="tab-pane active" id="tab_contentemail">
                        
                        @{Html.RenderAction("PartialContent", "BasicCampaign");}

                    </div>
                    <div class="tab-pane" id="tab_contentsms">
                        <div id="basic-sms-content">
                            <!-- BEGIN Portlet PORTLET-->
                            <div class="portlet box" id="basicsmscontent">
                               
                                <div class="portlet-body">
                                    <div>
                                        <div class="form-group">

                                            <div class="col-md-12 nopading">
                                                @*<label class="col-md-2 col-md-offset-2 control-label" for="form_control_1">@Resources.NewsletterResource.TypeSMS</label>*@
                                                <div class="md-radio-list pull-left">
                                                    <div class="md-radio" id="select-smstype">
                                                        <input name="smstype" class="md-radiobtn" id="smstypebasic" type="radio" value="1" checked>
                                                        <label for="smstypebasic">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @Resources.NewsletterResource.SMSBacsic (@Resources.SendsmsResource.Efficiency 40-70%)
                                                        </label>
                                                    </div>
                                                    <div class="md-radio" id="select-brandname-type">
                                                        <input name="smstype" class="md-radiobtn" id="smstypeadvanced" type="radio" value="2">
                                                        <label for="smstypeadvanced">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @Resources.NewsletterResource.SMSBrand (@Resources.SendsmsResource.Efficiency 85-95%)
                                                        </label>
                                                        <label id="sms-brand-name" class="hide" style="padding-left:30px;">
                                                            <select id="select-brandname"></select>
                                                            <label style="padding-left:30px;padding-top:5px;display:none;" id="register-brandname">
                                                                <a class="btn btn-xs green-jungle" data-toggle="modal" data-target="#modal-register-brandname-sms" href="~/View/RegBrandName">@Resources.SendsmsResource.Register</a>
                                                            </label>
                                                        </label>
                                                    </div>
                                                    <div class="md-radio" id="select-gateway-type">
                                                        <input name="smstype" class="md-radiobtn" id="smstypegateway" type="radio" value="3">
                                                        <label for="smstypegateway">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @Resources.NewsletterResource.SMSGateway
                                                        </label>
                                                        <label class="font-yellow-gold" style="padding-left:5px;">(@Resources.SendsmsResource.Suggest)</label>
                                                        <label id="sms-gateway-name" class="hide" style="padding-left:30px;">
                                                            <select id="select-gatewayid"  style="min-width:150px;"></select>
                                                            @*<select id="select-gatewayid-vina"></select>
                                                            <select id="select-gatewayid-viettel"></select>*@
                                                            <label><a target="_blank" href="/Account/UserProfile#FromMobile"><i class="fa fa-cog"></i> @Resources.SendsmsResource.UpdateConfigurationSent </a></label>
                                                        </label>
                                                    </div>

                                                </div>
                                                


                                            </div>
                                            <div class="col-md-12 padding-tb-10" id="sms-note-content">
                                                <div style="margin-top:10px;margin-bottom:10px;">
                                                    <span class="label label-danger">@Resources.SendsmsResource.Note</span>
                                                    <p class="margin-top-10" style="margin-bottom:0;">
                                                        <span id="note-send-webapp" class="font-red"><b>@Resources.SendsmsResource.PerformanceSend <span id="Performance-sendsms"></span>, @Resources.SendsmsResource.PerformanceSendTo</b></span>
                                                        <span style="display:none;" class="font-red" id="note-send-getway"><b>@Resources.SendsmsResource.NoteGateway</b></span>
                                                        <div id="divsmsservice" style="display:none;">
                                                            <span class="font-yellow-gold bold" id="smsserviceenable" style="display:none;">@Resources.SendsmsResource.Current <span id="smsserviceenable-detail"></span> @Resources.SendsmsResource.DetailSMSEnable</span><br />
                                                        </div>
                                                    </p>
                                                    <span class="margin-top-10">@Html.Raw(Resources.SendsmsResource.NoteContent)</span>
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <div class="editor-label">
                                                <div class="col-md-6  col-sm-6 col-xs-6 nopading">
                                                    <div class="md-radio-inline" style="margin:0;padding:5px 0">
                                                        <div class="md-radio has-warning" id="select-sms-input-khongdau">
                                                            <input name="smsinputtype" class="md-radiobtn" id="smskhongdau" type="radio" value="1" checked>
                                                            <label for="smskhongdau" class="font-yellow-gold">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span> @Resources.SendsmsResource.SMSKhongdau
                                                            </label>
                                                        </div>
                                                        <div class="md-radio has-warning" id="select-sms-input-codau" style="display:none;">
                                                            <input name="smsinputtype" class="md-radiobtn" id="smscodau" type="radio" value="2">
                                                            <label for="smscodau" class="font-yellow-gold">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span> @Resources.SendsmsResource.SMSCodau
                                                            </label>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4 text-left" id="div-personalize-subject-sms" style="max-width:250px;">
                                                    <i class="fa fa-user"></i>
                                                    <a id="add-personalize-subject-sms">@Resources.NewsletterResource.emailpersonalize </a>
                                                </div>
                                            </div>
                                            <div class="editor-field">
                                                <textarea id="Message" style="width:100%;padding:5px;" rows="5"></textarea>
                                            </div>
                                            <div id="MsgLengthCount" style="text-align:center;">
                                                <span style="color: #8EBC00">0</span> @Resources.Resource.smsCharacter = <span style="color: #E84444">0</span> @Resources.Resource.smsMessage
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- END Portlet PORTLET-->
                            @*</div>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    

</div>
   

<div class="modal fade " id="editcontentemail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.NewsletterResource.contentemail</h4>
            </div>
            <div class="modal-body">
                <div id="divAction">
                    <input id="insertImage" type="file" style="display:none" accept="image/x-png, image/jpeg">
                </div>
                <div name="summernote" id="contentInput"> </div>
            </div>
            <div class="modal-footer" style="padding-top:0;">
                <button type="button" class="btn btn-sm dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm green-jungle"  id="btnsaveemailcontent">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-warning-before-reset-email" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">

                <p>@Resources.NewsletterResource.inforeset</p>
                <h4 class="bold">@Resources.NewsletterResource.requestcontinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn btn-sm default btn-outline font-grey-gallery" id="confirm-reset-emailcontent">@Resources.NewsletterResource.yescontinue </button>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="modal-warning-before-change-html" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">

                <p>
                    @Resources.NewsletterResource.infoedit

                </p>
                <h4 class="bold">@Resources.NewsletterResource.requestcontinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn btn-sm default btn-outline" id="confirm-change-html-emailcontent">@Resources.NewsletterResource.yescontinue</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal-warning-delete-template" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">

                <p>
                    @Resources.NewsletterResource.infoedittemp

                </p>
                <h4 class="bold">@Resources.NewsletterResource.requestcontinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn default btn-outline font-grey-gallery"  id="confirm-delete-email-template">@Resources.NewsletterResource.yescontinue</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal-create-template-htm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tạo template</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="template-name">
                            @Resources.NewsletterResource.TemplateName
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="" name="name" id="template-name">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">
                                @Resources.NewsletterResource.EnterTemplateName
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="template-subject">
                            @Resources.NewsletterResource.Subject
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="" name="desciption" id="template-subject">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">@Resources.NewsletterResource.EnterSubject</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.NewsletterResource.Close</button>
                <button type="button" class="btn btn-sm green-jungle" id="confirm-create-template"><i class="fa fa-save"></i>@Resources.NewsletterResource.createtemplate</button>
            </div>

        </div>
    </div>
</div>

<div id="modalLoadEmailBuilderContent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 9999;background:white;">

    <div class="row">
        <div class="col-md-12">
           
            <iframe id="iframe-emailbuilder" style="width: 100%;border: none;"></iframe>
        </div>
    </div>

</div>
<div id="modalLoadEmailEditorContent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 9999;background:white;">
    <div class="row">
        <div class="col-md-12">
            <iframe id="iframe-emaileditor" style="width:100%;border:none;"></iframe>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modal-register-brandname-sms" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/gridwookmark.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/wookmark.js")?@ViewBag.JsPara" type="text/javascript"></script>
<style>
    #template-email li img{
        width:100%;
    }
</style>
<script>

    var access_token = '@HttpContext.Current.Session["access_token"]';
    var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
    var apidBuilder = '@System.Configuration.ConfigurationManager.AppSettings["builder"]';
    var imgUrl = '@System.Configuration.ConfigurationManager.AppSettings["ServerImage"]';
    var userId = '@ViewBag.UserId';
    var CampaignId = '@ViewBag.CampaignId';
    var message = {
        LoadError: '@Html.Raw(Resources.NewsletterResource.notifyGetInfoError)',
        NoExistNewsLetterId: '@Html.Raw(Resources.NewsletterResource.notifyNoExistNewsLetterId)',
        SaveError: '@Html.Raw(Resources.NewsletterResource.notifySaveError)',
        SaveSuccess: '@Html.Raw(Resources.NewsletterResource.notifySaveSuccess)',
        Character: '@Html.Raw(Resources.NewsletterResource.smsCharacter)',
        MessageCount: '@Html.Raw(Resources.NewsletterResource.smsMessage)',
        Error: '@Html.Raw(Resources.NewsletterResource.smsMessageCharacter)',
        BrandName: '@Html.Raw(Resources.NewsletterResource.smsBrandNameNull)',
        HaveError: '@Html.Raw(Resources.NewsletterResource.HaveError)',
        CreateSuccess: '@Html.Raw(Resources.NewsletterResource.CreateSuccess)',
        DeleteSuccess: '@Html.Raw(Resources.NewsletterResource.notifyDeleteSuccess)',
        Select: '@Html.Raw(Resources.NewsletterResource.Select)',
        View: '@Html.Raw(Resources.NewsletterResource.View)',
        SMS: '@Html.Raw(Resources.SendsmsResource.SMS)',
        Character: '@Html.Raw(Resources.SendsmsResource.Character)',
        GetBrandNameError: '@Html.Raw(Resources.NewsletterResource.GetBrandNameError)',
        NoContentSMS: '@Html.Raw(Resources.NewsletterResource.NoContentSMS)',
        NoConfig: '@Html.Raw(Resources.SendsmsResource.NoConfig)',
        NoBrandName: '@Html.Raw(Resources.SendsmsResource.NoBrandName)',
        Note: '@Html.Raw(Resources.SendsmsResource.Note)',
        CalSMSNumber: '@Html.Raw(Resources.SendsmsResource.CalSMSNumber)',
        SMSNumberBrand: '@Html.Raw(Resources.SendsmsResource.SMSNumberBrand)',
        SMSNumerNomal: '@Html.Raw(Resources.SendsmsResource.SMSNumerNomal)',
        SMSNumberGetaway: '@Html.Raw(Resources.SendsmsResource.SMSNumberGetaway)',

    };
    jQuery(document).ready(function () {
        var IdAdd = 'Message'; //id input add persolinate
        emailcontent_ActionButton(apiDomain, apidBuilder, access_token, CampaignId, userId, IdAdd, imgUrl, message);
        partialsetting_Action(apiDomain, access_token, message);//addpersolinate

    });

</script>

<script>
    //đóng emailbuilder
    function listenMessage(msg) {
        $('#modalLoadEmailBuilderContent').hide();
        $('#modalLoadEmailEditorContent').hide();
        if (msg.data == 'ClosePopup') {
            emailcontent_CampaignInfo(apiDomain, access_token, CampaignId, imgUrl, message);
        }
    }

    if (window.addEventListener) {
        window.addEventListener("message", listenMessage, false);
    } else {
        window.attachEvent("onmessage", listenMessage);
    }
</script>


