﻿
@{
    ViewBag.Title = "Edit email content";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}

@section EmailBuilder{  
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet" type="text/css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js" type="text/javascript"></script>  
<script src="@Url.Content("~/Scripts/Newsletters/editemailcontent.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom-imgbtn-summernote.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" type="text/css" />
}

<div>
    <div >
        <div class="tool-editor-save" style="background: #2b3643;padding:5px;height:40px;">
            <img  src="~/Content/Images/favicon.png" class="pull-left" width="35" style="padding:2px;"/>
            <a id="close-edit-email-content" class="font-white btn btn-sm pull-right"><i class="fa fa-remove"></i> Thoát</a>
            <a id="btnsaveandexitemailcontent" class="font-white btn btn-sm pull-right"><i class="fa fa-save"></i>Lưu và đóng</a>
            <a id="btnsaveemailcontent" class="font-white btn btn-sm pull-right"><i class="fa fa-save"></i>@Resources.NewsletterResource.Save</a>
          
        </div>
        <div id="divAction">
            <input id="insertImage" type="file" style="display:none" accept="image/x-png, image/jpeg">
        </div>
        <div name="summernote" id="editemail_contentInput"> </div>
    </div>
</div>
<script>
$(document).ready(function () {
                EmailEditor.init();
                var access_token = '@HttpContext.Current.Session["access_token"]';
                var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
                var imgUrl = '@System.Configuration.ConfigurationManager.AppSettings["image"]';
                var userId = '@ViewBag.UserId';
                var message = {
                    LoadError: '@Html.Raw(Resources.NewsletterResource.notifyGetInfoError)',
                    NoExistNewsLetterId: '@Html.Raw(Resources.NewsletterResource.notifyNoExistNewsLetterId)'
                };
                var translate = {
                    Character: '@Html.Raw(Resources.Resource.smsCharacter)',
                    MessageCount: '@Html.Raw(Resources.Resource.smsMessage)'
                };
                editemailcontent_ActionButton(apiDomain, access_token, imgUrl, translate, message);
                editemailcontent_LoadInfo(message, translate);
            });


</script>

