﻿
@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleBasicCampaign;
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
    <script src="@Url.Content("~/Scripts/Newsletters/email.js")?@ViewBag.JsPara" type="text/javascript"></script>
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
                <i class="fa fa-circle"></i>
            
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleBasicCampaign</span></b>
        </li>
       
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">
                
                
                <div class="tools">

                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" id="btn-reload-tableCampaign" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
                <div class="col-sm-6" style="float:right">
                    <div class="clearfix">
                        <div class="tabbable-line" id="status-basic-campaign">
                            <ul class="nav nav-tabs">
                                @if (permission.IsParent)
                                {
                                <li id="sentstatus-basic">
                                    <a id="btnsentstatus-basic" href="#tabsend" data-toggle="tab"> @Resources.NewsletterResource.sent </a>
                                </li>
                                <li id="draftstatus-basic">
                                    <a id="btndraftstatus-basic" href="#tabdraft" data-toggle="tab"> @Resources.NewsletterResource.drafts </a>
                                </li>
                                }
                                else
                                {
                                    if (permission.RocketCampaign == 2)
                                    {
                                        <li id="sentstatus-basic">
                                            <a id="btnsentstatus-basic" href="#tabsend" data-toggle="tab"> @Resources.NewsletterResource.sent </a>
                                        </li>
                                        <li id="draftstatus-basic">
                                            <a id="btndraftstatus-basic" href="#tabdraft" data-toggle="tab"> @Resources.NewsletterResource.drafts </a>
                                        </li>
                                    }
                                    if (permission.RocketCampaign == 1)
                                    {
                                        <li id="sentstatus-basic">
                                            <a id="btnsentstatus-basic" href="#tabsend" data-toggle="tab"> @Resources.NewsletterResource.sent </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="actions" style="float:left">
                    @if (permission.IsParent)
                    {
                    <a class="btn-sm btn green-jungle" id="addNewsletter">
                        <i class="fa fa-plus" id="custom"></i>@Resources.NewsletterResource.emailAddnew
                    </a>
                    }
                    else
                    {
                        if (permission.RocketCampaign == 2)
                        {
                            <a class="btn-sm btn green-jungle" id="addNewsletter">
                                <i class="fa fa-plus" id="custom"></i>@Resources.NewsletterResource.emailAddnew
                            </a>
                        }
                    }
                </div>
            
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane" id="tabsend">
                        <div id="divAction">
                           
                            <div id="divAction-selectall">
                                <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                            </div>
                            <div id="divAction-selectall"  class="col-md-5 col-sm-6" style="padding-left:0px;">
                                <span><b>@Resources.NewsletterResource.SelectAll</b></span>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-5" style="height:25px;">
                                <div class="form-group form-md-line-input" id="divAction-Search">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="iconsearch">
                                            <i class="icon-magnifier"></i>
                                        </span>
                                        <input id="searchvalue" type="text" class="form-control  input-sm" placeholder="@Resources.NewsletterResource.SearchSentCampaign">
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group" id="btn-sort-sent" style="float:right;">
                                <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                                <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span id="title-btn-sort" sort="LastModifyDate" typesort="Descending">@Resources.NewsletterResource.LastModifyDate <span class="fa fa-sort-alpha-desc"></span></span>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    
                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="MessageName" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.MessageName
                                        
                                        </a>
                                    </li>
                                   
                                    <li role="presentation">
                                        <a role="menuitem"  class="menuitem" sort="LastModifyDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.LastModifyDate
                                          
                                        </a>
                                    </li>
                                   
                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.CreateDate
                                          
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-checkable" id="tableNewsLetter">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-sm-1 col-xs-1">
                                    </th>
                                    <th class="col-lg-6 col-md-4 col-sm-4 col-xs-4"></th>
                                    <th class="col-md-1 col-sm-1 col-xs-1 nopading"></th>
                                    <th class="col-lg-4 col-md-6 col-sm-6 col-xs-6"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane" id="tabdraft">
                        
                        <div id="divAction">
                            <div id="divAction-selectall">
                                <input name="select_all_draft" value="1" type="checkbox" id="select_all_draft" class="group-checkable">
                            </div>
                            <div id="divAction-selectall" class="col-md-5 col-sm-6" style="padding-left:0px;">
                                <span><b>@Resources.NewsletterResource.SelectAll</b></span>
                                <a id="btn-delete-draftcampaign" class="btn btn-xs btn-outline red hide"><i class="fa fa-remove"></i>@Resources.NewsletterResource.BtnDelete</a>

                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-5" style="height:25px;">
                                <div class="form-group form-md-line-input" id="divAction-Search">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="iconsearch">
                                            <i class="icon-magnifier"></i>
                                        </span>
                                        <input id="searchvalue-draft" style="border: none;padding-top: 0px;" type="text" class="form-control  input-sm" placeholder="@Resources.NewsletterResource.SearchDraftCampaign">
                                    </div>
                                </div>
                            </div>
                           
                            <div class="btn-group" id="btn-sort-draft" style="float:right;">
                                <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                                <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                    <span id="title-btn-sort" sort="LastModifyDate" typesort="Descending">@Resources.NewsletterResource.LastModifyDate <span class="fa fa-sort-alpha-desc"></span></span>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                   
                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="MessageName" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.MessageName
                                        
                                        </a>
                                    </li>
                                  
                                    <li role="presentation" >
                                        <a role="menuitem"  class="menuitem" sort="LastModifyDate" typesort="Descending"  tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.LastModifyDate
                                          
                                        </a>
                                    </li>
                                 
                                    <li role="presentation">
                                        <a role="menuitem"  class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.CreateDate
                                          
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-checkable" id="tableNewsLetterdraft">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="col-md-9 col-sm-8 col-xs-7"></th>
                                    <th class="col-md-3 col-sm-4 col-xs-5"></th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>  

<!--modal confirm xóa-->
<div class="modal fade bs-modal-sm" id="modal-confirm-delete-draft" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Resources.AdvancedCampaignResource.WarningDelete
                </p>
                <h4 class="bold">@Resources.AdvancedCampaignResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn green"  id="confirm-delete-draft">@Resources.NewsletterResource.yescontinue</button>
            </div>
        </div>
       
    </div>
   
</div>
<div class="modal fade bs-modal-sm" id="modal-confirm-delete-all-draft" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Resources.AdvancedCampaignResource.WarningDelete
                </p>
                <h4 class="bold">@Resources.AdvancedCampaignResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn green" id="confirm-delete-all-draft">@Resources.NewsletterResource.yescontinue</button>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="modal-preview-snapshot-email" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Nội dung email của chiến  dịch</h4>
            </div>
            <div class="modal-body text-center">
               <img id="img-preview-snapshot-email" style="max-width:500px;width:100%;cursor:zoom-out"/>
            </div>
            
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        //active menu
        $('#mnbasiccampaign').addClass('active');
        $('#mnbasiccampaign').children('a').append('<span class="selected"></span>');
        var tableId = "#tableNewsLetter";
        var tableIddraft = "#tableNewsLetterdraft";
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var dataUrl = "api/BasicCampaign/GetCampaignList";
        var file = "/Scripts/JsonDefineColumn/campaign.json";
        var filedraft = "/Scripts/JsonDefineColumn/campaigndraft.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));
        var columnDefinedraft = JSON.parse(custom_ReadTextFile(filedraft));
        var AdditionalParameters;
        var AdditionalParametersdraft;

        var searchvalue=$('#searchvalue').val();
        var searchvaluedraft=$('#searchvalue-draft').val();
        var typedraft = $('#btn-sort-daft  #title-btn-sort').attr('typesort');
        var sortvaluedraft = $('#btn-sort-daft  #title-btn-sort').attr('sort');

        var typesent = $('#btn-sort-sent  #title-btn-sort').attr('typesort');
        var sortvaluesent = $('#btn-sort-sent  #title-btn-sort').attr('sort');


        //mặt định isSent
        if (!localStorage.getItem('StatusBasicCampaign')) {
            localStorage.setItem('StatusBasicCampaign', 'IsSent');
        }

        var permissiontable=@Html.Raw(Json.Encode(permission));

        ///trang thái khi có sự kiện click thay đổi
        $('#btnsentstatus-basic').on('click', function () {
            Status = 'IsSent';
            localStorage.setItem('StatusBasicCampaign', Status);
            if (!$.fn.DataTable.isDataTable(tableId)) {
                global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height,row, messageTable, permissiontable);
            }
            //else {
            //    $(tableId).dataTable().fnDraw();
            //}

        });
        $('#btndraftstatus-basic').on('click', function () {
            Status = 'Draft';
            localStorage.setItem('StatusBasicCampaign', Status);
            if (!$.fn.DataTable.isDataTable(tableIddraft)) {
                global_DataTable(apiDomain, access_token, tableIddraft, dataUrl, columnDefinedraft, AdditionalParametersdraft, height,row, messageTable, permissiontable);

            }
            //else {
            //    $(tableIddraft).dataTable().fnDraw();
            //}

        });



        $('#btn-sort-draft  .menuitem ').on('click', function () {
            typedraft = $(this).attr('typesort');
            sortvaluedraft = $(this).attr('sort');

            var text = $(this).text();
            $('#btn-sort-draft #title-btn-sort').attr('sort', sortvaluedraft);
            $('#btn-sort-draft #title-btn-sort').attr('typesorts', typedraft);
            var html
            if (typedraft == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (typedraft == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#btn-sort-draft #title-btn-sort').text(text);
            $('#btn-sort-draft #title-btn-sort').append(html);


            $(tableIddraft).dataTable().fnDraw();
        });

        $('#btn-sort-sent  .menuitem ').on('click', function () {
            typesent = $(this).attr('typesort');
            sortvaluesent = $(this).attr('sort');

            var text = $(this).text();
            $('#btn-sort-sent #title-btn-sort').attr('sort', sortvaluesent);
            $('#btn-sort-sent #title-btn-sort').attr('typesorts', typesent);

            var html;
            if (typesent == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (typesent == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#btn-sort-sent #title-btn-sort').text(text);
            $('#btn-sort-sent #title-btn-sort').append(html);

            $(tableId).dataTable().fnDraw();
        });


        var timer;
        $('#searchvalue').keypress(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $('#searchvalue').val();
             
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });

        $('#searchvalue').keyup(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $('#searchvalue').val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });

        $('#searchvalue-draft').keypress(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                sortvaluedraft = $('#searchvalue-draft').val();
               
                $(tableIddraft).dataTable().fnDraw();
            }, 1000);
        });

        $('#searchvalue-draft').keyup(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                sortvaluedraft = $('#searchvalue-draft').val();
                $(tableIddraft).dataTable().fnDraw();
            }, 1000);
        });


        AdditionalParameters = function (data) {
            data.SortColumn = sortvaluesent;
            data.SortDirection = typesent;
            data.search['value'] = searchvalue;
            data.Status = "IsSent";
            App.blockUI({
                target: 'body',
                animate: true
            });
        }

        AdditionalParametersdraft = function (data) {
            data.SortColumn = sortvaluedraft;
            data.SortDirection = typedraft;
            data.search['value'] = sortvaluedraft;
            data.Status ='Draft';
            App.blockUI({
                target: 'body',
                animate: true
            });
        }

        var height = resizeTableBasicCampaign();

        var messageTable = {
            HasSchedule: '@Html.Raw(Resources.NewsletterResource.HasSchedule)',
            HasSent: '@Html.Raw(Resources.NewsletterResource.HasSent)',
            Modify: '@Html.Raw(Resources.NewsletterResource.Modify)',
            Cancelschedule: '@Html.Raw(Resources.NewsletterResource.CancelSchedule)',
            Preview: '@Html.Raw(Resources.NewsletterResource.Preview)',
            Reuse: '@Html.Raw(Resources.NewsletterResource.Reuse)',
            Viewreport: '@Html.Raw(Resources.NewsletterResource.Viewreport)',
            Editconfirm: '@Html.Raw(Resources.NewsletterResource.Editconfirm)',
            Editcontent: '@Html.Raw(Resources.NewsletterResource.Editcontent)',
            Editsetting: '@Html.Raw(Resources.NewsletterResource.Editsetting)',
            Editrecipient: '@Html.Raw(Resources.NewsletterResource.Editrecipient)',
            BtnSetting: '@Html.Raw(Resources.NewsletterResource.BtnSetting)',
            BtnContent: '@Html.Raw(Resources.NewsletterResource.BtnContent)',
            BtnRecipient: '@Html.Raw(Resources.NewsletterResource.BtnRecipient)',
            BtnConfirm: '@Html.Raw(Resources.NewsletterResource.BtnConfirm)',
            BtnCopy: '@Html.Raw(Resources.NewsletterResource.BtnCopy)',
            BtnPreview: '@Html.Raw(Resources.NewsletterResource.BtnPreview)',
            BtnReport: '@Html.Raw(Resources.NewsletterResource.BtnReport)',
            BtnDelete: '@Html.Raw(Resources.NewsletterResource.BtnDelete)',
            Tools: '@Html.Raw(Resources.NewsletterResource.Tools)',
            HaveError:'@Html.Raw(Resources.NewsletterResource.HaveError)',
            CancelCheduleError:'@Html.Raw(Resources.NewsletterResource.CancelCheduleError)',
        }

        var row = 10; //số dòng

        //biến trạng thái của campaign khi load từ local
        var Status
        if (localStorage.getItem('StatusBasicCampaign')) {
            Status = localStorage.getItem('StatusBasicCampaign');
            if (Status == 'IsSent') {
                $('#sentstatus-basic').addClass('active');
                $('#draftstatus-basic').removeClass('active');
                $('#tabsend').addClass('active');
                $('#tabdraft').removeClass('active');
                if (!$.fn.DataTable.isDataTable(tableId)) {
                    global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, row, messageTable,permissiontable);
                }


            }
            else if (Status == 'Draft') {
                $('#draftstatus-basic').addClass('active');
                $('#sentstatus-basic').removeClass('active');
                $('#tabsend').removeClass('active');
                $('#tabdraft').addClass('active');
                if (!$.fn.DataTable.isDataTable(tableIddraft)) {
                    global_DataTable(apiDomain, access_token, tableIddraft, dataUrl, columnDefinedraft, AdditionalParametersdraft, height,row, messageTable,permissiontable);

                }


            }
        }
        else if (!localStorage.getItem('StatusBasicCampaign')) {
            localStorage.setItem('StatusBasicCampaign', 'IsSent');
            $('#sentstatus-basic').addClass('active');
            $('#draftstatus-basic').removeClass('active');
            if (!$.fn.DataTable.isDataTable(tableId)) {
                global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height,row, messageTable,permissiontable);

            }

        }

        //sau khi reintialize thì không get dc data để thực hiện click trên bnt
        //$(window).resize(function () {
        //    height = resizeTableBasicCampaign();
        //    if (Status == 'IsSent') {

        //        $(tableId).dataTable().fnDestroy();
        //        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, messageTable);

        //    }
        //    else
        //    {
        //        $(tableIddraft).dataTable().fnDestroy();
        //        global_DataTable(apiDomain, access_token, tableIddraft, dataUrl, columnDefinedraft, AdditionalParametersdraft, height, messageTable);
        //    }

        //});

        var message = {
            GetInfoError: '@Html.Raw(Resources.NewsletterResource.notifyGetInfoError)',
            CancelScheduleSuccess: '@Html.Raw(Resources.NewsletterResource.notifyCancelScheduleSuccess)',
            CancelScheduleError: '@Html.Raw(Resources.NewsletterResource.notifyCancelScheduleError)',
            CancelScheduleWarning: '@Html.Raw(Resources.NewsletterResource.notifyCancelScheduleWarning)',
            DeleteSuccess: '@Html.Raw(Resources.NewsletterResource.notifyDeleteSuccess)',
            DeleteError: '@Html.Raw(Resources.NewsletterResource.notifyDeleteError)',
            CopyError: '@Html.Raw(Resources.NewsletterResource.notifyCopyError)',
            CopySuccess: '@Html.Raw(Resources.NewsletterResource.notifyCopySuccess)',
        };


        var ServerImage = '@System.Configuration.ConfigurationManager.AppSettings["ServerImage"]';

        email_Action(apiDomain, access_token, tableId, ServerImage, message);
        email_Action_Draft(apiDomain, access_token, tableIddraft, ServerImage, message);
        email_ReloadTable(tableId, tableIddraft);
    })

</script>

