﻿
@{
    ViewBag.Title = "NotHavePermission";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="col-md-12 page-500 text-center">
    <div class="number font-red text-right" style="font-size:100px;display:inline-block;">500</div>
    <div class="details text-center" style="text-align: left; display: inline-block;height: 120px;vertical-align: middle;">
        <h3>@Resources.NewsletterResource.notpermission</h3>
        
        
    </div>
</div>