﻿ <div class="col-md-12 col-sm-12">
    <div class="portlet light portlet-fit portlet-form" id="portletFormSetting">


        <div class="portlet-body">
            <!-- BEGIN FORM-->

            <div id="formSetting">
                <div class="form-horizontal">
                    <div class="form-group form-md-line-input">

                        <label for="title" class="col-md-3 control-label">
                            @Resources.NewsletterResource.campaignName
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="name" id="txtSettingName">
                            <span class="help-block">@Resources.NewsletterResource.campaignlNameInput </span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">@Resources.NewsletterResource.CampaignType<span class="required">*</span></label>
                        <div class="col-md-5">
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input type="checkbox" id="checkboxemail" class="md-check">
                                    <label for="checkboxemail">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.NewsletterResource.SendEmail
                                    </label>
                                </div>
                                <div class="md-checkbox" id="select-method-send-sms">
                                    <input type="checkbox" id="checkboxsms" class="md-check">
                                    <label for="checkboxsms">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.NewsletterResource.SendSms
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group form-md-line-input">

                        <label for="title" class="col-md-3 control-label">
                            @Resources.NewsletterResource.emailTitle
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="name" id="txtSettingSubject">
                            <span class="help-block">@Resources.NewsletterResource.emailInputtitle </span>
                        </div>
                        <div class="col-md-2 text-left" id="div-personalize-subject" style="max-width:200px;">
                            <i class="fa fa-user"></i>
                            <a id="add-personalize-subject">@Resources.NewsletterResource.emailpersonalize </a>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">

                        <label for="emailsend" class="col-md-3 control-label">
                            @Resources.NewsletterResource.emailEmailSend
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-5">
                            <select class="form-control col-md-5" id="txtSettingEmailSend"></select>
                        </div>
                        <div class="col-md-2 text-left" >
                            <a href="/Account/UserProfile#FromEmail" target="_blank">@Resources.NewsletterResource.AddNewFromEmail </a>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">

                        <label for="emailreply" class="col-md-3 control-label">
                            @Resources.NewsletterResource.emailEmailRecive
                            @*<span class="required">*</span>*@
                        </label>
                        <div class="col-md-5">
                            <select class="form-control col-md-5" id="txtSettingEmailReply">

                            </select>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" style="display:none;" id="no-have-fromemail">
                        <label for="emailreply" class="col-md-3 control-label">
                           
                        </label>
                        <div class="col-md-5 alert alert-danger text-center" style="padding:5px">
                            <span class="">@Resources.NewsletterResource.NoFromEmail <a class="btn btn-sm green-jungle" href="/Account/UserProfile#FromEmail" target="_blank"> @Resources.NewsletterResource.Create </a></span> 
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <a id="distributton" class="col-md-3 control-label hide" data-toggle="collapse" href="">@Resources.NewsletterResource.distributionsetting</a>
                        <div id="distributtonsetting" class="col-md-6 panel-collapse collapse">
                            <div class="panel-body">
                                <div class="click-through distribution">
                                    <span>@Resources.NewsletterResource.Permissionreminder </span><br />
                                    <input type="checkbox" checked class="make-switch" data-size="mini" id="txtSettingEmailpemission">
                                </div>

                                <div class="google-analytics distribution">
                                    <span>@Resources.NewsletterResource.Embebmailurl </span><br />
                                    <input type="checkbox" checked class="make-switch" data-size="mini" id="txtSettingEmailEmbed">
                                </div>
                                <div class="show-unsubcribe distribution">
                                    <span>@Resources.NewsletterResource.ShowUnsub</span><br />
                                    <input type="checkbox" checked class="make-switch" data-size="mini" id="txtSettingEmailUnsub">
                                </div>

                                <div class="ds-facebook distribution">
                                    <span>Facebook</span><br />
                                    <a class="btn btn-sm blue" id="btnSettingEmailFacebook">@Resources.NewsletterResource.Add</a>
                                </div>
                                <div class="ds-twitter distribution">

                                    <span>Twitter </span><br />
                                    <a class="btn btn-sm blue" id="btnSettingEmailTwitter">@Resources.NewsletterResource.Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll-to-botom"></div>
                </div>
            </div>

            <!-- END FORM-->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {}
        var IdAdd = 'txtSettingSubject'; //iput add persolinate
        partialsetting_Action(apiDomain, access_token, IdAdd, message);
    })
</script>

