﻿<div id="basic-email-content">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet box" id="basicemailcontent">

        <div class="portlet-body" id="portlet-create-email-content" style="padding-bottom:0;display:none;">
            <div>
                <div class="row">
                    <div class="pull-left" style="width:200px;padding:10px;padding-top:0;">
                        <ul class="nav nav-tabs tabs-left" id="tab-select-type-edit-email">
                            @*<li class="active">
                                <a href="#tab_emailbuilder" id="open-tab-email-builder" data-toggle="tab" style="font-weight:600;"><i class="fa fa-bars"></i> Email Builder </a>
                            </li>*@
                            <li class="active">
                                <a href="#tab_emaileditor" id="open-tab-email-editor" data-toggle="tab" style="font-weight:600;"><i class="fa fa-file-text"></i> Html Editor </a>
                            </li>
                            <li class="">
                                <a id="open-tab-my-template" href="#tab_emailmytemplate" data-toggle="tab" style="font-weight:600;"><i class="fa fa-file-image-o"></i> My Template </a>
                            </li>
                            <li class="">
                                <a id="open-tab-sys-template" href="#tab_emailsystemtemplate" data-toggle="tab" style="font-weight:600;"><i class="fa fa-newspaper-o"></i> Template </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="tab-content">
                            @*<div class="tab-pane active" id="tab_emailbuilder">
                                <div id="emailcontent ">
                                    <div id="click-to-create-email">
                                        <div class="type-input-content type-input-dragg">
                                            <a>
                                                <img class="btn imgecontentemail" src="~/Content/Images/mailbuilder.png" style="width:50%; max-width:100%" />
                                            </a>
                                            <div class="div-select-type-input">
                                                <a class="btn green-jungle"><i class="fa fa-bars"></i>@Resources.NewsletterResource.CreateByBuilder</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="tab-pane active" id="tab_emaileditor">
                                <div id="emailcontent ">
                                    <div id="click-to-create-email">
                                        <div class="type-input-content type-input-text">
                                            <a>
                                                <img class="btn imgecontentemail" src="~/Content/Images/texteditor.png" style="width:50%; max-width:100%" />
                                            </a>
                                            <div class="div-select-type-input">
                                                <a class="btn green-jungle"><i class="fa fa-file-text"></i>@Resources.NewsletterResource.CreateByEditor</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade" id="tab_emailmytemplate">
                                <!--cube my template-->
                                <div class="portfolio-con tent portfolio-1">
                                    <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                                    </div>
                                    <div id="content-scroll-template">
                                        <div id="js-grid-juicy-projects" class="cbp">

                                        </div>
                                        <div id="js-loadMore-juicy-projects" class="cbp-l-loadMore-button">
                                            <span id="warning-not-mytemplate" class="note note-info" style="display:none;">@Resources.NewsletterResource.Nopersonaltemplate </span>

                                            <a class="cbp-l-loadMore-link btn grey-mint btn-outline">
                                                <span class="cbp-l-loadMore-defaultText">@Resources.NewsletterResource.continous</span>
                                                <span class="cbp-l-loadMore-loadingText">@Resources.NewsletterResource.Loading</span>
                                                <span class="cbp-l-loadMore-noMoreLoading">@Resources.NewsletterResource.continous</span>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--end cube-->

                            </div>
                            <div class="tab-pane fade" id="tab_emailsystemtemplate">
                                <!--cube sys template-->
                                <div class="portfolio-con tent portfolio-1">
                                    <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                                    </div>
                                    <div id="content-scroll-sys-template">
                                        <div id="js-grid-sys-template" class="cbp">

                                        </div>
                                        <div id="js-loadMore-sys-template" class="cbp-l-loadMore-button">
                                            <span id="warning-not-systemplate" class="note note-info" style="display:none;">@Resources.NewsletterResource.Nosystemtemplate</span>
                                            <a class="cbp-l-loadMore-link btn grey-mint btn-outline">
                                                <span class="cbp-l-loadMore-defaultText">@Resources.NewsletterResource.continous</span>
                                                <span class="cbp-l-loadMore-loadingText">@Resources.NewsletterResource.Loading</span>
                                                <span class="cbp-l-loadMore-noMoreLoading">@Resources.NewsletterResource.continous</span>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--end cube-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body" id="porlet-edit-email-content" style="padding-bottom:0;display:none;">
            <div>
                <div class="row">
                    <div id="emailcontent">
                        <div id="load-content-email">
                            <div id="content-email-to-div" class="text-center" data-always-visible="1" data-rail-visible1="1">
                                <div style="width:200px;position:fixed" class="pull-left">
                                    <span>

                                        @*<a id="editbydragg" class="tools-on-emailcontent btn btn-sm green-jungle" title="@Resources.NewsletterResource.Edit"><i class="fa fa-pencil"></i>@Resources.NewsletterResource.Edit</a>*@

                                        <a id="tryeditbyinput" class="tools-on-emailcontent btn btn-sm blue" title="@Resources.NewsletterResource.EditbyHtmlEditor"><i class="fa fa-code"></i>Html Editor</a>


                                        <a id="editbyinput" class="tools-on-emailcontent btn btn-sm green-jungle" title="@Resources.NewsletterResource.Editcontent"><i class="fa fa-pencil"></i>@Resources.NewsletterResource.Edit</a>

                                        <a id="createtemplate" class="tools-on-emailcontent btn btn-sm blue " title="@Resources.NewsletterResource.createtemplate"><i class="fa fa-file-image-o"></i>@Resources.NewsletterResource.SaveAsTemplate</a>

                                        <a id="resetallcontent" class="tools-on-emailcontent btn btn-sm yellow-gold " title="@Resources.NewsletterResource.resetcontent"><i class="icon-refresh"></i>Reset</a>



                                    </span>
                                </div>
                                <div class="pull-left text-left" id="div-img-snapshot-content-email" style="margin-left:200px;">
                                    <img id="img-snapshot-content-email" style="width:auto; max-width:100%" />
                                </div>

                            </div>
                            <div style="position: absolute;left: 50%;top: 40%;">

                                <div class="img-loading-content" style="display:none;">
                                    <div class="wBall" id="wBall_1">
                                        <div class="wInnerBall"></div>
                                    </div>
                                    <div class="wBall" id="wBall_2">
                                        <div class="wInnerBall"></div>
                                    </div>
                                    <div class="wBall" id="wBall_3">
                                        <div class="wInnerBall"></div>
                                    </div>
                                    <div class="wBall" id="wBall_4">
                                        <div class="wInnerBall"></div>
                                    </div>
                                    <div class="wBall" id="wBall_5">
                                        <div class="wInnerBall"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END Portlet PORTLET-->
</div>

@*<div class="col-md-12 col-sm-12 nopading">
    <div class="basiccontent">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li id="li-tab-content-email" class="active">
                    <a href="#tab_contentemail" data-toggle="tab">@Resources.NewsletterResource.contentemail </a>
                </li>
                <li id="li-tab-content-sms" class="" style="display: none;">
                    <a href="#tab_contentsms" data-toggle="tab">@Resources.NewsletterResource.SmsContent</a>
                </li>
            </ul>
            <div class="tab-content" style="padding:10px;">
                <div class="tab-pane active" id="tab_contentemail">
                    <div id="basic-email-content">
                        <!-- BEGIN Portlet PORTLET-->
                        <div class="portlet box" id="basicemailcontent">
                           
                            <div class="portlet-body" id="portlet-create-email-content" style="padding-bottom:0;display:none;">
                                <div>
                                    <div class="row">
                                        <div class="pull-left" style="width:200px;padding:10px;padding-top:0;">
                                            <ul class="nav nav-tabs tabs-left" id="tab-select-type-edit-email">
                                                <li class="active">
                                                    <a href="#tab_emailbuilder" data-toggle="tab" style="font-weight:600;"><i class="fa fa-bars"></i> Email Builder </a>
                                                </li>
                                                <li class="">
                                                    <a href="#tab_emaileditor" data-toggle="tab" style="font-weight:600;"><i class="fa fa-file-text"></i> Html Editor </a>
                                                </li>
                                                <li class="">
                                                    <a id="open-tab-my-template" href="#tab_emailmytemplate" data-toggle="tab" style="font-weight:600;"><i class="fa fa-file-image-o"></i> My Template </a>
                                                </li>
                                                <li class="">
                                                    <a id="open-tab-sys-template" href="#tab_emailsystemtemplate" data-toggle="tab" style="font-weight:600;"><i class="fa fa-newspaper-o"></i> Template </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_emailbuilder">
                                                    <div id="emailcontent ">
                                                        <div id="click-to-create-email">
                                                            <div class="type-input-content type-input-dragg">
                                                                <a>
                                                                    <img class="btn imgecontentemail" src="~/Content/Images/mailbuilder.png" style="width:50%; max-width:100%" />
                                                                </a>
                                                                <div class="div-select-type-input">
                                                                    <a class="btn green-jungle"><i class="fa fa-bars"></i>@Resources.NewsletterResource.CreateByBuilder</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_emaileditor">
                                                    <div id="emailcontent ">
                                                        <div id="click-to-create-email">
                                                            <div class="type-input-content type-input-text">
                                                                <a>
                                                                    <img class="btn imgecontentemail" src="~/Content/Images/texteditor.png" style="width:50%; max-width:100%" />
                                                                </a>
                                                                <div class="div-select-type-input">
                                                                    <a class="btn green-jungle"><i class="fa fa-file-text"></i>@Resources.NewsletterResource.CreateByEditor</a>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                                <div class="tab-pane fade" id="tab_emailmytemplate">
                                                    <!--cube my template-->
                                                    <div class="portfolio-con tent portfolio-1">
                                                        <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                                                        </div>
                                                        <div id="content-scroll-template">
                                                            <div id="js-grid-juicy-projects" class="cbp">

                                                            </div>
                                                            <div id="js-loadMore-juicy-projects" class="cbp-l-loadMore-button">
                                                                <span id="warning-not-mytemplate" class="note note-info" style="display:none;">@Resources.NewsletterResource.Nopersonaltemplate </span>

                                                                <a class="cbp-l-loadMore-link btn grey-mint btn-outline">
                                                                    <span class="cbp-l-loadMore-defaultText">@Resources.NewsletterResource.continous</span>
                                                                    <span class="cbp-l-loadMore-loadingText">@Resources.NewsletterResource.Loading</span>
                                                                    <span class="cbp-l-loadMore-noMoreLoading">@Resources.NewsletterResource.continous</span>

                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end cube-->

                                                </div>
                                                <div class="tab-pane fade" id="tab_emailsystemtemplate">
                                                    <!--cube sys template-->
                                                    <div class="portfolio-con tent portfolio-1">
                                                        <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                                                        </div>
                                                        <div id="content-scroll-sys-template">
                                                            <div id="js-grid-sys-template" class="cbp">

                                                            </div>
                                                            <div id="js-loadMore-sys-template" class="cbp-l-loadMore-button">
                                                                <span id="warning-not-systemplate" class="note note-info" style="display:none;">@Resources.NewsletterResource.Nosystemtemplate</span>
                                                                <a class="cbp-l-loadMore-link btn grey-mint btn-outline">
                                                                    <span class="cbp-l-loadMore-defaultText">@Resources.NewsletterResource.continous</span>
                                                                    <span class="cbp-l-loadMore-loadingText">@Resources.NewsletterResource.Loading</span>
                                                                    <span class="cbp-l-loadMore-noMoreLoading">@Resources.NewsletterResource.continous</span>

                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end cube-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body" id="porlet-edit-email-content" style="padding-bottom:0;display:none;">
                                <div>
                                    <div class="row">
                                        <div id="emailcontent">
                                            <div id="load-content-email">
                                                <div id="content-email-to-div" class="text-center" data-always-visible="1" data-rail-visible1="1">
                                                    <div style="width:200px;position:fixed" class="pull-left">
                                                        <span>

                                                            <a id="editbydragg" class="tools-on-emailcontent btn btn-sm green-jungle" title="@Resources.NewsletterResource.Edit"><i class="fa fa-pencil"></i>Hiệu chỉnh</a>



                                                            <a id="tryeditbyinput" class="tools-on-emailcontent btn btn-sm blue" title="@Resources.NewsletterResource.EditbyHtmlEditor"><i class="fa fa-code"></i>Html Editor</a>


                                                            <a id="editbyinput" class="tools-on-emailcontent btn btn-sm green-jungle" title="@Resources.NewsletterResource.Editcontent"><i class="fa fa-pencil"></i>@Resources.NewsletterResource.Edit</a>

                                                            <a id="createtemplate" class="tools-on-emailcontent btn btn-sm blue " title="@Resources.NewsletterResource.createtemplate"><i class="fa fa-file-image-o"></i>@Resources.NewsletterResource.SaveAsTemplate</a>

                                                            <a id="resetallcontent" class="tools-on-emailcontent btn btn-sm yellow-gold " title="@Resources.NewsletterResource.resetcontent"><i class="icon-refresh"></i>Reset</a>



                                                        </span>
                                                    </div>
                                                    <div class="pull-left text-left" id="div-img-snapshot-content-email" style="margin-left:200px;">
                                                        <img id="img-snapshot-content-email" style="width:auto; max-width:100%" />
                                                    </div>

                                                </div>
                                                <div style="position: absolute;left: 50%;top: 40%;">
                                                 
                                                    <div class="img-loading-content" style="display:none;">
                                                        <div class="wBall" id="wBall_1">
                                                            <div class="wInnerBall"></div>
                                                        </div>
                                                        <div class="wBall" id="wBall_2">
                                                            <div class="wInnerBall"></div>
                                                        </div>
                                                        <div class="wBall" id="wBall_3">
                                                            <div class="wInnerBall"></div>
                                                        </div>
                                                        <div class="wBall" id="wBall_4">
                                                            <div class="wInnerBall"></div>
                                                        </div>
                                                        <div class="wBall" id="wBall_5">
                                                            <div class="wInnerBall"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                    </div>


                </div>
                <div class="tab-pane" id="tab_contentsms">
                    <div id="basic-sms-content">
                        <!-- BEGIN Portlet PORTLET-->
                        <div class="portlet box" id="basicsmscontent">
                         
                            <div class="portlet-body">
                                <div>
                                    <div class="form-group form-md-line-input">

                                        <div class="col-md-12 nopading">
                                           
                                            <div class="md-radio-inline pull-left">
                                                <div class="md-radio" id="select-smstype">
                                                    <input name="smstype" class="md-radiobtn" id="smstypebasic" type="radio" value="1" checked>
                                                    <label for="smstypebasic">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> @Resources.NewsletterResource.SMSBacsic
                                                    </label>
                                                </div>
                                                <div class="md-radio" id="select-brandname-type">
                                                    <input name="smstype" class="md-radiobtn" id="smstypeadvanced" type="radio" value="2">
                                                    <label for="smstypeadvanced">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> @Resources.NewsletterResource.SMSBrand
                                                    </label>

                                                </div>

                                            </div>
                                            <div id="sms-brand-name" class="pull-left hide" style="padding-left:10px;">
                                                <select class="form-control " id="select-brandname"></select>
                                            </div>


                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <span style="font-size:16px;">@Resources.Resource.smsContents</span>
                                        </div>
                                        <div class="editor-field">
                                            <textarea id="Message" style="width:100%;" rows="7"></textarea>
                                        </div>
                                        <div id="MsgLengthCount" style="text-align:center;">
                                            <span style="color: #8EBC00">0</span> @Resources.Resource.smsCharacter = <span style="color: #E84444">0</span> @Resources.Resource.smsMessage
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END Portlet PORTLET-->
                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>*@







