﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleEmailRecipient;
}
@section JS{
    <script src="@Url.Content("~/Scripts/Newsletters/emailrecipient.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Newsletters/selectcontact.js")?@ViewBag.JsPara" type="text/javascript"></script>
}


<style>
    .ms-container {
        width: 100%;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a id="pagetitleBasicCampaign"><span>@Resources.PagetitleResource.pagetitleBasicCampaign</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleEmailRecipient</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="mt-element-step">
        <div class="row step-no-background-thin">
            <a id="colSetting" class="col-md-3 mt-step-col first done">
                <div class="mt-step-number bg-white">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estSetting</div>
                <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaSetting</div>
            </a>
            <a id="colContent" class="col-md-3 mt-step-col done">
                <div class="mt-step-number bg-white">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estContent</div>
                <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaContent</div>
            </a>
            <a id="colRecipient" class="col-md-3 mt-step-col active">
                <div class="mt-step-number bg-white">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estRecipient</div>
                <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaRecipient</div>
            </a>
            <a id="colConfirm" class="col-md-3 mt-step-col last">
                <div class="mt-step-number bg-white">4</div>
                <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estConfirm</div>
                <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaConfirm</div>
            </a>
        </div>
    </div>
    <div class="col-md-12" id="divRedirect">


        <button type="reset" id="btnBack" class="btn btn-sm yellow-gold">
            <i class="icon-action-undo"></i>@Resources.NewsletterResource.Previous
        </button>
        <button id="btnRecipientSave" class="btn btn-sm blue">
            <i class="fa fa-save"></i>@Resources.NewsletterResource.Save
        </button>
        <button id="btnRecipientNext" class="btn btn-sm green-jungle">
            <i class="icon-action-redo"></i>@Resources.NewsletterResource.NextAndSave
        </button>


    </div>

    <div class="col-lg-12 col-md-12">

        <div class="portlet-body form" id="portletFormRecipient">
            <!-- BEGIN FORM-->
            <div class="form-group">

                <select multiple="multiple" class="multi-select" id="emailRecipient" name="emailRecipient[]"></select>

            </div>
        </div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12" id="info-select-recipient">

        <div style="text-align:center;padding:20px;font-size:20px;">
            <p>
                <span>@Resources.NewsletterResource.emailRecipientManual</span>
                <i class="icon-user"></i>
                <span id="countRecipient" style="display:none"></span>
                <img id="countRecipientLoad" src="@Url.Content("~/assets/layouts/layout/img/loading-spinner-blue.gif")" style="display:none" />
            </p>
            @*<div>
                    <a id="manualSelectContact" class="btn btn-outline yellow-gold">@Resources.NewsletterResource.emailRecitpientSelectContact</a>
                </div>*@

        </div>
    </div>
</div>



    @*modal*@
    <div class="modal fade bs-modal-lg" id="ajaxselectrecipient" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>

<script>

    $(document).ready(function () {
        $('#divLoading').show();
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]'

        var CampaignId = '@ViewBag.CampaignId';


        // SelectEmailRecipient.init();
        var message = {
            NoExistNewsLetterId: '@Html.Raw(Resources.NewsletterResource.notifyNoExistNewsLetterId)',
            NoSelectContactGroup: '@Html.Raw(Resources.NewsletterResource.NoSelectContactGroup)',
            HaveError: '@Html.Raw(Resources.NewsletterResource.notifyHaveError)',
            SaveSuccess: '@Html.Raw(Resources.NewsletterResource.notifySaveSuccess)',
            LoadContactListError: '@Html.Raw(Resources.NewsletterResource.LoadContactListError)',
        }

        emailrecipient_LoadGroup(apiDomain, access_token, CampaignId, message);

        resizeFormRecipient();
        emailrecipient_ActionButton(apiDomain, access_token, CampaignId, message);

    });


</script>    

