﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = @Resources.PagetitleResource.pagetitleReViewCampaign;
}
@section JS{
    <script src="@Url.Content("~/Scripts/Newsletters/emailreviewhistory.js")?@ViewBag.JsPara" type="text/javascript"></script>
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a id="pagetitleBasicCampaign" href="@Url.Content("~/BasicCampaign")">
                <span>@Resources.PagetitleResource.pagetitleBasicCampaign</span>
            </a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleReViewCampaign</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="margin-top-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                       @Resources.NewsletterResource.campaignName: <span id="divcampaignname" class="font-md"></span>
                    </div>
                    
                </div>
            </div>
            <div class="panel panel-default" id="panel-settingsms" style="display:none;">
                <div class="panel-heading bg-white font-md"> @Resources.NewsletterResource.InfoSMSSetting</div>
                <div class="panel-body">
                    <div id="divinfosmstype" style="display:none;">
                        @Resources.NewsletterResource.InfoSMSType: <span id="infosmstype"></span>
                    </div>
                    <div id="divinfogatewayname" style="display:none;">
                        Cấu hình : <span id="infogatewayname"></span>
                    </div>
                    <div  id="divinfobrandname" style="display:none;">
                        @Resources.NewsletterResource.BrandName : <span id="infobrandname"></span>
                    </div>

                </div>
            </div>
            <div class="panel panel-default" id="panel-settingemail" style="display:none;">
                <div class="panel-heading bg-white font-md">@Resources.NewsletterResource.InfoEmailSetting</div>
                <div class="panel-body">
                    <div>
                        @Resources.NewsletterResource.emailEmailSend: <span id="infofromname"></span> &lt;<span id="infofromemail"></span>&gt;
                    </div>
                    <div>
                        @Resources.NewsletterResource.emailEmailRecive: <span id="inforeplyemail"></span>
                    </div>
                    <div>
                        @Resources.NewsletterResource.Subject: <span id="infosubject"></span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel-contactgroup">
                <div class="panel-heading bg-white font-md"> @Resources.NewsletterResource.InfoContactGroupHasSent</div>
                <div class="panel-body">
                    <div id="divinfocontactgroup">
                       
                    </div>

                </div>
            </div>
            <div class="panel panel-default" id="panel-contentsms" style="display:none;">
                <div class="panel-heading bg-white font-md"> @Resources.NewsletterResource.InfoContentSMSSent</div>
                <div class="panel-body">
                    <div>
                        @Resources.NewsletterResource.Content: <span id="infosmscontent"></span>
                    </div>
                    <div>
                        @Resources.NewsletterResource.MessageLength : <span id="infosmslength"></span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel-content-email" style="display:none;">
                <div class="panel-heading bg-white font-md">@Resources.NewsletterResource.InfoContentEmailSent</div>
                <div class="panel-body">
                    <div id="infoemailcontent">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('#mnbasiccampaign').addClass('active');
        $('#mnbasiccampaign').children('a').append('<span class="selected"></span>');
        var campaignId = '@ViewBag.CampaignId';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            ContactListHasDelete:'@Html.Raw(Resources.NewsletterResource.ContactListHasDelete)',
            HasError:'@Html.Raw(Resources.NewsletterResource.HaveError)',

        };
        emailreview_Action(apiDomain, access_token, campaignId, message)
    });
</script>

