﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Select contact</h4>
</div>
<div class="modal-body">
    @*<div class="form-group form-md-line-input">
        <label class="col-md-2 control-label" for="form_control_1">@Resources.Resource.smsSelectContactSelect</label>
        <div class="col-md-3">
            <select class="form-control" id="form_control_1">
                <option value="">Select all</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
                <option value="">Option 4</option>
            </select>
            <div class="form-control-focus"> </div>
        </div>
    </div>*@
    @*<div class="col-md-12 " style="padding-top:20px;">*@

        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="tableSelectContact">
            <thead>
                <tr>
                    <th width="3%" class="sorting_disabled">
                        <input type="checkbox" class="group-checkable" id="select_all" />
                    </th>
                    <th width="29%"> @Resources.ContactResource.contactName</th>
                    <th width="15%"> @Resources.NewsletterResource.CreateDate </th>
                    <th width="30%"> @Resources.ContactResource.contactEmail </th>
                    <th width="10%"> @Resources.ContactResource.contactPhonenumber </th>

                </tr>
            </thead>
          
        </table>
    </div>
           

<div class="modal-footer">
    <button type="button" id="cancelselectcontact" class="btn btn-sm green-jungle" data-dismiss="modal">@Resources.NewsletterResource.emailConfirm</button>
    @*<button type="button" class="btn btn-sm blue" id="saveselectcontact">@Resources.Resource.contactSave</button>*@
</div>
<script>
    $(document).ready(function () {
        resizeTableContact();
        var tableId = '#tableSelectContact';
        var dataUrl = 'api/Contact/Web/GetListByGroups';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';

        var file = "/Scripts/JsonDefineColumn/selectcontact.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));


        var AdditionalParameters = function (data) {
            data.ContactGroupIdList ='@ViewBag.ListGroupId';
            data.SortColumn = 'CreateDate';
            data.SortDirection = 'Descending';
            data.search['value'] = '';

        };
        var height = resizeTableSeclectContact();
        var message = {};
        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, message);
        selectcontact_Action(apiDomain, access_token, tableId);
    });

</script>

