﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a id="pagetitleBasicCampaign"><span>@Resources.PagetitleResource.pagetitleBasicCampaign</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Resources.PagetitleResource.pagetitleSend</span>

        </li>

    </ul>
</div>
<div class="row" style="margin-top:5px;">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption" style="padding:10px 10px;">
                <i class="fa fa-globe"></i>@Resources.NewsletterResource.emailSendTableTitle
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="javascript:;" class="reload grey-silver"> </a>
                <a href="" class="fullscreen grey-silver"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="divAction">
                <div class="col-md-8" id="divAction-toolbar">
                </div>
                <div class="col-md-4">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input" id="divAction-formtype">
                            <select id="divAction-type" class="form-control edited">
                                <option value="Descending">@Resources.NewsletterResource.descending</option>
                                <option value="Ascending">@Resources.NewsletterResource.ascending</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-md-line-input" id="divAction-formsort">
                            <select id="divAction-sort" class="form-control edited">
                                <option value="LastModifyDate">@Resources.NewsletterResource.LastModifyDate</option>
                                <option value="CreateDate">@Resources.NewsletterResource.CreateDate</option>
                                <option value="MessageName">@Resources.NewsletterResource.MessageName</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-checkable order-column" id="tableSendEmail">
                <thead>
                    <tr>
                        <th width="3%" id="checkboxColumn">
                            <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                        </th>
                        <th width="77%"></th>
                        <th width="20%"></th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>   
<script>

    $(document).ready(function () {
        
        var tableId = "#tableSendEmail";
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var dataUrl = "api/email/Web/GetSendList";
        var file = "/Scripts/JsonDefineColumn/send.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));
        var AdditionalParameters;
       
        //sự kiên tạo table , sort, 
        var idCondition = {
            sorttype: "#divAction-type",
            sortvalue: "#divAction-sort",
        }

        var type = $(idCondition.sorttype + ' option:selected').val();

        var sortvalue = $(idCondition.sortvalue + ' option:selected').val();
        var searchvalue = $(idCondition.searchvalue).val();

        $(idCondition.sorttype).on('change', function (event, state) {
            type = $(idCondition.sorttype + ' option:selected').val();
            $(tableId).dataTable().fnDraw();


        });

        $(idCondition.sortvalue).change(function () {
            sortvalue = $(idCondition.sortvalue + ' option:selected').val();
            $(tableId).dataTable().fnDraw();
        })


        var AdditionalParameters = function (data) {
            data.NewsletterId = '@ViewBag.NewsLetterId',
            data.SortColumn = sortvalue;
            data.SortDirection = type;
        }

        var height = emailsend_resizeHeight();
        //hàm tạo table
        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters,height);

        //xử lý các sự kiện
        emailsend_Action(tableId);

    });

</script>

