﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleEmailSetting;
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
}
@section JS{
    <script src="@Url.Content("~/Scripts/Newsletters/emailsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Newsletters/partialsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a id="pagetitleBasicCampaign"><span>@Resources.PagetitleResource.pagetitleBasicCampaign</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleEmailSetting</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="mt-element-step">
            <div class="row step-no-background-thin">
                <a id="colSetting" class="col-md-3 mt-step-col first active">
                    <div class="mt-step-number bg-white">1</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estSetting</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaSetting</div>
                </a>
                <a id="colContent" class="col-md-3 mt-step-col">
                    <div class="mt-step-number bg-white">2</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estContent</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaContent</div>
                </a>
                <a id="colRecipient" class="col-md-3 mt-step-col">
                    <div class="mt-step-number bg-white">3</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estRecipient</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaRecipient</div>
                </a>
                <a id="colConfirm" class="col-md-3 mt-step-col last">
                    <div class="mt-step-number bg-white">4</div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.NewsletterResource.estConfirm</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.NewsletterResource.estparaConfirm</div>
                </a>
            </div>
        </div>
    </div>

 
            <div id="divRedirect" class="col-md-12 col-sm-12">
                    <button id="btnSettingEmailBack" class="btn  btn-sm yellow-gold">
                        <i class="icon-action-undo"></i>@Resources.NewsletterResource.Previous
                    </button>
                <button id="btnSettingEmailSave" class="btn btn-sm blue">
                    <i class="fa fa-save"></i>@Resources.NewsletterResource.Save
                </button>
                    <button id="btnSettingEmailNext" class="btn btn-sm green-jungle">
                        <i class="icon-action-redo"></i>@Resources.NewsletterResource.NextAndSave
                    </button>
                

            </div>

         @{Html.RenderAction("PartialSetting", "BasicCampaign");}
    <!-- END VALIDATION STATES-->


</div>


@*chọn facebook*@
<div class="modal fade" id="modalUpdateFacebook" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">Facebook</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-md-line-input">

                    <label for="emailreply" class="col-md-3 control-label">
                        Địa chỉ facebook
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control"  id="txtSelectFacebook">
                        <span class="help-block">Nhập địa chỉ facebook</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" id="btnSelectFacebook" class="btn green">Ok</button>
            </div>
        </div>
    </div>
</div>
@*chọn twitter*@
<div class="modal fade " id="modalUpdateTwitter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">Twitter</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-md-line-input">

                    <label for="emailreply" class="col-md-3 control-label">
                        Địa chỉ Twitter
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control"  id="txtSelectTwitter">
                        <span class="help-block">Nhập địa chỉ Twitter</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" id="btnSelectTwitter" class="btn green">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#mncreateCampaign').addClass('active');
        $('#mncreateCampaign').children('a').append('<span class="selected"></span>');

        $('#divLoading').show();

        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            SubjectRequired: '@Html.Raw(Resources.NewsletterResource.notifySubjectRequired)',
            SenderRequired: '@Html.Raw(Resources.NewsletterResource.notifySenderRequired)',
            EmailSendRequired: '@Html.Raw(Resources.NewsletterResource.notifyEmailSendRequired)',
            EmailSettingSuccess: '@Html.Raw(Resources.NewsletterResource.notifyEmailSettingSuccess)',
            EmailSettingError: '@Html.Raw(Resources.NewsletterResource.notifyEmailSettingError)',
            NotAllow: '@Html.Raw(Resources.NewsletterResource.notifyNotAllow)',
            NoExistNewsLetterId: '@Html.Raw(Resources.NewsletterResource.notifyNoExistNewsLetterId)',
            TypeSendCampaign: '@Html.Raw(Resources.NewsletterResource.notifyTypeSendCampaign)',
            EmailFormatError: '@Html.Raw(Resources.NewsletterResource.notifyEmailFormatError)',
            AddNewFromEmail: '@Html.Raw(Resources.NewsletterResource.AddNewFromEmail)',
        };

        var info = {
            Facebook: '@Html.Raw(userinfo.Facebook)',
            Twitter: '@Html.Raw(userinfo.Twitter)'
        };

        var CampaignId = '@ViewBag.CampaignId';
        var IdAdd = 'txtSettingSubject';
        emailsetting_ActionButton(apiDomain, access_token, CampaignId,IdAdd, info, message);

        //emailsetting_LoadInfo(apiDomain, access_token, CampaignId, info);
        if ('@userinfo.EnableSMS'.toLowerCase() === true||'@userinfo.EnableSMS'.toLowerCase()==="true") {
            $('#select-method-send-sms').removeClass('hide');
        }


    });


</script>

