﻿@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/Verify/verify.js")?@ViewBag.JsPara"></script>
   
}
<style>
    .copyright {
        display: none;
    }

    .lined-text {
        display: table;
        width: 100%;
        max-width: 480px;
        margin: auto;
        white-space: nowrap;
        text-align: center;
        font-size: 1em;
    }

    .line {
        position: relative;
        top: .7em;
        display: table-cell;
        width: 45%;
        border-top: 1px solid rgba(255,255,255,.6);
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }
</style>
<div style="text-align:center;padding-top:40px; color:white">
    <div class="lined-text">
        <div class="line left"></div><div class="text bold" id="status-verify-emailfrom"></div><div class="line right"></div>
    </div>
    <h3>Cám ơn bạn đã  tin tưởng sử dụng dịch vụ của Toomarketer</h3>
    <br />
    <div id="CodeHint" style="font-size:13px;"></div>
    @*<a href="@Url.Content("~/Account/UserProfile#FromEmail")" class="btn green-jungle"> @Resources.AccountResource.Redirect <i class="fa fa-arrow-right"></i></a>*@
</div>


<script>
    $(document).ready(function () {
        var ItemId = '@ViewBag.ItemId'
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            VeriFySuccess: '@Html.Raw(Resources.AccountResource.VeriFySuccess)',
            Successfull: '@Html.Raw(Resources.AccountResource.Successfull)',
            VeriFyError: '@Html.Raw(Resources.AccountResource.VeriFyError)',
            DifferenceAcount: '@Html.Raw(Resources.AccountResource.DifferenceAcount)',

        };
        verify_Action(apiDomain, access_token,ItemId, message);
    })
</script>

