﻿.custom-toomarketer-register{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility:hidden;
    opacity: 0;
    z-index: 999999;
}

@keyframes toomarketershake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.custom-toomarketer-register .col-md-12,.custom-toomarketer-register .col-sm-6,.custom-toomarketer-register .col-xs-12{
     position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;


}

 .custom-toomarketer-register .col-md-12{
    width: 100%;
  }

.custom-toomarketer-register .col-xs-12 {
    width: 100%;
}

.custom-toomarketer-register .portlet.light.bordered {
    /*border: 1px solid #e7ecf1!important;*/
}
.custom-toomarketer-register .portlet.light {

    background-color: #fff;
}
.custom-toomarketer-register .portlet {
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
}
.custom-toomarketer-register .portlet {

    border-radius: 2px;
}
.custom-toomarketer-register .portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}
.custom-toomarketer-register .portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
}
.custom-toomarketer-register .portlet>.portlet-title {

    margin-bottom: 10px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.custom-toomarketer-register .portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}
.custom-toomarketer-register  .bg-font-green-jungle {
    color: #FFF!important;
}

.custom-toomarketer-register .bg-green-jungle, .custom-toomarketer-register .bg-hover-green-jungle:hover {
    background: #399b47!important;
}
.custom-toomarketer-register .portlet>.portlet-body {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
        clear: both;
}
.custom-toomarketer-register .text-center {
    text-align: center;
}
.custom-toomarketer-register .form-group {
    margin-bottom: 15px;
}
.custom-toomarketer-register .bold {
    font-weight: 700!important;
}
.custom-toomarketer-register label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.custom-toomarketer-register .input-icon {
    position: relative;
    left: 0;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-toomarketer-register .input-icon>i {
    color: #ccc;

    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
}

.custom-toomarketer-register [class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}

.custom-toomarketer-register .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.custom-toomarketer-register .input-icon>.form-control {
    padding-left: 33px;
}
.custom-toomarketer-register .form-control {
    outline: 0!important;
    box-shadow: none!important;
}
.custom-toomarketer-register .form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.custom-toomarketer-register .form-control, output {
    font-size: 14px;
    line-height: 1.42857;
    color: #4d6b8a;
    display: block;
    background-image: none;
}
.custom-toomarketer-register input{
         font: inherit;
    margin: 0;

 }

.custom-toomarketer-register .row:after{
     display: table;
    content: " ";
    clear: both;
 }

.custom-toomarketer-register .container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.custom-toomarketer-register .btn.green-jungle:not(.btn-outline):hover{
    color: #FFF;
    background-color: #1e9765;
    border-color: #1e9765;
    line-height: 1.44;
 }
.custom-toomarketer-register .btn:hover {
    transition: all .3s;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26);
    text-decoration: none;
}

.custom-toomarketer-register .btn {
    outline: 0!important;
    font-size: 12px;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border-width: 0!important;
    overflow: hidden;
    position: relative;
    user-select: none;
    padding: 9px 14px 8px;
}

.custom-toomarketer-register .btn {
    font-weight: 600;
    text-transform: uppercase;
}

.custom-toomarketer-register .btn.green-jungle{
    background:#26C281!important;
}

.custom-toomarketer-register .btn {
    display: inline-block;
    margin-bottom: 0;
  
    text-align: center;
    touch-action: manipulation;
  
    border: 1px solid transparent;
    white-space: nowrap;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-toomarketer-register .btn.green-jungle:not(.btn-outline) {
    color: #FFF;
    background-color: #26C281;
    border-color: #26C281;
}

.custom-toomarketer-register .pull-right {
    float: right!important;
}

.custom-toomarketer-register .alert{
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
}
.custom-toomarketer-register .alert-danger {
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
    padding: 5px;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.custom-toomarketer-register button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.custom-toomarketer-register .close {
    display: inline-block;
    margin-top: 4px;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;
    background-image: url(http://app.toomarketer.com/assets/global/img/remove-icon-small.png)!important;
}

.custom-toomarketer-register .close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
    font-weight: 700;
}

.toomarketer-ib2-button,.toomarketer-ib2-button:hover{
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    -webkit-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    max-width: 100% !important;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;

    color: rgb(255, 255, 255);
    background-color: rgb(55, 154, 70);
    border-color: rgb(27, 126, 42);
    border-radius: 5px;
    text-shadow: rgb(74, 74, 74) 1px 1px 0px;
    background-image: none;
    font-size: 29px;
    min-width: 350px;
    min-height: 57px;
    width: auto;
    height: auto;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
}

.toomarketer-ib2-button i {
    display: inline-block !important;
    margin: 0 10px !important;
}

@media (max-width: 767px) {
   .custom-toomarketer-register .hidden-xs {
        display: none !important;
    }
}



@media (min-width: 992px) {
   .custom-toomarketer-register .col-md-6 {
        width: 50%;
    }
}
@media (min-width: 768px) {
   .custom-toomarketer-register .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 992px) {
  .custom-toomarketer-register  .col-md-12 {
        width: 100%;
    }
}
@media (min-width: 992px) {
   .custom-toomarketer-register .col-md-12, .custom-toomarketer-register .col-md-6, .custom-toomarketer-register .col-xs-12  {
        float: left;
    }
}