

/**
 * Grid container
 */
.tiles-wrap {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  display: none;
}


/**
 * Grid items
 */
.tiles-wrap li {
  display: block;
  opacity: 1;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  float: left;
  cursor: pointer;
  width: 200px;
  padding: 4px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.tiles-wrap.wookmark-initialised.animated li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.tiles-wrap.wookmark-initialised li {
  opacity: 1;
}

.tiles-wrap li.wookmark-inactive {
  visibility: hidden;
  opacity: 0;
}

.tiles-wrap li:hover {
  background-color: #fafafa;
}

.tiles-wrap img {
  display: block;
}

.tiles-wrap a {
  color: #555;
  text-align: center;
  /* display: table-cell; */
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.tile-loading:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ddd;
  content: "Loading\2026";
  padding-top: 20px;
  color: #999;
}

/**
 * Filters
 */
#filters {
  list-style-type: none;
  text-align: center;
  margin: 0 5% 0 5%;
}

#filters:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#filters li {
  font-size: 12px;
  float: left;
  padding: 6px 8px 4px;
  cursor: pointer;
  margin: 0 10px;
  -webkit-transition: all 0.15s ease-out;
     -moz-transition: all 0.15s ease-out;
       -o-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#filters li:hover {
  background: #4281f5;
  color: #ffffff;
}

#filters li.active {
  background: #4281f5;
  color: #ffffff;
}

header p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 22px;
}

header p a,
header p a:visited {
  text-decoration: none;
  color: #4281f5;
}

.tiles-wrap li {
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: none;
}

.tiles-wrap a {
  font-weight: 200;
  text-align: left;
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  height: auto;
  border: 0px;
  display: block;
  width: 200px;
  position: relative;
  height: 100%;
  display: block;
  text-transform: uppercase;
}

.tiles-wrap a span {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
  display: block;
  color: #666666;
}

.tiles-wrap a b {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.tiles-wrap a:hover b {
  color: #4281f5;
}