﻿.coming-soon-content h1 {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 15px;
        font-weight: 300;
    }
@media (max-width: 480px) {
    .coming-soon-content h1 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 15px;
        font-weight: 300;
    }
}
