﻿.mobile-container {
    margin: auto;
    max-width: 400px;
    padding: 15px;
    margin-bottom: 10px;
}
.payment-img {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;    
}
.payment-info {
    display: table-cell;    
    white-space:normal;
    text-align:left;
}
.btPay-code, .btPay {
    background-color: #E9E9E9;
    border-color: transparent;
    color: #333;
    padding:10px;
}
.box-size-image {
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
}

.btn-info-toomarketer:hover{
    background:#379a46 !important
}

.alert{
    padding:10px;
}
.alert .close{
    margin-top: 4px;
}

.input-money{
    font-weight:600;
    font-size:16px;
}

.mobile-container {
    margin: auto;
    max-width: 400px;
    padding: 15px;
    margin-bottom: 10px;
}

i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB,i.NAB,i.BAB 
	{ width:80px; height:30px; display:block; background:url(https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png) no-repeat;}
	i.MASTE { background-position:0px -31px}
	i.AMREX { background-position:0px -62px}
	i.JCB { background-position:0px -93px;}
	i.VCB { background-position:0px -124px;}
	i.TCB { background-position:0px -155px;}
	i.MB { background-position:0px -186px;}
	i.VIB { background-position:0px -217px;}
	i.ICB { background-position:0px -248px;}
	i.EXB { background-position:0px -279px;}
	i.ACB { background-position:0px -310px;}
	i.HDB { background-position:0px -341px;}
	i.MSB { background-position:0px -372px;}
	i.NVB { background-position:0px -403px;}
	i.DAB { background-position:0px -434px;}
	i.SHB { background-position:0px -465px;}
	i.OJB { background-position:0px -496px;}
	i.SEA { background-position:0px -527px;}
	i.TPB { background-position:0px -558px;}
	i.PGB { background-position:0px -589px;}
	i.BIDV { background-position:0px -620px;}
	i.AGB { background-position:0px -651px;}
	i.SCB { background-position:0px -682px;}
	i.VPB { background-position:0px -713px;}
	i.VAB { background-position:0px -744px;}
	i.GPB { background-position:0px -775px;}
	i.SGB { background-position:0px -806px;}
	i.NAB { background-position:0px -837px;}
	i.BAB { background-position:0px -868px;}
