﻿ body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*size*/
.sz-xs{
    font-size:20px;
}
.sz-sm{
    font-size:25px;

}
.sz-nm{
    font-size:30px;
}
.sz-lg{
    font-size:40px;
}
/*btton size của form*/
.bt-sz-xs{
    font-size:11px;
    padding :3px 8px;
}
.bt-sz-sm{
    font-size:11px;
    padding:7px 18px;
}
.bt-sz-nm{
    font-size:12px;
    padding:9px 14px 8px;
}
.bt-sz-lg{
    font-size:16px;
    padding:12px 26px 10px;
}

iframe{
    border:none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

/*.control-web-form {
    width: 30%;
    margin: 0 auto;
}*/
.items input, .items select {
    height: 45px !important;
    font-size:18px;
    color:#34495e;
}
.form-control {
    border-radius: 0 !important;
}
#captionname{
    font-weight: bold;
    font-size: 18px;
}

.form-group {
    margin-bottom: 15px;
}

.control-web-form{
    margin:0 auto;
}

#thankyou-page {
    position: relative;
    margin:0 auto;
    margin-top: 30vh;
    width:200px;
    text-align:center;
   
}
#subcribe-page{
     position: relative;
    margin:0 auto;
    margin-top: 30vh;
    width:auto;
    text-align:center;
}

.div-previous{
    position: relative;
    margin:0 auto;
    margin-top:20vh;
    width:auto;
    text-align:center;
}
.control-web-form .headline {
    padding-bottom: 30px !important;
}
.control-web-form  .md-checkbox-list label ,.control-web-form  .md-radio-list label{
    font-size:18px;
}
.control-web-form #divheader{
    font-weight:500;
}