﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")"><span>@Resources.Resource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Home")"><span>@Resources.Resource.pagetitleSMS</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Resources.Resource.pagetitleSMSConfirm</span>
        </li>
    </ul>
</div>
<div class="row" style="margin-top:5px;">
    <div class="portlet-body">
        <div class="mt-element-step">
            <div class="row step-thin">
                <div class="col-md-4 mt-step-col first done">
                    <div class="mt-step-number bg-white">
                        1
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsComposes</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsCompose</div>
                </div>
                <div class="col-md-4 mt-step-col done">
                    <div class="mt-step-number bg-white" >
                       2
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsRecipient</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsRecipitens</div>
                </div>
                <div class="col-md-4 mt-step-col last active">
                    <div class="mt-step-number bg-white">
                       3
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsConfirm</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsConfirms</div>
                </div>
            </div>
        </div>
    </div>
   
</div>

