﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")"><span>@Resources.Resource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
             <a href="@Url.Content("~/Home")"><span>@Resources.Resource.pagetitleSMS</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Resources.Resource.pagetitleSMSContent</span>
        </li>
    </ul>
</div>
<div class="row" style="margin-top:5px;">
    <div class="portlet-body" style="margin-top:5px;">
        <div class="mt-element-step">
            <div class="row step-thin">
                <div class="col-md-4 mt-step-col first active">
                    <div class="mt-step-number bg-white">
                        1
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsComposes</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsCompose</div>
                </div>
                <div class="col-md-4 mt-step-col step-thin wait">
                    <div class="mt-step-number bg-white">
                        2
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsRecipient</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsRecipitens</div>
                </div>
                <div class="col-md-4 mt-step-col last wait">
                    <div class="mt-step-number bg-white">
                        3
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsConfirm</div>
                    <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsConfirms</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:40px;">
        <div class="portlet light portlet-fit portlet-form">
            <div class="portlet-body form">
                <form action="#" id="form_sample_2">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label" for="form_control">@Resources.Resource.smsTitle</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="">
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">@Resources.Resource.smsInputTitle</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label" for="form_control">@Resources.Resource.smsContent</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" name="" rows="7" id="Message"></textarea>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">@Resources.Resource.smsInputContent</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-6">
                                    <div id="MsgLengthCount">
                                        <span style="color: #8EBC00">0</span>@Resources.Resource.smsCharacter = <span style="color: #E84444">0</span> @Resources.Resource.smsMessage
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom:30px!important;">
                            <div class="row">
                                <div class="col-md-12" style="text-align:center;">
                                    <button type="reset" class="btn btn-sm default">
                                        <i class="icon-refresh"></i>@Resources.Resource.estReset
                                    </button>
                                    <button id="btnSave" class="btn btn-sm green">
                                        <i class="glyphicon glyphicon-save"></i>@Resources.Resource.smsSave
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
</div>
        </div>
    </div>

    <div class="col-md-12" id="divRedirect">

        <div class="col-md-6">
            <button id="btnBack" class="btn btn-outline btn-sm blue" style="float:left;">
                <i class="icon-action-undo"></i>@Resources.Resource.smsBack
            </button>
        </div>
        <div class="col-md-6 ">
            <button id="btnNext" class=" btn btn-outline btn-sm blue" style="float:right;">
                <i class="icon-action-redo"></i>@Resources.Resource.smsNext
            </button>
        </div>

    </div>
</div>

               
<script>
    function UpdateMessageCount() {
        var $this = $("#Message");
        charLength = $this.val().length;
        // Displays count
        var MsgCount = Math.ceil(charLength / 160);

        $("#MsgLengthCount").html("<b style='color:#8EBC00'>" + charLength + "</b> @Resources.Resource.smsCharacter = <b style='color:#E84444'>" + MsgCount + "</b> @Resources.Resource.smsMessage");
    };

    $(document).ready(function () {
        UpdateMessageCount();

    });

    $("#Message").bind("keypress keyup blur", function (e) {
        UpdateMessageCount();
    });

    $("#btnBack").click(function () {
        window.location.href = '@Url.Content("~/Message")';
    });
    $("#btnNext").click(function () {
        window.location.href = '@Url.Content("~/Message/Recipient")';
    });
</script>
                