﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")"><span>@Resources.Resource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Resources.Resource.pagetitleSMS</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divAction">
            <a class="btn-sm btn red tooltips" href="@Url.Content("~/Message/Content")" data-container="body" data-placement="left" data-original-title="@Resources.Resource.smsAddnew">
                <i class="large fa fa-plus"></i>@Resources.Resource.smsAddnew
            </a>
        </div>
        
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption" style="padding:10px 10px;">
                    <i class="fa fa-globe"></i>Danh sách tin nhắn
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="tableMessage">
                    <thead>
                        <tr>
                            <th width="3%" class="sorting_disabled">
                                <input type="checkbox" class="group-checkable" data-set="#tableMessage .checkboxes" />
                            </th>
                            <th style="width:30%">Tên sms</th>
                            <th style="width:20%">Ngày gửi</th>
                            <th style="width:10%">Lượt gửi</th>
                            <th style="width:10%">Đã gửi</th>
                            <th width="12%">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> shuxer </td>
                            <td>
                                <a href="mailto:shuxer@gmail.com"> shuxer@gmail.com </a>
                            </td>
                            <td> 120 </td>
                            <td> 120 </td>

                            <td>
                                <a id="manageSend" class="label label-sm label-warning tooltips" data-container="body" data-placement="top" data-original-title="Quản lý gửi" style="margin-right:5px;"><i class="icon-list"></i></a>
                                <a class="label label-sm label-danger tooltips" data-container="body" data-placement="top" data-original-title="Xóa" style="margin-right:5px;"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> looper </td>
                            <td>
                                <a href="mailto:looper90@gmail.com"> looper90@gmail.com </a>
                            </td>
                            <td> 120 </td>
                            <td> 120 </td>

                            <td>
                                <a id="manageSend" class="label label-sm label-warning tooltips" data-container="body" data-placement="top" data-original-title="Quản lý gửi" style="margin-right:5px;"><i class="icon-list"></i></a>
                                <a class="label label-sm label-danger tooltips" data-container="body" data-placement="top" data-original-title="Xóa" style="margin-right:5px;"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>    
        <script>

            var TableDatatablesManaged = function () {

                var initTable1 = function () {

                    var table = $('#tableMessage');

                    // begin first table
                    table.dataTable({

                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ records",
                            "infoEmpty": "No records found",
                            "infoFiltered": "(filtered1 from _MAX_ total records)",
                            "lengthMenu": "Show _MENU_",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "previous": "Prev",
                                "next": "Next",
                                "last": "Last",
                                "first": "First"
                            }
                        },

                        // Or you can use remote translation file
                        //"language": {
                        //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
                        //},

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js). 
                        // So when dropdowns used the scrollable div should be removed. 
                        //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                        "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

                        "columnDefs": [{
                            "targets": 0,
                            "orderable": false,
                            "searchable": false
                        }],

                        "lengthMenu": [
                            [5, 15, 20, -1],
                            [5, 15, 20, "All"] // change per page values here
                        ],
                        // set the initial value
                        "pageLength": 5,
                        "pagingType": "bootstrap_full_number",
                        "columnDefs": [{  // set default column settings
                            'orderable': false,
                            'targets': [0]
                        }, {
                            "searchable": false,
                            "targets": [0]
                        }],
                        "order": [
                            [1, "asc"]
                        ] // set first column as a default sort by asc
                    });

                    var tableWrapper = jQuery('#tableMessage_wrapper');

                    table.find('.group-checkable').change(function () {
                        var set = jQuery(this).attr("data-set");
                        var checked = jQuery(this).is(":checked");
                        jQuery(set).each(function () {
                            if (checked) {
                                $(this).prop("checked", true);
                                $(this).parents('tr').addClass("active");
                            } else {
                                $(this).prop("checked", false);
                                $(this).parents('tr').removeClass("active");
                            }
                        });
                        jQuery.uniform.update(set);
                    });

                    table.on('change', 'tbody tr .checkboxes', function () {
                        $(this).parents('tr').toggleClass("active");
                    });
                }

                return {

                    //main function to initiate the module
                    init: function () {
                        if (!jQuery().dataTable) {
                            return;
                        }

                        initTable1();
                    }

                };

            }();

            jQuery(document).ready(function () {
                TableDatatablesManaged.init();
            });


            //xử lý
            $(document).ready(function () {

                var table = $('#tableMessage').DataTable();
                //edit click
                $('#tableMessage tbody').on('click', '#manageSend', function () {
                    var rowData = table.row( $(this).parents('tr') ).data();
                    console.log(rowData);
                    // ... do something with `rowData`
                    window.location.href = "@Url.Content("~/Message/Send")";
                });
            })
</script>
