﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<style>
    .ms-container {
        width: 100%;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")"><span>@Resources.Resource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Home")"><span>@Resources.Resource.pagetitleSMS</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Resources.Resource.pagetitleSMSRecipient</span>
        </li>
    </ul>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-md-12" style="margin-top:5px;">
        <div class="portlet-body" style="margin-top:5px;">
            <div class="mt-element-step">
                <div class="row step-thin">
                    <div class="col-md-4 mt-step-col first done">
                        <div class="mt-step-number bg-white">
                            1
                        </div>
                        <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsComposes</div>
                        <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsCompose</div>
                    </div>
                    <div class="col-md-4 mt-step-col active">
                        <div class="mt-step-number bg-white">
                            2
                        </div>
                        <div class="mt-step-title uppercase font-grey-cascade"> @Resources.Resource.smsRecipient</div>
                        <div class="mt-step-content font-grey-cascade"> @Resources.Resource.smsRecipitens</div>
                    </div>
                    <div class="col-md-4 mt-step-col last wait">
                        <div class="mt-step-number bg-white">
                            3
                        </div>
                        <div class="mt-step-title uppercase font-grey-cascade">@Resources.Resource.smsConfirm</div>
                        <div class="mt-step-content font-grey-cascade">@Resources.Resource.smsConfirms</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:5px;">
        <div class="portlet-body form" style="padding-top:40px !important;">
            <!-- BEGIN FORM-->
            <form class="form-horizontal form-row-seperated">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <select multiple="multiple" class="multi-select" id="my_multi_select1" name="my_multi_select1[]">
                                <option>Dallas Cowboys</option>
                                <option>New York Giants</option>
                                <option selected>Philadelphia Eagles</option>
                                <option selected>Washington Redskins</option>
                                <option>Chicago Bears</option>
                                <option>Detroit Lions</option>
                                <option>Green Bay Packers</option>
                                <option>Minnesota Vikings</option>
                                <option selected>Atlanta Falcons</option>
                                <option>Carolina Panthers</option>
                                <option>New Orleans Saints</option>
                                <option>Tampa Bay Buccaneers</option>
                                <option>Arizona Cardinals</option>
                                <option>St. Louis Rams</option>
                                <option>San Francisco 49ers</option>
                                <option>Seattle Seahawks</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:5px;">
        <div style="text-align:center;padding:20px;font-size:20px;">
            <p>
                <span>@Resources.Resource.emailRecipientManual</span>
                <i class="icon-user"></i>
                <span>190</span>
            </p>
            <div>
                <a id="manualSelectContact" data-target="#ajax" data-toggle="modal" class="btn btn-outline yellow-gold">Chọn Người nhận trong danh sách</a>
            </div>
        </div>

    </div>
    <div class="col-md-12" style="left:0;right:0;position: relative;bottom: 10px;z-index: 10001;">

        <div class="col-md-6">
            <button type="reset" id="btnBack" class="btn btn-outline btn-sm blue" style="float:left;">
                <i class="icon-action-undo"></i>@Resources.Resource.smsBack
            </button>
        </div>
        <div class="col-md-6 ">
            <button id="btnNext" class=" btn btn-outline btn-sm blue" style="float:right;">
                <i class="icon-action-redo"></i>@Resources.Resource.smsNext
            </button>
        </div>

    </div>

    @*modal*@
    <div class="modal fade bs-modal-lg" id="ajax" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    var ComponentsDropdowns = function () {
        var handleMultiSelect = function () {
            $('#my_multi_select1').multiSelect();
        }
        return {
            //main function to initiate the module
            init: function () {
                handleMultiSelect();
            }
        };

    }();

    jQuery(document).ready(function () {
        ComponentsDropdowns.init();
    });


    $("#btnBack").click(function (e) {
        e.preventDefault();
        window.location.href = '@Url.Content("~/Message/Content")'
    })
    $("#btnNext").click(function () {
        window.location.href = '@Url.Content("~/Message/Confirm")'
    });
    
    $("#manualSelectContact").on("click", function () {
        $(this).attr("href", "@Url.Content("~/Message/SelectContact")")
    })
</script>
