﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@Resources.Resource.smsSelectContactSelect</h4>
</div>
<div class="modal-body">
    <div class="form-group form-md-line-input">
        <label class="col-md-2 control-label" for="form_control_1">@Resources.Resource.smsSelectContactSelect</label>
        <div class="col-md-3">
            <select class="form-control" id="form_control_1">
                <option value="">Select all</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
                <option value="">Option 4</option>
            </select>
            <div class="form-control-focus"> </div>
        </div>
    </div>
    <div class="col-md-12 " style="padding-top:20px;">

        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
            <thead>
                <tr>
                    <th width="3%" class="sorting_disabled">
                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                    </th>
                    <th width="29%"> Tên danh sách</th>
                    <th width="15%"> Ngày tạo </th>
                    <th width="30%"> Mô tả </th>
                    <th width="10%"> Số lượng </th>

                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX">
                    <td>
                        <input type="checkbox" class="checkboxes" value="1" />
                    </td>
                    <td> shuxer </td>
                    <td>
                        <a href="mailto:shuxer@gmail.com"> shuxer@gmail.com </a>
                    </td>
                    <td> 120 </td>
                    <td class="center"> 12 Jan 2012 </td>

                </tr>
                <tr class="odd gradeX">
                    <td>
                        <input type="checkbox" class="checkboxes" value="1" />
                    </td>
                    <td> looper </td>
                    <td>
                        <a href="mailto:looper90@gmail.com"> looper90@gmail.com </a>
                    </td>
                    <td> 120 </td>
                    <td class="center"> 12.12.2011 </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm default" data-dismiss="modal">@Resources.Resource.contactClose</button>
    <button type="button" class="btn btn-sm blue" id="save">@Resources.Resource.contactSave</button>
</div>
<script>
        var TableDatatablesManaged = function () {
            var initTable1 = function () {
                var table = $('#sample_1');
                // begin first table
                var dataRow = table.dataTable({
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ records",
                        "infoEmpty": "No records found",
                        "infoFiltered": "(filtered1 from _MAX_ total records)",
                        "lengthMenu": "Show _MENU_",
                        "search": "Search:",
                        "zeroRecords": "No matching records found",
                        "paginate": {
                            "previous": "Prev",
                            "next": "Next",
                            "last": "Last",
                            "first": "First"
                        }
                    },

                    // Or you can use remote translation file
                    //"language": {
                    //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
                    //},

                    // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                    // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                    // So when dropdowns used the scrollable div should be removed.
                    //"dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

                    "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.


                    "lengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 10,
                    "pagingType": "bootstrap_full_number",
                    "columnDefs": [{  // set default column settings
                        'orderable': false,
                        'targets': [0]
                    }, {
                        "searchable": false,
                        "targets": [0]
                    }],
                    "searching": false,
                    "order": [
                        [1, "asc"]
                    ] // set first column as a default sort by asc
                });

                var tableWrapper = jQuery('#sample_1_wrapper');

                table.find('.group-checkable').change(function () {
                    var set = jQuery(this).attr("data-set");
                    var checked = jQuery(this).is(":checked");
                    jQuery(set).each(function () {
                        if (checked) {
                            $(this).prop("checked", true);
                            $(this).parents('tr').addClass("active");
                        } else {
                            $(this).prop("checked", false);
                            $(this).parents('tr').removeClass("active");
                        }
                    });
                    jQuery.uniform.update(set);
                });

                table.on('change', 'tbody tr .checkboxes', function () {
                    $(this).parents('tr').toggleClass("active");
                });



            }
            return {

                //main function to initiate the module
                init: function () {
                    if (!jQuery().dataTable) {
                        return;
                    }

                    initTable1();
                }

            };



        }();

        jQuery(document).ready(function () {
            TableDatatablesManaged.init();

        });
</script>



