﻿
@{
    ViewBag.Title = "Edit email content";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}

@section EmailBuilder{
   
    @*<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet" type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js" type="text/javascript"></script>*@
   
    <link href="~/assets/global/plugins/bootstrap-summernote/summernote-0.8.2-dist/dist/summernote.css" rel="stylesheet" />
    <script src="~/assets/global/plugins/bootstrap-summernote/summernote-0.8.2-dist/dist/summernote.js"></script>
    <script src="~/assets/global/plugins/bootstrap-summernote/summernote-0.8.2-dist/dist/lang/summernote-vi-VN.js"></script>
    <script src="@Url.Content("~/Scripts/custom-imgbtn-summernote.js?")@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/summernote-image-attributes.js?")@ViewBag.JsPara"></script>
    <script src="@Url.Content("~/Scripts/EmailEditor/emaileditor.js?")@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom.js?")@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" type="text/css" />
}
<style>
    .modal-backdrop.in {
        position: relative;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5) !important;
        box-shadow: 0 5px 15px rgba(0,0,0,.5) !important;
    }
</style>
<div>
    <div class="my-custom-toolbar">
        <div class="tool-editor-save" style="background: #2b3643;padding:5px;height:40px;">
            <img src="~/Content/Images/favicon.png" class="pull-left" width="35" style="padding:2px;" />
            <a id="close-edit-email-content" class="font-white btn btn-sm pull-right"><i class="fa fa-remove"></i>@Resources.AdvancedCampaignResource.Close</a>
            <a id="btnsaveandexitemailcontent" class="font-white btn btn-sm pull-right"><i class="fa fa-save"></i>@Resources.AdvancedCampaignResource.SaveAndContinue</a>
            <a id="btnsaveemailcontent" class="font-white btn btn-sm pull-right"><i class="fa fa-save"></i>@Resources.NewsletterResource.Save</a>

        </div>
        <div id="divAction">
            <input id="insertImage" type="file" style="display:none" accept="image/x-png, image/jpeg">
        </div>
       
    </div>
    <div name="summernote" id="event_contentInput"> </div>
</div>
<script>
    $(document).ready(function () {
      
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var imgUrl = '@System.Configuration.ConfigurationManager.AppSettings["image"]';
        var userId = '@ViewBag.UserId';
        var message = {
            LoadError: '@Html.Raw(Resources.NewsletterResource.notifyGetInfoError)',
            NoExistNewsLetterId: '@Html.Raw(Resources.NewsletterResource.notifyNoExistNewsLetterId)',
            SaveSuccess: '@Html.Raw(Resources.NewsletterResource.notifySaveSuccess)',
            SaveError: '@Html.Raw(Resources.NewsletterResource.notifySaveError)',
            HaveError: '@Html.Raw(Resources.NewsletterResource.HaveError)',
            NoContent: '@Html.Raw(Resources.NewsletterResource.NoContent)',
        };
        var Type = '@ViewBag.Type';
        var Id = '@ViewBag.Id';

        var language = '@HttpContext.Current.Session["CurrentCulture"]';
        emaileditor_EmailEditor.init(language);

        emaileditor_ActionButton(apiDomain, access_token, userId, Id, Type, imgUrl, message);

    });


</script>


