﻿
@{
    ViewBag.Title =Resources.LoginResource.updatePassWord;
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


<div class="content">


    <div class="resetpass-form">
        <h3>@Resources.LoginResource.updatePassWord</h3>
        <h5>@Resources.LoginResource.Account: @ViewBag.Email</h5>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span></span>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock" style="padding-top: 4px;"></i>
                <input class="form-control placeholder-no-fix input-lg" type="password" autocomplete="off" placeholder="@Resources.LoginResource.NewPassword" name="password" id="new-password" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock" style="padding-top: 4px;"></i>
                <input class="form-control placeholder-no-fix input-lg" type="password" autocomplete="off" placeholder="@Resources.LoginResource.ReNewPassword" name="password" id="renew-password" />
            </div>
        </div>
        <div class="form-actions">
            <a  href="/Login" id="rsback-login" class="btn btn-lg red btn-outline pull-left" > @Resources.LoginResource.loginLogin</a>

            <button type="submit" id="btn-request-forget-pass" class="btn btn-lg green-jungle pull-right"> @Resources.LoginResource.updatePassWord </button>
        </div>
    </div>


</div>


<script type="text/javascript">

    $(document).ready(function () {

        var message = {
            UpdatePassSuccess: '@Html.Raw(Resources.LoginResource.UpdatePassSuccess)',
            ErrorOrExpired: '@Html.Raw(Resources.LoginResource.ErrorOrExpired)',
            PasswordRequire: '@Html.Raw(Resources.LoginResource.errorPass)',
            RePasswordRequire: '@Html.Raw(Resources.LoginResource.errorRePass)',
            RePasswordNotCompare: '@Html.Raw(Resources.LoginResource.errorComparePass)',
            ResetPasswordSuccess: '@Html.Raw(Resources.LoginResource.ResetPasswordSuccess)',
            ResetPasswordError: '@Html.Raw(Resources.LoginResource.ResetPasswordError)',
        };
        var Email = '@ViewBag.Email';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        resetpassword_Action(apiDomain, Email, message);
    });

</script>






