﻿
@{

    ViewBag.Title = "Review Campaign";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}
@section Style{
    <link href="~/Content/mycustom.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
}



<div>
    <div class="clearfix custom-preview-header" style="height:50px;">
        <a class="item-preview-email" style="color:#1188e6" id="item-preview-email-desktop-campaign">
            EMAIL
            <i class="fa fa-envelope"></i>
        </a>
        <a class="item-preview-email">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </a>
        <a class="item-preview-email" id="item-preview-email-mobile-campaign" style="display:none;">
            SMS
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
    <div class="bg-success-mobile" style="display:none">
        <div id="content-mobile-preview-campaign" class="scroller" style="height: 478px !important;border: 1px solid #C1C1C1;" data-always-visible="1" data-rail-visible="0">
            <iframe id="iframepreviewmobile-campaign" frameBorder="0" style="width: 320px;" scrolling="no" src="/BasicCampaign/PreViewEmailContent?eId=@ViewBag.CampaignId"></iframe>
        </div>
    </div>
    <div class="bg-success-desktop">
        <div id="content-desktop-preview-email-campaign" class="scroller" style="border: 1px solid #C1C1C1;" data-always-visible="1" data-rail-visible="0"></div>

    </div>

</div>

<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var CampaignId = '@ViewBag.CampaignId';
        $('#content-mobile-preview-campaign').slimScroll({ height: 480 });
        previewcampaing_Action(apiDomain, access_token, CampaignId);
    });

    function previewcampaing_Action(apiDomain, access_token, CampaignId) {
        $('#iframepreviewmobile-campaign').attr('src', "/View/SMS?eId=" + CampaignId);


        var height = $(window).outerHeight() - $('#custom-preview-header').outerHeight();
        $('#content-desktop-preview-email-campaign').slimScroll({ height: height-150});
            $('.bg-success-desktop').css('height', height-100);

            $('#content-desktop-preview-email-campaign').load("/View/Email?eId=" + CampaignId);


            // $('#content-mobile-preview').load("/BasicCampaign/PreViewEmailContent?eId="+CampaignId);

            $('#item-preview-email-desktop-campaign').on('click', function () {
                $(this).css('color', '#1188e6');
                $('#item-preview-email-mobile-campaign').css('color', 'black');
                $('.bg-success-desktop').show();
            $('.bg-success-mobile').hide();
        })
            $('#item-preview-email-mobile-campaign').on('click', function () {
                $(this).css('color', '#1188e6');
                $('#item-preview-email-desktop-campaign').css('color', 'black');
            $('.bg-success-desktop').hide();
            $('.bg-success-mobile').show();
        });
    }

    jQuery(function ($) {
        var lastHeight = 0, curHeight = 0, $frame = $('iframe:eq(0)');
        setInterval(function () {
            curHeight = $frame.contents().find('body').height();
            if (curHeight != lastHeight) {
                $frame.css('height', (lastHeight = curHeight) + 'px');
            }
        }, 500);
    });

</script>



