﻿
@{
    ViewBag.Title = "Preview email desktop";
}

<style>
    .wrap {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
        margin: 20px;
    }
</style>

<div class="row">

    <div id="content-email-preview-desktop" class="wrap">
    </div>
</div>

<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var CampaginId = '@ViewBag.CampaignId';
        previewemailcontent_Action(apiDomain, access_token, CampaginId)
    });

    function previewemailcontent_Action(apiDomain, access_token, CampaginId) {
        $.ajax({
            url: apiDomain + '/api/BasicCampaign/GetInfo?CampaignId=' + CampaginId,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (r) {
                switch (parseInt(r.ErrorCode)) {
                    case 0:
                        var data = r.Data;
                        if (data.SendMethod == "0" || data.SendMethod == "2") {
                            var emailsend = JSON.parse(JSON.stringify(data)).EmailSend
                            var html = JSON.parse(JSON.stringify(emailsend)).HTML;

                            $('#content-email-preview-desktop').append(html);

                        }
                        break;
                }
            },
            error: function () {

            }
        })
    }
</script>



