﻿
@{

    ViewBag.Title =Resources.AdvancedCampaignResource.PreView;
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}
@section Style{
    <link href="~/Content/mycustom.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
}



<div>
    <div class="clearfix custom-preview-header" style="height:50px;">
        <a class="item-preview-email" style="color:#1188e6;display:none;" id="item-preview-email-desktop-campaign">
            Newsletter
            <i class="fa fa-envelope"></i>
        </a>

        <a class="item-preview-sms" id="item-preview-email-mobile-campaign" style="display:none;">
            Message
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
    <div class="content-mobile-preview" style="display:none">
        <div id="content-mobile-preview-campaign">
        </div>
    </div>
    <div class="bg-success-desktop">
        <div id="content-desktop-preview-email-campaign" class="scroller" style="border: 1px solid #C1C1C1;" data-always-visible="1" data-rail-visible="0"></div>

    </div>

</div>

<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var BaseId = '@ViewBag.BaseId';
        previewcampaing_Action(apiDomain, access_token, BaseId);
    });

    function previewcampaing_Action(apiDomain, access_token, BaseId) {
        $('#divLoading').show();
        $.ajax({
            url: apiDomain + 'api/AutoCampaign/GetEventInfo?BaseId=' + BaseId,
            type: 'get',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', 'Bearer ' + access_token);
            },
            success: function (r) {
                switch (parseInt(r.ErrorCode)) {
                    case 0:
                        var data = r.Data;

                        var height = $(window).outerHeight() - $('#custom-preview-header').outerHeight();
                        $('#content-desktop-preview-email-campaign').slimScroll({ height: height - 150 });
                        $('.bg-success-desktop').css('height', height - 100);

                        if (data.SendMethod == 2) {
                            $('.item-preview-email').show();
                            $('.item-preview-sms').show();
                            $('#content-mobile-preview-campaign').load("/View/Message?mId=" + data.SMSMessageId);
                            $('#content-desktop-preview-email-campaign').load("/View/Newsletter?nId=" + data.NewsletterId);


                        }
                        if (data.SendMethod == 0)
                        {
                            $('.item-preview-email').show();
                            $('.item-preview-sms').hide();
                            $('.content-mobile-preview').hide();
                            $('.bg-success-desktop').show();
                            
                            $('#content-desktop-preview-email-campaign').load("/View/Newsletter?nId=" + data.NewsletterId);

                           
                        }

                        if (data.SendMethod == 1) {
                            $('.item-preview-sms').show();
                            $('.content-mobile-preview').show();
                            $('.bg-success-desktop').hide();
                            $('#content-mobile-preview-campaign').load("/View/Message?mId=" + data.SMSMessageId);

                        }

                        $('#item-preview-email-desktop-campaign').on('click', function () {
                            $(this).css('color', '#1188e6');
                            $('#item-preview-email-mobile-campaign').css('color', 'black');
                            $('.bg-success-desktop').show();
                            $('.content-mobile-preview').hide();
                        })
                        $('#item-preview-email-mobile-campaign').on('click', function () {
                            $(this).css('color', '#1188e6');
                            $('#item-preview-email-desktop-campaign').css('color', 'black');
                            $('.bg-success-desktop').hide();
                            $('.content-mobile-preview').show();
                        });

                        break;
                    default:
                        custom_shownotification('error', 'Lỗi tải thông tin responder');
                        break;
                }
                $('#divLoading').hide();
            },
            error: function (x, s, e) {
                custom_shownotification('error', 'Lỗi tải thông tin responder');
                $('#divLoading').hide();
            }
        })

        
    }

    jQuery(function ($) {
        var lastHeight = 0, curHeight = 0, $frame = $('iframe:eq(0)');
        setInterval(function () {
            curHeight = $frame.contents().find('body').height();
            if (curHeight != lastHeight) {
                $frame.css('height', (lastHeight = curHeight) + 'px');
            }
        }, 500);
    });

</script>



