﻿
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}

<div class="bg-success-mobile">
    <div id="content-sms-preview" class="scroller" style="padding:5px;font-size:15px; height: 480px !important;width:320px;border: 1px solid #C1C1C1;" data-always-visible="1" data-rail-visible="0">

    </div>
</div>

<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var MessageId = '@ViewBag.MessageId';
        previewsmscontent_Action(apiDomain, access_token, MessageId);

    });
    $('#content-sms-preview').slimScroll({ height: 480 });
    function previewsmscontent_Action(apiDomain, access_token, MessageId) {
        $.ajax({
            url: apiDomain + 'api/smsmessage/GetInfo?SMSMessageId=' + MessageId,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (r) {
                switch (parseInt(r.ErrorCode)) {
                    case 0:

                        var data = r.Data;

                        $('#content-sms-preview').append('<span>'+data.Message+'</span>');
                        
                        break;
                }
            },
            error: function () {

            }
        })
    }
</script>





