﻿

@{
    ViewBag.Title = "Xem thư";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}




<div id="content-newsletter-preview" style="max-width:768px;margin:0 auto !important;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 0;background-color: #FFFFFF;">
</div>


<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var NewsletterId = '@ViewBag.NewsletterId';
        previewemailcontent_Action(apiDomain, access_token, NewsletterId);
        $('#content-newsletter-preview').css('min-height', $(window).innerHeight() + 'px');
        $('#content-newsletter-preview').css('padding','20px')
    });
    function previewemailcontent_Action(apiDomain, access_token, NewsletterId) {
        $.ajax({
            url: apiDomain + '/api/newsletter/GetInfo?NewsletterId=' + NewsletterId,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (r) {
                switch (parseInt(r.ErrorCode)) {
                    case 0:

                        var data = r.Data;


                        var html = data.HTML;

                        $('#content-newsletter-preview').append(html);


                        break;
                }
            },
            error: function () {

            }
        })
    }
</script>





