﻿
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@Resources.ContactResource.contactCreate</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div>
            <p style="margin:5px 0;" class="uppercase bold">@Resources.SendsmsResource.DocumentNecessary</p>
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.GiayPhep</span> <br />

            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> Mẫu đăng kí brandname </span>
            <span class="font-blue"><a href="https://myxteam.blob.core.windows.net/chat/22905/89/1514359907393/Form%20khai%20bao%20CSKH_Vina%20Mobi.docx"><i class="fa fa-file-text"></i> Form 1</a></span>&nbsp;&nbsp;
            <span class="font-blue"><a href="https://myxteam.blob.core.windows.net/chat/22905/89/1514359907397/Form%20khai%20b%C3%A1o%20CSKH%20Viettel.doc"><i class="fa fa-file-text"></i> Form 2</a></span>&nbsp;&nbsp;
            <span class="font-blue"><a href="https://myxteam.blob.core.windows.net/chat/22905/89/1514359907395/Form%20XAC%20NHAN%20GIAO%20DICH%20KD_M%E1%BA%ABu.doc"><i class="fa fa-file-text"></i> Form 3</a></span>&nbsp;&nbsp;
            <p><b>Lưu ý</b>: Những Branname nào <b>không có</b> trong giấy phép đăng ký kinh doanh thì <b>phải có</b> thêm thông tin tên miền và giấy ủy quyền domain 
                <span class="font-blue"><a href="https://myxteam.blob.core.windows.net/attach/405/540617/20170511111840/mauchungnhantenmien.png" target="_blank"><i class="fa fa-file-text"></i> Form 4</a></span>
                <span class="font-blue"><a href="https://myxteam.blob.core.windows.net/attach/405/540617/20170511112013/%E1%BB%A6y%20quy%E1%BB%81n%20domain.doc"><i class="fa fa-file-text"></i> Form 5</a></span><br />
            </p>
            <p style="margin:5px 0;" class="uppercase bold">@Resources.SendsmsResource.DocumentMessage</p>
            <p style="margin:5px 0;" class="bold"> @Resources.SendsmsResource.BrandName</p>
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName1</span><br />
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName2 </span><br />
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName3 </span><br />
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName4 </span><br />
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> <b>Không</b> dùng số ở đầu (ví dụ: 3KM) </span><br />
            <p style="margin:5px 0" class="bold"> @Resources.SendsmsResource.RigMessage</p>
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.Message1 </span><br />
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.Message2 </span><br />
            <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.Message3 </span><br />
        </div>
        <div class="margin-top-10">
            <p class="bold">
                <span> @Html.Raw(Resources.SendsmsResource.notetransfer1)</span><br />
                <span>Hồ sơ gửi về: Ms Trinh, Lầu 2-Vsoft, 18A/76 Nguyễn Thị Minh Khai, Q.1, TP.HCM.</span>
            </p>
        </div>
        <div class="margin-top-10 text-center">
            <p class="note note-success" style="font-size:18px;margin: 5px 0">@Resources.SendsmsResource.ContactRegister , trinhyen@vsoftgroup.com</p>
        </div>
    </div>
</div>
<div class="modal-footer ">
    <div class="text-center text-center">
        <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i> @Resources.SendsmsResource.Close</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var access_token = '@HttpContext.Current.Session["access_token"]';
    });
</script>



