﻿
@{
    ViewBag.Title = "Preview sms";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}




<div id="content-sms-preview" style="width: 100% !important;min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 0;background-color: #FFFFFF;">
</div>


<script>
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var CampaginId = '@ViewBag.CampaignId';
        previewsmscontent_Action(apiDomain, access_token, CampaginId);

    });
    $(function () {
        $('#content-sms-preview').slimScroll({ height: 480 });
    });
    function previewsmscontent_Action(apiDomain, access_token, CampaginId) {
        $.ajax({
            url: apiDomain + '/api/BasicCampaign/GetInfo?CampaignId=' + CampaginId,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (r) {
                switch (parseInt(r.ErrorCode)) {
                    case 0:

                        var data = r.Data;
                        if (parseInt(data.SendMethod) == 2) {
                            var smssend = JSON.parse(JSON.stringify(data)).SMSSend
                            var html = JSON.parse(JSON.stringify(smssend)).Message;

                            $('#content-sms-preview').append(html);
                            window.parent.$('#item-preview-email-mobile-campaign').show();
                        }
                        else
                        {
                           // $('item-preview-email-mobile-campaign').hide();
                            window.parent.$('#item-preview-email-mobile-campaign').hide();

                            $('#content-sms-preview').append('Chiến dịch này không có sms');
                        }
                        break;
                }
            },
            error: function () {

            }
        })
    }
</script>



