﻿
@{
    ViewBag.Title = "forms.toomarketer.com";
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="/Content/Images/favicon.png">
    Layout = "";
}
<body class="body-view-form">
    <div>
        <script class="script-webform-toomarketer" id="script-webform-toomarketer" src="http://formbeta.toomarketer.com/scripts/toomarketer-web-form-nonejs.v2.js?fId=@ViewBag.FormId"></script>
    </div>
    <div style="padding-top:2px;text-align:center;">
        <p style="margin:0;font-size:13px;color:#379a46">Powered by <a style="color: #379a46;font-size:14px;font-weight:bold; text-decoration: none;" href="http://app.toomarketer.com">Toomarketer</a></p>
    </div>

</body>




