﻿@{ 
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Thông báo hết hạn sử dụng";
}
@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];

}

<style>
    body{
        background:white;
    }
</style>
<div style="width:100%;max-width:900px; margin:0 auto;">
    <div class="text-center margin-top-40">
        <img src="~/Content/Images/sendmail-123.png" />

    </div>
    <div class="text-left margin-top-40">
        <p style="font-size:18px;">@Resources.LoginResource.Hi <b>@userinfo.LastName</b> ,</p>
        <p style="font-size:18px;"><b>@Resources.LoginResource.ExpDateFrom @userinfo.ExpireDate.Value.ToString("dd-MM-yyyy").</b><br /> @Html.Raw(Resources.LoginResource.ExpDateDes)</p>
        <p  style="font-size:15px;">Toomarketer Team. </p>
       
    </div>
</div>