﻿@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<style>
    .copyright {
        display: none;
    }
    .lined-text {
    display: table;
    width: 100%;
    max-width: 480px;
    margin: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 1em;
}
    .line {
    position: relative;
    top: .7em;
    display: table-cell;
    width: 45%;
    border-top: 1px solid rgba(255,255,255,.6);
}
    .left{text-align:left;}
    .right{text-align:right;}
</style>
<div style="text-align:center;padding-top:40px; color:white">
    <div class="lined-text">
        <div class="line left"></div><div class="text">Đăng kí thành công</div><div class="line right"></div>
    </div>
    <h1>Cám ơn vì đã chọn app.toomarketer.com</h1>
    <h2>Chúng tôi đã gửi mail kích hoạt tại @ViewBag.Email</h2>
    <h3>Vui lòng kiểm tra hộp thư và làm theo chỉ dẫn để hoàn tất việc đăng kí. Nếu bạn có thắc mắc gì, vui lòng liên hệ chúng tôi</h3>
</div>
