﻿@{
    ViewBag.Title = Resources.LoginResource.loginLogin;
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="content" >
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="#">
        @*<div id="signintitle">
            <h3 style="margin-top:0px!important;"><i class="glyphicon glyphicon-log-in"></i> @Resources.LoginResource.loginLogin</h3>
            <label>@Resources.LoginResource.loginRequiredTitle</label>
        </div>*@
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>@Resources.LoginResource.logintitle</span>
        </div>
        @*<div class="create-account" style="color:white !important;">
            <label>
                
                <a href="javascript:;" id="forget-password">
                    @Resources.LoginResource.loginForgot
                </a> <span>|</span>
                <a href="javascript:;" id="register-btn"> @Resources.LoginResource.loginCreate </a>
            </label>
        </div>*@
        <div class="form-group form-md-line-input" id="fieldLogin">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginUsername</label>
            <div class="input-icon">
                <i class="fa fa-user" style="padding-bottom: 7px;"></i>
                <input class="form-control placeholder-no-fix input-lg" type="text" autofocus autocomplete="off" placeholder="@Resources.LoginResource.loginEmail" name="login_email"  id="login_email"/>
            </div>
        </div>
        <div class="form-group form-md-line-input" id="fieldLogin">
            <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginPassword</label>
            <div class="input-icon">
                <i class="fa fa-lock" style="padding-bottom: 7px;"></i>
                <input class="form-control placeholder-no-fix input-lg" type="password" autocomplete="off" placeholder="@Resources.LoginResource.loginPassword" name="login_password" id="login_password" />
            </div>
        </div>
        <div class="form-actions" id="action-login">
           
            <a href="javascript:;" id="forget-password">
                @Resources.LoginResource.loginForgot
            </a>
            <div class="pull-right">
                <div id="langualebar"></div>

            </div>
        </div>
        <div class="login-options">
            @*<label>
                @Resources.LoginResource.loginOrlogin
            </label>*@
            <div id="another-login">
                <div class="pull-left">
                    @*<a class="zocial facebook">Facebook</a>
                    <span class="zocial googleplus g-signin" data-callback="signinCallback" data-clientid="878057748263-48o57qh7rde3qoav0oqd2bl8322cgn40.apps.googleusercontent.com" data-cookiepolicy="single_host_origin" data-requestvisibleactions="http://schema.org/AddAction" data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.file" data-gapiscan="true" data-onload="true" data-gapiattached="true">Google+</span>*@
                </div>
                <div class="pull-right">
                    <div id="langualebar"></div>

                </div>

            </div>
            <div>
                <button type="submit" id="login_btn_submit" style="width:100%;" data-loading-text="Loading..." class="btn btn-lg green-jungle"> @Resources.LoginResource.loginLogin </button>
            </div>

            <p class="or">or</p>
            <div>
                <a class="btn red btn-outline btn-lg" href="javascript:;" style="width:100%;" id="register-btn"> @Resources.LoginResource.loginCreate </a>
            </div>

        </div>
        @*<div class="forget-password" style="color:white !important;">
            <a href="javascript:;" id="forget-password">
                <h5>@Resources.LoginResource.loginForgot</h5>
            </a>
            <span>@Resources.LoginResource.loginclick <a href="javascript:;" id="forget-password"> @Resources.LoginResource.loginhere</a> @Resources.LoginResource.loginReset</span>
        </div>*@
        
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form">
        <h3>@Resources.LoginResource.loginForgot</h3>
        <p> @Resources.LoginResource.loginEnterforget</p>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span></span>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope" style="padding-top: 4px;"></i>
                <input class="form-control placeholder-no-fix input-lg" type="text" autocomplete="off" placeholder="Email" name="email" id="email-forget-pass"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn red btn-outline">@Resources.LoginResource.loginback</button>
            <button type="submit" id="btn-request-forget-pass" class="btn green-jungle pull-right"> @Resources.LoginResource.loginSubmit </button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
    <!-- BEGIN REGISTRATION FORM -->
   
    <!-- END REGISTRATION FORM -->
   
</div>
<div class="content-register">
    <div class="register-form">

        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span id="rig_alert"></span>
        </div>
        <table class="table-info-register">

            <tr>
                <td class="td-rg-1">
                    <div class="form-group" id="fieldLogin">
                        <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginFirstname</label>
                        <div class="input-icon">
                            <i class="fa fa-font" style="margin-top:15px;"></i>
                            <input class="form-control placeholder-no-fix input-lg" type="text" autofocus placeholder="@Resources.LoginResource.loginFirstname" name="firstname" id="rig_firstname" />
                        </div>
                    </div>
                </td>
                <td class="td-rg-2">
                    <div class="form-group" id="fieldLogin">
                        <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginLastname</label>
                        <div class="input-icon">
                            <i class="fa fa-font" style="margin-top:15px;"></i>
                            <input class="form-control placeholder-no-fix input-lg" type="text" placeholder="@Resources.LoginResource.loginLastname" name="lastname" id="rig_latsname" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-rg-1">
                    <div class="form-group " id="fieldLogin">
                        <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginMobile</label>
                        <div class="input-icon">
                            <i class="fa fa-mobile" style="margin-top:15px;"></i>
                            <input class="form-control placeholder-no-fix input-lg" type="text" autocomplete="off" placeholder="@Resources.LoginResource.loginMobile" name="mobile" id="register_mobile" />
                        </div>
                    </div>
                </td>
                <td class="td-rg-2">
                    <div class="form-group" id="fieldLogin">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginEmail</label>
                        <div class="input-icon">
                            <i class="fa fa-envelope" style="margin-top:15px;"></i>
                            <input class="form-control placeholder-no-fix input-lg" type="text" placeholder="@Resources.LoginResource.loginEmail" name="email" id="register_email" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-rg-1">
                    <div class="form-group" id="fieldLogin">
                        <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginPassword</label>
                        <div class="input-icon" >
                            <i class="fa fa-lock" style="margin-top:15px;"></i>
                            <input class="form-control placeholder-no-fix input-lg" type="password" autocomplete="off" id="register_password" placeholder="@Resources.LoginResource.loginPassword" name="password" />
                        </div>
                    </div>
                </td>
                <td class="td-rg-2">
                    <div class="form-group" id="fieldLogin">
                        <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginRetype</label>
                        <div class="input-icon">
                            <i class="fa fa-check" style="margin-top:15px;"></i>
                            <input class="form-control placeholder-no-fix input-lg" type="password" autocomplete="off" placeholder="@Resources.LoginResource.loginRetype" name="rpassword" id="rpassword" />
                        </div>
                    </div>
                </td>
            </tr>
            @*<div class="form-group form-md-line-input" id="fieldLogin">
                    <label class="control-label visible-ie8 visible-ie9">@Resources.LoginResource.loginRetype</label>
                    <div class="controls">
                        <div class="input-icon">
                            <i class="fa fa-check"></i>
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@Resources.LoginResource.loginRetype" name="rpassword" />
                        </div>
                    </div>
                </div>*@
        </table>
        <div class="form-group">
            <label style="color:white;">
                <input type="checkbox" name="tnc" id="rig_tnc" /> @Resources.LoginResource.loginAgree
                <a href="http://vn.toomarketer.com/dieu-khoan-dich-vu/" target="_blank" id="termofservice"> @Resources.LoginResource.TermsofService </a> @Resources.LoginResource.loginand
                <a href="http://vn.toomarketer.com/chinh-sach-bao-mat/" target="_blank" id="privacipolicy"> @Resources.LoginResource.PrivacyPolicy </a>
            </label>
            <div id="register_tnc_error"> </div>
        </div>
        <div class="form-actions">
            <div class="form-group">
                <button type="submit" id="register-submit-btn" class="btn btn-lg green-jungle" style="width:100%;">@Resources.LoginResource.loginSignup</button>
            </div>
            <div class="form-group">
                <button id="register-back-btn" type="button" class="btn btn-lg red btn-outline" style="width:100%;"> @Resources.LoginResource.loginback </button>
            </div>

        </div>

    </div>
</div>
    
    <script type="text/javascript">
        $(function cookieAff() {
            var Id = '@ViewBag.Id';
            if (jQuery.cookie('tooid') != null && jQuery.cookie('tooid') != undefined && jQuery.cookie('tooid') != '') {
                //đã có thì thôi
            }
            else //ngược lại thì lưu cookie 90 ngày nếu có Aff
            {
                if (Id!=null) {
                    jQuery.cookie('tooid', Id, { expires: 60, path: '/' });
                }
            }
        });

        $(document).ready(function () {

            $('#langualebar').ddslick({
                data: [
            {
                value: 0,
                selected: false,
                imageSrc: "/assets/global/img/flags/vn.png"
            },
            {
                value: 1,
                selected: false,
                imageSrc: "/assets/global/img/flags/us.png"
            },
                ],
                width: 50,
                imagePosition: "center",
                onSelected: function (selected) {
                    //callback function: do something with selectedData;
                    if (document.readyState === "complete") {
                        var lang = JSON.parse(JSON.stringify(selected.selectedData)).value;
                        if (lang == 0)
                        {
                            custom_changeLanguage('vi-VN');
                        }
                        else if(lang==1)
                        {
                            custom_changeLanguage('en-US');
                        }

                    }
                }

            });


            if ('@HttpContext.Current.Session["CurrentCulture"]') {
                var langname = '@HttpContext.Current.Session["CurrentCulture"]';
                if (langname == "vi-VN")
                {
                    $('#langualebar').ddslick('select', { index: 0 });
                }
                else
                {
                    $('#langualebar').ddslick('select', { index: 1 });
                }

            }
            else if (!'@HttpContext.Current.Session["CurrentCulture"]') {
                //    $('select[name=select]').val(parseInt(0));
                $('#langualebar').ddslick('select', { value: 0 });
            }



            var message = {
                error101: '@Html.Raw(Resources.LoginResource.loginError101)',
                errorlog: '@Html.Raw(Resources.LoginResource.loginError)',
                error102: '@Html.Raw(Resources.LoginResource.loginError102)',
                error104: '@Html.Raw(Resources.LoginResource.loginError104)',
                errorFirstname: '@Html.Raw(Resources.LoginResource.errorFirstname)',
                errorLastname: '@Html.Raw(Resources.LoginResource.errorLastname)',
                errorEmail: '@Html.Raw(Resources.LoginResource.errorEmail)',
                errorFormatEmail: '@Html.Raw(Resources.LoginResource.errorFormatEmail)',
                errorMobile: '@Html.Raw(Resources.LoginResource.errorMobile)',
                errorFormatMobile: '@Html.Raw(Resources.LoginResource.errorFormatMobile)',
                errorPass: '@Html.Raw(Resources.LoginResource.errorPass)',
                errorLeastPass: '@Html.Raw(Resources.LoginResource.errorLeastPass)',
                errorRePass: '@Html.Raw(Resources.LoginResource.errorRePass)',
                errorComparePass: '@Html.Raw(Resources.LoginResource.errorComparePass)',
                errorNTC: '@Html.Raw(Resources.LoginResource.errorNTC)',
                sendmailresetpass: '@Html.Raw(Resources.LoginResource.notifyResetPass)',
                emailNotFound: '@Html.Raw(Resources.LoginResource.emailNotFound)',
                hasError: '@Html.Raw(Resources.LoginResource.hasError)',

            };
            var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
            var groupId = '@System.Configuration.ConfigurationManager.AppSettings["ContactGroup"]';
            var campaignId = '@System.Configuration.ConfigurationManager.AppSettings["CampaignAuto"]';
            var access_token_auto = '@HttpContext.Current.Session["access_token_auto"]';
            var returnurl =  '@Url.Encode(ViewBag.ReturnUrl)';
            Login(apiDomain, access_token_auto, campaignId, groupId, message, returnurl);
        });





    </script>




