﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    Layout = "~/Views/Shared/_Layout_Lock.cshtml";
}
<div class="page-lock">
    <div class="page-logo">
        <a class="brand" href="#">
            <img src="@Url.Content("~/Content/Images/sendmail-123.png")" alt="logo" />
        </a>
    </div>
    <div class="page-body">
        @if (userinfo.Avatar == "https://123sendmail.blob.core.windows.net/")
        {
            <img class="page-lock-img" src="~/Content/Images/no-avatar.png" alt="" id="avatarlock">
        }
        else
        {

        <img class="page-lock-img" src="@userinfo.Avatar" alt="" id="avatarlock">
        }
        <div class="page-lock-info">
            <h1>@userinfo.FirstName @userinfo.LastName  </h1>
            <span class="email"> @userinfo.Email </span>
            <span class="locked"> @Resources.LoginResource.Locked </span>
            <div class="form-inline" id="relogin-form">
                <div class="input-group input-medium">
                    <input type="password" name="password" class="form-control form-md-line-input" placeholder="Password" id="relog_password">
                    <span class="input-group-btn">
                        <button type="submit" class="btn green icn-only" id="relog_submit">
                            <i class="m-icon-swapright m-icon-white"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
                <div class="relogin">
                    <a href="@Url.Content("~/Login")"><span class="font-red">@Resources.LoginResource.Not</span> @userinfo.FirstName @userinfo.LastName ? </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer-custom"> 2016 &copy; APP.TOOMARKETER.COM </div>
</div>
<script>
    $(document).ready(function () {
        var username = '@Html.Raw(userinfo.Email)';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            error101: '@Html.Raw(Resources.LoginResource.loginError101)',
            errorlog: '@Html.Raw(Resources.LoginResource.loginError)',
            error102: '@Html.Raw(Resources.LoginResource.loginError102)',
            error104: '@Html.Raw(Resources.LoginResource.loginError104)'
        }
        lock_Relogin(apiDomain, username,message);


    })
</script>
