﻿@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<style>
    .copyright{display:none;}
</style>
<div style="text-align:center;padding-top:40px;">
   <h1 style="color:white;">@Resources.LoginResource.loginRequired</h1>
    <a onclick="loginrequred_OpenLogin();" class='btn red btn-outline'>@Resources.Resource.loginLogin</a>
    <a onclick ="loginrequred_OpenRegister();" class='btn red btn-outline'>@Resources.Resource.loginSignup</a> 
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var message = {
            title: '@Html.Raw(Resources.LoginResource.logRequiredTitle)',
            mess: '@Html.Raw(Resources.LoginResource.logRequiredMes)',
            logButton: '@Html.Raw(Resources.LoginResource.logRequiredLog)',
            keepButton: '@Html.Raw(Resources.LoginResource.logRequredKeep)',
            countDown: '@Html.Raw(Resources.LoginResource.logRequiredCountDown)',
            second:'@Html.Raw(Resources.LoginResource.logSecond)'
        }
       // custom_Timeout(message);
    });

</script>
