﻿@{ 
    Layout = "";
}

<link href="~/Content/custom-register-popup.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/fontawesome4.4.0/css/font-awesome.css" rel="stylesheet" />
<div class="custom-toomarketer-register">
    <div class="row" style="max-width:990px;width:100%;margin:0 auto;">
        <div class="col-md-12" style="padding:0;">
            <div class="portlet light bordered" style="padding:0;margin:0;">
                <div class="portlet-title bg-green-jungle">
                    <div class="text-center  bg-font-green-jungle " style="width:100%; padding:10px 10px;">
                        Đăng kí toomarketer
                        <div class="caption pull-right">
                            <a style="padding:10px;"><i class="fa fa-close font-white"></i></a>
                        </div>
                    </div>

                </div>
                <div class="portlet-body" style="padding-top:0;">
                    <div class="row" style="margin:0;">
                        <div class="col-md-12">
                            <div class="col-md-6 col-sm-6 hidden-xs">
                                <h3>
                                    Để quản lý bán hàng mọi lúc, mọi nơi, trên mọi thiết bị.
                                </h3>
                                <h5>
                                    Không cần cài đặt, quản lý dễ dàng, tiết kiệm chi phí.
                                </h5>
                                <div class="text-center">
                                    <img src="https://www.kiotviet.vn/wp-content/themes/kiotviet/images/register_step2.jpg" />
                                </div>
                                <h5>
                                    * Hỗ trợ đăng ký 1800 6162
                                </h5>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="bold">Họ *</label>
                                    <div class="input-icon">
                                        <i class="fa fa-font"></i>
                                        <input class="form-control placeholder-no-fix input-md" type="text" autofocus="" id="rig_lastname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Tên *</label>
                                    <div class="input-icon">
                                        <i class="fa fa-font"></i>
                                        <input class="form-control placeholder-no-fix input-md" type="text" autofocus="" id="rig_firstname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Số điện thoại *</label>
                                    <div class="input-icon">
                                        <i class="fa fa-mobile-phone"></i>
                                        <input class="form-control placeholder-no-fix input-md" type="text" autofocus="" id="rig_mobile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Email *</label>
                                    <div class="input-icon">
                                        <i class="fa fa-envelope"></i>
                                        <input class="form-control placeholder-no-fix input-md" type="email" autofocus="" id="rig_email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Mật khẩu *</label>
                                    <div class="input-icon">
                                        <i class="fa fa-key"></i>
                                        <input class="form-control placeholder-no-fix " type="password" autofocus="" id="rig_password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Xác nhận mật khẩu *</label>
                                    <div class="input-icon">
                                        <i class="fa fa-key"></i>
                                        <input class="form-control placeholder-no-fix " type="password" autofocus="" id="rig_repassword">
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <a class="btn btn-md green-jungle"><i class="fa fa-sign-in"></i> Đăng kí tài khoản</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
