﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<style>
    h2.loginHint {
        color: #999;
        margin: 10px 0 30px;
    }

    .LoginSection ul .labelogin {
        line-height: 25px;
        padding: 0;
        font-size: 1em;
        display: inline-block;
        color: white;
    }

    .LoginSection ul li.button {
        text-align: right;
    }
    ul.main-menu > li.register {
                    background: none repeat scroll 0 0 #D9D9D9;
                    transition: background 0s ease 0s;
                    border-radius: 0 0 5px 5px;
                }

     ul.main-menu > li.register a {
                        color: #2C3E50;
                        font-weight: bold;
                    }


    ul.main-menu > li a {
                    display: block;
                    border-left: 0 solid #FFFFFF;
                    border-top: 0 solid rgba(255, 255, 255, 0.5);
                    padding: 0.4em 1em;
                    text-decoration: none;
                    color: white;
                }
    .k-widget.k-tooltip-validation {
    border-color: #FFFFFF;
    background-color: rgba(251, 240, 182, 0.59);
    color: #635E5E;
}
    .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    margin-top: 0;
}
</style>
<div class="visble-xs hidden-sm hidden-md hidden-lg" style="position: absolute; width: 100%; left: 0; top: 38px; background-color: #2C3E50; height: 40px; line-height: 40px; text-align: center;">
    <a href="@Url.Content("~/")">
        <img src="@Url.Content("~/Content/Images/sendmail-123.png")" height="40" />
    </a>
</div>
<div class="LoginSection" style="width: 400px !important; margin: 100px auto 0">
    <div class="register">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { enctype = "mutlipart/form-data" }))
        {
            <h3>@Resources.Resource.Register</h3>
            <ul>
                <li>
                    <label class="labelogin" for="RUserName">@Resources.Resource.User (*)</label>
                    <div class="input-group">
                        <input type="text" id="RUserName" name="RUserName" class="form-control" required validationmessage="@Resources.Resource.vlUser" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    </div>
                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="RUserName" data-val-msg-for="RUserName" id="RUserName_validationMessage" role="alert" style="display: none;"><span class="k-icon k-warning"></span>@Resources.Resource.vlUser</span>
                </li>
                <li>
                    <label class="labelogin" for="RPassword">@Resources.Resource.Pass (*)</label>
                    <div class="input-group">
                        <input type="password" id="RPassword" name="RPassword" class="form-control" required validationmessage="@Resources.Resource.vlPass" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    </div>
                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="RPassword" data-val-msg-for="RPassword" id="RPassword_validationMessage" role="alert" style="display: none;"><span class="k-icon k-warning"></span>@Resources.Resource.vlPass</span>
                </li>
                <li>
                    <label class="labelogin" for="RPasswordConfirm">@Resources.Resource.rePass (*)</label>
                    <div class="input-group">
                        <input type="password" id="RPasswordConfirm" name="RPasswordConfirm" class="form-control" required validationmessage="@Resources.Resource.rePass" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    </div>
                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="RPasswordConfirm" data-val-msg-for="RPasswordConfirm" id="RPasswordConfirm_validationMessage" role="alert" style="display: none;"><span class="k-icon k-warning"></span>@Resources.Resource.rePass</span>
                </li>
                <li>
                    <label class="labelogin" for="REmail">@Resources.Resource.Email (*)</label>
                    <div class="input-group">
                        <input type="email" id="REmail" name="REmail" class="form-control" required validationmessage="@Resources.Resource.vlEmail" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    </div>
                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="REmail" data-val-msg-for="REmail" id="REmail_validationMessage" role="alert" style="display: none;"><span class="k-icon k-warning"></span>@Resources.Resource.vlEmail</span>
                </li>
                <li></li>
                <li class="button">
                    <button value="Register" id="btRegister" class="k-button" type="submit" style="padding:5px 10px"><span class="glyphicon glyphicon-log-in" style="margin-right: 10px"></span>@Resources.Resource.Register</button>
                </li>
            </ul>
        }
    </div>
</div>

<script>

    var validatorRegister = $(".register").kendoValidator().data("kendoValidator");

</script>
