﻿
@{
    ViewBag.Title = "Kết quả nạp tiền vào tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding-top:30vh">
    <div style="background:black;opacity:0.7;padding:40px;margin:20px;">
        <h2 style="color:white;"> @ViewBag.Error</h2>
        <h2 style="color:white;"> @ViewBag.Status</h2>
</div>
    <button id="redirec-to-userprofile" class="btn btn-sm green-jungle">@Resources.PaymentResource.Comeback</button>
    </div>
<script>
    $(document).ready(function () {
        recharge_Action();
        recharge_Background();
    })
</script>



