﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = "Dashboard";

}
<script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js"></script>
<script src="~/assets/global/plugins/counterup/jquery.counterup.min.js"></script>
@section JS{
   <script src="@Url.Content("~/assets/global/plugins/counterup/jquery.waypoints.min.js")?@ViewBag.JsPara" type="text/javascript"></script>
   <script src="@Url.Content("~/assets/global/plugins/counterup/jquery.counterup.min.js")?@ViewBag.JsPara" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Home/home.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
<style>
 .dashboard-stat .details {
    position: absolute;
    left: 15px;
    padding-left: 15px;
}
 .dashboard-stat .details .number {
    padding-top: 25px;
    text-align: left;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 500;
}
 .dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: right;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
 .dashboard-stat .details .desc {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
}
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.PagetitleResource.pagetitleHome</span>

        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
              
                    @*<label class="font-lg">
                        
                    </label>*@
                    <div class="caption pull-left" >
                        <i class="fa fa-area-chart"></i>
                        <span>@Resources.HomeResource.DasdboardTitle (gồm thành công và không thành công) </span>

                    </div>
                    @*<div class="pull-right" style="margin-left:5px;">
                    </div>*@
               

                <div class="tools" style="padding: 5px 0 13px;">
                    <div class="btn-group btn-group-devided" data-toggle="buttons" id="group-select-date">
                        <label class="btn red btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options-date" class="toggle" id="option1" value="1">@Resources.HomeResource.ToDay
                        </label>
                        <label class="btn red btn-outline btn-circle btn-sm ">
                            <input type="radio" name="options-date" class="toggle" id="option2" value="2">@Resources.HomeResource.Last7Day
                        </label>
                        <label class="btn red btn-outline btn-circle btn-sm">
                            <input type="radio" name="options-date" class="toggle" id="option2" value="3">@Resources.HomeResource.Last30Day
                        </label>
                    </div>
                </div>

            </div>
            <div class="portlet-body" id="content-dashboard">
                <div class="row">
                    <div class="col-lg-12 col-md-12" >
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopading">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10">
                                <div class="dashboard-stat green-jungle">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactsms" data-value="0">0</span>
                                        </div>
                                        <div class="desc"> @Resources.HomeResource.TotalSentSMS </div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                        View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                <div class="dashboard-stat grey-steel">
                                    <div class="visual">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactbrandname" data-value="0">0</span> <span style="font-size:20px;" sdata-counter="scounterup" id="percentcontactbrandname" data-value="0">0</span><span style="font-size:20px;">%</span>
                                        </div>
                                        <div class="desc">@Resources.HomeResource.TotalSentSMSBrand</div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                        View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                <div class="dashboard-stat grey-steel">
                                    <div class="visual">
                                        <i class="fa fa-random"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactrandom" data-value="0">0</span> <span style="font-size:20px;" sdata-counter="scounterup" id="percentcontactrandom" data-value="0">0</span><span style="font-size:20px;">%</span>
                                        </div>
                                        <div class="desc">@Resources.HomeResource.TotalSentSMSOTP</div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                        View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                <div class="dashboard-stat grey-steel">
                                    <div class="visual">
                                        <i class="fa fa-mobile"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactgateway" data-value="0">0</span> <span style="font-size:20px;" sdata-counter="scounterup" id="percentcontactgateway" data-value="0">0</span><span style="font-size:20px;">%</span>
                                        </div>
                                        <div class="desc">@Resources.HomeResource.TotalSentSMSGateway</div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                        View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopading">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-10 margin-bottom-10">
                                <div class="dashboard-stat green-jungle">
                                    <div class="visual">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactemail" data-value="0">0</span>
                                        </div>
                                        <div class="desc">@Resources.HomeResource.TotalSentEmail </div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                       View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                <div class="dashboard-stat grey-steel">
                                    <div class="visual">
                                        <i class="fa fa fa-rocket"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactcampaign" data-value="0">0</span> <span style="font-size:20px;" sdata-counter="scounterup" id="percentcontactcampaign" data-value="0">0</span><span style="font-size:20px;">%</span>
                                        </div>
                                        <div class="desc">@Resources.HomeResource.TotalSentEmailCampaign</div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                       View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                <div class="dashboard-stat grey-steel">
                                    <div class="visual">
                                        <i class="fa fa-gears"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactautoresponder" data-value="0">0</span> <span style="font-size:20px;" sdata-counter="scounterup" id="percentcontactautoresponder" data-value="0">0</span><span style="font-size:20px;">%</span>
                                        </div>
                                        <div class="desc">@Resources.HomeResource.TotalSentEmailAuto  </div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                        View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                                <div class="dashboard-stat grey-steel">
                                    <div class="visual">
                                        <i class="fa fa-sign-in"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span sdata-counter="scounterup" id="totalcontactsubscribe" data-value="0">0</span>
                                        </div>
                                        <div class="desc">@Resources.HomeResource.TotalSentEmailRegister </div>
                                    </div>
                                    @*<a class="more" href="javascript:;">
                                       View more
                                        <i class="m-icon-swapright m-icon-white"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-12">
            <div class="padding-tb-10">

                <div class="col-md-12">
                    <div class="col-xs-2">
                        <div class="backgroup-white box-stats">
                            <h5>REQUESTS</h5>
                            <div class="stats-value">
                                <div class="stats-single-value font-green-sharp">2,844</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="backgroup-white box-stats">
                            <h5>DELIVERED</h5>
                            <div class="stats-value">
                                <div class="stats-first-value font-yellow-soft">912.122%</div>
                                <div class="stats-second-value font-yellow-haze">2,747</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="backgroup-white box-stats">
                            <h5>OPENED</h5>
                            <div class="stats-value">
                                <div class="stats-first-value font-blue-sharp">74.44%</div>
                                <div class="stats-second-value font-blue-dark">2,747</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="backgroup-white box-stats">
                            <h5>CLICKED</h5>
                            <div class="stats-value">
                                <div class="stats-first-value font-green">14.88%</div>
                                <div class="stats-second-value font-blue">2,747</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="backgroup-white box-stats">
                            <h5>BOUNCES</h5>
                            <div class="stats-value">
                                <div class="stats-first-value font-purple">1.84%</div>
                                <div class="stats-second-value font-purple-studio">2,747</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="backgroup-white box-stats">
                            <h5>SPAM REPORTS</h5>
                            <div class="stats-value">
                                <div class="stats-first-value font-red-mint">0.00%</div>
                                <div class="stats-second-value font-red">2,747</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="chartdiv" style="width:100%;height:470px;"></div>
                    <div>
                        <ul class="nav nav-pills" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:0px ;width:150px; margin:0 auto;">
                            <li class="active">
                                <a id="tab-dashboard-week" data-toggle="tab" aria-expanded="false" style="padding: 5px 10px;border-radius: 4px !important;"> Week </a>
                            </li>
                            <li>
                                <a id="tab-dashboard-month" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 4px !important;"> Month </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



<script>
    $(document).ready(function () {
        $('#mndashboard').addClass('active open');
        $('#mndashboard').children('a').append('<span class="selected"></span>');

        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            HaveError: '@Html.Raw(Resources.HomeResource.HaveError)',
        };
        
        $('#content-dashboard').css('height', $(window).innerHeight() - $('.page-header').outerHeight() - $('.page-bar').outerHeight() - $('.portlet-title').outerHeight() - $('.page-footer').outerHeight() - 20 + 'px');
        home_action(apiDomain, access_token, message);
    });
    window.onresize=function()
    {
        $('#content-dashboard').css('height', $(window).innerHeight() - $('.page-header').outerHeight() - $('.page-bar').outerHeight() - $('.portlet-title').outerHeight() - $('.page-footer').outerHeight() - 20 + 'px');

    }
</script>


