﻿<li class="dropdown dropdown-language">
    <a  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding: 14px 7px 12px 7px;">
        <img id="Main" alt="" src="">
        @*<i class="fa fa-angle-down"></i>*@
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a onclick="selectSub();">
                <img id="Sub" alt="" src=""><span id="language"></span>
            </a>
        </li>

    </ul>
</li>
<script>

    function selectSub() {
        var lang = '@HttpContext.Current.Session["CurrentCulture"]';
        if (lang == 'en-US') {
            custom_changeLanguage('vi-VN');
        }
        if (lang == 'vi-VN') {
            custom_changeLanguage('en-US');
        }

        window.location.reload();


    }

    var us ="../../assets/global/img/flags/us.png"
    var vn="../../assets/global/img/flags/vn.png"
    $(document).ready(function () {
        if ('@HttpContext.Current.Session["CurrentCulture"]') {
            var lang = '@HttpContext.Current.Session["CurrentCulture"]'
            if (lang == 'en-US') {
                $("#Main").attr("src",us );
                $("#Sub").attr("src", vn);
                $("#language").text("Việt Nam")
            }
            if (lang == 'vi-VN')
            {
                $("#Main").attr("src",vn);
                $("#Sub").attr("src", us);
                $("#language").text("English")
            }
        }
        if (! '@HttpContext.Current.Session["CurrentCulture"]') {
            custom_changeLanguage('vi-VN');
        }
    })

</script>
