﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<li class="dropdown dropdown-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        @if (userinfo.Avatar == "https://123sendmail.blob.core.windows.net/")
        {
            <img alt="" class="img-circle" src="~/Content/Images/no-avatar.png" id="avatarheader" />

        }
        else
        {
            <img alt="" class="img-circle" src="@userinfo.Avatar" id="avatarheader" />
        }
        <span class="username username-hide-on-mobile">@userinfo.LastName </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">

        @*@if (permission.Account != 0)
            { <li>
                 <a href="@Url.Content("~/Account/UserProfile")">
                     <i class="icon-user"></i> @Resources.Resource.menupofileMyProfile
                 </a>
             </li>
            }*@
        @if (permission.IsParent)
        {
            <li id="accountsetting">
                <a class="btnmenuprofile" id="btnmenuaccountsetting" href="@Url.Content("~/Account/UserProfile#AcountSetting")">
                    <i class="icon-settings"></i> @Resources.AccountResource.uprofileAccountSettings
                </a>
            </li>
            <li id="teammates">
                <a class="btnmenuprofile" id="btnmenuteammates" href="@Url.Content("~/Account/UserProfile#Teammates")">
                    <i class="icon-users"></i> @Resources.AccountResource.uprofileSubUser
                </a>
            </li>
                    <li id="frommail">
                        <a class="btnmenuprofile" id="btnmenufrommail" href="@Url.Content("~/Account/UserProfile#FromEmail")">
                            <i class="icon-envelope"></i> @Resources.AccountResource.uprofileFromEMail
                        </a>
                    </li>
                    <li id="frommobile">
                        <a class="btnmenuprofile" id="btnmenufrommobile" href="@Url.Content("~/Account/UserProfile#FromMobile")">
                            <i class="fa fa-tablet"></i> @Resources.AccountResource.uprofileFromMobile
                        </a>
                    </li>
                    <li id="specialday">
                        <a class="btnmenuprofile" id="btnspecialday" href="@Url.Content("~/Account/UserProfile#SpecialDay")">
                            <i class="fa fa-calendar-o"></i> @Resources.AccountResource.uprofileSpecialDay
                        </a>
                    </li>
                    <li id="money">
                        <a class="btnmenuprofile" id="btnmenumoney" href="@Url.Content("~/Account/UserProfile#ManageMoney")">
                            <i class="icon-trophy"></i> @Resources.AccountResource.uprofileUserMoney
                        </a>
                    </li>
                    <li id="recharge">
                        <a class="btnmenuprofile" id="btnmenurecharge" href="@Url.Content("~/Account/UserProfile#Recharge")">
                            <i class="icon-diamond"></i> @Resources.AccountResource.uprofileRecharge
                        </a>
                    </li>
        }
        else
        {
            if (permission.SettingAccount != 0)
            {
                <li id="accountsetting">
                    <a class="btnmenuprofile" id="btnmenuaccountsetting" href="@Url.Content("~/Account/UserProfile#AcountSetting")">
                        <i class="icon-settings"></i> @Resources.AccountResource.uprofileAccountSettings
                    </a>
                </li>
            }
            if (permission.SubAccount != 0)
            {
                <li id="teammates">
                    <a class="btnmenuprofile" id="btnmenuteammates" href="@Url.Content("~/Account/UserProfile#Teammates")">
                        <i class="icon-users"></i> @Resources.AccountResource.uprofileSubUser
                    </a>
                </li>
            }
            if (permission.FromMail != 0)
            {
                <li id="frommail">
                    <a class="btnmenuprofile" id="btnmenufrommail" href="@Url.Content("~/Account/UserProfile#FromEmail")">
                        <i class="icon-envelope"></i> @Resources.AccountResource.uprofileFromEMail
                    </a>
                </li>
            }

            if (permission.FromMobile != 0)
            {
                <li id="frommobile">
                    <a class="btnmenuprofile" id="btnmenufrommobile" href="@Url.Content("~/Account/UserProfile#FromMobile")">
                        <i class="fa fa-mobile"></i> @Resources.AccountResource.uprofileFromMobile
                    </a>
                </li>
            }

            if (permission.SpeicalDay != 0)
            {
                <li id="specialday">
                    <a class="btnmenuprofile" id="btnspecialday" href="@Url.Content("~/Account/UserProfile#SpecialDay")">
                        <i class="fa fa-calendar-o"></i> @Resources.AccountResource.uprofileSpecialDay
                    </a>
                </li>
            }

            if (permission.StatisticMoney != 0)
            {
                <li id="money">
                    <a class="btnmenuprofile" id="btnmenumoney" href="@Url.Content("~/Account/UserProfile#ManageMoney")">
                        <i class="icon-trophy"></i> @Resources.AccountResource.uprofileUserMoney
                    </a>
                </li>
            }

        }
        <li class="divider"> </li>
        <li id="integrated">
            <a  class="btnmenuprofile" id="btnmenuintegrated" href="@Url.Content("~/Account/UserProfile#Integrated")">
                <i class="fa fa-plug"></i> @Resources.AccountResource.Integarted
            </a>
        </li>
        <li>
            <a id="signout">
                <i class="icon-key"></i> @Resources.Resource.menupofileLogOut
            </a>
        </li>

    </ul>
</li>
<script type="text/javascript">
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        menuprofile_SignOut(apiDomain, access_token);
        setInterval(function () { keeplive_GetInfo(apiDomain, access_token); }, 1200000);
    });
</script>





