﻿@{  
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
 }
<div class="modal fade in" id="modalNotifycation" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thông báo !</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12" id="notifyexp" style="display:none;">
                    <p class="font-lg">
                        @Resources.HomeResource.NotifyExp1 <span class="font-red bold">@userinfo.ExpireDate.Value.ToString("dd-MM-yyyy") </span>@Resources.HomeResource.NotifyExp2 <span class="font-red bold">
    @System.Configuration.ConfigurationManager.AppSettings["FirstLimitRecharge"] VNĐ</span> @Resources.HomeResource.NotifyExp3
                    </p>
                </div>
                <div class="col-md-12" id="notifyexpbrand" style="display:none;">
                    <p class="font-lg">
                       @Html.Raw(Resources.HomeResource.NotifyExpBrandname)
                    </p>
                </div>
            </div>
            <div class="modal-footer ">
                
                    <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i> @Resources.HomeResource.Skip</button>
               
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //yêu  cầu nạp tiền
        var date = moment(new Date()).format('YYYY-MM-DD');
        var beforedatex = '@userinfo.ExpireDate.Value.AddDays(-7).ToString("yyyy-MM-dd")';
        var datex = '@userinfo.ExpireDate.Value.ToString("yyyy-MM-dd")';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {};
        notifycation_Action(apiDomain, access_token, message, date, beforedatex, datex);


    });
</script>
