﻿@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}

    <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"> </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
@*<li class="heading">
    <h3 class="uppercase">@Resources.MenuResource.mnDashBoard</h3>
</li>*@

<li class="nav-item  " id="mndashboard">
    <a href="~/Home" class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">@Resources.MenuResource.mnDashBoard</span>

    </a>
</li>
    @if (permission.IsParent)
    {
        <li class="heading">
            <h3 class="uppercase">@Resources.MenuResource.mnheaderGetStarted</h3>
        </li>

        <li class="nav-item  " id="mncreatecontact">
            <a href="~/Contacts/CreateContact" class="nav-link nav-toggle">
                <i class="icon-list"></i>
                <span class="title">@Resources.MenuResource.mnCreateContact</span>

            </a>
        </li>

        <li class="nav-item  " id="mncreatesms">
            <a href="~/SendSMS/" class="nav-link nav-toggle">
                <i class="fa fa-send" style="color:white;"></i>
                <span class="title">@Resources.MenuResource.mnCreateSMS</span>

            </a>
        </li>
        <li class="nav-item  " id="mncreateCampaign">
            <a id="mncreatebasiccampaign" href="~/BasicCampaign/Setting?eId=0" class="nav-link nav-toggle">
                <i class="fa fa-plus" style="color:white;"></i>
                <span class="title">@Resources.MenuResource.mnCreateBasicCampaign</span>

            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">@Resources.MenuResource.mnheaderContacts</h3>
        </li>

        <li class="nav-item  " id="mncontact">
            <a href="@Url.Content("~/Contacts/")" class="nav-link nav-toggle">
                <i class="icon-notebook"></i>
                <span class="title">@Resources.MenuResource.mnContacts</span>

            </a>
        </li>

        <li class="nav-item  " id="mnquerycontact">
            <a href="@Url.Content("~/Contacts/QueryContact")" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">@Resources.MenuResource.mnQueryContacts</span>

            </a>
        </li>

        <li class="nav-item  " id="mnSuppressions">
            <a href="@Url.Content("~/Suppressions")" class="nav-link nav-toggle">
                <i class="fa fa-warning" style="color:white"></i>
                <span class="title">@Resources.MenuResource.mnSuppressions</span>

            </a>
        </li>

        <li class="nav-item  " id="mnsmsunsendlog">
            <a href="@Url.Content("~/SendSMS/SMSUnsendLogs")" class="nav-link nav-toggle">
                <i class="fa fa-exclamation-circle" style="color:white"></i>
                <span class="title">@Resources.MenuResource.mnSMSUnsendLogs</span>

            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">@Resources.MenuResource.mnListCampaing</h3>
        </li>

        <li class="nav-item  " id="mnsmscampaign">
            <a href="@Url.Content("~/SendSMS/SMSCampaign/")" class="nav-link">
                <i class="icon-cursor"></i>
                <span class="title">@Resources.MenuResource.mnSMSCampaign</span>
            </a>
        </li>

        <li class="nav-item  " id="mnbasiccampaign">

            <a href="@Url.Content("~/BasicCampaign/")" class="nav-link">
                <i class="fa fa-rocket font-white"></i>
                <span class="title">@Resources.MenuResource.mnBasicCampaign</span>
            </a>
        </li>

        <li class="nav-item  " id="mnadvancedcampaign">
            <a href="@Url.Content("~/AdvancedCampaign/")" class="nav-link">
                <i class="fa fa-gears font-white"></i>
                <span class="title">@Resources.MenuResource.mnAdvancedCampaign</span>
            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">@Resources.MenuResource.mnStatistics</h3>
        </li>
        <li class="nav-item" id="mnstatisticsms">
            <a href="@Url.Content("/statistics/message")" class="nav-link">
                <i class="fa fa-pie-chart" style="color:white"></i>
                <span class="title">@Resources.MenuResource.mnAnalyticsMessage</span>
            </a>
        </li>
        <li class="nav-item" id="mnstatisticbasic">
            <a href="@Url.Content("/statistics/generalstatistics")" class="nav-link">
                <i class="fa fa-area-chart font-white"></i>
                <span class="title">@Resources.MenuResource.mnAnalyticsBasic</span>
            </a>
        </li>
        <li class="nav-item" id="mntimebase">
            <a href="/statistics/timebased" class="nav-link">
                <i class="fa fa-line-chart font-white"></i>
                <span class="title">@Resources.MenuResource.mnAnalyticAdvanced</span>
            </a>
        </li>

        <li class="heading">
            <h3 class="uppercase">@Resources.MenuResource.mnUtilities</h3>
        </li>

        <li class="nav-item" id="mnmytemplate">
            <a href="@Url.Content("/utilities/mytemplates")" class="nav-link">
                <i class="fa fa-picture-o" style="color:white"></i>
                <span class="title">@Resources.MenuResource.mnMytemplate</span>
            </a>
        </li>


        <li class="nav-item" id="mnexport">
            <a href="@Url.Content("/utilities/export")" class="nav-link">
                <i class="fa fa-file-excel-o" style="color:white"></i>
                <span class="title">@Resources.MenuResource.mnExport</span>
            </a>
        </li>

    }
    else
    {
        if (permission.ManageContact == 2 || permission.SMSCampaign == 2 || permission.RocketCampaign == 2)
        {
            <li class="heading">
                <h3 class="uppercase">@Resources.MenuResource.mnheaderGetStarted</h3>
            </li>
        }
        if (permission.ManageContact == 2)
        {
            <li class="nav-item  " id="mncreatecontact">
                <a href="~/Contacts/CreateContact" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">@Resources.MenuResource.mnCreateContact</span>

                </a>
            </li>
        }
        if (permission.SMSCampaign == 2)
        {
            <li class="nav-item  " id="mncreatesms">
                <a href="~/SendSMS/" class="nav-link nav-toggle">
                    <i class="fa fa-send" style="color:white;"></i>
                    <span class="title">@Resources.MenuResource.mnCreateSMS</span>

                </a>
            </li>}
        if (permission.RocketCampaign == 2)
        {
            <li class="nav-item  " id="mncreateCampaign">
                <a id="mncreatebasiccampaign" href="~/BasicCampaign/Setting?eId=0" class="nav-link nav-toggle">
                    <i class="fa fa-plus" style="color:white;"></i>
                    <span class="title">@Resources.MenuResource.mnCreateBasicCampaign</span>

                </a>
            </li>
        }
        if (permission.Contacts != 0 || permission.ContactActivity != 0 || permission.Suppression != 0)
        {
            <li class="heading">
                <h3 class="uppercase">@Resources.MenuResource.mnheaderContacts</h3>
            </li>
        }
        if (permission.Contacts != 0)
        {
            <li class="nav-item  " id="mncontact">
                <a href="@Url.Content("~/Contacts/")" class="nav-link nav-toggle">
                    <i class="icon-notebook"></i>
                    <span class="title">@Resources.MenuResource.mnContacts</span>

                </a>
            </li>
        }
        if (permission.ContactActivity != 0)
        {
            <li class="nav-item  " id="mnquerycontact">
                <a href="@Url.Content("~/Contacts/QueryContact")" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">@Resources.MenuResource.mnQueryContacts</span>

                </a>
            </li>
        }
        if (permission.Suppression != 0)
        {
            <li class="nav-item  " id="mnSuppressions">
                <a href="@Url.Content("~/Suppressions")" class="nav-link nav-toggle">
                    <i class="fa fa-warning" style="color:white"></i>
                    <span class="title">@Resources.MenuResource.mnSuppressions</span>

                </a>
            </li>
        }
        if (permission.SMSUnSendLogs != 0)
        {
        <li class="nav-item  " id="mnsmsunsendlog">
            <a href="@Url.Content("~/SendSMS/SMSUnsendLogs")" class="nav-link nav-toggle">
                <i class="fa fa-exclamation-circle" style="color:white"></i>
                <span class="title">@Resources.MenuResource.mnSMSUnsendLogs</span>

            </a>
        </li>
        }
        if (permission.SMSCampaign != 0 || permission.RocketCampaign != 0 || permission.AutoCampaign != 0)
        {
            <li class="heading">
                <h3 class="uppercase">@Resources.MenuResource.mnListCampaing</h3>
            </li>
        }
        if (permission.SMSCampaign != 0)
        {
            <li class="nav-item  " id="mnsmscampaign">
                <a href="@Url.Content("~/SendSMS/SMSCampaign/")" class="nav-link">
                    <i class="icon-cursor"></i>
                    <span class="title">@Resources.MenuResource.mnSMSCampaign</span>
                </a>
            </li>}
        if (permission.RocketCampaign != 0)
        {
            <li class="nav-item  " id="mnbasiccampaign">

                <a href="@Url.Content("~/BasicCampaign/")" class="nav-link">
                    <i class="fa fa-rocket font-white"></i>
                    <span class="title">@Resources.MenuResource.mnBasicCampaign</span>
                </a>
            </li>
        }
        if (permission.AutoCampaign != 0)
        {
            <li class="nav-item  " id="mnadvancedcampaign">
                <a href="@Url.Content("~/AdvancedCampaign/")" class="nav-link">
                    <i class="fa fa-gears font-white"></i>
                    <span class="title">@Resources.MenuResource.mnAdvancedCampaign</span>
                </a>
            </li>
        }
        if (permission.Statistic != 0)
        {
            <li class="heading">
                <h3 class="uppercase">@Resources.MenuResource.mnStatistics</h3>
            </li>
            <li class="nav-item" id="mnstatisticsms">
                <a href="@Url.Content("/statistics/message")" class="nav-link">
                    <i class="fa fa-pie-chart" style="color:white"></i>
                    <span class="title">@Resources.MenuResource.mnAnalyticsMessage</span>
                </a>
            </li>
            <li class="nav-item" id="mnstatisticbasic">
                <a href="@Url.Content("/statistics/generalstatistics")" class="nav-link">
                    <i class="fa fa-area-chart font-white"></i>
                    <span class="title">@Resources.MenuResource.mnAnalyticsBasic</span>
                </a>
            </li>
            <li class="nav-item" id="mntimebase">
                <a href="/statistics/timebased" class="nav-link">
                    <i class="fa fa-line-chart font-white"></i>
                    <span class="title">@Resources.MenuResource.mnAnalyticAdvanced</span>
                </a>
            </li>
        }
        if (permission.Template != 0 || permission.Exports != 0)
        {
            <li class="heading">
                <h3 class="uppercase">@Resources.MenuResource.mnUtilities</h3>
            </li>
        }
        if (permission.Template != 0)
        {
            <li class="nav-item" id="mnmytemplate">
                <a href="@Url.Content("/utilities/mytemplates")" class="nav-link">
                    <i class="fa fa-picture-o" style="color:white"></i>
                    <span class="title">@Resources.MenuResource.mnMytemplate</span>
                </a>
            </li>
        }
        if (permission.Exports != 0)
        {
            <li class="nav-item" id="mnexport">
                <a href="@Url.Content("/utilities/export")" class="nav-link">
                    <i class="fa fa-file-excel-o" style="color:white"></i>
                    <span class="title">@Resources.MenuResource.mnExport</span>
                </a>
            </li>
        }
    }
    <li class="nav-item" style="height:50px;">
    </li>

    <li class="nav-item" style="position: absolute;width: 100%;bottom: 0;">
        <a style="padding:6px;" href="http://help.toomarketer.com" target="_blank" class="btn btn-xs yellow-gold">
            <i class="fa fa-question-circle" style="color:white"></i>
            <span class="title">@Resources.MenuResource.mnHelp</span>
        </a>
    </li>

