﻿@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
}
<li class="nav-item">
    <div id="use-process" class="font-white">
        <div class="col-lg-12 text-left" style="padding-bottom:10px;">
            <span>
                <span style="padding-right:20px;">
                    <span class="title">@Resources.HomeResource.Senttoday:</span>
                    <span class="title" id="sendmailtoday"> 0  </span> Email - <span class="title" id="sendsmstoday"> 0 </span> SMS
                </span>
                <a id="usestats-recharge" class="btn green-jungle popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="@Resources.AccountResource.uprofileRecharge">
                    <i class="fa fa-plus"></i>
                    <span class="title" id="process-userbalance">  </span>
                </a>
                
            </span>

        </div>
    </div>
</li>
<script>
        $(document).ready(function () {
            var access_token = '@HttpContext.Current.Session["access_token"]';
            var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
            userstats_Action(apiDomain, access_token);
        });
</script>
