﻿
@{
    ViewBag.Title = Resources.PagetitleResource.pagetitleSendSMS;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/sms_counter.js")?@ViewBag.JsPara"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SendSMS/sendsms.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/readexcel.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/shim.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/jszip.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/xlsx.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/ods.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Newsletters/partialsetting.js")?@ViewBag.JsPara" type="text/javascript"></script> @*addpersolinate*@
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.MenuResource.mnListCampaing</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/sendsms/smscampaign">
                <span>@Resources.MenuResource.mnSMSCampaign</span>
            </a>

            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.MenuResource.mnCreateSMS</span></b>
        </li>
    </ul>
</div>
<div class="row">
   <div class="col-lg-6 col-md-12 col-sm-12 nopading" >
       <div class="portlet box light nomargin nopading" style="box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0);">
           <div class="portlet-title" id="portlet-title-sendsms">
               <div class="caption caption-sendsms" >
                   <i class="fa fa-mobile"></i>
                   <span class="caption-subject bold uppercase">1 @Resources.SendsmsResource.Mobile</span>
               </div>
           </div>
           <div class="portlet-body">
               <div style="height:270px;" id="div-sms">
                  
                   <div class="pull-left" style="width:100%;">
                       <input type="text" id="sendsms-list-mobile-number"   data-role="tagsinput" class="custom-textarea" style="width:100%;" placeholder="@Resources.SendsmsResource.NoteMobile" />
                       <div class="nopading">
                           <p> <span>@Resources.SendsmsResource.TotalSend </span> <span id="total-sms-cansend" style="color:#E84444;">0</span></p>
                       </div>
                        <div>
                           <div class="col-lg-5 col-md-6 col-sm-6 nopading">
                               <select id="sendsms-select-contact-group" class="form-control custom-select" style="width:100%">
                                   <option value="-1">@Resources.SendsmsResource.Selectlist</option>

                               </select>

                               @*<select id="sendsms-select-contact-group" class="custom-select" style="height:24px;width:100%">
                                   <option value="-1">@Resources.SendsmsResource.Selectlist</option>
                               </select>*@
                           </div>
                           <div class="col-lg-7 col-sm-6 text-left" style="padding:2px 0px 0px 5px">
                               @*<a class="btn btn-xs blue btn-outline" id="sendsms-btn-import-from-list" style="height:24px;"><i class="icon-login"></i>Thêm từ danh sách</a>*@
                               @*<a class="btn btn-xs blue btn-outline" id="sendsms-btn-import-from-excel" style="height:24px;"><i class="fa fa-file-excel-o"></i>Thêm từ excel</a>*@

                               <a class="btn btn-sm green-jungle" id="sendsms-btn-contact-group" style="padding-left:10px;padding-right:10px;">@Resources.SendsmsResource.Confirm</a>
                               <a class="btn btn-sm red btn-outline" id="sendsms-btn-cancel-contact-group" style="padding-left:10px;padding-right:10px;">@Resources.SendsmsResource.Cancel</a>

                               <a class="btn btn-sm white" id="sendsms-btn-contact-group-reset" style="margin-left:20px;padding-left:10px;padding-right:10px;"><i class="icon-reload"></i>@Resources.SendsmsResource.Reset</a>
                           </div>
                       </div>
                   </div>
                   
                   
               </div>
           </div>
       </div>
   </div>
   
    <div class="col-lg-6 col-md-12 col-sm-12 nopading">
        <div class="portlet box light nomargin nopading" style="box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0);">
            <div class="portlet-title " id="portlet-title-sendsms">
                <div class="caption caption-sendsms">
                    <i class="fa fa-navicon"></i>
                    <span class="caption-subject bold uppercase">3 @Resources.SendsmsResource.TypeSMS </span>
                </div>
            </div>
            <div class="portlet-body">
                <div style="height:270px;" id="div-sms">
                    <div>
                        <div class="md-radio-list" style="margin:0;padding:5px 0">
                            <div class="md-radio" id="select-smstype">
                                <input name="smssendtype" class="md-radiobtn" id="smstypebasic" type="radio" value="1">
                                <label for="smstypebasic">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @Resources.NewsletterResource.SMSBacsic (@Resources.SendsmsResource.Efficiency 40-70%)
                                </label>
                                
                            </div>
                            <div class="md-radio" id="select-brandname-type">
                                <input name="smssendtype" class="md-radiobtn" id="smstypeadvanced" type="radio" value="2">
                                <label for="smstypeadvanced">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @Resources.NewsletterResource.SMSBrand (@Resources.SendsmsResource.Efficiency 85-95%)
                                </label>
                                <label class="hide" style="padding-left:15px;" id="sendsms-brandname">
                                    <select class="custom-select" id="select-sendsms-brandname" style="max-width:150px; min-width:150px;"></select>
                                    <label style="padding-left:5px;padding-top:5px;display:none;" id="register-brandname">
                                        <a class="btn btn-xs green-jungle"  data-toggle="modal" data-target="#modal-register-brandname-sms" href="~/View/RegBrandName">@Resources.SendsmsResource.Register</a>
                                    </label>
                                </label>
                            </div>
                            <div class="md-radio" id="select-devicenumber">
                                <input name="smssendtype" class="md-radiobtn" id="smstypegetway" type="radio" value="3">
                                <label for="smstypegetway">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @Resources.NewsletterResource.SMSGateway 
                                </label>
                                <label class="font-yellow-gold" style="padding-left:5px;">@Resources.SendsmsResource.Suggest</label>
                                    <a  href="http://help.toomarketer.com/gui-sms-cham-soc-khach-hang-bang-ca-nhan/" target="_blank">(@Resources.MenuResource.mnHelp) </a>
                                    <label class="hide"  id="sendsms-device">
                                        <select class="custom-select" id="select-sendsms-device" style="min-width:150px;"></select>
                                        <label style="padding-left:5px;"><a target="_blank" href="/Account/UserProfile#FromMobile"><i class="fa fa-cog"></i> @Resources.SendsmsResource.UpdateConfigurationSent </a></label>
                                        @*<table>
                                            <tr>
                                                <td>
                                                    Gửi đến mạng Mobifone và mạng khác
                                                </td>
                                                <td>
                                                    <select class="custom-select" id="select-sendsms-device"></select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Gửi đến mạng Vinaphone
                                                </td>
                                                <td>
                                                    <select class="custom-select" id="select-sendsms-device-vina"></select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Gửi đến mạng Viettel
                                                </td>
                                                <td>
                                                    <select class="custom-select" id="select-sendsms-device-viettel"></select>
                                                </td>
                                            </tr>
                                        </table>*@
                                    </label>
                              
                            </div>

                        </div>
                        
                       

                    </div>
                    <div class="alert-sms-not-send col-md-12 nopading">
                        <span class="label label-danger">@Resources.SendsmsResource.Note</span>
                        <p class="margin-top-10" style="margin-bottom:0 !important;">
                            <span id="note-send-webapp" class="font-red"><b>@Resources.SendsmsResource.PerformanceSend <span id="Performance-sendsms"></span> @Resources.SendsmsResource.PerformanceSendTo</b></span>
                            <span style="display:none;" id="note-send-getway" class="font-red"><b>@Resources.SendsmsResource.NoteGateway </b></span>
                            <div id="divsmsservice" style="display:none;">
                                <span class="font-yellow-gold bold" id="smsserviceenable" style="display:none;">@Resources.SendsmsResource.Current <span id="smsserviceenable-detail"></span> @Resources.SendsmsResource.DetailSMSEnable</span>
                            </div>
                        </p>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 nopading">
        <div class="portlet box light nomargin nopading"  style="box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0);">
            <div class="portlet-title" id="portlet-title-sendsms">
                <div class="caption caption-sendsms">
                    <i class="fa fa-envelope-o"></i>
                    <span class="caption-subject bold uppercase">2 @Resources.SendsmsResource.Content</span>
                </div>
            </div>
            <div class="portlet-body">
                <div style="height:270px;" id="div-sms">
                    <div class="col-md-6  col-sm-6 col-xs-6 nopading">
                        <div class="md-radio-inline" style="margin:0;padding:5px 0">
                            <div class="md-radio has-warning" id="select-sms-input-khongdau">
                                <input name="smsinputtype" class="md-radiobtn" id="smskhongdau" type="radio" value="1" >
                                <label for="smskhongdau" class="font-yellow-gold">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @Resources.SendsmsResource.SMSKhongdau
                                </label>
                            </div>
                            <div class="md-radio has-warning" id="select-sms-input-codau" style="display:none;">
                                <input name="smsinputtype" class="md-radiobtn" id="smscodau" type="radio" value="2">
                                <label for="smscodau" class="font-yellow-gold">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @Resources.SendsmsResource.SMSCodau
                                </label>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left" id="div-personalize-subject-sms" style="max-width:270px;">
                        <i class="fa fa-user"></i>
                        <a id="add-personalize-subject-sms">@Resources.NewsletterResource.emailpersonalize </a>
                    </div>
                    <div class="pull-left" style="width:100%;">
                        
                        <textarea class="custom-textarea"  type="text" rows="6" style="width:100%;padding:5px;" placeholder="@Resources.SendsmsResource.EnterContentSMS" id="content-sms"></textarea>
                        <div class="status" id="MsgLengthCount">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 nopading">
        <div class="portlet box light nomargin nopading" style="box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0);">
            <div class="portlet-title" id="portlet-title-sendsms">
                <div class="caption caption-sendsms">
                    <i class="fa fa-paper-plane-o"></i>
                    <span class="caption-subject bold uppercase">4 @Resources.SendsmsResource.Send</span>
                </div>
            </div>
            <div class="portlet-body">
                <div style="height:270px;" id="div-sms">
                    <div class="form-group form-md-line-input col-md-12 margin-bottom-10 nopading">
                        <label class="col-md-3 control-label nopading" style="margin-top:5px;">@Resources.SendsmsResource.CampaignName</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="sendsms-campaign-name">
                            <div class="form-control-focus"> </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-sm green-jungle" id="btn-sendsms-send"><i class="fa fa-send"></i>@Resources.SendsmsResource.SendSMS</a>
                        <a id="btn-sendsms-schedule" class="btn btn-sm blue"  ><i class="fa fa-hourglass"></i>@Resources.SendsmsResource.ScheduleSMS</a>
                        <a class="btn btn-sm blue" id="btn-sendsms-save"><i class="glyphicon glyphicon-save"></i>@Resources.SendsmsResource.Save </a>
                    </div>
                    <div class="padding-tb-10">
                        <div style="margin-top:10px;margin-bottom:10px;">
                            <span class="label label-danger">@Resources.SendsmsResource.Note</span>
                            <p  class="margin-top-10">@Html.Raw(Resources.SendsmsResource.NoteContent)</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade " id="modal-schedule-send-sms" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.SendsmsResource.schedulesend</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div id="date-schedule-send-sms" class="date-picker" data-date-format="mm/dd/yyyy"> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label>@Resources.SendsmsResource.time</label>
                        @*<input class="form-control hide" id="time-schedule-send-sms" type="time" value="13:56" />*@
                        <div class="col-lg-12 col-md-12 col-sm-12 nopading">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <select class="form-control " id="select-hour-schuedule"></select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <select class="form-control" id="select-minus-schuedule"></select>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.SendsmsResource.Close</button>
                <button type="button" class="btn btn-sm green-jungle" id="confirm-sendsms-nocampaign-schedule"><i class="fa fa-save"></i>@Resources.SendsmsResource.ScheduleSMS</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="modelConfirmSend" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>@Resources.NewsletterResource.WarningTitleSend</p>
                <h4 class="bold">@Resources.NewsletterResource.WarningSend</h4>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm default btn-outline font-grey-gallery" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" id="btnConfirmSave" class="btn btn-sm btn green-jungle"> @Resources.NewsletterResource.yescontinue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modal-register-brandname-sms" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="modal-register-brandname-sms" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.SendsmsResource.TitleRegesterBrandName</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p style="margin:5px 0;" class="uppercase bold">@Resources.SendsmsResource.DocumentNecessary</p>
                    <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.GiayPhep</span> <br />
                    <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.GiayXacnhan</span><br />
                    <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.GiayUyQuyen </span><br />
                    <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.GiayUyQuyen1 </span><br />
                    <span><i class="fa fa-circle-thin" style="font-size:5px;"></i> @Resources.SendsmsResource.FormRegester </span>
                    <span class="font-blue"><a href="http://files.myxteam.com/chat/28244/2681/1486108915060/Form%20%C4%91%C4%83ng%20k%C3%AD%20Brand%20Qu%E1%BA%A3ng%20c%C3%A1o.doc"><i class="fa fa-file-text"></i> Form 1</a></span>&nbsp;&nbsp;
                    <span class="font-blue"><a href="http://files.myxteam.com/chat/28244/2681/1486108915071/Form%20%C4%90K%20Brand%20CSKH%20Viettel.doc"><i class="fa fa-file-text"></i> Form 2</a></span>&nbsp;&nbsp;
                    <span class="font-blue"><a href="http://files.myxteam.com/chat/28244/2681/1486108915065/Form%20%C4%90K%20Brand%20CSKH%20Vina%20Mobi.docx"><i class="fa fa-file-text"></i> Form 3</a></span><br />
                    
                    <p style="margin:5px 0;" class="uppercase bold">@Resources.SendsmsResource.DocumentMessage</p>
                    <p style="margin:5px 0;" class="bold"> @Resources.SendsmsResource.BrandName</p>
                    <span><i class="fa fa-circle-thin"style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName1</span><br />
                    <span><i class="fa fa-circle-thin"style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName2 </span><br />
                    <span><i class="fa fa-circle-thin"style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName3 </span><br />
                    <span><i class="fa fa-circle-thin"style="font-size:5px;"></i> @Resources.SendsmsResource.BrandName4 </span><br />
                    <p style="margin:5px 0" class="bold"> @Resources.SendsmsResource.RigMessage</p>
                    <span><i class="fa fa-circle-thin"style="font-size:5px;"></i> @Resources.SendsmsResource.Message1 </span><br />
                    <span><i class="fa fa-circle-thin"style="font-size:5px;"></i> @Resources.SendsmsResource.Message2 </span><br />
                    <span><i class="fa fa-circle-thin"style="font-size:5px;"></i> @Resources.SendsmsResource.Message3 </span><br />
                 </div>
                <div class="margin-top-10">
                    <p class="bold">
                        <span>@Resources.SendsmsResource.notetransfer1</span><br/>
                        <span>@Resources.SendsmsResource.notetransfer2</span>
                    </p>
                </div>
                <div class="margin-top-10">
                    <p  class="note note-success"style="font-size:18px;margin: 5px 0">@Resources.SendsmsResource.ContactRegister</p>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center !important">
                <button type="button" class="btn btn-sm yellow-gold btn-outline" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.SendsmsResource.Close</button>
            </div>
        </div>
    </div>
</div>*@


@*<div class="modal fade " id="modal-import-mobile-from-list" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.SendsmsResource.ImportFromList</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:10px;">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <select id="sendsms-select-contact-group" class="custom-select" style="height:24px;width:100%">
                            <option value="-1">@Resources.SendsmsResource.Selectlist</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.SendsmsResource.Close</button>
                <button type="button" class="btn green" id="sendsms-btn-contact-group">Import</button>
            </div>
        </div>
    </div>
</div>*@

@*<div class="modal fade " id="modal-import-mobile-from-excel" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Import từ file excel</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-size:17px;">Tải lên tập tin Excel có chứa cột danh sách mobile:  <span style="color:red;font-weight:bold;font-size:17px;">Mobile </span></p>
                       
                        <p>@Resources.ContactResource.SheetName: <span style="color:red;font-weight:bold;font-size:17px;">Sheet1</span> </p>
                    </div>
                    <div class="col-md-12" style="text-align:center;">
                        <img src="@Url.Content("~/Content/Images/importmobi.png")" style="width:100%;"/>
                        <div>
                            <p style="font-size:17px;">Import mỗi lần không quá 5000 số </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" name="xlfile" id="xlfmobile" style="display:none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <div id="dropmobile" style="margin-top:10px;">Bấm vào đây hoặc kéo thả file XLSX / XLS để import số điện thoại</div>
                </div>
                <div class="display-hide>"
                    <input type="checkbox" name="useworker" checked><br />
                    <input type="checkbox" name="xferable" checked><br />
                    <input type="checkbox" name="userabs" checked><br />
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <a href="javascript:;" class="btn btn-sm btn-outline grey-salsa" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalBeforeImportMobile" class="modal fade" tabindex="-1" data-width="400" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.ContactResource.confirmimport</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" class="form-horizontal">
                            <div class="form-body">
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <label class="col-md-2"></label>
                                        <label class="col-md-6">
                                            <i class="icon-puzzle"> </i>  @Resources.ContactResource.modalcountcontact
                                        </label>
                                        <div class="col-md-2">
                                            <span id="countInfileMobile"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="text-align:center;">
                                        <span class="title"> @Resources.ContactResource.confirmcountinue</span>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseImportMobile" data-dismiss="modal" class="btn dark btn-outline">@Resources.ContactResource.close</button>
                <button type="button" id="btnActionImportMobile" class="btn red">@Resources.ContactResource.countinue</button>
            </div>
        </div>
    </div>
</div>*@



<script>
    $(document).ready(function () {

        $('#mncreatesms').addClass('active');
        $('#mncreatesms').children('a').append('<span class="selected"></span>');

        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            MobileError: '@Html.Raw(Resources.SendsmsResource.MobileError)',
            MessageError: '@Html.Raw(Resources.SendsmsResource.Message)',
            Success: '@Html.Raw(Resources.SendsmsResource.Success)',
            Error: '@Html.Raw(Resources.SendsmsResource.Error)',
            MoneyError: '@Html.Raw(Resources.SendsmsResource.MoneyError)',
            NoSelectGroup: '@Html.Raw(Resources.SendsmsResource.NoSelectGroup)',
            NoContact: '@Html.Raw(Resources.SendsmsResource.NoContact)',
            SelectTimeError: '@Html.Raw(Resources.SendsmsResource.SelectTimeError)',
            SelectDayError: '@Html.Raw(Resources.SendsmsResource.SelectDayError)',
            SelectDateScheduleError: '@Html.Raw(Resources.SendsmsResource.notifySelectDateScheduleError)',
            Character: '@Html.Raw(Resources.SendsmsResource.Character)',
            SMS: '@Html.Raw(Resources.SendsmsResource.SMS)',
            NoConfig: '@Html.Raw(Resources.SendsmsResource.NoConfig)',
            NoBrandName: '@Html.Raw(Resources.SendsmsResource.NoBrandName)',
            Note: '@Html.Raw(Resources.SendsmsResource.Note)',
            CalSMSNumber: '@Html.Raw(Resources.SendsmsResource.CalSMSNumber)',
            SMSNumberBrand: '@Html.Raw(Resources.SendsmsResource.SMSNumberBrand)',
            SMSNumerNomal: '@Html.Raw(Resources.SendsmsResource.SMSNumerNomal)',
            SMSNumberGetaway: '@Html.Raw(Resources.SendsmsResource.SMSNumberGetaway)',
        }
        var SMSSendId = '@ViewBag.SMSSendId';
        var IdAdd = 'content-sms'; //id input add persolinate
        sendsms_Action(apiDomain, access_token, SMSSendId, IdAdd, message);
        partialsetting_Action(apiDomain, access_token, message);//addpersolinate
       // var InputId = '#sendsms-list-mobile-number';
       // ActionImportMobile(apiDomain, access_token, InputId);

       // var iddiv = '#dropmobile';
       // var idinput = '#xlfmobile';
       // readexcel_DropClick(iddiv, idinput);

       // readexcel_Reset('#btnCloseImportMobile', '#xlfmobile');
       // readexcelEventGetMobile(message);

    });

</script>


