﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleSMSCampaign;
}
@section JS{
    <script src="@Url.Content("~/Scripts/SendSMS/sendsms.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.MenuResource.mnListCampaing</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span><b>@Resources.MenuResource.mnSMSCampaign</b></span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">


                <div class="tools">

                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" id="btn-reload-tableSMS" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
                <div class="col-sm-6" style="float:right">
                    <div class="clearfix">
                        <div class="tabbable-line" id="status-basic-campaign">
                            <ul class="nav nav-tabs">
                                @if (permission.IsParent)
                                {
                                <li id="sentstatus-basic">
                                    <a id="btnsentstatus-basic" href="#tabsend" data-toggle="tab"> @Resources.SendsmsResource.sent </a>
                                </li>
                                <li id="draftstatus-basic">
                                    <a id="btndraftstatus-basic" href="#tabdraft" data-toggle="tab"> @Resources.SendsmsResource.draft </a>
                                </li>
                                }
                                else
                                {
                                if (permission.SMSCampaign == 2)
                                {
                                <li id="sentstatus-basic">
                                    <a id="btnsentstatus-basic" href="#tabsend" data-toggle="tab"> @Resources.SendsmsResource.sent </a>
                                </li>
                                <li id="draftstatus-basic">
                                    <a id="btndraftstatus-basic" href="#tabdraft" data-toggle="tab"> @Resources.SendsmsResource.draft </a>
                                </li>
                                }
                                if (permission.SMSCampaign == 1)
                                {
                                <li id="sentstatus-basic">
                                    <a id="btnsentstatus-basic" href="#tabsend" data-toggle="tab"> @Resources.SendsmsResource.sent </a>
                                </li>
                                }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="actions" style="float:left">
                    @if (permission.IsParent)
                    {
                        <a class="btn-sm btn green-jungle" href="@Url.Content("/SendSMS/")">
                            <i class="fa fa-plus" id="custom"></i>@Resources.SendsmsResource.create
                        </a>
                    }
                    else
                    {
                        if (permission.SMSCampaign == 2)
                        {
                            <a class="btn-sm btn green-jungle" href="@Url.Content("/SendSMS/")">
                                <i class="fa fa-plus" id="custom"></i>@Resources.SendsmsResource.create
                            </a>
                        }
                    }
                </div>
              

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane" id="tabsend">
                        <div id="divAction">

                            @*<div id="divAction-selectall">
                                <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                            </div>*@
                            @*<div id="divAction-selectall" class="col-md-2" style="padding-left:0px;">
                                <span><b>@Resources.NewsletterResource.SelectAll</b></span>
                            </div>*@

                            <div class="btn-group" id="btn-sort-sent" style="float:right;">
                                <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                                <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span id="title-btn-sort" sort="LastModifyDate" typesort="Descending">@Resources.NewsletterResource.LastModifyDate <span class="fa fa-sort-alpha-desc"></span></span>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="MessageName" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.MessageName
                                            @*<span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>*@
                                        </a>
                                    </li>
                                    
                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="LastModifyDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.LastModifyDate
                                         
                                        </a>
                                    </li>
                                  

                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.CreateDate
                                        
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-checkable" id="tableSMSCampaign">
                            <thead>
                                <tr>
                                    <th class="col-lg-4 col-md-4 col-sm-4"></th>
                                    <th class="col-lg-4 col-md-4 col-sm-4"></th>
                                    <th class="col-lg-1 col-md-1 col-sm-1"></th>
                                    <th class="col-lg-2 col-md-2 col-sm-2"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tab-pane" id="tabdraft">

                        <div id="divAction">
                            
                            <div class="btn-group" id="btn-sort-draft" style="float:right;">
                                <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                                <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span id="title-btn-sort" sort="LastModifyDate" typesort="Descending">@Resources.NewsletterResource.LastModifyDate <span class="fa fa-sort-alpha-desc"></span></span>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="MessageName" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.MessageName
                                         
                                        </a>
                                    </li>
                                  
                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="LastModifyDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.LastModifyDate
                                       
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                            @Resources.NewsletterResource.CreateDate
                                    
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-checkable" id="tableSMSCampaignDraft">
                            <thead>
                                <tr>
                                    <th class="col-lg-3 col-md-3 col-sm-3"></th>
                                    <th class="col-lg-5 col-md-5 col-sm-5"></th>
                                    <th class="col-lg-2 col-md-2 col-sm-2"></th>
                                    <th class="col-lg-1 col-md-1 col-sm-1"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="infosmsCampaign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">Thông tin</h4>
            </div>
            <div class="modal-body" style="background:#f3f3f3">
                <div class="panel panel-default custom-margin-panel">
                    <div class="panel-body custom-padding-panelbody">
                        <div>
                            @Resources.NewsletterResource.campaignName: <span id="divcampaignname" class="font-md bold"></span>
                        </div>
                        <div>Ngày tạo <span id="createdate"></span></div>
                    </div>
                </div>
                <div class="panel panel-default custom-margin-panel" id="panel-settingsms">
                    <div class="panel-heading bg-white font-md"> @Resources.NewsletterResource.InfoSMSSetting</div>
                    <div class="panel-body custom-padding-panelbody">
                        <div class="form-group" id="divinfosmstype" style="display:none;">
                            @Resources.NewsletterResource.InfoSMSType: <span id="smstype"></span>
                        </div>
                        <div class="form-group" id="divinfogatewayname" style="display:none;">
                            Cấu hình: <span id="infogatewayname"></span>
                        </div>
                        <div class="form-group" id="divinfobrandname" style="display:none;">
                            @Resources.NewsletterResource.BrandName: <span id="infobrandname"></span>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default custom-margin-panel" id="panel-contentsms">
                    <div class="panel-heading bg-white font-md"> @Resources.NewsletterResource.InfoContentSMSSent</div>
                    <div class="panel-body custom-padding-panelbody">
                        <div class="form-group">
                            @Resources.NewsletterResource.Content: <span id="sms-content"></span>
                        </div>
                        <div class="form-group">
                            @Resources.NewsletterResource.MessageLength: <span id="sms-contentlength"></span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default custom-margin-panel" id="panel-contentsms">
                    <div class="panel-heading bg-white font-md"> Tổng gửi</div>
                    <div class="panel-body custom-padding-panelbody">
                        <div class="form-group">
                            Ngày gửi: <span id="sentdate"></span>
                        </div>
                        <div class="form-group">
                            Số lượng đã gửi: <span id="contactnumber"></span>
                        </div>
                        <div class="form-group">
                            Tổng tiền: <span id="totalmoneysms"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn yellow-gold" data-dismiss="modal">Đóng</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        //active menu
        $('#mnsmscampaign').addClass('active');
        $('#mnsmscampaign').children('a').append('<span class="selected"></span>')
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var dataUrl = 'api/SmsSend/GetList';

        var file = "/Scripts/JsonDefineColumn/smscampaign.json";

        var tableId = "#tableSMSCampaign";
        var tableIddraft = "#tableSMSCampaignDraft";

        var filedraft = "/Scripts/JsonDefineColumn/smscampaign.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));
        var columnDefinedraft = JSON.parse(custom_ReadTextFile(filedraft));
        var AdditionalParameters;
        var AdditionalParametersdraft;


        var typedraft = $('#btn-sort-daft  #title-btn-sort').attr('typesort');
        var sortvaluedraft = $('#btn-sort-daft  #title-btn-sort').attr('sort');

        var typesent = $('#btn-sort-sent  #title-btn-sort').attr('typesort');
        var sortvaluesent = $('#btn-sort-sent  #title-btn-sort').attr('sort');


        //mặt định isSent
        if (!localStorage.getItem('StatusSMSCampaign')) {
            localStorage.setItem('StatusSMSCampaign', 'IsSent');
        }

        ///trang thái khi có sự kiện click thay đổi
        $('#btnsentstatus-basic').on('click', function () {
            Status = 'IsSent';
            localStorage.setItem('StatusSMSCampaign', Status);
            if (!$.fn.DataTable.isDataTable(tableId)) {
                global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, row, messageTable);
            }
            //else {
            //    $(tableId).dataTable().fnDraw();
            //}
            //sendsms_CampaignAction(apiDomain, access_token, message, tableId);
        });
        $('#btndraftstatus-basic').on('click', function () {
            Status = 'Draft';
            localStorage.setItem('StatusSMSCampaign', Status);

            if (!$.fn.DataTable.isDataTable(tableIddraft)) {
                global_DataTable(apiDomain, access_token, tableIddraft, dataUrl, columnDefinedraft, AdditionalParametersdraft, height, row, messageTable);

            }
            //else {
            //    $(tableIddraft).dataTable().fnDraw();
            //}
            //sendsms_CampaignAction_Draft(apiDomain, access_token, message, tableIddraft);
        });



        $('#btn-sort-draft  .menuitem ').on('click', function () {
            typedraft = $(this).attr('typesort');
            sortvaluedraft = $(this).attr('sort');

            var text = $(this).text();
            $('#btn-sort-draft #title-btn-sort').attr('sort', sortvaluedraft);
            $('#btn-sort-draft #title-btn-sort').attr('typesorts', typedraft);
            var html
            if (typedraft == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (typedraft == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#btn-sort-draft #title-btn-sort').text(text);
            $('#btn-sort-draft #title-btn-sort').append(html);

            $(tableIddraft).dataTable().fnDraw();
        });

        $('#btn-sort-sent  .menuitem ').on('click', function () {
            typesent = $(this).attr('typesort');
            sortvaluesent = $(this).attr('sort');

            var text = $(this).text();
            $('#btn-sort-sent #title-btn-sort').attr('sort', sortvaluesent);
            $('#btn-sort-sent #title-btn-sort').attr('typesorts', typesent);

            var html;
            if (typesent == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (typesent == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#btn-sort-sent #title-btn-sort').text(text);
            $('#btn-sort-sent #title-btn-sort').append(html);
            $(tableId).dataTable().fnDraw();
        });


         AdditionalParameters = function (data) {
            data.SortColumn = sortvaluesent;
            data.SortDirection = typesent;
            data.Status = "IsSent";
            App.blockUI({
                target: 'body',
                animate: true
            });
         }

         AdditionalParametersdraft = function (data) {
             data.SortColumn = sortvaluedraft;
             data.SortDirection = typedraft;
             data.Status = 'Draft';
             App.blockUI({
                 target: 'body',
                 animate: true
             });
         }

        var height = resizeTableBasicCampaign();

        var messageTable = {
            Detail: '@Html.Raw(Resources.SendsmsResource.BtnDetail)',
            Update: '@Html.Raw(Resources.SendsmsResource.BtnUpdate)',
            CancelSchedule: '@Html.Raw(Resources.SendsmsResource.BtnCancelSchedule)',
            HasSent: '@Html.Raw(Resources.SendsmsResource.HasSent)',
            NotSend: '@Html.Raw(Resources.SendsmsResource.NotSent)',
            Schedule: '@Html.Raw(Resources.SendsmsResource.Schedule)',
            Report: '@Html.Raw(Resources.SendsmsResource.Report)',
        }


        var message = {
            CancelScheduleSuccess: '@Html.Raw(Resources.SendsmsResource.CancelScheduleSuccess)',
            HaveUnknownError: '@Html.Raw(Resources.SendsmsResource.HaveUnknownError)',
            CancelScheduleWarning: '@Html.Raw(Resources.NewsletterResource.CancelCheduleError)',
        };

        var row = 10; //số lượng row
         //sendsms_CampaignAction(apiDomain,access_token,message,tableId,tableIddraft);
        //biến trạng thái của campaign khi load từ local
        var Status
        if (localStorage.getItem('StatusSMSCampaign')) {
            Status = localStorage.getItem('StatusSMSCampaign');
            if (Status == 'IsSent') {
                $('#sentstatus-basic').addClass('active');
                $('#draftstatus-basic').removeClass('active');
                $('#tabsend').addClass('active');
                $('#tabdraft').removeClass('active');
                if (!$.fn.DataTable.isDataTable(tableId)) {
                    global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, row, messageTable);
                    //sendsms_CampaignAction(apiDomain, access_token, message, tableId);
                }

            }
            else if (Status == 'Draft') {
                $('#draftstatus-basic').addClass('active');
                $('#sentstatus-basic').removeClass('active');
                $('#tabsend').removeClass('active');
                $('#tabdraft').addClass('active');
                if (!$.fn.DataTable.isDataTable(tableIddraft)) {
                    global_DataTable(apiDomain, access_token, tableIddraft, dataUrl, columnDefinedraft, AdditionalParametersdraft, height, row, messageTable);

                }


            }
        }
        else if (!localStorage.getItem('StatusSMSCampaign')) {
            localStorage.setItem('StatusSMSCampaign', 'IsSent');
            $('#sentstatus-basic').addClass('active');
            $('#draftstatus-basic').removeClass('active');
            if (!$.fn.DataTable.isDataTable(tableId)) {
                global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, row, messageTable);

            }
        }

        //$(window).resize(function () {
        //    height = resizeTableBasicCampaign();
        //    if (Status == 'IsSent') {

        //        $(tableId).dataTable().fnDestroy();
        //        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, messageTable);

        //    }
        //    else {
        //        $(tableIddraft).dataTable().fnDestroy();
        //        global_DataTable(apiDomain, access_token, tableIddraft, dataUrl, columnDefinedraft, AdditionalParametersdraft, height, messageTable);
        //    }

        //});

        sendsms_CampaignAction(apiDomain, access_token, message, tableId);
        sendsms_CampaignAction_Draft(apiDomain, access_token, message, tableIddraft);
        sendsms_ReloadTable(tableId, tableIddraft);

    })

</script>





