﻿
@{
    ViewBag.Title = Resources.PagetitleResource.pagetitleSMSUnsend; ;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/SendSMS/smsunsendlog.js")?@ViewBag.JsPara"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home"><span>@Resources.PagetitleResource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/sendsms/smscampaign">
                <span>@Resources.MenuResource.mnSMSCampaign</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.MenuResource.mnSMSUnsendLogs</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font"></i>

                    <span class="caption-subject font-blue-madison bold uppercase">@Resources.SendsmsResource.TitleSMSUnSend</span>

                </div>


                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;" id="btn-reload-table-contactlist" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div id="divAction">

                        <div class="col-md-12" id="divAction-toolbar nopading">
                            <div class="form-group  col-lg-6 col-md-12 col-sm-12">
                                <div class="col-md-12 nopading" style="margin-top:5px;">
                                    <div class="pull-left input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                        <input id="select-date-from" type="text" class="form-control" name="from">
                                        <span class="input-group-addon"> @Resources.AccountResource.to </span>
                                        <input id="select-date-to" type="text" class="form-control" name="to">
                                    </div>
                                    <a class="btn green-jungle pull-left" style="margin-left:5px;" id="select-date-unsendlog"><i class="fa fa-check"></i>@Resources.ContactResource.Select</a>
                                </div>


                            </div>
                            


                        </div>

                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <div class="wrap-table">

                                <table class="head">
                                    <thead>
                                        <tr>
                                            <th style="width:15%;"> @Resources.SendsmsResource.Mobile </th>
                                            <th style="width:15%;" class="text-center"> @Resources.SendsmsResource.Telecomnetworks </th>
                                            <th style="width:35%;"> @Resources.SendsmsResource.Content </th>
                                            <th style="width:15%;"> @Resources.ContactResource.DateCreated </th>
                                            <th style="width:10%;" class="text-center"> @Resources.SendsmsResource.Price </th>
                                            <th style="width:10%;" class="text-center"> @Resources.SendsmsResource.Refund </th>
                                           
                                        </tr>
                                    </thead>

                                </table>
                                <div class="inner_table">
                                    <table class="table" id="tbody-smsunsentlogs"></table>
                                </div>
                                <div style="padding:5px;">
                                    <label class="bold">@Resources.ContactResource.TotalContact: <span id="total-smsunsend"></span></label>
                                    <div class="text-left">
                                        <span>* @Resources.SendsmsResource.Note: @Resources.SendsmsResource.RefundSMS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-create-group-from-query" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.ContactResource.ctWindownAddContactList</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="createContactGroup">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                @Resources.ContactResource.contactGroupName
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="" name="name" id="contactgroupname">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                    @Resources.ContactResource.contactInputGroupName
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                @Resources.ContactResource.contactDesciption
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="" name="desciption" id="contactgroupdesciption">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">@Resources.ContactResource.contactInputDesciption</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">
                                @Resources.ContactResource.contactActive
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-9">
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkGroupActive" class="md-check" checked>
                                    <label for="checkGroupActive">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i> @Resources.ContactResource.contactClose</button>
                <button type="submit" class="btn btn-sm green-jungle" id="create-contact-group-query"><i class="fa fa-save"></i> @Resources.ContactResource.contactSave</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalInfoContact" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#mnsmsunsendlog').addClass('active');
        $('#mnsmsunsendlog').children('a').append('<span class="selected"></span>')
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {

            HaveError:'@Html.Raw(Resources.ContactResource.HaveError)',
            notifySuccessCreate:'@Html.Raw(Resources.ContactResource.notifySuccessCreate)',
            ContactGroupRequire:'@Html.Raw(Resources.ContactResource.ContactGroupRequire)',
            NoData: '@Html.Raw(Resources.ContactResource.NoData)',
            NoFindContact:'@Html.Raw(Resources.ContactResource.NoFindContact)',
        }
        $('.date-picker').datepicker({
            rtl: App.isRTL(),
            orientation: "left",
            autoclose: true,
            format: 'yyyy-mm-dd' //'dd/mm/yyyy'//
        });

        $("#select-date-from").datepicker("setDate", moment().startOf('month').format('YYYY-MM-DD'));
        $('#select-date-to').datepicker("setDate", moment().endOf('month').format('YYYY-MM-DD'));

        smsunsend_Action(apiDomain, access_token, message);
    });
</script>



