﻿
@{
    ViewBag.Title = Resources.PagetitleResource.pagetitleCreateTemplate;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/Utilities/createtemplate.js")?@ViewBag.JsPara" type="text/javascript"></script>

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.PagetitleResource.pagetitleHome</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/utilities/mytemplates"><span>@Resources.MenuResource.mnMytemplate</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleCreateTemplate</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box" id="basicemailcontent">
            <div class="portlet-body" id="portlet-create-email-content" style="padding-bottom:0;">
                <div>
                    <div class="row">
                        <div class="pull-left" style="width:200px;padding:10px;padding-top:0;">
                            <ul class="nav nav-tabs tabs-left" id="tab-select-type-edit-email">
                                @*<li class="active">
                                    <a href="#tab_emailbuilder" data-toggle="tab" style="font-weight:600;"><i class="fa fa-bars"></i> Email Builder </a>
                                </li>*@
                                <li class="active">
                                    <a href="#tab_emaileditor" data-toggle="tab" style="font-weight:600;"><i class="fa fa-file-text"></i> Html Editor </a>
                                </li>
                                
                                <li class="">
                                    <a id="open-tab-sys-template" href="#tab_emailsystemtemplate" data-toggle="tab" style="font-weight:600;"><i class="fa fa-newspaper-o"></i> @Resources.UtilitiesResource.FromTemplate</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="tab-content">
                                @*<div class="tab-pane active" id="tab_emailbuilder">
                                    <div id="emailcontent ">
                                        <div id="click-to-create-email">
                                            <div class="type-input-content type-input-dragg">
                                                <a>
                                                    <img class="btn imgecontentemail" src="~/Content/Images/mailbuilder.png" style="width:50%; max-width:100%" />
                                                </a>
                                                <div class="div-select-type-input">
                                                    <a class="btn green-jungle"><i class="fa fa-bars"></i>@Resources.NewsletterResource.CreateByBuilder</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="tab-pane active" id="tab_emaileditor">
                                    <div id="emailcontent ">
                                        <div id="click-to-create-email">
                                            <div class="type-input-content type-input-text">
                                                <a>
                                                    <img class="btn imgecontentemail" src="~/Content/Images/texteditor.png" style="width:50%; max-width:100%" />
                                                </a>
                                                <div class="div-select-type-input">
                                                    <a class="btn green-jungle"><i class="fa fa-file-text"></i>@Resources.NewsletterResource.CreateByEditor</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                              
                                <div class="tab-pane fade" id="tab_emailsystemtemplate">
                                    <!--cube sys template-->
                                    <div class="portfolio-con tent portfolio-1">
                                        <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                                        </div>
                                        <div id="content-scroll-sys-template">
                                            <div id="js-grid-sys-template" class="cbp">

                                            </div>
                                            <div id="js-loadMore-sys-template" class="cbp-l-loadMore-button">
                                                <span id="warning-not-systemplate" class="note note-info" style="display:none;">@Resources.NewsletterResource.Nosystemtemplate</span>
                                                <a class="cbp-l-loadMore-link btn grey-mint btn-outline">
                                                    <span class="cbp-l-loadMore-defaultText">@Resources.NewsletterResource.continous</span>
                                                    <span class="cbp-l-loadMore-loadingText">@Resources.NewsletterResource.Loading</span>
                                                    <span class="cbp-l-loadMore-noMoreLoading">@Resources.NewsletterResource.continous</span>

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end cube-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" id="porlet-edit-email-content" style="padding-bottom:0;display:none;">
                <div>
                    <div class="row">
                        <div id="emailcontent">
                            <div id="load-content-email">
                                <div id="content-email-to-div" class="text-center" data-always-visible="1" data-rail-visible1="1">
                                    <div style="width:200px;position:fixed" class="pull-left">
                                        <span>

                                            @*<a id="editbydragg" class="tools-on-emailcontent btn btn-sm green-jungle" title="@Resources.NewsletterResource.Edit"><i class="fa fa-pencil"></i>Hiệu chỉnh</a>*@

                                            <a id="tryeditbyinput" class="tools-on-emailcontent btn btn-sm blue" title="@Resources.NewsletterResource.EditbyHtmlEditor"><i class="fa fa-code"></i>Html Editor</a>


                                            <a id="editbyinput" class="tools-on-emailcontent btn btn-sm green-jungle" title="@Resources.NewsletterResource.Editcontent"><i class="fa fa-pencil"></i>@Resources.NewsletterResource.Edit</a>

                                            <a id="createtemplate" class="tools-on-emailcontent btn btn-sm blue " title="@Resources.NewsletterResource.createtemplate"><i class="fa fa-file-image-o"></i>@Resources.NewsletterResource.SaveAsTemplate</a>

                                            <a id="resetallcontent" class="tools-on-emailcontent btn btn-sm yellow-gold " title="@Resources.NewsletterResource.resetcontent"><i class="icon-refresh"></i>Reset</a>



                                        </span>
                                    </div>
                                    <div class="pull-left text-left" id="div-img-snapshot-content-email" style="margin-left:200px;">
                                        <img id="img-snapshot-content-email" style="width:auto; max-width:100%" />
                                    </div>

                                </div>
                                <div style="position: absolute;left: 50%;top: 40%;">

                                    <div class="img-loading-content" style="display:none;">
                                        <div class="wBall" id="wBall_1">
                                            <div class="wInnerBall"></div>
                                        </div>
                                        <div class="wBall" id="wBall_2">
                                            <div class="wInnerBall"></div>
                                        </div>
                                        <div class="wBall" id="wBall_3">
                                            <div class="wInnerBall"></div>
                                        </div>
                                        <div class="wBall" id="wBall_4">
                                            <div class="wInnerBall"></div>
                                        </div>
                                        <div class="wBall" id="wBall_5">
                                            <div class="wInnerBall"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalLoadEmailBuilderContent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 9999;background:white;">
    <div class="row">
        <div class="col-md-12">

            <iframe id="iframe-emailbuilder" style="width: 100%;border: none;"></iframe>
        </div>
    </div>
</div>

<div id="modalLoadEmailEditorContent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 9999;background:white;">
    <div class="row">
        <div class="col-md-12">
            <iframe id="iframe-emaileditor" style="width:100%;border:none;"></iframe>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-create-template-htm" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.UtilitiesResource.CreateTemplate</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="template-name">
                            @Resources.UtilitiesResource.TemplateName
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="" name="name" id="template-name">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">
                                @Resources.UtilitiesResource.EnterTemplateName
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="template-subject">
                            @Resources.UtilitiesResource.TemplateSubject
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="" name="desciption" id="template-subject">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">@Resources.UtilitiesResource.EnterTemplateSubject</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.UtilitiesResource.Close</button>
                <button type="button" class="btn btn-sm green-jungle" id="confirm-create-template"><i class="fa fa-save"></i>@Resources.UtilitiesResource.Submit</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#mnmytemplate').addClass('active');
        $('#mnmytemplate').children('a').append('<span class="selected"></span>');
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            Select: '@Html.Raw(Resources.UtilitiesResource.Select)',
            View: '@Html.Raw(Resources.UtilitiesResource.View)',
        };
        var TemplateId='@ViewBag.TemplateId';
        createtemplate_Action(apiDomain, access_token, TemplateId, message);
    })
</script>
<script>
    //đóng emailbuilder
    function listenMessage(msg) {
        if (msg.data == "ClosePopup") {
            $('#modalLoadEmailBuilderContent').hide();
            window.location.href = "/utilities/mytemplates";
        }
    }

    if (window.addEventListener) {
        window.addEventListener("message", listenMessage, false);
    } else {
        window.attachEvent("onmessage", listenMessage);
    }
</script>

