﻿
@{
    ViewBag.Title = Resources.PagetitleResource.pagetitleexportexcel;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/Utilities/export.js")?@ViewBag.JsPara"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.PagetitleResource.pagetitleHome</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleexportexcel</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue bold uppercase">@Resources.UtilitiesResource.ListFileExport</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;" id="btn-reload-table-contactlist" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <div class="wrap-table">

                                <table class="head">
                                    <thead>
                                        <tr>
                                            <th style="width:40%;"> @Resources.StatisticResource.FileName </th>
                                            <th style="width:30%;"> @Resources.StatisticResource.DateExport  </th>
                                            <th style="width:30%;">@Resources.UtilitiesResource.DateEx  </th>
                                            <th style="width:20%;" class="text-center"> @Resources.StatisticResource.Download </th>

                                        </tr>
                                    </thead>

                                </table>
                                <div class="inner_table">
                                    <table class="table" id="tbody-queryexport">
                                        
                                        
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('#mnexport').addClass('active');
            $('#mnexport').children('a').append('<span class="selected"></span>')
            var access_token = '@HttpContext.Current.Session["access_token"]';
            var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
            var message = {
                GetListError: '@Html.Raw(Resources.UtilitiesResource.GetListError)',
                NoData: '@Html.Raw(Resources.UtilitiesResource.NoData)',
            }
            export_Action(apiDomain, access_token, message)
        });
</script>




