﻿
@{
    ViewBag.Title = Resources.PagetitleResource.pagetitleMytemplate;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
    <script src="@Url.Content("~/Scripts/Utilities/mytemplates.js")?@ViewBag.JsPara" type="text/javascript"></script>
   
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.PagetitleResource.pagetitleHome</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleMytemplate</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="actions" style="float:left;">
                    @*<a class="btn green-jungle btn-sm" data-target="#modal-create-template-htm" data-toggle="modal">
                    <i class="fa fa-plus" id="custom"></i> @Resources.UtilitiesResource.CreateTemplate
                </a>*@
                    @if (permission.IsParent)
                    {
                    <a class="btn green-jungle btn-sm" href="/utilities/createtemplate">
                        <i class="fa fa-plus" id="custom"></i> @Resources.UtilitiesResource.CreateTemplate
                    </a>
                    }
                    else
                    {
                        if (permission.Template == 2)
                        {
                            <a class="btn green-jungle btn-sm" href="/utilities/createtemplate">
                                <i class="fa fa-plus" id="custom"></i> @Resources.UtilitiesResource.CreateTemplate
                            </a>
                        }
                    }
                </div>

                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    @*<a id="toolsreload" href="javascript:;" class="custom-reload grey-silver"> </a>*@
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>

            </div>
            <div class="portlet-body">
                <!--cube my template-->
                <div class="row">
                    <div class="col-md-12" id="content-mytemplate">
                        <div class="portfolio-con tent">
                            <div id="utilities-myteamplate-filter" class="cbp-l-filters-button">
                            </div>
                            <div id="content-scroll-template">
                                <div id="utilities-myteamplate-gird" class="cbp">

                                </div>
                                <div id="utilities-myteamplate-loadmore" class="cbp-l-loadMore-button">
                                    <span id="warning-not-mytemplate" class="note note-info" style="display:none;">@Resources.NewsletterResource.Nopersonaltemplate </span>

                                    <a class="cbp-l-loadMore-link btn grey-mint btn-outline">
                                        <span class="cbp-l-loadMore-defaultText">@Resources.NewsletterResource.continous</span>
                                        <span class="cbp-l-loadMore-loadingText">@Resources.NewsletterResource.Loading</span>
                                        <span class="cbp-l-loadMore-noMoreLoading">@Resources.NewsletterResource.continous</span>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end cube-->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-warning-delete-template" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">

                <p>
                    @Resources.NewsletterResource.infoedittemp

                </p>
                <h4 class="bold">@Resources.NewsletterResource.requestcontinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm green" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn btn-sm default btn-outline font-grey-gallery" id="confirm-delete-email-template">@Resources.NewsletterResource.yescontinue</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-create-template-htm" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.UtilitiesResource.CreateTemplate</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="template-name">
                            @Resources.UtilitiesResource.TemplateName
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="" name="name" id="template-name">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">
                                @Resources.UtilitiesResource.EnterTemplateName
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="template-subject">
                            @Resources.UtilitiesResource.TemplateSubject
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="" name="desciption" id="template-subject">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">@Resources.UtilitiesResource.EnterTemplateSubject</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.UtilitiesResource.Close</button>
                <button type="button" class="btn btn-sm green-jungle" id="confirm-create-template"><i class="fa fa-save"></i>@Resources.UtilitiesResource.Submit</button>
            </div>

        </div>
    </div>
</div>
<div id="modalLoadEmailBuilderContent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 9999;background:white;">

    <div class="row">
        <div class="col-md-12">
            <iframe id="iframe-emailbuilder" style="width: 100%;border: none;"></iframe>
        </div>
    </div>

</div>
<div id="modalLoadEmailEditorContent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 9999;background:white;">
    <div class="row">
        <div class="col-md-12">
            <iframe id="iframe-emaileditor" style="width:100%;border:none;"></iframe>
        </div>
    </div>
</div>


<script>
    $('#mnmytemplate').addClass('active');
    $('#mnmytemplate').children('a').append('<span class="selected"></span>');
    var access_token = '@HttpContext.Current.Session["access_token"]';
    var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
    var message = {
        Delete:'@Html.Raw(Resources.UtilitiesResource.Delete)',
        Edit: '@Html.Raw(Resources.UtilitiesResource.Edit)',
        LoadTemplateError: '@Html.Raw(Resources.UtilitiesResource.LoadTemplateError)',
        DeleteTemplateError: '@Html.Raw(Resources.UtilitiesResource.DeleteTemplateError)',
        DeleteTemplatesuccess: '@Html.Raw(Resources.UtilitiesResource.DeleteTemplatesuccess)',
        CreateTemplateError: '@Html.Raw(Resources.UtilitiesResource.CreateTemplateError)',
        TemplateNameRequire: '@Html.Raw(Resources.UtilitiesResource.TemplateNameRequire)',
    };
    $(document).ready(function () {
        var permissiontable=@Html.Raw(Json.Encode(permission));
        mytemplate_Action(apiDomain, access_token,message, permissiontable);
    })

    //đóng emailbuilder
    function listenMessage(msg) {
        var permissiontable=@Html.Raw(Json.Encode(permission));
        $('#modalLoadEmailBuilderContent').hide();
        $('#modalLoadEmailEditorContent').hide();

        $('#modalLoadEmailBuilderContent').src = "about:blank";
        $('#modalLoadEmailEditorContent').src = "about:blank";
        if (msg.data == 'ClosePopup') {
            mytemplate_ReloadContent(apiDomain, access_token, message, permissiontable);
        }
    }

    if (window.addEventListener) {
        window.addEventListener("message", listenMessage, false);
    } else {
        window.attachEvent("onmessage", listenMessage);
    }
</script>



