﻿@*<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
          <b>@Resources.PagetitleResource.pagetitleDrop</b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" id="btn-reload-table-drop" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="divAction">
                    <div class="col-md-12" id="divAction-toolbar">
                        <div id="divAction-selectall">
                            <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">

                        </div>
                        <div id="divAction-selectall" class="col-md-4 col-sm-4">
                            <span><b>@Resources.ContactResource.SelectAll</b></span>
                            <a id="btn-deleteall-drop" class="btn btn-outline btn-xs red hide">
                                <i class="fa fa-remove" id="custom"></i> @Resources.ContactResource.Delete
                            </a>

                        </div>


                        <div class="col-md-5 col-sm-5" style="height:25px;">
                            <div class="form-group form-md-line-input" id="divAction-Search">
                                <div class="input-group">
                                    <span class="input-group-addon" id="iconsearch">
                                        <i class="icon-magnifier"></i>
                                    </span>
                                    <input id="searchvalue" type="text" class="form-control  input-sm" placeholder="@Resources.ContactResource.search">
                                </div>
                            </div>
                        </div>




                    </div>

                </div>

                <table class="table table-striped  table-hover table-checkable order-column" id="tableDrop">
                    <thead>
                        <tr>
                            <th>
                                <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                            </th>
                            <th width="20%"></th>
                            <th width="20%"></th>
                            <th width="55%"></th>

                            <th width="20%"></th>
                        </tr>
                    </thead>
                </table>


            </div>
        </div>
    </div>
</div>*@



@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<div id="divAction">
    <div class="col-md-12" id="divAction-toolbar">
        <div id="divAction-selectall">
            @*<input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">*@
            <div class="checker" id="uniform-select_all">
                <span>
                    <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                </span>
            </div>
        </div>
        <div id="divAction-selectall" class="col-md-4 col-sm-4">
            <span><b>@Resources.ContactResource.SelectAll</b></span>
            <a id="btn-deleteall-drop" class="btn btn-outline btn-xs red hide">
                <i class="fa fa-remove" id="custom"></i> @Resources.ContactResource.Delete
            </a>

        </div>


        <div class="col-md-5 col-sm-5" style="height:25px;">
            <div class="form-group form-md-line-input" id="divAction-Search">
                <div class="input-group">
                    <span class="input-group-addon" id="iconsearch">
                        <i class="icon-magnifier"></i>
                    </span>
                    <input id="searchvalue-Drop" type="text" class="form-control searchvalue input-sm" placeholder="@Resources.ContactResource.search">
                </div>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-sm blue" id="export-drop"><i class="fa fa-file-excel-o"></i> @Resources.ContactResource.Export</a>
        </div>



    </div>

</div>

<table class="table table-striped  table-hover table-checkable order-column" id="tableDrop">
    <thead>
        <tr>
            <th>
                <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
            </th>
            <th width="20%"></th>
            <th width="20%"></th>
            <th width="55%"></th>

            <th width="20%"></th>
        </tr>
    </thead>
</table>



@*model confirm*@
<div class="modal fade bs-modal-sm" id="modelConfirmDeleteDrop" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">@Resources.ContactResource.confirm</h4>
            </div>
            <div class="modal-body">@Resources.ContactResource.confirmdelete</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" id="btnDeleteDrop" class="btn green">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-sm" id="modelConfirmDeleteAllContact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">@Resources.ContactResource.confirm</h4>
            </div>
            <div class="modal-body">@Resources.ContactResource.confirmdelete</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" id="btnDeleteAllContact" class="btn green">@Resources.ContactResource.Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //active menu
        //$('#mnDrop').addClass('active');
        //$('#mnDrop').children('a').append('<span class="selected"></span>')
        resizeTableContact();
        var tableId = '#tableDrop';
        var dataUrl = 'api/EmailSend/GetSuppressionList';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';

        var file = "/Scripts/JsonDefineColumn/spamreport.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));

        var idCondition = {
            searchvalue: "#searchvalue-Drop",
            //activevalue: "#switchDelete",
            unsubvalue: '#switchUnsub'
        };

        var type = $('#btn-sort  .menuitem ').attr('data-typesort');
        var sortvalue = $('#btn-sort  .menuitem ').attr('data-sort');

        var searchvalue = $(idCondition.searchvalue).val();



        var timer;

        $(idCondition.searchvalue).keypress(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $(idCondition.searchvalue).val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });


        $(idCondition.searchvalue).keyup(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $(idCondition.searchvalue).val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });

        var AdditionalParameters = function (data) {
            data.search['value'] = searchvalue;
            data.SuppressType = "Dropped";
            App.blockUI({
                target: 'body',
                animate: true
            });
        }

       var heightdrop = parseInt($(window).outerHeight() - 300);

        var messageTable = {
            DateCreated: '@Html.Raw(Resources.ContactResource.DateCreated)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            Edit: '@Html.Raw(Resources.ContactResource.Edit)',
            Delete: '@Html.Raw(Resources.ContactResource.Delete)',

        };
        var row = 20;
        var permissiontable=@Html.Raw(Json.Encode(permission));
        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, heightdrop, row, messageTable,permissiontable);

        //action
        var message = {
            GetInfoError: '@Html.Raw(Resources.ContactResource.notifyErrorInfo)',
            DeleteSuccess: '@Html.Raw(Resources.ContactResource.notifySuccessDelete)',
            DeleteError: '@Html.Raw(Resources.ContactResource.notifyErrorDelete)',
        }


        drop_Action(apiDomain, access_token, tableId, message);
    });



</script>
