﻿
@{
    ViewBag.Title = @Resources.PagetitleResource.pagetitleSuppression;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{

    <script src="@Url.Content("~/Scripts/SuppressionMail/suppression.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SuppressionMail/bounce.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SuppressionMail/spamreport.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SuppressionMail/unsubscribe.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SuppressionMail/drop.js")?@ViewBag.JsPara" type="text/javascript"></script>

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b>@Resources.PagetitleResource.pagetitleSuppression</b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            @*<div class="portlet-title">
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" id="btn-reload-table-drop" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
            </div>*@
            <div class="portlet-body">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a id="open-tab-bounce" href="#tab_Bounces" data-toggle="tab" aria-expanded="false"><i class="fa fa-ban"></i> @Resources.PagetitleResource.pagetitleBounces </a>
                        </li>
                        <li class="">
                            <a id="open-tab-drop" href="#tab_Drop" data-toggle="tab" aria-expanded="false"><i class="fa fa-anchor"></i> @Resources.PagetitleResource.pagetitleDrop </a>
                        </li>
                        <li class="">
                            <a id="open-tab-spamreport" href="#tab_SpamReport" data-toggle="tab" aria-expanded="true"><i class="fa fa-bolt"></i> @Resources.PagetitleResource.pagetitleSpamReport </a>
                        </li>
                        <li class="">
                            <a id="open-tab-unsubscribe" href="#tab_Unsubscribe" data-toggle="tab" aria-expanded="true"><i class="fa fa-remove"></i> @Resources.PagetitleResource.pagetitleUnsubcibe </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_Bounces">
                            
                        </div>
                        <div class="tab-pane" id="tab_Drop">
                           
                        </div>
                        <div class="tab-pane " id="tab_SpamReport">
                           
                        </div>
                        <div class="tab-pane " id="tab_Unsubscribe">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="modal-export-suppression-contact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-file-excel-o"></i> Export Excel </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="createContactGroup">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                @Resources.ContactResource.FileName
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="" name="name" id="file-export-name">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                    @Resources.ContactResource.InputFileName
                                </span>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm green-jungle" id="submit-export-suppression-contact"><i class="fa fa-file-excel-o"></i>@Resources.ContactResource.Export</button>
                            </div>
                        </div>
                        <div class="clear-fix" style="height:10px;">

                        </div>
                        <div id="table-file-export" style="margin-top:20px;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#mnSuppressions').addClass('active');
        $('#mnSuppressions').children('a').append('<span class="selected"></span>')
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var mesage = {
            FileName: '@Html.Raw(Resources.ContactResource.FileName)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            CreateDate: '@Html.Raw(Resources.ContactResource.DateCreated)',
            Processing: '@Html.Raw(Resources.ContactResource.Processing)',
            FileNameRequire: '@Html.Raw(Resources.ContactResource.FileNameRequire)',
            DownLoad: '@Html.Raw(Resources.ContactResource.DownLoad)',
            ExportError: '@Html.Raw(Resources.ContactResource.ExportError)',
            Row: '@Html.Raw(Resources.ContactResource.Row)',
        }
        var permissiontable=@Html.Raw(Json.Encode(permission));
        suppression_Action(apiDomain,access_token,mesage,permissiontable);
})
</script>


