﻿
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}
<style>
    body{
        background:white;
    }
</style>
<div style="padding-top:50px;max-width:600px;width:100%;margin:0 auto;">
    <div class="text-center padding-tb-20">
        <a href="/contacts"><img src="~/Content/Images/sendmail-123.png" /></a>
    </div>
    <div class="text-center">
        <p style="font-size:20px;">Chúc mừng bạn đã nạp tiền thành công. <br /> Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của Toomarketer.</p>
  
    </div>
    <div class="text-center">
        <a class="btn btn-sm green-jungle" href="/Account/UserProfile#Recharge"><i class="fa fa-arrow-left"></i> Quay lại</a>
    </div>
</div>

