﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<style>
    #emailcontent{
       width:50%;margin:0 auto;text-align:center;
    }
   #emailcontent a:hover{
       background-image :url(~/Content/Images/calendar.png);
    }
   #emailcontent a {background-image :url(https://app.getresponse.com/message_thumbnail.html?id=180347101);
    }
</style>
<div class="row">
    <div class="mt-element-step">
        <div class="row step-no-background-thin">
            
            <div class="col-md-4 mt-step-col done">
                <div class="mt-step-number bg-white">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Tùy chọn</div>
                <div class="mt-step-content font-grey-cascade">Thời điểm điều kiện gửi</div>
            </div>
            
            <div class="col-md-4 mt-step-col active ">
                <div class="mt-step-number bg-white">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Nội dung</div>
                <div class="mt-step-content font-grey-cascade">Nội dung email sms</div>
            </div>

            <div class="col-md-4 mt-step-col last">
                <div class="mt-step-number bg-white">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Quản lý</div>
                <div class="mt-step-content font-grey-cascade">Tạo email,sms cho chiến dịch</div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="basiccontent">
            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet light" id="basicemailcontent">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-envelope"></i>
                            <span class="caption-subject bold uppercase"> Email</span>
                            @*<input id="chckSendmail" type="checkbox" checked />*@
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div>
                            <div>

                                <div class="mrg-top-10">
                                    <div class="editor-label" style="width:100%;margin:0 auto;text-align:center;">
                                        <span style="font-size:16px;">@Resources.NewsletterResource.contentemail</span>
                                    </div>
                                    <div id="emailcontent">
                                        <a id="imgecontent-advanced" data-toggle="modal" href="#editcontentemail-advandced">
                                             <img id="img-edit-content-advanced" src="~/Content/Images/thumbnail-generator.png" width="170" />  @*thumnai email*@
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet light" id="basicsmscontent" >
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i>
                            <span class="caption-subject bold uppercase"> SMS</span>
                            @*<input id="chckSendSMS" type="checkbox" />*@
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label" for="form_control_1">@Resources.NewsletterResource.TypeSMS</label>
                                <div class="col-md-8">
                                    <div class="md-radio-inline">
                                        <div class="md-radio">
                                            <input name="smstype" class="md-radiobtn" id="smstypebasic" type="radio" value="1" checked>
                                            <label for="smstypebasic">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> @Resources.NewsletterResource.SMSBacsic
                                            </label>
                                        </div>
                                        <div class="md-radio">
                                            <input name="smstype" class="md-radiobtn" id="smstypeadvanced" type="radio" value="2">
                                            <label for="smstypeadvanced">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> @Resources.NewsletterResource.SMSBrand
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="editor-label">
                                    <span style="font-size:16px;">@Resources.Resource.smsContents</span>
                                </div>
                                <div class="editor-field">
                                    <textarea id="Message" style="width:100%;" rows="7"></textarea>
                                </div>
                                <div id="MsgLengthCount" style="text-align:center;">
                                    <span style="color: #8EBC00">0</span> @Resources.Resource.smsCharacter = <span style="color: #E84444">0</span> @Resources.Resource.smsMessage
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END Portlet PORTLET-->
                @*</div>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="editcontentemail-advandced" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right:0px!important;">
    <div class="modal-dialog modal-full " style="margin:0 auto !important;padding:0;width: 100%;">
        <div class="modal-content">
            @*<div class="modal-header">*@
                <div class="portlet ">
                    <div class="portlet-title">
                        <div class="actions">
                            <a href="javascript:;" class="btn btn-default btn-sm btn-circle">
                                <i class="fa fa-plus"></i> Lưu
                            </a>
                            <a href="javascript:;" class="btn btn-default btn-sm btn-circle">
                                <i class="fa fa-print"></i> Thoát
                            </a>
                            @*<a href="javascript:;" class="btn btn-default btn-sm btn-circle">
                                <i class="fa fa-print"></i> Cancel
                            </a>*@
                        </div>
                    </div>
                </div>
                    
                    
                @*</div>*@
            <div class="modal-body" style="padding:0 !important;">
                <div id="divAction">
                    <input id="insertImage" type="file" style="display:none" accept="image/x-png, image/jpeg">
                </div>
                <div name="summernote" id="contentInput-advanced"> </div>
            </div>
            @*<div class="modal-footer" style="padding-top:0;">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green-jungle" id="btnsaveemailcontent">Save changes</button>
            </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="row" style="margin-top:25px;">
    <div id="divRedirect" class="col-md-12 col-sm-12 col-xs-12">

        <div class="col-md-6 col-sm-6 col-xs-6 ">
            <button id="btn-back-create-advanced" class="btn btn-sm green-jungle" style="float:left;">
                <i class="icon-action-undo"></i>Quay lại
            </button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <button id="btn-next-create-advanced" class="btn btn-sm green-jungle" style="float:right;">
                <i class="icon-action-redo"></i>Tiếp tục
            </button>
        </div>

    </div>
</div>   

<script>
    $('#editcontentemail-advandced .modal-content').css('height', $(window).height());
    //summer editor
    function handleSummernote() {
        var height = parseInt($(window).height() - $('.page-bar').height() - $('.page-footer').height()-95);
        $('#contentInput-advanced').summernote({
            toolbar: [
              // [groupName, [list of button]]
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['font', ['strikethrough', 'superscript', 'subscript']],
              ['fontsize', ['fontsize']],
              ['color', ['color']],
              ['para', ['style', 'ul', 'ol', 'paragraph']],
              ['height', ['height']],
              ['inset', ['link', 'table', 'hr']],
              ['misc', ['fullscreen', 'codeview', 'undo', 'redo']],
              ['insert', ['image']]
            ],

            height: height,

        });
    }

            //API:
        
    $(document).ready(function () {
        handleSummernote();
        $('#btn-next-create-advanced').click(function () {
            App.blockUI({
                target: '.page-content',
                animate: true
            });

            window.setTimeout(function () {
                App.unblockUI('.page-content');
            }, 2000);
        });
    })
</script>
