﻿@{ 
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = @Resources.PagetitleResource.pagetitleCreateAdvanceCampaign;
}
@section JS{
    <script src="~/Scripts/AdvancedCampaign/settingadvanced.js" type="text/javascript"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.PagetitleResource.pagetitleHome</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/advancedcampaign"> 
                <span>@Resources.PagetitleResource.pagetitleAdvanceCampaign</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleCreateAdvanceCampaign</span></b>
        </li>

    </ul>
</div>

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box light">
                <div class="portlet-body form-horizontal">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="form_control_1">
                            @Resources.AdvancedCampaignResource.CampaignName<span class="required">*</span>
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="" name="name" id="txtCampaignName-advanced">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">
                             @Resources.AdvancedCampaignResource.EnterCampaignName
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label" for="form_control_1">
                           @Resources.AdvancedCampaignResource.Description
                            <span class="required"></span>
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="" name="desciption" id="txtDesciption-advanced">
                            <div class="form-control-focus"> </div>
                            <span class="help-block">@Resources.AdvancedCampaignResource.EnterDescription</span>
                        </div>
                    </div>
                    
                    <div class="form-group form-md-line-input">

                        <label for="emailreply" class="col-md-3 control-label">
                           @Resources.AdvancedCampaignResource.CreateContactGroup
                        </label>
                        <div class="col-md-6" id="contactgroup-to-advance">
                           
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn green-jungle" data-target="#modal-create-contactgroup" data-toggle="modal"><i class="fa fa-plus"></i>@Resources.AdvancedCampaignResource.OrCreate</a>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input text-center">
                        <a  class="btn yellow-gold" id="cancel-new-advance-campaign" data-dismiss="modal"><i class="fa fa-close"></i>@Resources.AdvancedCampaignResource.Cancel</a>
                        <a  class="btn green-jungle" id="create-new-advance-campaign"><i class="fa fa-save"></i>@Resources.AdvancedCampaignResource.Save</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="modal-create-contactgroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">@Resources.AdvancedCampaignResource.CreateContactGroup</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="createContactGroup">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="contactgroupname">
                                @Resources.ContactResource.contactGroupName
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="" name="name" id="contactgroupname">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                    @Resources.ContactResource.contactInputGroupName
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                @Resources.ContactResource.contactDesciption
                                <span class="required"></span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="" name="desciption" id="contactgroupdesciption">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">@Resources.ContactResource.contactInputDesciption</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">
                                @Resources.ContactResource.contactActive
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-9">
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkGroupActive" class="md-check" checked>
                                    <label for="checkGroupActive">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AdvancedCampaignResource.Cancel</button>
                <button type="button" id="btn-create-contact-group" class="btn green-jungle"><i class="fa fa-save"></i>@Resources.AdvancedCampaignResource.Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            ContactGroupNameIsRequire: '@Html.Raw(Resources.AdvancedCampaignResource.ContactGroupNameIsRequire)',
            CreateGroupError: '@Html.Raw(Resources.AdvancedCampaignResource.CreateGroupError)',
            CreateGroupSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.CreateGroupSuccess)',
            HasErrorLoadContact: '@Html.Raw(Resources.AdvancedCampaignResource.HasErrorLoadContact)',
            SelectContactGroup: '@Html.Raw(Resources.AdvancedCampaignResource.SelectContactGroup)',
            NotHaveContactGroup: '@Html.Raw(Resources.AdvancedCampaignResource.NotHaveContactGroup)',
            FormatError: '@Html.Raw(Resources.ContactResource.ExcelFormatError)',
            FileNotSupport: '@Html.Raw(Resources.ContactResource.FileNotSupport)',
            CampaignNameRequire: '@Html.Raw(Resources.AdvancedCampaignResource.CampaignNameRequire)',
            ContactGroupRequire: '@Html.Raw(Resources.AdvancedCampaignResource.ContactGroupRequire)',
            CreateCampaignSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.CreateCampaignSuccess)',
            CreateCampaignError: '@Html.Raw(Resources.AdvancedCampaignResource.CreateCampaignError)',
        };
        settingadvanced_Action(apiDomain, access_token, message);

    });

</script>

