﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = @Resources.PagetitleResource.pagetitleCreateAuto;
}
@section JS{
    <script src="@Url.Content("~/Scripts/sms_counter.js")?@ViewBag.JsPara.12"></script>
    <script src="@Url.Content("~/Scripts/AdvancedCampaign/createadvanced.js")?@ViewBag.JsPara.12" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Newsletters/partialsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="~/Content/slick/slick.min.js" type="text/javascript"></script>
    <link href="~/Content/slick/slick.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/slick/slick-theme.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/Newsletters/partialcontent.js?@ViewBag.JsPara"></script>

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.MenuResource.mnListCampaing</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/advancedcampaign/")"> <span>@Resources.MenuResource.mnAdvancedCampaign</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/advancedcampaign/managecampaign?eId=")@ViewBag.CampaignId">
                <span>@Resources.PagetitleResource.ManageAutoresponder</span>
              
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b> <span>@Resources.PagetitleResource.pagetitleCreateAuto</span></b>

        </li>

    </ul>
</div>
<div class="row" style="margin-top:5px;">
    <div id="tab-select-type-autoresponder" class="tabbable-line tab-select-autoresponder" style="max-width:100%;">
        <ul class="nav nav-tabs" style="width:608px;margin: 0 auto;">
            <li class="active" id="tab-select-type-autoresponder">
                <a href="#portlet_timebase" data-toggle="tab" aria-expanded="true" style="padding-left:5px;padding-right:5px;">
                    <div id="advanced-timeclick">
                        <div id="time" class="icon-btn" style="height:115px;width:137px;"><i class="icon icon-calendar" style="font-size: 50px;line-height:50px;"></i><div style="font-size:12px;margin-top: 20px;">@Resources.AdvancedCampaignResource.Timebased</div></div>
                    </div>
                </a>
            </li>

            <li class="" id="tab-select-type-autoresponder">
                <a href="#portlet_clickopenbase" data-toggle="tab" aria-expanded="false" style="padding-left:5px;padding-right:5px;">
                    <div>
                        <div id="click" class="icon-btn" style="height:115px;width:137px;"><i class="fa fa-mouse-pointer" style="font-size: 50px;line-height:50px;"></i><div style="font-size:12px;margin-top: 20px;">@Resources.AdvancedCampaignResource.Clickbased</div></div>
                    </div>
                </a>
            </li>
            <li class="" id="tab-select-type-autoresponder">
                <a href="#portlet_clickopenbase" data-toggle="tab" aria-expanded="false" style="padding-left:5px;padding-right:5px;">
                    <div>
                        <div id="open" class="icon-btn" style="height:115px;width:137px;"><i class="icon-envelope-open" style="font-size: 50px;line-height:50px;"></i><div style="font-size:12px;margin-top: 20px;">@Resources.AdvancedCampaignResource.Openbased</div></div>
                    </div>
                </a>
            </li>

            <li class="" id="tab-select-type-autoresponder">
                <a href="#portlet_specialdatebase" data-toggle="tab" aria-expanded="false" style="padding-left:5px;padding-right:5px;">
                    <div>
                        <div id="special" class="icon-btn" style="height:115px;width:137px;"><i class="fa fa-calendar" style="font-size: 50px;line-height:50px;"></i><div style="font-size:12px;margin-top: 20px;">@Resources.AdvancedCampaignResource.Specialdaybased</div></div>
                    </div>
                </a>
            </li>
            @*<li class="" id="tab-select-type-autoresponder">
                <a href="#portlet_multiinputbase" data-toggle="tab" aria-expanded="false">
                    <div>
                        <div id="multiinput" class="icon-btn" style="height:115px;width:137px;"><i class="fa fa-refresh" style="font-size: 50px;line-height:50px;"></i><div style="font-size:12px;margin-top: 20px;">@Resources.AdvancedCampaignResource.ReContactBase</div></div>
                    </div>
                </a>
            </li>*@
        </ul>
    </div>
</div>
    <div class="row" id="row-content-auto-type" style="padding-top:27px;">
        <div class="portlet light bordered">

            <div class="portlet-body">
               
                <div class="tab-content">
                    <div class="tab-pane active typebaseevent" id="portlet_timebase">
                        <div>
                            <div style="text-align:center;">
                                <span style="font-size:20px;"class="bold font-green-jungle">@Resources.AdvancedCampaignResource.Onday</span>
                            </div>
                            <div style="text-align:center;width:200px;margin:0 auto;">
                                <div class="imgbackg-basetime">
                                    <input id="advance-base-day" type="text" style="height: 115px;width: 160px;font-size:40px;font-size: 70px !important;text-align: center;" />
                                </div>

                            </div>
                            <div id="option-allowresend" style="display:none;">
                                <div class="form-group form-md-checkboxes" style="width: 550px;margin: 0 auto;">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox" >
                                            <input class="md-check" id="advance-allow-rensend-register" type="checkbox">
                                            <label for="advance-allow-rensend-register" class="font-green-jungle bold" style="font-size:18px;width:550px;">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>@Resources.AdvancedCampaignResource.ResendFromRegister 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane typebaseevent" id="portlet_clickopenbase">
                        <div style="width:100%;margin:0 auto;text-align:center;">
                            <span style="font-size:20px;padding-bottom:10px;" class="font-green-jungle bold" id="title-email-click-open"></span><br />

                            <div class="padding-tb-10 text-center">
                                <div class="image-privew-email" id="select-email-clickopen-event">
                                    <span>@Resources.AdvancedCampaignResource.SelectEmail</span>
                                    <div class="state-load-image" id="state-loading-image-clickopen" ><img src="/assets/global/img/loading-spinner-blue.gif"></div>
                                </div>
                            </div>
                            <div class="form-horizontal base-link-event" id="base-link-event">
                                <div class="form-group nomargin padding-tb-10">

                                    <label class="col-md-5 col-sm-4 control-label bold font-green-jungle" style="font-size:20px;padding-bottom:10px;">@Resources.AdvancedCampaignResource.Chooselink</label>
                                    <div class="col-md-4 col-sm-4 nopading" id="div-select-link-newsletter" style="width:350px;">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane typebaseevent" id="portlet_specialdatebase">
                        <div class="form-horizontal">
                            <div class="form-group nomargin padding-tb-10">
                                <label class="col-md-5 col-sm-4 control-label bold font-green-jungle" style="font-size:20px;padding-bottom:10px;">@Resources.AdvancedCampaignResource.SelectSpecialDay</label>
                                <div class="col-md-4 col-sm-4 nopading" id="div-select-specialdate" style="width:350px;">
                                    <select class="form-control nopading" id="specialdate-click" data-style="btn-btdefault"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="tab-pane typebaseevent" id="portlet_multiinputbase">
                        <div class="form-horizontal">
                            <div class="form-group nomargin padding-tb-10">
                                <label class="col-md-5 col-sm-4 control-label bold font-green-jungle" style="font-size:20px;padding-bottom:10px;">@Resources.AdvancedCampaignResource.SelectForm</label>
                                <div class="col-md-4 col-sm-4 nopading" id="div-select-multiinput" style="width:350px;">
                                    <select class="form-control nopading" id="multiinput-click" multiple data-style="btn-btdefault"></select>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                <!--phần chung của 2 tab-->
                <div class="form-horizontal typebaseevent">
                   
                    <div class="form-group nomargin">
                        <div id="timesendevent" style="margin:0 auto;width:500px;">
                            <div class="pull-left" style="padding:0 5px;">
                                <label class="control-label bold font-green-jungle" style="font-size:20px;padding-bottom:10px;">@Resources.AdvancedCampaignResource.SendTime</label>
                            </div>
                            <div class="col-md-3 col-sm-3" id="div-select-type-time-click" style="width:250px;padding: 0px 5px;">
                                <select class="bs-select form-control " id="select-type-time-click" data-style="btn-btdefault">
                                    <option value="1">
                                        @Resources.AdvancedCampaignResource.SameSignUp
                                    </option>
                                    <option value="2">
                                        @Resources.AdvancedCampaignResource.WithDelayOf
                                    </option>
                                    <option value="3">@Resources.AdvancedCampaignResource.ExaclyAt</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2" id="div-hours-click" style="width:100px;display:none;padding-right:0;">
                                <select class="bs-select form-control nopading" id="hours-click" data-style="btn-btdefault">
                                    <option value="0">00:00</option>
                                    <option value="1">01:00</option>
                                    <option value="2">02:00</option>
                                    <option value="3">03:00</option>
                                    <option value="4">04:00</option>
                                    <option value="5">05:00</option>
                                    <option value="6">06:00</option>
                                    <option value="7">07:00</option>
                                    <option value="8">08:00</option>
                                    <option value="9">09:00</option>
                                    <option value="10">10:00</option>
                                    <option value="11">11:00</option>
                                    <option value="12">12:00</option>
                                    <option value="13">13:00</option>
                                    <option value="14">14:00</option>
                                    <option value="15">15:00</option>
                                    <option value="16">16:00</option>
                                    <option value="17">17:00</option>
                                    <option value="18">18:00</option>
                                    <option value="19">19:00</option>
                                    <option value="20">20:00</option>
                                    <option value="21">21:00</option>
                                    <option value="22">22:00</option>
                                    <option value="23">23:00</option>
                                </select>
                            </div>
                            <div  id="div-time-click" style="display:none; padding:0 5px">

                                <div class="pull-left" style="padding:0 10px;display:none;" id="div-time-click-type">
                                    <select class="bs-select form-control pull-left" id="time-click-type" data-width="80px" data-style="btn-btdefault">
                                        <option value="0">@Resources.AdvancedCampaignResource.Before</option>
                                        <option value="1">@Resources.AdvancedCampaignResource.Affter</option>
                                    </select>
                                </div>
                                <div class="pull-left" id="div-time-click-date">
                                    @*<select class="bs-select form-control pull-left" id="time-click-date" data-width="60px" data-style="btn-btdefault">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                    </select>*@
                                    <input type="number" class="form-control" value="0" min="0" id="time-click-date" style="width:70px;"/>
                                </div>
                                <span class="pull-left" id="div-time-click-span" style="padding:5px; padding-right:15px;font-size:18px;"> @Resources.AdvancedCampaignResource.Day</span>
                                @*<select class="bs-select form-control pull-left" id="time-click" data-width="60px" data-style="btn-btdefault">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>

                                </select>*@
                                <div class="pull-left" id="div-time-click-hour">
                                    <input type="number" class="form-control" value="0" min="0" max="23" id="time-click" style="width:70px;" />
                                  </div>
                                    <span class="pull-left" style="padding:5px;font-size:18px;"> @Resources.AdvancedCampaignResource.Hours</span>
                                </div>
                        </div>
                    </div>
                </div>
                    <div id="enable-on-day" style="text-align:center;padding-top:20px;padding-bottom:20px;">
                        <span style="font-size:20px;padding-bottom:10px;" class="font-green-jungle bold">@Resources.AdvancedCampaignResource.Enableon</span><br />
                        <div class="form-group form-md-checkboxes">
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input class="md-check" name="enableweekdate" id="mon-click" type="checkbox" value="2" checked>
                                    <label for="mon-click">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.AdvancedCampaignResource.Mon
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input class="md-check" name="enableweekdate" id="tue-click" type="checkbox" value="4" checked>
                                    <label for="tue-click">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.AdvancedCampaignResource.Tue
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input class="md-check" name="enableweekdate" id="web-click" type="checkbox" value="8" checked>
                                    <label for="web-click">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.AdvancedCampaignResource.Wed
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input class="md-check" name="enableweekdate" id="thu-click" type="checkbox" value="16" checked>
                                    <label for="thu-click">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.AdvancedCampaignResource.Thu
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input class="md-check" name="enableweekdate" id="fri-click" type="checkbox" value="32" checked>
                                    <label for="fri-click">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.AdvancedCampaignResource.Fri
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input class="md-check" name="enableweekdate" id="sat-click" type="checkbox" value="64" checked>
                                    <label for="sat-click">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.AdvancedCampaignResource.Sat
                                    </label>
                                </div>
                                <div class="md-checkbox">
                                    <input class="md-check" name="enableweekdate" id="sun-click" type="checkbox" value="1" checked>
                                    <label for="sun-click">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> @Resources.AdvancedCampaignResource.Sun
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>

                <div style="text-align:center;padding-top:20px;">
                    <span style="font-size:20px;padding-bottom:10px;" class="bold font-green-jungle">@Resources.AdvancedCampaignResource.SendMethod</span><br />
                    <div class="form-group form-md-checkboxes">
                        <div class="md-checkbox-inline">
                            <div class="md-checkbox">
                                <input class="md-check" id="advance-method-email" type="checkbox">
                                <label for="advance-method-email">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Email
                                </label>
                            </div>
                            <div class="md-checkbox">
                                <input class="md-check" id="advance-method-sms" type="checkbox">
                                <label for="advance-method-sms">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @Resources.AdvancedCampaignResource.SMS
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="padding-tb-10 text-center select-type-advance">

                    <div class="advance-email hide">    
                        <div class="image-privew-email" id="image-preview-newsletter-select">
                            <span>@Resources.AdvancedCampaignResource.ChooseEmail</span>
                            <div class="state-load-image" id="state-loading-image" ><img src="~/assets/global/img/loading-spinner-blue.gif" /></div>
                        </div>
                        
                        <div class="margin-top-10 text-center">
                            <a class="margin-top-10" id="btn-edit-email-advance" style="color:#00afec;display:none;">@Resources.AdvancedCampaignResource.Edit</a>
                            <span class="margin-top-10"> @Resources.AdvancedCampaignResource.Or</span> 
                            <a class="margin-top-10" id="btn-create-email-advance" style="color:#00afec;">@Resources.AdvancedCampaignResource.Create</a>
                        </div>

                    </div>
                    <div class="advance-sms hide">
                        <div class="image-privew-sms" id="image-preview-message-select">
                            <span>@Resources.AdvancedCampaignResource.ChooseSMS</span>
                            <div class="state-load-image" id="state-loading-message"><img src="~/assets/global/img/loading-spinner-blue.gif" /></div>

                        </div>
                        <div class="margin-top-10 text-center">
                            <a class="margin-top-10" id="btn-edit-sms-advance" style="color:#F7CA18;display:none;">@Resources.AdvancedCampaignResource.Edit</a>
                            <span class="margin-top-10">@Resources.AdvancedCampaignResource.Or </span> 
                            <a id="btn-create-sms-advance" class="margin-top-10" style="color:#F7CA18;">@Resources.AdvancedCampaignResource.Create</a>
                        </div>
                    </div>

                </div>
                <div class="padding-tb-20 text-center">
                    <span style="font-size:20px;padding-bottom:10px;"class="bold font-green-jungle">@Resources.AdvancedCampaignResource.AutoresponderName</span>
                    <input  id="advance-autoresponder-name" type="text" class="form-control input-large" style="width:500px !important;margin:0 auto;font-size:18px;"/>
                    <span style="font-size:12px;padding-bottom:10px;">@Resources.AdvancedCampaignResource.AutoresponderNameReference</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div id="divRedirect" class="col-md-12 text-center">
        <button id="btn-back-create-advanced" class="btn btn-sm yellow-gold">
            <i class="fa fa-arrow-left"></i>@Resources.AdvancedCampaignResource.Previous
        </button>

        <button id="btn-next-create-advanced" class="btn btn-sm blue" >
            <i class="fa fa-save"></i>@Resources.AdvancedCampaignResource.Save
        </button>
        <button id="btn-next-create-publish-advanced" class="btn btn-sm green-jungle hide">
            <i class="fa fa-globe"></i>@Resources.AdvancedCampaignResource.SaveAndPublish
        </button>
    </div>
</div>

<!--modal content email-->
<div id="modalEditContentEmailAdvance" class="modal fade bs-modal-lg" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                <a class="btn btn-sm yellow-gold pull-right" id="close-modal-create-newsletter"><i class="fa fa-remove"></i> @Resources.AdvancedCampaignResource.Close</a>
                <h4 class="modal-title"><i class="fa fa-pencil green-jungle"></i> @Resources.AdvancedCampaignResource.Update</h4>
            </div>
            <div class="modal-body">
                <div class="mt-element-step">
                    <div class="row step-thin">
                        <div class="tabbable-line tab-select-autoresponder">
                            <ul class="nav nav-tabs">
                                <li class="active col-md-6 col-sm-6 nopading">
                                    <a class="nopading" id="tab-create-email-advance-setting" href="#create-email-advance-setting" data-toggle="tab" aria-expanded="true">
                                        <div class="bg-blue-chambray mt-step-col">
                                            <div class="mt-step-number bg-white font-grey">1</div>
                                            <div class="mt-step-title uppercase font-grey-cascade">@Resources.AdvancedCampaignResource.Setting</div>
                                            <div class="mt-step-content font-grey-cascade">@Resources.AdvancedCampaignResource.SettingInfo</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-6 col-sm-6 nopading">
                                    <a class="nopading" id="tab-create-email-advance-template" href="#create-email-advance-template" data-toggle="tab" aria-expanded="false">
                                        <div class="bg-blue-chambray mt-step-col">
                                            <div class="mt-step-number bg-white font-grey">2</div>
                                            <div class="mt-step-title uppercase font-grey-cascade">@Resources.AdvancedCampaignResource.Content</div>
                                            <div class="mt-step-content font-grey-cascade">@Resources.AdvancedCampaignResource.ContentInput</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="create-email-advance-setting">

                        <div class="col-md-12 col-sm-12" style="margin-top: 10px;">
                            <div class="portlet light portlet-fit portlet-form" id="portletFormSetting">


                                <div class="portlet-body" style="padding-bottom:10px;">
                                    <!-- BEGIN FORM-->

                                    <div id="formSetting">
                                        <div class="form-horizontal">
                                            <div class="form-group form-md-line-input">

                                                <label for="title" class="col-md-3 control-label">
                                                    @Resources.AdvancedCampaignResource.EmailName
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" name="name" id="txtSettingName">
                                                    <span class="help-block">@Resources.AdvancedCampaignResource.EnterEmailName </span>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">

                                                <label for="title" class="col-md-3 control-label">
                                                    @Resources.NewsletterResource.emailTitle
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" name="name" id="txtSettingSubject">
                                                    <span class="help-block">@Resources.NewsletterResource.emailInputtitle </span>
                                                </div>
                                                <div class="col-md-3 text-left" id="div-personalize-subject">
                                                    <i class="fa fa-user"></i>
                                                    <a id="add-personalize-subject">@Resources.NewsletterResource.emailpersonalize </a>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group form-md-line-input">

                                                <label for="emailsend" class="col-md-3 control-label">
                                                    @Resources.NewsletterResource.emailEmailSend
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control" style="width:100%;" id="txtSettingEmailSend"></select>
                                                </div>
                                                <div class="col-md-3 text-left">
                                                    <a href="/Account/UserProfile#FromEmail" target="_blank">@Resources.AdvancedCampaignResource.AddFromMail</a>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <label for="emailreply" class="col-md-3 control-label">
                                                    @Resources.NewsletterResource.emailEmailRecive
                                                    @*<span class="required">*</span>*@
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control" style="width:100%;" id="txtSettingEmailReply"></select>
                                                </div>
                                            </div>
                                            <div id="scroll-to-botom"></div>
                                            <div class="text-center margin-top-10">
                                                <a class="btn btn green-jungle" id="btn-save-email-advance-setting">@Resources.AdvancedCampaignResource.SaveAndContinue <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane " id="create-email-advance-template">
                        @{Html.RenderAction("PartialContent", "BasicCampaign");}
                    </div>


                </div>
                @*<div class="btn-close-modal">
                   
                </div>*@
            </div>

            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>



            <!--modal content sms-->
<div class="modal fade bs-modal-lg" id="modalEditContentSMSAdvance" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                <h4 class="modal-title"><i class="fa fa-refresh font-green-jungle"></i> @Resources.AdvancedCampaignResource.Update</h4>
            </div>
            <div class="modal-body">
                <div style="margin:5px;">
                    <div class="portlet-body">
                        <div>
                         
                                <div class="form-group form-md-line-input" style="margin-bottom:10px;padding-top:0px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-4 control-label nopading" style="margin-top:5px;">@Resources.AdvancedCampaignResource.MessageName</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="mesage-event-name">
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block">@Resources.AdvancedCampaignResource.EnterMessageName</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-12 nopading">

                                    <div class="md-radio-list pull-left">
                                        <div class="md-radio" id="select-smstype-event">
                                            <input name="smstype-event" class="md-radiobtn" id="smstypebasic-event" type="radio" value="1" checked="">
                                            <label for="smstypebasic-event">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>@Resources.AdvancedCampaignResource.OTPMessages (@Resources.SendsmsResource.Efficiency 40-70%)
                                            </label>
                                        </div>
                                        <div class="md-radio" id="select-brandname-type-event">
                                            <input name="smstype-event" class="md-radiobtn" id="smstypeadvance-event" type="radio" value="2">
                                            <label for="smstypeadvance-event">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> @Resources.AdvancedCampaignResource.BrandName (@Resources.SendsmsResource.Efficiency 85-95%)
                                            </label>
                                            <label id="sms-brand-name-event" class="hide" style="padding-left:10px;">
                                                <select id="select-brandname-event"></select>
                                            </label>
                                        </div>
                                        <div class="md-radio" id="select-gateway-type-event">
                                            <input name="smstype-event" class="md-radiobtn" id="smstypegateway-event" type="radio" value="3">
                                            <label for="smstypegateway-event">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> @Resources.NewsletterResource.SMSGateway 
                                            </label>
                                            @*<label id="sms-gateway-event" class="hide" style="padding-left:10px;">
                                                <select id="select-gateway-event"></select>
                                            </label>*@
                                            <label class="font-yellow-gold" style="padding-left:5px;">(@Resources.SendsmsResource.Suggest)</label>
                                            <label class="hide" style="padding-left:15px;" id="sms-gateway-event">
                                                <select class="custom-select" id="select-gateway-event" style="max-width:150px;min-width:150px;"></select>
                                                <label><a target="_blank" href="/Account/UserProfile#FromMobile"><i class="fa fa-cog"></i> @Resources.SendsmsResource.UpdateConfigurationSent </a></label>
                                                @*<table>
                                                    <tr>
                                                        <td>
                                                            Gửi đến mạng Mobifone và mạng khác
                                                        </td>
                                                        <td>
                                                            <select class="custom-select" id="select-gateway-event"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Gửi đến mạng Vinaphone
                                                        </td>
                                                        <td>
                                                            <select class="custom-select" id="select-gateway-event-vina"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Gửi đến mạng Viettel
                                                        </td>
                                                        <td>
                                                            <select class="custom-select" id="select-gateway-event-viettel"></select>
                                                        </td>
                                                    </tr>
                                                </table>*@
                                            </label>
                                        </div>

                                    </div>
                                    


                                </div>
                                <div class="alert-sms-not-send col-md-12 nopading">
                                    <div style="margin-top:10px;margin-bottom:10px;">
                                        <span class="label label-danger">@Resources.SendsmsResource.Note</span>
                                        <p class="margin-top-10" style="margin-bottom:0 !important;">
                                            <span id="note-send-webapp" class="font-red"><b>@Resources.SendsmsResource.PerformanceSend <span id="Performance-sendsms"></span>, @Resources.SendsmsResource.PerformanceSendTo</b></span>
                                            <span style="display:none;" class="font-red" id="note-send-getway"><b>@Resources.SendsmsResource.NoteGateway</b></span>
                                            <div id="divsmsservice" style="display:none;">
                                                <span class="font-yellow-gold bold" id="smsserviceenable" style="display:none;">@Resources.SendsmsResource.Current <span id="smsserviceenable-detail"></span> @Resources.SendsmsResource.DetailSMSEnable <br /></span>

                                            </div>
                                            <span>@Html.Raw(Resources.SendsmsResource.NoteContent)</span>
                                        </p>
                                    </div>


                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="editor-label">
                                    @*<div class="col-md-8 col-sm-8 col-xs-8">
                                        <span style="font-size:16px;">@Resources.AdvancedCampaignResource.MessageContent</span>
                                    </div>*@
                                    <div class="col-md-8  col-sm-8 col-xs-8 nopading">
                                        <div class="md-radio-inline" style="margin:0;padding:5px 0">
                                            <div class="md-radio has-warning" id="select-sms-input-khongdau">
                                                <input name="smsinputtype" class="md-radiobtn" id="smskhongdau" type="radio" value="1" checked>
                                                <label for="smskhongdau" class="font-yellow-gold">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.SendsmsResource.SMSKhongdau
                                                </label>
                                            </div>
                                            <div class="md-radio has-warning" id="select-sms-input-codau" style="display:none;">
                                                <input name="smsinputtype" class="md-radiobtn" id="smscodau" type="radio" value="2">
                                                <label for="smscodau" class="font-yellow-gold">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.SendsmsResource.SMSCodau
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left" id="div-personalize-subject-sms">
                                        <i class="fa fa-user"></i>
                                        <a id="add-personalize-subject-sms">@Resources.NewsletterResource.emailpersonalize </a>
                                    </div>
                                </div>
                                <div class="editor-field">
                                    <textarea id="Message-event" style="width:100%;padding:5px;" rows="5"></textarea>
                                </div>
                                <div id="MsgLengthCount-event" style="text-align:center;"><b style="color:#8EBC00">0</b> @Resources.AdvancedCampaignResource.Character = <b style="color:#E84444">1</b> @Resources.AdvancedCampaignResource.Message</div>
                            </div>

                        </div>
                    </div>
                </div>
                @*<div class="btn-close-modal">
                    </div>*@
            </div>
            <div class="modal-footer" style="padding-top:0px;">
                <a class="btn btn-sm green-jungle" id="save-sms-event"><i class="fa fa-save"></i> @Resources.AdvancedCampaignResource.Save</a>
                <a class="btn btn-sm green-jungle" id="save-close-sms-event"><i class="fa fa-save"></i>@Resources.AdvancedCampaignResource.SaveAndCancel</a>
                <a class="btn btn-sm yellow-gold" id="close-modal-create-sms"><i class="fa fa-remove"></i> @Resources.AdvancedCampaignResource.Close</a>
                
            </div>
        </div>
    </div>
</div>




<div id="modalLoadTemplateAdvance" style="display:none; position: fixed; height: 100%; top: 0; left: 0px; right: 0px; z-index: 9999;">
    <div style="height: 360px; margin-top: 25vh; background-image: url(/Content/Images/pattern03.jpg); box-shadow: rgb(0, 0, 0) 0px 0px 15px 0px inset;">
        <div class="container">
            <div class="clearfix">
                <a id="btCloseTemplatEemail" style="margin-top:20px;display:block" class="btn-circle btn-sm btn-default pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div id="formSetting">
                <div class="form-horizontal">
                    <div class="slide-theme-email-advance slider">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalLoadTemplateAdvanceClickOpen" style="display:none; position: fixed;height:100%;top:0; left: 0px; right: 0px; z-index: 9999; ">
    <div style="height: 360px; margin-top: 25vh; background-image: url(/Content/Images/pattern03.jpg); box-shadow: rgb(0, 0, 0) 0px 0px 15px 0px inset;">
        <div class="container">
            <div class="clearfix">
                <a id="btCloseEemailClick" style="margin-top:20px;display:block" class="btn-circle btn-sm btn-default pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div id="formSetting">
                <div class="form-horizontal">
                    <div class="slide-email-advance-clickopen slider">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalLoadTemplateSMSAdvance" style="display:none; position: fixed; height: 100%; top: 0; left: 0px; right: 0px; z-index: 9999;">
    <div style="height: 360px; margin-top: 25vh; background-image: url(/Content/Images/pattern03.jpg); box-shadow: rgb(0, 0, 0) 0px 0px 15px 0px inset;">
        <div class="container">
            <div class="clearfix">
                <a id="btCloseTemplatSMS" style="margin-top:10px;display:block" class="btn-circle btn-sm btn-default pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div id="formSetting">
                <div class="form-horizontal">
                    <div class="slide-theme-sms-advance slider">

                    </div>

                </div>
            </div>
        </div>
        </div>

    </div>


<div class="modal fade" id="modal-warning-before-reset-email" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">

                <p>@Resources.NewsletterResource.inforeset</p>
                <h4 class="bold">@Resources.NewsletterResource.requestcontinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm green-jungle" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn btn-sm default btn-outline font-grey-gallery" id="confirm-reset-emailcontent">@Resources.NewsletterResource.yescontinue </button>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="modal-warning-before-change-html" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">

                <p>
                    @Resources.NewsletterResource.infoedit

                </p>
                <h4 class="bold">@Resources.NewsletterResource.requestcontinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm green-jungle" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn btn-sm default btn-outline font-grey-gallery" id="confirm-change-html-emailcontent">@Resources.NewsletterResource.yescontinue</button>
            </div>

        </div>
    </div>
</div>

<div id="modalLoadEmailBuilderEvent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 10050;background:white;">

    <div class="row">
        <div class="col-md-12">
            @*<div class="clearfix text-center" style="background:green;" id="header-email-builder">
                    <a id="btCloseEmailBuilderContent" style="margin:15px;display:block" class="btn-circle btn-sm btn-default pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    <h3 class="font-white font-lg" style="font-size:20px;">Chọn mẫu email khác? <span class="btn btn-sm btn-circle white" id="select-template-email-builder">Chọn template</span></h3>


                </div>*@
            <iframe id="iframe-emailbuilder-event" style="width: 100%;border: none;"></iframe>
        </div>
    </div>

</div>
<div id="modalLoadEmailEditorEvent" style="display:none; position: fixed; min-height: 100vh; top: 0; left: 0px; right: 0px; z-index: 10050;background:white;">
    <div class="row">
        <div class="col-md-12">
            <iframe id="iframe-emaileditor-event" style="width:100%;border:none;"></iframe>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-warning-publish-event" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> Cảnh báo</h4>
            </div>
            <div class="modal-body text-center">

                <p>
                    @Resources.AdvancedCampaignResource.WarningPublish


                </p>
                <h4 class="bold">@Resources.AdvancedCampaignResource.QuestionContinueSend</h4>
                <div class="text-center" id="warning-publish-gateway" style="display:none;">
                    <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayTitle)</p>
                    <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayContent)</p>

                </div>
            </div>
            <div class="modal-footer">
                <a class="hide" id="confirm-publish-event"></a>
                <a class="btn default btn-sm btn-outline font-grey-gallery  popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="@Resources.AdvancedCampaignResource.ContactUnsentContent" data-original-title="@Resources.AdvancedCampaignResource.Warning" id="confirm-publish-event-unsent">@Resources.AdvancedCampaignResource.ContactUnsent</a>
                <a class="btn default btn-sm btn-outline font-grey-gallery popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="@Resources.AdvancedCampaignResource.SelectAllContent" data-original-title="@Resources.AdvancedCampaignResource.Warning" id="confirm-publish-event-all">@Resources.AdvancedCampaignResource.SelectAll</a>
                <a class="btn default btn-sm btn-outline font-grey-gallery popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="@Resources.AdvancedCampaignResource.NewContactContent" data-original-title="@Resources.AdvancedCampaignResource.Warning" id="confirm-publish-event-none">@Resources.AdvancedCampaignResource.NewContact</a>
                <button type="button" class="btn btn-sm green" data-dismiss="modal">@Resources.AdvancedCampaignResource.NoPublish</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade " id="modelWarningSMSGateWay" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-warning font-yellow-gold"></i> Cảnh báo publish</h4>
            </div>
            <div class="modal-body text-center">
                <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayTitle)</p>
                <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayContent)</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AdvancedCampaignResource.Close</button>
                <a id="btn-waring-beforepublish" class="btn btn-sm green-jungle"><i class="fa fa-check"></i>@Resources.AdvancedCampaignResource.PublishOn</a>
            </div>
        </div>
    </div>
</div>

<script>
    var CampaignId = '@ViewBag.CampaignId';
    var BaseId = '@ViewBag.BaseId';
    var access_token = '@HttpContext.Current.Session["access_token"]';
    var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
    var apidBuilder = '@System.Configuration.ConfigurationManager.AppSettings["builder"]';
    var message = {
        HaveError: '@Html.Raw(Resources.AdvancedCampaignResource.HaveError)',
        Clicks: '@Html.Raw(Resources.AdvancedCampaignResource.Clicks)',
        Opens: '@Html.Raw(Resources.AdvancedCampaignResource.Opens)',
        CreateSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.CreateSuccess)',
        UpdateSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.UpdateSuccess)',
        NoEmail: '@Html.Raw(Resources.AdvancedCampaignResource.NoEmail)',
        NoSMS: '@Html.Raw(Resources.AdvancedCampaignResource.NoSMS)',
        NoMethod:'@Html.Raw(Resources.AdvancedCampaignResource.NoMethod)',
        NoDayOfWeek: '@Html.Raw(Resources.AdvancedCampaignResource.NoDayOfWeek)',
        NoAutoresponderName: '@Html.Raw(Resources.AdvancedCampaignResource.NoAutoresponderName)',
        NoEmailOpen: '@Html.Raw(Resources.AdvancedCampaignResource.NoEmailOpen)',
        NoEmailClick: '@Html.Raw(Resources.AdvancedCampaignResource.NoEmailClick)',
        NoEmailLink: '@Html.Raw(Resources.AdvancedCampaignResource.NoEmailLink)',
        ChooseEmail: '@Html.Raw(Resources.AdvancedCampaignResource.ChooseEmail)',
        ChooseSMS: '@Html.Raw(Resources.AdvancedCampaignResource.ChooseSMS)',
        View: '@Html.Raw(Resources.AdvancedCampaignResource.View)',
        EmailNameRequire: '@Html.Raw(Resources.AdvancedCampaignResource.EmailNameRequire)',
        SubjectRequire: '@Html.Raw(Resources.AdvancedCampaignResource.SubjectRequire)',
        EmailRequire: '@Html.Raw(Resources.AdvancedCampaignResource.EmailRequire)',
        NoMessageToSelect: '@Html.Raw(Resources.AdvancedCampaignResource.NoMessageToSelect)',
        Character: '@Html.Raw(Resources.AdvancedCampaignResource.Character)',
        Message: '@Html.Raw(Resources.AdvancedCampaignResource.Message)',
        MessageNameRequire: '@Html.Raw(Resources.AdvancedCampaignResource.MessageNameRequire)',
        CharacterNotAllow: '@Html.Raw(Resources.AdvancedCampaignResource.CharacterNotAllow)',
        NoContentMessage: '@Html.Raw(Resources.AdvancedCampaignResource.NoContentMessage)',
        Autoresponder: '@Html.Raw(Resources.AdvancedCampaignResource.Autoresponder)',
        AnotherMessage: '@Html.Raw(Resources.AdvancedCampaignResource.AnotherMessage)',
        NoLink: '@Html.Raw(Resources.AdvancedCampaignResource.NoLink)',
        SelectBrandName: '@Html.Raw(Resources.AdvancedCampaignResource.SelectBrandName)',
        NoEmailToSelect: '@Html.Raw(Resources.AdvancedCampaignResource.NoEmailToSelect)',
        AddNewFromEmail: '@Html.Raw(Resources.AdvancedCampaignResource.AddNewFromEmail)',
        ConfirmPrevious: '@Html.Raw(Resources.AdvancedCampaignResource.ConfirmPrevious)',
        Select: '@Html.Raw(Resources.AdvancedCampaignResource.Select)',
        NoConfig: '@Html.Raw(Resources.SendsmsResource.NoConfig)',
        NoBrandName: '@Html.Raw(Resources.SendsmsResource.NoBrandName)',
        Note: '@Html.Raw(Resources.SendsmsResource.Note)',
        CalSMSNumber: '@Html.Raw(Resources.SendsmsResource.CalSMSNumber)',
        SMSNumberBrand: '@Html.Raw(Resources.SendsmsResource.SMSNumberBrand)',
        SMSNumerNomal: '@Html.Raw(Resources.SendsmsResource.SMSNumerNomal)',
        SMSNumberGetaway: '@Html.Raw(Resources.SendsmsResource.SMSNumberGetaway)',
        NotSelectSpecialDay:'@Html.Raw(Resources.AdvancedCampaignResource.NotSelectSpecialDay)',
        NotSelectForm:'@Html.Raw(Resources.AdvancedCampaignResource.NotSelectForm)',
        NoBaseDay:'@Html.Raw(Resources.AdvancedCampaignResource.NoBaseDay)',
        BaseDayInteger:'@Html.Raw(Resources.AdvancedCampaignResource.BaseDayInteger)',

    };
    $(document).ready(function () {
        //$('.imgbackg-basetime input').val(@ViewBag.Date);
        var IdAdd = 'txtSettingSubject'; //id input add persolinate
        var IdAddSMS = 'Message-event'; //id input add persolinate
        createadvanced_Action(apiDomain, apidBuilder, access_token, CampaignId, BaseId, IdAdd, IdAddSMS, message, @ViewBag.Date);
        partialsetting_Action(apiDomain, access_token, message);//addpersolinate


    });
</script>
<script>
    //đóng emailbuilder
    function listenMessage(msg) {
        if (msg.data == "ClosePopup") {
            $('#modalLoadEmailBuilderEvent').hide();
            $('#modalLoadEmailEditorEvent').hide();
            createadvance_ReLoadContentNewsletter(apiDomain, access_token, message);
        }
    }

    if (window.addEventListener) {
        window.addEventListener("message", listenMessage, false);
    } else {
        window.attachEvent("onmessage", listenMessage);
    }

    //if($(window).innerWidth()<1280){
    //    $('#tab-select-type-autoresponder').css({'overflow-x':'scroll','overflow-y':'hidden','width':'100%','height':'165px'});
    //    $('#row-content-auto-type').css({'padding-top':'0px'});
    //}
    //window.addEventListener('resize', function(event){
    //    if($(window).innerWidth()<1280){
    //        $('#tab-select-type-autoresponder').css({'overflow-x':'scroll','overflow-y':'hidden','width':'100%','height':'165px'});
    //        $('#row-content-auto-type').css({'padding-top':'0px'});
    //    }
    //    else{
    //        $('#tab-select-type-autoresponder').css({'overflow-x':'unset','overflow-y':'unset','width':'100%'});
            
    //    }
    //});
</script>
