﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleBasicCampaign;
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
    <script src="~/Scripts/AdvancedCampaign/index.js" type="text/javascript"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.MenuResource.mnListCampaing</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b> <span>@Resources.MenuResource.mnAdvancedCampaign</span></b>
        </li>

    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">


                <div class="tools">

                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
                <div class="actions" style="float:left">
                    @if (permission.IsParent)
                    {
                    <a class="btn-sm btn green-jungle" href="/advancedcampaign/createcampaign">
                        <i class="fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                    </a>
                    }
                    else
                    {
                        if (permission.AutoCampaign == 2)
                        {
                            <a class="btn-sm btn green-jungle" href="/advancedcampaign/createcampaign">
                                <i class="fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                            </a>
                        }
                    }
                </div>

            </div>
            <div class="portlet-body">

                <div id="divAction">

                    <div id="divAction-selectall" >
                        <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                    </div>
                    <div id="divAction-selectall" class="col-md-5 col-sm-6" style="padding-left:0px;">
                        <span><b>@Resources.NewsletterResource.SelectAll</b></span>
                        @if (permission.IsParent)
                        {
                        <a class="btn btn-xs btn-outline red hide"  id="btn-delete-advance"><i class="fa fa-remove"></i>Xóa</a>
                        }
                        else
                        {
                            if (permission.AutoCampaign == 2)
                            {
                                <a class="btn btn-xs btn-outline red hide" id="btn-delete-advance"><i class="fa fa-remove"></i>Xóa</a>
                            }
                        }
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-5" style="height:25px;">
                        <div class="form-group form-md-line-input" id="divAction-Search">
                            <div class="input-group">
                                <span class="input-group-addon" id="iconsearch">
                                    <i class="icon-magnifier"></i>
                                </span>
                                <input id="searchvalue" type="text" class="form-control  input-sm" placeholder="@Resources.AdvancedCampaignResource.SearchCampaign">
                            </div>
                        </div>
                    </div>
                    <div class="btn-group" id="btn-sort-sent" style="float:right;">
                        <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                        <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="title-btn-sort" sort="LastModifyDate" typesort="Descending">@Resources.NewsletterResource.LastModifyDate <span class="fa fa-sort-alpha-desc"></span></span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="MessageName" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.MessageName

                                </a>
                            </li>

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="LastModifyDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.LastModifyDate

                                </a>
                            </li>

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.CreateDate

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-hover table-checkable" id="tableAdvance">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-sm-1 col-xs-1">
                            </th>
                            <th class="col-lg-8 col-md-8 col-sm-8"></th>
                            <th class="col-lg-3 col-md-3 col-sm-3"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--modal confirm xóa-->
<div class="modal fade " id="modal-confirm-delete-campaign-advance" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.NewsletterResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Resources.AdvancedCampaignResource.WarningDelete
                </p>
                <h4 class="bold">@Resources.AdvancedCampaignResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green-jungle" data-dismiss="modal">@Resources.AdvancedCampaignResource.NoThank</button>
                <button type="button" class="btn default btn-outline font-grey-gallery" id="confirm-delete-advance">@Resources.AdvancedCampaignResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="modalCreateAdvanceCampaign" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalUpdateAdvanceCampaing" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.AdvancedCampaignResource.UpdateCampaign</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="createContactGroup">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label" for="form_control_1">
                                @Resources.AdvancedCampaignResource.CampaignName
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                <input  type="text" class="form-control" placeholder="" name="name" id="update-campaignname-advance">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                    @Resources.AdvancedCampaignResource.EnterCampaignName
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label" for="form_control_1">
                                @Resources.AdvancedCampaignResource.Description
                                <span class="required"></span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="" name="desciption" id="update-campaigndesciption-advance">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">@Resources.AdvancedCampaignResource.EnterDescription</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">
                                @Resources.AdvancedCampaignResource.Active
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-8">
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="update-campaignactive-advance" class="md-check" checked>
                                    <label for="update-campaignactive-advance">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.ContactResource.contactClose</button>
                <button type="submit" class="btn btn-sm green-jungle" id="save-update-campaign-advance"><i class="fa fa-save"></i>@Resources.ContactResource.contactSave</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //active menu
        $('#mnadvancedcampaign').addClass('active');
        $('#mnadvancedcampaign').children('a').append('<span class="selected"></span>');
        var tableId = "#tableAdvance";
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var dataUrl = "api/AutoCampaign/GetList";
        var file = "/Scripts/JsonDefineColumn/advancedcampaign.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));
        var AdditionalParameters;


        var typesent = $('#btn-sort-sent  .menuitem ').attr('data-typesort');
        var sortvaluesent = $('#btn-sort-sent  .menuitem ').attr('data-sort');
        var searchvalue = $('#searchvalue').val();



        $('#btn-sort-sent  .menuitem ').on('click', function () {
            typesent = $(this).attr('typesort');
            sortvaluesent = $(this).attr('sort');

            var text = $(this).text();
            $('#btn-sort-sent #title-btn-sort').attr('sort', sortvaluesent);
            $('#btn-sort-sent #title-btn-sort').attr('typesorts', typesent);

            var html;
            if (typesent == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (typesent == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#btn-sort-sent #title-btn-sort').text(text);
            $('#btn-sort-sent #title-btn-sort').append(html);

            $(tableId).dataTable().fnDraw();
        });


        var timer;

        $('#searchvalue').keypress(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $('#searchvalue').val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });


        $('#searchvalue').keyup(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $('#searchvalue').val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });

         AdditionalParameters = function (data) {
            data.SortColumn = sortvaluesent;
            data.SortDirection = typesent;
            data.Status = "All";
            data.search['value'] = searchvalue;
            data.Active = true;
            App.blockUI({
                target: 'body',
                animate: true
            });
         }

        var height = resizeTableBasicCampaign();

        var messageTable = {

            Modify: '@Html.Raw(Resources.NewsletterResource.Modify)',
            Delete: '@Html.Raw(Resources.AdvancedCampaignResource.Delete)',
            Manage: '@Html.Raw(Resources.AdvancedCampaignResource.Manage)',
            Edit: '@Html.Raw(Resources.AdvancedCampaignResource.Edit)',
            Autoresponder: '@Html.Raw(Resources.AdvancedCampaignResource.Autoresponder)',
            Contacts: '@Html.Raw(Resources.AdvancedCampaignResource.Contacts)',
            Newsletter: '@Html.Raw(Resources.AdvancedCampaignResource.Newsletter)',

        }

        var message = {
            UpdateCampaignSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.UpdateCampaignSuccess)',
            UpdateCampaignError: '@Html.Raw(Resources.AdvancedCampaignResource.UpdateCampaignError)',
            HaveError: '@Html.Raw(Resources.AdvancedCampaignResource.HaveError)',
            DeleteCampaignError: '@Html.Raw(Resources.AdvancedCampaignResource.DeleteCampaignError)',
            DeleteCampaignSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.DeleteCampaignSuccess)',
            NoSelectCampaign: '@Html.Raw(Resources.AdvancedCampaignResource.NoSelectCampaign)',
        };
        var row = 20;

        var permissiontable=@Html.Raw(Json.Encode(permission));
        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, row, messageTable,permissiontable);



        index_Action(apiDomain, access_token, tableId, message);


    })

</script>

