﻿<div class="cbp-loadMore-block1">
    
        @for (var i = 30; i < 60; i++)
        {
            <div class="cbp-item graphic" id="box">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/Content/Images/no-preview.png")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a onclick="Edit();" class=" btn btn-circle red uppercase btn red uppercase" rel="nofollow"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Day @i</div>
            </div>
        }

   
</div>
<div class="cbp-loadMore-block2">
        @for (var i = 60; i < 90; i++)
        {
            <div class="cbp-item graphic" id="box">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="@Url.Content("~/Content/Images/no-preview.png")" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a onclick="Edit();" class=" btn btn-circle red uppercase btn red uppercase" rel="nofollow"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Day @i</div>
            </div>
        }
</div>
