﻿
@{
    ViewBag.Title = @Resources.PagetitleResource.pagetitleNewsletter;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
<script src="~/Scripts/AdvancedCampaign/managenewsletters.js" type="text/javascript"></script>
   
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.PagetitleResource.pagetitleHome</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("/advancedcampaign")"> <span>@Resources.PagetitleResource.pagetitleAdvanceCampaign</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b> <span>@Resources.PagetitleResource.pagetitleNewsletter</span></b>
        </li>

    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">


                <div class="tools">

                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
                <div class="actions" style="float:left">
                    <a class="btn-sm btn red" id="create-new-advance-newsletter">
                        <i class="large fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                    </a>
                </div>

            </div>
            <div class="portlet-body">

                <div id="divAction">

                    <div id="divAction-selectall">
                        <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                    </div>
                    <div id="divAction-selectall" class="col-md-2" style="padding-left:0px;">
                        <span><b>@Resources.NewsletterResource.SelectAll</b></span>
                    </div>

                    <div class="btn-group" id="btn-sort-sent" style="float:right;">
                        <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                        <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="title-btn-sort" sort="LastModifyDate" typesort="Descending">@Resources.NewsletterResource.LastModifyDate <span class="fa fa-sort-alpha-desc"></span></span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="MessageName" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.MessageName

                                </a>
                            </li>

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="LastModifyDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.LastModifyDate

                                </a>
                            </li>

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.CreateDate

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-hover table-checkable" id="tableAdvanceNewsletters">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-sm-1 col-xs-1">
                            </th>
                            <th class="col-lg-8 col-md-8 col-sm-9"></th>
                            <th class="col-lg-3 col-md-3 col-sm-2"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--modal confirm xóa-->
<div class="modal fade bs-modal-sm" id="modal-confirm-delete-newsletter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.NewsletterResource.ConfirmDelete</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.NewsletterResource.No</button>
                <button type="button" class="btn green" id="confirm-delete-draft">@Resources.NewsletterResource.Yes</button>
            </div>
        </div>

    </div>

</div>
<div class="modal fade bs-modal-sm" id="modal-confirm-delete-all-draft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.NewsletterResource.ConfirmDelete</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.NewsletterResource.No</button>
                <button type="button" class="btn green" id="confirm-delete-all-draft">@Resources.NewsletterResource.Yes</button>
            </div>
        </div>
    </div>
</div>

<!--modal create newsletter-->
<div class="modal fade nopading" id="modalCreateAdvanceNewsletter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:100%;margin:0;">
        <div class="modal-content" style="height:100vh">
            <div class="modal-body" style="padding:0">
                <div class="mt-element-step">
                    <div class="row step-thin">
                        <div class="tabbable-line tab-select-autoresponder">
                            <ul class="nav nav-tabs">
                                <li class="active col-md-4 nopading">
                                    <a class="nopading" id="tab-create-email-advance-setting" href="#create-email-advance-setting" data-toggle="tab" aria-expanded="true">
                                        <div class="bg-blue-steel mt-step-col">
                                            <div class="mt-step-number bg-white font-grey">1</div>
                                            <div class="mt-step-title uppercase font-grey-cascade">Thiết lập</div>
                                            <div class="mt-step-content font-grey-cascade">Thiết lập thông tin</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-4 nopading">
                                    <a class="nopading" id="tab-create-email-advance-template" href="#create-email-advance-template" data-toggle="tab" aria-expanded="false">
                                        <div class="bg-blue-steel mt-step-col">
                                            <div class="mt-step-number bg-white font-grey">2</div>
                                            <div class="mt-step-title uppercase font-grey-cascade">chọn mẫu</div>
                                            <div class="mt-step-content font-grey-cascade">Chọn mẫu email</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="col-md-4 nopading">
                                    <a class="nopading" id="tab-create-email-advance-content" href="#create-email-advance-content" data-toggle="tab" aria-expanded="false">
                                        <div class="bg-blue-steel mt-step-col">
                                            <div class="mt-step-number bg-white font-grey">3</div>
                                            <div class="mt-step-title uppercase font-grey-cascade">Nội dung</div>
                                            <div class="mt-step-content font-grey-cascade">Nhập nội dung email</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="create-email-advance-setting">
                        <div class="col-md-12 col-sm-12">
                            <div class="portlet light portlet-fit portlet-form" id="portletFormSetting" style="box-shadow:none;">


                                <div class="portlet-body">
                                    <!-- BEGIN FORM-->

                                    <div id="formSetting">
                                        <div class="form-horizontal">
                                            <div class="form-group form-md-line-input">

                                                <label for="title" class="col-md-3 control-label">
                                                    Tên email
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="name" id="txtSettingName">
                                                    <span class="help-block">Nhập tên email</span>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">

                                                <label for="title" class="col-md-3 control-label">
                                                    subject
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="name" id="txtSettingSubject">
                                                    <span class="help-block">Nhập subject</span>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">

                                                <label for="name" class="col-md-3 control-label">
                                                    Người gửi
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="name2" id="txtSettingSender">
                                                    <span class="help-block">Tên người gửi</span>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">

                                                <label for="emailsend" class="col-md-3 control-label">
                                                    Email gửi
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="email" id="txtSettingEmailSend">
                                                    <span class="help-block">Email gửi</span>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">

                                                <label for="emailreply" class="col-md-3 control-label">
                                                    Email nhận

                                                </label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="email2" id="txtSettingEmailReply">
                                                    <span class="help-block">Email nhận phản hồi</span>
                                                </div>
                                                <div class="col-md-12 text-center margin-top-10">
                                                    <a class="btn btn red">Hủy</a>
                                                    <a class="btn btn green" id="btn-save-email-advance-setting">Tiếp tục <i class="fa fa-chevron-right"></i></a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="create-email-advance-template">
                        Chọn teaplate
                    </div>

                    <div class="tab-pane " id="create-email-advance-content">

                        <div class="col-md-12" style="padding-top:5px;">
                            <div class="text-center">
                                <button type="button" class="btn green-jungle" id="btnsaveemailcontent"><i class="fa fa-save"></i>Lưu</button>
                            </div>
                            <div id="divAction">
                                <input id="insertImage" type="file" style="display:none" accept="image/x-png, image/jpeg">
                            </div>
                            <div name="summernote" id="contentnewsletter"> </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="btn-close-modal">
                <button type="button" class="btn btn-circle dark" data-dismiss="modal">Đóng</button>
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        //active menu
        $('#mnadvancedcampaign').addClass('active');
        $('#mnadvancedcampaign').children('a').append('<span class="selected"></span>');
        var tableId = "#tableAdvanceNewsletters";
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var dataUrl = "api/newsletter/GetListWeb";
        var file = "/Scripts/JsonDefineColumn/managenewsletters.json";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));
        var AdditionalParameters;


        var typesent = $('#btn-sort-sent  .menuitem ').attr('data-typesort');
        var sortvaluesent = $('#btn-sort-sent  .menuitem ').attr('data-sort');




        $('#btn-sort-sent  .menuitem ').on('click', function () {
            typesent = $(this).attr('typesort');
            sortvaluesent = $(this).attr('sort');

            var text = $(this).text();
            $('#btn-sort-sent #title-btn-sort').attr('sort', sortvaluesent);
            $('#btn-sort-sent #title-btn-sort').attr('typesorts', typesent);

            var html;
            if (typesent == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (typesent == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#btn-sort-sent #title-btn-sort').text(text);
            $('#btn-sort-sent #title-btn-sort').append(html);

            $(tableId).dataTable().fnDraw();
        });

         AdditionalParameters = function (data) {
            data.SortColumn = sortvaluesent;
            data.SortDirection = typesent;
            data.CampaignId='@ViewBag.CampaignId'
            data.Status = "IsSent";
            App.blockUI({
                target: 'body',
                animate: true
            });
         }

        var height = resizeTableBasicCampaign();

        var messageTable = {
            ModifyDate: '@Html.Raw(Resources.AdvancedCampaignResource.ModifyDate)',
            Tools: '@Html.Raw(Resources.AdvancedCampaignResource.Tool)',
            ReUsed: '@Html.Raw(Resources.AdvancedCampaignResource.ReUsed)',
            PreView: '@Html.Raw(Resources.AdvancedCampaignResource.PreView)',
            Delete: '@Html.Raw(Resources.AdvancedCampaignResource.Delete)',

        }

        var message = {
            DeleteSuccess: '@Html.Raw(Resources.NewsletterResource.notifyDeleteSuccess)',
            DeleteError: '@Html.Raw(Resources.NewsletterResource.notifyDeleteError)',
        };
        var row = 10;

        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters, height, row, messageTable);

        managenewsletter_Action(apiDomain, access_token, tableId, message);


    })

</script>





