﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleAdvanceCampaign;
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
  
<script src="~/Scripts/AdvancedCampaign/managecampaign.js" type="text/javascript"></script>
<script src="~/Scripts/lodash.js" type="text/javascript"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.MenuResource.mnListCampaing</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="~/AdvancedCampaign"><span>@Resources.MenuResource.mnAdvancedCampaign</span></a>
            <i class="fa fa-circle"></i>
        </li>
       
        <li>
            <b> <span>@Resources.PagetitleResource.ManageAutoresponder</span></b>
        </li>

    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">


                <div class="tools">
                    <a id="action-advance-table" class="tooltips" data-placement="top" data-original-title="@Resources.AdvancedCampaignResource.List"><i id="action-advance-table-i" class="fa fa-th-list font-grey-gallery" style="font-size:20px;"></i></a>

                    <a id="action-advance-grid" class="tooltips" data-placement="top" data-original-title="@Resources.AdvancedCampaignResource.Grid"><i id="action-advance-grid-i" class="fa fa-th-large font-blue" style="font-size:20px;"></i></a>


                </div>
                @*<div class="actions" style="float:left">
                        <a class="btn-sm btn red"  href="/AdvancedCampaign/Create?eId=@ViewBag.CampaignId&Day=0">
                            <i class="large fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                        </a>
                    </div>*@

            </div>
            <div class="portlet-body">

                <div id="divAction">

                    <div id="divAction-selectall" class="hide">
                        <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                    </div>
                    <div id="divAction-selectall" class="col-md-2 hide" style="padding-left:0px;">
                        <span><b>@Resources.NewsletterResource.SelectAll</b></span>
                    </div>

                    <div class="btn-group hide" id="btn-sort-sent" style="float:right;">
                        <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                        <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="title-btn-sort" sort="LastModifyDate" typesort="Descending">@Resources.NewsletterResource.LastModifyDate <span class="fa fa-sort-alpha-desc"></span></span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="MessageName" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.MessageName

                                </a>
                            </li>

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="LastModifyDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.LastModifyDate

                                </a>
                            </li>

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.NewsletterResource.CreateDate

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
             
                <div class="advance-campaign-show">
                    <!--dạng lưới-->
                    <div class="advance-campaign-show-grid">
                        <div id="advance-campaign-show-grid-open" style="position:relative;">

                            <div class="row">
                                <h2 class="col-md-12 nomargin text-center" style="padding-bottom:10px;">
                                    @Resources.AdvancedCampaignResource.Timebasedtitle
                                    @if (permission.IsParent)
                                    {
                                    <a class="btn-sm btn green-jungle pull-right" href="/AdvancedCampaign/Create?eId=@ViewBag.CampaignId&Day=0">
                                        <i class="large fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                                    </a>
                                    }
                                    else
                                    {
                                        if (permission.AutoCampaign == 2)
                                        {
                                            <a class="btn-sm btn green-jungle pull-right" href="/AdvancedCampaign/Create?eId=@ViewBag.CampaignId&Day=0">
                                                <i class="large fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                                            </a>
                                        }
                                    }
                                </h2>
                                <div class="gird-manage-autoresponders-time">


                                    <ul id="grid-newsletter" class="col-md-12"></ul>
                                    <div class="col-md-12 text-center " style="margin:5px;">
                                        <a class="btn btn-sm yellow-gold hide" id="loadmore-newsletter"><i class="fa fa-arrow-down"></i>@Resources.AdvancedCampaignResource.Loadmore</a>
                                        <a class="btn btn-sm yellow-gold" id="showless-newsletter"><i class="fa fa-arrow-up"></i>@Resources.AdvancedCampaignResource.Showless</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="advance-campaign-show-grid-click" style="padding-top:10px;">
                            <div class="row">
                                <h2 class="col-md-12 nomargin text-center" style="padding-bottom:10px;">
                                    @Resources.AdvancedCampaignResource.Actionbasetitle
                                    @if (permission.IsParent)
                                    {
                                    <a class="btn-sm btn green-jungle pull-right" href="/AdvancedCampaign/Create?eId=@ViewBag.CampaignId&Day=0">
                                        <i class="fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                                    </a>
                                    }
                                    else
                                    {
                                        if (permission.AutoCampaign == 2)
                                        {
                                            <a class="btn-sm btn green-jungle pull-right" href="/AdvancedCampaign/Create?eId=@ViewBag.CampaignId&Day=0">
                                                <i class="fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                                            </a>
                                        }
                                    }
                                </h2>
                                <div class="table-manage-autoresponders-click">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end-->
                    <!--dạng ds-->
                    <div id="advance-campaign-show-list" class="hide">
                        <h2 class="col-md-12 nomargin" style="padding-bottom:10px;">
                            @Resources.AdvancedCampaignResource.Manageautoresponders 
                            @if (permission.IsParent)
                            {
                            <a class="btn-sm btn green-jungle pull-right" href="/AdvancedCampaign/Create?eId=@ViewBag.CampaignId&Day=0">
                                <i class="fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                            </a>
                            }
                            else
                            {
                                if (permission.AutoCampaign==2)
                                {
                                    <a class="btn-sm btn green-jungle pull-right" href="/AdvancedCampaign/Create?eId=@ViewBag.CampaignId&Day=0">
                                        <i class="fa fa-plus" id="custom"></i>@Resources.AdvancedCampaignResource.advancedAddnew
                                    </a>
                                }
                            }
                        </h2>
                        <div class="table-manage-autoresponders">

                        </div>
                    </div>
                    <!--end-->
                </div>

    </div>
</div>

</div>

<!--modal confirm xóa-->
<div class="modal fade bs-modal-sm" id="modal-confirm-delete-draft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.NewsletterResource.ConfirmDelete</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.NewsletterResource.No</button>
                <button type="button" class="btn green" id="confirm-delete-draft">@Resources.NewsletterResource.Yes</button>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="modal-confirm-delete-all-draft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.AdvancedCampaignResource.WarningDelete</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.AdvancedCampaignResource.NoThank</button>
                <button type="button" class="btn green" id="confirm-delete-all-draft">@Resources.AdvancedCampaignResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalCreateAdvanceCampaign" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="modal-warning-publish-event" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.AdvancedCampaignResource.Warning</h4>
                </div>
                <div class="modal-body text-center">

                    <p>
                        @Resources.AdvancedCampaignResource.WarningPublish
                        

                    </p>
                    <h4 class="bold">@Resources.AdvancedCampaignResource.QuestionContinueSend</h4>
                    <div class="text-center" id="warning-publish-gateway" style="display:none;">
                        <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayTitle)</p>
                        <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayContent)</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="hide"  id="confirm-publish-event"></a>
                    <a class="btn default btn-sm btn-outline font-grey-gallery  popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="@Resources.AdvancedCampaignResource.ContactUnsentContent" data-original-title="@Resources.AdvancedCampaignResource.Warning"  id="confirm-publish-event-unsent">@Resources.AdvancedCampaignResource.ContactUnsent</a>
                    <a class="btn default btn-sm btn-outline font-grey-gallery popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="@Resources.AdvancedCampaignResource.SelectAllContent" data-original-title="@Resources.AdvancedCampaignResource.Warning" id="confirm-publish-event-all">@Resources.AdvancedCampaignResource.SelectAll</a>
                    <a class="btn default btn-sm btn-outline font-grey-gallery popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="@Resources.AdvancedCampaignResource.NewContactContent" data-original-title="@Resources.AdvancedCampaignResource.Warning" id="confirm-publish-event-none">@Resources.AdvancedCampaignResource.NewContact</a>
                    <button type="button" class="btn btn-sm green" data-dismiss="modal">@Resources.AdvancedCampaignResource.NoPublish</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-warning-delete-event" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i>@Resources.AdvancedCampaignResource.Warning</h4>
                </div>
                <div class="modal-body text-center">

                    <p>
                        @Resources.AdvancedCampaignResource.WarningDelete
                       

                    </p>
                    <h4 class="bold">@Resources.AdvancedCampaignResource.QuestionContinue</h4>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm green" data-dismiss="modal">@Resources.AdvancedCampaignResource.NoThank</button>
                    <a  class="btn btn-sm default btn-outline font-grey-gallery" id="confirm-delete-event">@Resources.AdvancedCampaignResource.YesContinue</a>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade " id="modelSendTest" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title uppercase"> @Resources.AdvancedCampaignResource.Test</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="text" id="email-send-test-event" placeholder="@Resources.AdvancedCampaignResource.EnterEmail" />
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AdvancedCampaignResource.Cancel</button>
                    <a  id="btnConfirm-Send-Test" class="btn btn-sm green-jungle"><i class="fa fa-paper-plane"></i>@Resources.AdvancedCampaignResource.Test</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade " id="modelWarningSMSGateWay" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fa fa-warning font-yellow-gold"></i> Cảnh báo publish</h4>
                </div>
                <div class="modal-body text-center">
                    <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayTitle)</p>
                    <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayContent)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.AdvancedCampaignResource.Close</button>
                    <a id="btn-waring-beforepublish" class="btn btn-sm green-jungle"><i class="fa fa-check"></i>@Resources.AdvancedCampaignResource.PublishOn</a>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {

        //active menu
        $('#mnadvancedcampaign').addClass('active');
        $('#mnadvancedcampaign').children('a').append('<span class="selected"></span>');
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';

        var message = {
            CreateDate: '@Html.Raw(Resources.AdvancedCampaignResource.CreateDate)',
            AlreadySent: '@Html.Raw(Resources.AdvancedCampaignResource.AlreadySent)',
            HaveError: '@Html.Raw(Resources.AdvancedCampaignResource.HaveError)',
            Actionbasetitle: '@Html.Raw(Resources.AdvancedCampaignResource.Actionbasetitle)',
            Status: '@Html.Raw(Resources.AdvancedCampaignResource.Status)',
            SameSignUp: '@Html.Raw(Resources.AdvancedCampaignResource.SameSignUp)',
            WithDelayOf: '@Html.Raw(Resources.AdvancedCampaignResource.WithDelayOf)',
            ExaclyAt: '@Html.Raw(Resources.AdvancedCampaignResource.ExaclyAt)',
            Click: '@Html.Raw(Resources.AdvancedCampaignResource.Click)',
            Edit: '@Html.Raw(Resources.AdvancedCampaignResource.Edit)',
            Duplicate: '@Html.Raw(Resources.AdvancedCampaignResource.Duplicate)',
            Statistics: '@Html.Raw(Resources.AdvancedCampaignResource.Statistics)',
            View: '@Html.Raw(Resources.AdvancedCampaignResource.View)',
            Delete: '@Html.Raw(Resources.AdvancedCampaignResource.Delete)',
            Test: '@Html.Raw(Resources.AdvancedCampaignResource.Test)',
            Tool: '@Html.Raw(Resources.AdvancedCampaignResource.Tool)',
            Timebase: '@Html.Raw(Resources.AdvancedCampaignResource.Timebased)',
            Clickbase: '@Html.Raw(Resources.AdvancedCampaignResource.Clickbased)',
            Openbase: '@Html.Raw(Resources.AdvancedCampaignResource.Openbased)',
            NumberOfContact: '@Html.Raw(Resources.AdvancedCampaignResource.NumberOfContact)',
            HasSend: '@Html.Raw(Resources.AdvancedCampaignResource.HasSend)',
            Create: '@Html.Raw(Resources.AdvancedCampaignResource.Create)',
            DeleteSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.DeleteSuccess)',
            OnlyEmail: '@Html.Raw(Resources.AdvancedCampaignResource.OnlyEmail)',
            EmailNoContent: '@Html.Raw(Resources.AdvancedCampaignResource.EmailNoContent)',
            SentSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.SentSuccess)',
            Hours: '@Html.Raw(Resources.AdvancedCampaignResource.Hours)',
            PublishOn: '@Html.Raw(Resources.AdvancedCampaignResource.PublishOn)',
            PublishOff: '@Html.Raw(Resources.AdvancedCampaignResource.PublishOff)',
            UpdateSuccess: '@Html.Raw(Resources.AdvancedCampaignResource.UpdateSuccess)',
            Birthday:'@Html.Raw(Resources.AdvancedCampaignResource.BirthdayBase)',
            Specialday:'@Html.Raw(Resources.AdvancedCampaignResource.SpecialdayBase)',
            MultiInput: '@Html.Raw(@Resources.AdvancedCampaignResource.ReContactBase)',
            Before: '@Html.Raw(@Resources.AdvancedCampaignResource.Before)',
            Affter: '@Html.Raw(@Resources.AdvancedCampaignResource.Affter)',

        };

                var CampaignId = '@ViewBag.CampaignId';
                var permissiontable=@Html.Raw(Json.Encode(permission));
        managecampaign_Action(apiDomain, access_token, CampaignId, message, permissiontable)
    })





</script>

