﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div class="row">
    <div class="col-md-12" style="margin-bottom:0px;">
        <div class="mt-element-step">
            <div class="row step-no-background-thin">

                <div class="col-md-3 mt-step-col done">
                    <div class="mt-step-number bg-white">1</div>
                    <div class="mt-step-title uppercase font-grey-cascade">Tùy chọn</div>
                    <div class="mt-step-content font-grey-cascade">Thời điểm điều kiện gửi</div>
                </div>
                <div class="col-md-3 mt-step-col active ">
                    <div class="mt-step-number bg-white">2</div>
                    <div class="mt-step-title uppercase font-grey-cascade">Cấu hình</div>
                    <div class="mt-step-content font-grey-cascade">Cấu hình email</div>
                </div>
                <div class="col-md-3 mt-step-col ">
                    <div class="mt-step-number bg-white">3</div>
                    <div class="mt-step-title uppercase font-grey-cascade">Nội dung gửi</div>
                    <div class="mt-step-content font-grey-cascade">Nội dung email sms</div>
                </div>

                <div class="col-md-3 mt-step-col last">
                    <div class="mt-step-number bg-white">4</div>
                    <div class="mt-step-title uppercase font-grey-cascade">Quản lý</div>
                    <div class="mt-step-content font-grey-cascade">Tạo email,sms cho chiến dịch</div>
                </div>

            </div>
        </div>

        <div class="portlet light portlet-fit portlet-form" id="portletFormSetting">
            <div class="portlet-body">
                <!-- BEGIN FORM-->

                <div id="formSetting">
                    <div class="form-horizontal">
                        <div class="form-group form-md-line-input">

                            <label for="title" class="col-md-3 control-label">
                                @Resources.NewsletterResource.campaignName
                                @*<span class="required">*</span>*@
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" id="txtSettingName">
                                <span class="help-block">@Resources.NewsletterResource.campaignlNameInput </span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label">@Resources.NewsletterResource.CampaignType<span class="required">*</span></label>
                            <div class="col-md-6">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="checkboxemail-advanced" class="md-check">
                                        <label for="checkboxemail-advanced">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> @Resources.NewsletterResource.SendEmail
                                        </label>
                                    </div>
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="checkboxsms-advanced" class="md-check">
                                        <label for="checkboxsms-advanced">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> @Resources.NewsletterResource.SendSms
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">

                            <label for="title" class="col-md-3 control-label">
                                @Resources.NewsletterResource.emailTitle
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" id="txtSettingSubject-advanced">
                                <span class="help-block">@Resources.NewsletterResource.emailInputtitle </span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">

                            <label for="name" class="col-md-3 control-label">
                                @Resources.NewsletterResource.emailPeopleNameSend
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name2" id="txtSettingSender-advanced">
                                <span class="help-block">@Resources.NewsletterResource.emailInputname</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">

                            <label for="emailsend" class="col-md-3 control-label">
                                @Resources.NewsletterResource.emailEmailSend
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="email" id="txtSettingEmailSend-advanced">
                                <span class="help-block">@Resources.NewsletterResource.emailInputmailsend</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">

                            <label for="emailreply" class="col-md-3 control-label">
                                @Resources.NewsletterResource.emailEmailRecive
                                @*<span class="required">*</span>*@
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="email2" id="txtSettingEmailReply-advanced">
                                <span class="help-block">@Resources.NewsletterResource.emailInputmailreply</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" style="margin-bottom:0px;">
                            <a id="distributton-advanced" class="col-md-3 control-label" data-toggle="collapse" href="">DISTRIBUTION SETTINGS</a>
                            <div id="distributtonsetting-advanced" class="col-md-6 panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="click-through distribution">
                                        <span>Permission reminder </span>
                                        <input type="checkbox" checked class="make-switch" data-size="mini" id="txtSettingEmailpemission-advanced">
                                    </div>

                                    <div class="google-analytics distribution">
                                        <span>Embeb mailurl </span>
                                        <input type="checkbox" checked class="make-switch" data-size="mini" id="txtSettingEmailEmbed-advanced">
                                    </div>
                                    <div class="show-unsubcribe distribution">
                                        <span>Show unsubcribe</span>
                                        <input type="checkbox" checked class="make-switch" data-size="mini" id="txtSettingEmailUnsub-advanced">
                                    </div>

                                    <div class="ds-facebook distribution">
                                        <span>Account Facebook </span>
                                        <a class="btn btn-sm blue" id="btnSettingEmailFacebook-advanced">Add</a>
                                    </div>
                                    <div class="ds-twitter distribution">

                                        <span>Account Twitter </span>
                                        <a class="btn btn-sm blue" id="btnSettingEmailTwitter-advanced">Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- END FORM-->
            </div>
        </div>
    </div>

</div>  
<div class="row" style="margin-top:25px;">
    <div id="divRedirect" class="col-md-12 col-sm-12 col-xs-12">

        <div class="col-md-6 col-sm-6 col-xs-6">
            <button id="btn-back-setting-advanced" class="btn btn-sm green-jungle" style="float:left;">
                <i class="icon-action-undo"></i>Quay lại
            </button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <button id="btn-next-setting-advanced" class="btn btn-sm green-jungle" style="float:right;">
                <i class="icon-action-redo"></i>Tiếp tục
            </button>
        </div>

    </div>
</div>  
@*chọn facebook*@
<div class="modal fade" id="modalUpdateFacebook-advanced" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">Facebook</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-md-line-input">

                    <label for="emailreply" class="col-md-3 control-label">
                        Địa chỉ facebook
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtSelectFacebook-advanced">
                        <span class="help-block">Nhập địa chỉ facebook</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" id="btnSelectFacebook" class="btn green">Ok</button>
            </div>
        </div>
    </div>
</div>
@*chọn twitter*@
<div class="modal fade " id="modalUpdateTwitter-advanced" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">Twitter</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-md-line-input">

                    <label for="emailreply" class="col-md-3 control-label">
                        Địa chỉ Twitter
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="txtSelectTwitter-advanced">
                        <span class="help-block">Nhập địa chỉ Twitter</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" id="btnSelectTwitter" class="btn green">Ok</button>
            </div>
        </div>
    </div>
</div> 
<script>
    $('#btn-next-setting-advanced').click(function () {
        window.location.href = '@Url.Content("~/AdvancedCampaign/Compose")';
    });

    $('#btn-next-back-advanced').click(function () {
        
        window.location.href = '@Url.Content("~/AdvancedCampaign/Create")';

    });

    $(document).ready(function()
    {
        //settingadvanced_Action();
    })

</script>
