﻿

@{
    ViewBag.Title = "Xem thư";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}


<style>
    img{width:100%;}
</style>

<div id="content-email-preview" style="max-width:768px;height:100vh;overflow-x: scroll; margin:0 auto !important;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 10px;background-color: #FFFFFF;">
</div>


<script>
    $(document).ready(function () {
       
        var SentId = '@ViewBag.SentId';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        previewemailcontent_Action(apiDomain, SentId);
    });
    function previewemailcontent_Action(apiDomain, SentId) {
        $.ajax({
            url: apiDomain + 'api/EmailSend/GetBasicInfo?SentId=' + SentId,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (r) {
                switch (parseInt(r.ErrorCode)) {
                    case 0:

                        var data = r.Data;
                        var html = data.HTML;
                        $('#content-email-preview').append(html);


                        break;
                }
            },
            error: function () {

            }
        })
    }
</script>





