﻿

@{
    ViewBag.Title = "Xem thư";
    Layout = "~/Views/Shared/_LayoutPreview.cshtml";
}
<div id="content-sent-preview" style="max-width:768px;margin:0 auto !important;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 0;background-color: #FFFFFF;">
</div>


<script>
    $(document).ready(function () {
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var NewsletterId = '@ViewBag.NewsletterId';
        previewemailcontent_Action(apiDomain, SentId);

    });
    function previewemailcontent_Action(apiDomain, NewsletterId) {
        $.ajax({
            url: apiDomain +'/api/newsletter/GetInfo?NewsletterId='  + NewsletterId,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (r) {
                switch (parseInt(r.ErrorCode)) {
                    case 0:
                        var data = r.Data;
                        var html = data.HTML;

                        $('#content-sent-preview').append(html);


                        break;
                }
            },
            error: function () {

            }
        })
    }
</script>





