﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@Resources.ContactResource.contactCreate</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactGroupName
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" name="name">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputGroupName
</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactDesciption
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" name="desciption">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputDesciption</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">@Resources.ContactResource.contactClose</button>
    <button type="button" class="btn blue" id="save">@Resources.ContactResource.contactSave</button>
</div>

<script type="text/javascript">
    $("#save").click(function (e) {
        //kiểm tra input
        //lưu thanh cong
        //chuyển tới quản lí danh sách để thêm liên hệ vào ds liên hệ
        window.location.href = '@Url.Content("~/Contacts/ContactList/")'
    });
</script>

