﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@Resources.Resource.contactCreate</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactName
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" name="name">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.Resource.contactInputname</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.LastName
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" id="txtLastName">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputLastname</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.FirstName
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" id="txtFirstName">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputFirstname</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.Resource.contactPhonenumber
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" name="phone">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.Resource.contactInputphone</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.Resource.contactEmail
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" name="email">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.Resource.contactInputEmail</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">@Resources.Resource.contactClose</button>
    <button type="button" class="btn blue" id="save">@Resources.Resource.contactSave</button>
</div>
@*<div>
    <div style="text-align:center;">
        <button class=" btn  btn-default fa fa-floppy-o" id="Save"><span> @Resources.Resource.ctSave</span></button>
        <button class="btn  btn-default fa fa-remove" id="CancelContact"><span> @Resources.Resource.ctCancel</span></button>

    </div>
</div>*@

