﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Contact Infomation</h4>
</div>
<div class="modal-body" id="content-info-field" style="overflow-y:scroll;overflow-x:hidden">
    <div class="row">
        <div class="col-md-12" id="InfoContacts">
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactName
                </label>
                <div class="col-md-9">
                    <input type="text" name="name" class="form-control" id="txtContactName">
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.LastName
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" id="txtLastName">
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.FirstName
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" id="txtFirstName">
                   
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactBirthday
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" date-picker id="txtBirthday" />
                </div>
            </div>
            
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactGender
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" date-picker id="txtGender" />
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactPhonenumber
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="phone" class="form-control" id="txtPhone" />
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactEmail
                </label>
                <div class="col-md-9">
                    <input type="text" name="email" class="form-control" id="txtEmail" />
                </div>
            </div>
            
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                   @Resources.ContactResource.contactCreateday
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtCreateDate" />
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactCreateFrom 
                </label>
                <div class="col-md-9">
                    <input type="text"  class="form-control" id="txtCreateFrom" />
                </div>
            </div>
            <div id="info-contact-customfield">

            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactNote
                </label>
                <div class="col-md-9">
                    <textarea type="text" rows="3" name="note" class="form-control" id="txtNote"></textarea>
                </div>
            </div>
            @*<div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.Unsubscribe
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtSub" />
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    IP
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtIp" />
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactPosition
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtLocation" />
                </div>
            </div>*@
            @*<div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    Thanh toán
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtPay" />
                </div>
            </div>*@
            @*<div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    Phương thức
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtMenthod" />
                </div>
            </div>*@
        </div>
    </div>
</div>
<div class="modal-footer">
    @*<button type="button" class="btn btn-sm default" data-dismiss="modal">@Resources.ContactResource.contactClose</button>*@
</div>
<script>

    $(document).ready(function () {
        var tableId = '#tableContact';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            GetInfoError: '@Html.Raw(Resources.ContactResource.contactPosition)',
        }
        var ContactId = '@ViewBag.ContactId';
        contactlist_LoadInfo(apiDomain, access_token, tableId, ContactId, message);
        //height modal info
        $('#content-info-field').css({ 'max-height': $(window).innerHeight() - 200 });
    });
</script>



