﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = @Resources.PagetitleResource.pagetitleContacts;
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
    @*<script src="@Url.Content("~/Scripts/global-datatable-contacts.js")?@ViewBag.JsPara" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/Contacts/addcontact.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contacts/customfield.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contacts/createcustomfield.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contacts/contactlist.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contacts/updatecontact.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/shim.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/jszip.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/xlsx.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/ods.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/readexcel.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/write.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/FileSaver.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contacts/form.js")?@ViewBag.JsPara" type="text/javascript"></script>

}
<style>
    #drop {
        border: 2px dashed #bbb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        font: 20pt bold,"Vollkorn";
        color: #bbb;
    }

    #b64data {
        width: 100%;
    }

    .dataTables_scrollHead{display:inline-block !important;} /*hiển thị title*/
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home"><span>@Resources.PagetitleResource.pagetitleHome</span></a>

            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts")"> 
                <span>@Resources.PagetitleResource.pagetitleGroup</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleContacts - @ViewBag.ContactGroupName</span></b>
            
        </li>

    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-datatable bordered">
            <div class="portlet-title">
                <div class="actions" style="float:left;">
                    <a href="@Url.Content("~/Contacts?gId=")@ViewBag.ContactGroupId" class="btn-xs btn yellow-gold popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.Previous">
                        <i class="fa fa-arrow-left"></i>
                        @Resources.ContactResource.Previous

                    </a>
                    @if (permission.IsParent)
                    {
                        <a id="createContact" class="btn-sm btn green-jungle  popovers" data-target="#modalCreateContact" data-toggle="modal" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactCreate">
                            <i id="custom" class="fa fa-plus"></i>
                            @Resources.ContactResource.contactCreate

                        </a>

                        <a href="@Url.Content("~/Contacts/ImportExcel?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName" class="btn-xs btn blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactImport">
                            <i class="icon-login"></i>
                            @Resources.ContactResource.contactImport

                        </a>
                        <a id="btn-export-contact" class="btn-xs btn blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactExport">
                            <i class="icon-logout"></i>
                            @Resources.ContactResource.contactExport

                        </a>
                        <a id="btnManageCustomField"  class="btn-xs btn blue popovers" data-target="#modalManageCustomfield" data-toggle="modal" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactCreateCustomField">
                            <i class="icon-grid"></i>
                            Custom Field

                        </a>
                        <a id="btnManageForm" href="@Url.Content("~/Contacts/ManageForm?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName" class="btn-xs btn blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactForm">
                            <i class="icon-grid"></i>
                            @Resources.ContactResource.contactmanageForm

                        </a>
                    }
                    else
                    {
                        if (permission.ManageContact == 2)
                        {
                            <a id="createContact" class="btn-sm btn green-jungle popovers" data-target="#modalCreateContact" data-toggle="modal" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactCreate">
                                <i id="custom" class="fa fa-plus"></i>
                                @Resources.ContactResource.contactCreate

                            </a>

                            <a href="@Url.Content("~/Contacts/ImportExcel?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName" class="btn-xs btn blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactImport">
                                <i class="icon-login"></i>
                                @Resources.ContactResource.contactImport

                            </a>
                        }
                        if (permission.ManageContact != 0)
                        {
                            <a id="btn-export-contact" class="btn-xs btn blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactExport">
                                <i class="icon-logout"></i>
                                @Resources.ContactResource.contactExport

                            </a>}
                        if (permission.ManageCustomField != 0)
                        {
                            <a id="btnManageCustomField"  class="btn-xs btn blue popovers" data-target="#modalManageCustomfield" data-toggle="modal" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactCreateCustomField">
                                <i class="icon-grid"></i>
                                Custom Field

                            </a>
                        }
                        if (permission.ManageForm != 0)
                        {
                            <a id="btnManageForm" href="@Url.Content("~/Contacts/ManageForm?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName" class="btn-xs btn blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.contactForm">
                                <i class="icon-grid"></i>
                                @Resources.ContactResource.contactmanageForm

                            </a>
                        }
                    }
                    <div class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.SelectFieldShowOnTable" style="float:right; margin-left:5px;">
                        <select id="select-contactcolum" class="selectpicker custom-selelectcolum"  multiple title="Mặc định"> 
                            
                        </select>
                    </div>
                </div>

                @*<div class="caption" style="padding:10px 10px;">
                    <i class="fa fa-globe"></i>@Resources.ContactResource.contactContacts
                </div>*@
                
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" id="btn-reload-table-contactlist" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="divAction">
                    <div class="col-md-12" id="divAction-toolbar">
                            <div id="divAction-selectall">
                                <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                            </div>
                            <div id="divAction-selectall" class="col-md-6 col-sm-4">
                                <span><b>@Resources.ContactResource.SelectAll</b></span>
                                <span class="bold" style="margin:0 5px;display:none;" id="number-select-all"></span>
                                @if (permission.IsParent)
                                {
                                <a id="btn-deleteall-contactlist" class="btn btn-outline btn-xs red hide">
                                    <i class="fa fa-remove" id="custom"></i> @Resources.ContactResource.Delete
                                </a>
                                <a id="btn-moveall-contactlist" class="btn btn-outline btn-xs blue hide">
                                    <i class="fa fa-exchange" id="custom"></i> @Resources.ContactResource.Move
                                </a>
                                <a id="btn-copyall-contactlist" class="btn btn-outline btn-xs blue hide">
                                    <i class="fa fa-copy" id="custom"></i> @Resources.ContactResource.Copy
                                </a>
                                }
                                else
                                {
                                    if (permission.ManageContact == 2)
                                    {
                                        <a id="btn-deleteall-contactlist" class="btn btn-outline btn-xs red hide">
                                            <i class="fa fa-remove" id="custom"></i> @Resources.ContactResource.Delete
                                        </a>
                                        <a id="btn-moveall-contactlist" class="btn btn-outline btn-xs blue hide">
                                            <i class="fa fa-exchange" id="custom"></i> @Resources.ContactResource.Move
                                        </a>
                                        <a id="btn-copyall-contactlist" class="btn btn-outline btn-xs blue hide">
                                            <i class="fa fa-copy" id="custom"></i> @Resources.ContactResource.Copy
                                        </a>
                                    }
                                }
                            </div>
                           
                            
                            <div class="col-md-3 col-sm-5" style="height:25px;">
                                <div class="form-group form-md-line-input" id="divAction-Search">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="iconsearch">
                                            <i class="icon-magnifier"></i>
                                        </span>
                                        <input id="searchvalue" type="text" class="form-control  input-sm" placeholder="@Resources.ContactResource.search">
                                    </div>
                                </div>
                            </div>
                            
                        
                        @*<div class="col-md-3">
                            <div class="col-md-6">
                                                                <div class="form-group form-md-line-input" id="divAction-formtype">
                                    <select id="divAction-type" class="form-control edited">
                                        <option value="Descending">@Resources.ContactResource.descending</option>
                                        <option value="Ascending">@Resources.ContactResource.ascending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group form-md-line-input" id="divAction-formsort">
                                    <select id="divAction-sort" class="form-control edited">
                                        <option value="CreateDate">@Resources.ContactResource.contactCreateday</option>
                                        <option value="ContactName">Contact name</option>
                                        <option value="Active">@Resources.ContactResource.contacActive</option>
                                        <option value="Email">@Resources.ContactResource.email</option>
                                    </select>
                                </div>
                                
                            </div>
                        </div>*@

                        <!--<div id="filterpanel" class="panel-collapse collapse">
                            <div class="panel-body" style="margin-top: 30px !important;">
                                @*<div class="form-group " style="float:left;">
                                        <div class="col-md-4">
                                            <div id="reportrange" class="btn btn-sm default">
                                                <i class="fa fa-calendar"></i> &nbsp;
                                                <span> </span>
                                                <b class="fa fa-angle-down"></b>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input" id="divAction-Search">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="iconsearch">
                                                <i class="icon-magnifier"></i>
                                            </span>
                                            <input id="searchvalue" type="text" class="form-control  input-sm" placeholder="@Resources.ContactResource.search">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input id="switchDelete" type="checkbox" checked class="make-switch" data-size="mini" data-off-text="Deleted" data-on-text="Active">
                                </div>
                                <div class="col-md-3">
                                    <input id="switchUnsub" type="checkbox" checked class="make-switch" data-size="mini" data-off-text="Unsubscribe" data-on-text="All contact">
                                </div>
                                <div class="col-md-2" id="divAction-selectall">
                                    <div id="checkboxColumn">
                                        <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                                        <span>@Resources.ContactResource.SelectAll</span>
                                    </div>
                                </div>

                            </div>
                        </div>-->
                        
                        <div class="btn-group" id="btn-sort" style="float:right;">
                            <span style="float:left; padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                            <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span id="title-btn-sort" sort="CreateDate" typesort="Descending">@Resources.ContactResource.contactCreateday <span class="fa fa-sort-alpha-desc"></span></span>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">

                              
                                <li role="presentation">
                                    <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                        @Resources.ContactResource.contactCreateday
                                    
                                    </a>
                                </li>
                              
                                <li role="presentation">
                                    <a role="menuitem" class="menuitem" sort="ContactName" typesort="Descending" tabindex="-1" href="javascript:;">
                                        @Resources.ContactResource.contactName
                                    
                                    </a>
                                </li>
                                
                                <li role="presentation">
                                    <a role="menuitem" class="menuitem" sort="Active" typesort="Descending" tabindex="-1" href="javascript:;">
                                        @Resources.ContactResource.contacActive
                                     
                                    </a>
                                </li>
                              
                                <li role="presentation">
                                    <a role="menuitem" class="menuitem" sort="Email" typesort="Descending" tabindex="-1" href="javascript:;">
                                        @Resources.ContactResource.email
                                    
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

                <table class="table table-striped  table-hover table-checkable order-column display nowrap" id="tableContact">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="500px">Email</th>
                            <th width="300px">@Resources.ContactResource.contactName </th>
                            <th width="300px">@Resources.ContactResource.contactPhonenumber</th>
                            <th width="300px">@Resources.ContactResource.contactCreateday</th>
                            <th width="300px">@Resources.ContactResource.FirstName</th>
                            <th width="300px">@Resources.ContactResource.LastName</th>
                            <th width="300px">@Resources.ContactResource.contactBirthday</th>
                            <th width="300px">@Resources.ContactResource.contactAge</th>
                            <th width="300px">@Resources.ContactResource.contactGender</th>
                            <th width="300px">@Resources.ContactResource.contactFax</th>
                            <th width="300px">@Resources.ContactResource.contactCompany</th>
                            <th width="300px">@Resources.ContactResource.contactNote</th>
                            <th width="300px">@Resources.ContactResource.contactUrl</th>
                            <th width="300px">@Resources.ContactResource.contactCity</th>
                            <th width="300px">@Resources.ContactResource.contactStreet</th>
                            <th width="300px">@Resources.ContactResource.contactAddresss</th>
                            <th width="300px">@Resources.ContactResource.contactNote</th>
                            <th width="300px">@Resources.ContactResource.contactNote 1</th>
                            <th width="300px">@Resources.ContactResource.contactNote 2</th>
                            <th width="300px">@Resources.ContactResource.contactNote 3</th>
                            <th width="300px" class="text-right">@Resources.ContactResource.Tools</th>
                        </tr>
                    </thead>
                </table>


            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" id="modalCreateContact" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade bs-modal-lg" tabindex="-1" id="modalManageCustomfield" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade create-customfield-modal bs-modal-lg" id="modalManageCustomfield" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.ContactResource.contactCreateCustomField</h4>
            </div>
            @{Html.RenderAction("ManageCustomField", "Contacts");}
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i> @Resources.ContactResource.contactClose</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade create-customfield-modal" id="modal-create-customfield" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.ContactResource.contactCreateCustomField</h4>
            </div>
            <div class="modal-body">
               @{Html.RenderAction("CreateCustomField", "Contacts");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.ContactResource.contactClose</button>
                <button type="button" class="btn btn-sm green-jungle" id="save-user-custom-field"><i class="fa fa-save"></i>@Resources.ContactResource.contactSave</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade " id="modalImportContact" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalInfoContact" role="basic" aria-hidden="true"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading...</span>
            </div>
        </div>
    </div>
</div>

@*model confirm*@
<div class="modal fade" id="modelConfirmDeleteContact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Resources.ContactResource.WarningDelete
                </p>
                <h4 class="bold">@Resources.ContactResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm green" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                <button type="button" id="btnDeleteContact" class="btn btn-sm default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelConfirmDeleteAllContact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>
                    @Resources.ContactResource.WarningDelete
                </p>
                <h4 class="bold">@Resources.ContactResource.QuestionContinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                <button type="button" id="btnDeleteAllContact" class="btn default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
            </div>
        </div>
    </div>
</div>

<div id="modalBeforeSendContact" class="modal fade" tabindex="-1" data-width="400" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.ContactResource.confirmimport</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" class="form-horizontal">
                            <div class="form-body">
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <label class="col-md-2"></label>
                                        <label class="col-md-6">
                                            <i class="icon-puzzle"> </i>  @Resources.ContactResource.modalcountcontact
                                        </label>
                                        <div class="col-md-2">
                                            <span id="countInfile"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="text-align:center;">
                                        <span class="title"> @Resources.ContactResource.confirmcountinue</span>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-md-2">
                                        </label>
                                        <div class="col-md-8">
                                            <div class="form-group form-md-line-input  has-info">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-pencil"> </i>
                                                    </span>
                                                    <input type="text" class="form-control" id="txtNoteImport" placeholder="Nhập ghi chú...">
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeTableBeforeContact" data-dismiss="modal" class="btn btn-sm yellow-gold">@Resources.ContactResource.close</button>
                <button type="button" id="btnActionImport" class="btn btn-sm green-jungle">@Resources.ContactResource.countinue</button>
            </div>
        </div>
    </div>
</div>
@*<div id="modalAfterSendContact" class="modal fade bs-modal-lg" tabindex="-1" data-width="400">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.ContactResource.resultimport</h4> 
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-container">
                                <div class="form-group">
                                    <label class="col-md-6">
                                         @Resources.ContactResource.countcontacthasimport
                                    </label>
                                    <div class="col-md-3">
                                        <span id="countHasImport"><i class="con-user"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">
                                         @Resources.ContactResource.countcontactnotimport
                                    </label>

                                </div>
                                <table class="table table-striped table-hover table-checkable" id="AfterSendContact"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeTableAfterContact" data-dismiss="modal" class="btn btn-sm yellow-gold">@Resources.ContactResource.ctCancel</button>
            </div>
        </div>
    </div>
</div>*@

@*modal copy/move contact*@
<div id="modal-copy-move-contact" class="modal fade"  data-width="400" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="form-group col-md-12">
                                <label class="col-md-3">
                                    Số lượng
                                </label>
                                <span class="col-md-9" id="total-copy-move">0</span>
                            </div>
                            <div class="form-group col-md-12">
                                <label id="copy-move-to" class="col-md-3">
                                    
                                </label>
                                <div class="col-md-9" id="div-select-group-move-copy">
                                    <select id="select-group-move-copy" style="width: 100%;"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn yellow-gold"><i class="fa fa-remove"></i> @Resources.ContactResource.ctCancel</button>
                <button type="button" id="save-copy-move-contact" class="btn green-jungle"><i class="fa fa-save"></i> @Resources.ContactResource.ctSave</button>
            
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="modal-export-group-contact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-file-excel-o"></i> Export </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="createContactGroup">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                Tên file
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="" name="name" id="file-export-name">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                    @Resources.ContactResource.InputFileName
                                </span>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm green-jungle" id="submit-export-group-contact"><i class="fa fa-file-excel-o"></i>Xuất</button>
                            </div>
                        </div>
                        <div class="clear-fix" style="height:10px;">

                        </div>
                        <div id="table-file-export" style="margin-top:20px;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //active menu
        $('#mncontact').addClass('active');
        $('#mncontact').children('a').append('<span class="selected"></span>')
        resizeTableContact();
        var tableId = '#tableContact';
        var dataUrl = 'api/Contact/Web/GetList';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';

        var file = "/Scripts/JsonDefineColumn/contacts.json?@ViewBag.JsPara";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));

        var idCondition = {
            searchvalue: "#searchvalue",
            //activevalue: "#switchDelete",
            unsubvalue: '#switchUnsub'
        };

        var type = $('#btn-sort  #title-btn-sort').attr('typesort');
        var sortvalue = $('#btn-sort  #title-btn-sort').attr('sort');

        var searchvalue = $(idCondition.searchvalue).val();
        var active = true;//$(idCondition.activevalue).bootstrapSwitch('state');
        var unsub = '';

        //$(idCondition.sorttype).on('change', function (event, state) {
        //    type = $(idCondition.sorttype + ' option:selected').val();
        //    $(tableId).dataTable().fnDraw();
        //});

        var timer;

        $(idCondition.searchvalue).keypress(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $(idCondition.searchvalue).val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });


        $(idCondition.searchvalue).keyup(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $(idCondition.searchvalue).val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });

        //$(idCondition.sortvalue).change(function () {
        //    sortvalue = $(idCondition.sortvalue + ' option:selected').val();
        //    $(tableId).dataTable().fnDraw();
        //});
        var selected = [];
        var option='<option value="1" selected disabled>Email</option>'+
                          '<option value="2" selected disabled>@Html.Raw(Resources.ContactResource.contactName)</option>'+
                           '<option value="3" selected disabled>@Html.Raw(Resources.ContactResource.contactPhonenumber)</option>'+
                            '<option value="4" selected disabled>@Html.Raw(Resources.ContactResource.contactCreateday)</option>'+
                            ' <option value="7" selected disabled>@Html.Raw(Resources.ContactResource.contactBirthday)</option>'+
                           '<option value="5">@Html.Raw(Resources.ContactResource.FirstName)</option>'+
                           '<option value="6">@Html.Raw(Resources.ContactResource.LastName)</option>'+
                           '<option value="8">@Html.Raw(Resources.ContactResource.contactAge)</option>'+
                          ' <option value="9">@Html.Raw(Resources.ContactResource.contactGender)</option>'+
                           '<option value="10">@Html.Raw(Resources.ContactResource.contactFax)</option>'+
                           '<option value="11">@Html.Raw(Resources.ContactResource.contactCompany)</option>'+
                          '<option value="13">@Html.Raw(Resources.ContactResource.contactUrl)</option>'+
                          '<option value="14">@Html.Raw(Resources.ContactResource.contactCity)</option>'+
                          '<option value="15">@Html.Raw(Resources.ContactResource.contactStreet)</option>'+
                          '<option value="16">@Html.Raw(Resources.ContactResource.contactAddresss)</option>'+
                          '<option value="12">@Html.Raw(Resources.ContactResource.contactNote)</option>'+
                          '<option value="18">@Html.Raw(Resources.ContactResource.contactNote) 1</option>'+
                          '<option value="19">@Html.Raw(Resources.ContactResource.contactNote) 2</option>'+
                          '<option value="20">@Html.Raw(Resources.ContactResource.contactNote) 3</option>';

        $('#select-contactcolum').append(option);
        $('#select-contactcolum').selectpicker('render');

        $('#select-contactcolum').on('change',function(element, checked) {
            var brands = $('#select-contactcolum option:selected');
            selected = [];
            $(brands).each(function(index, brand){
                selected.push($(this).val());
            });
            for(var i=5;i<=20;i++){
                var column = $(tableId).DataTable().column(i);
                column.visible(false);
            }
            for(i=0;i<selected.length;i++){
                var column = $(tableId).DataTable().column(selected[i]);
                column.visible(true);
            }
            localStorage.setItem('ShowCol', selected);


        });


        $('#btn-sort  .menuitem ').on('click', function () {
            type = $(this).attr('typesort');
            sortvalue = $(this).attr('sort');

            var text = $(this).text();
            $('#title-btn-sort').attr('sort', sortvalue);
            $('#title-btn-sort').attr('typesorts', type);
            var html
            if (type == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (type == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#title-btn-sort').text(text);
            $('#title-btn-sort').append(html);

            //$('#btn-sort').find('a').removeClass('backroundselectsort');
            //$(this).addClass('backroundselectsort');
            $(tableId).dataTable().fnDraw();
        });

        $(idCondition.activevalue).on('switchChange.bootstrapSwitch', function (event, state) {
            active = $(idCondition.activevalue).bootstrapSwitch('state');
            $(tableId).dataTable().fnDraw();
        });

        $(idCondition.unsubvalue).on('switchChange.bootstrapSwitch', function (event, state) {
            var value = $(idCondition.unsubvalue).bootstrapSwitch('state');
            if (value == true)
            {
                unsub = '';
            }
            else if (value == false)
            {
                unsub = false;
            }
            $(tableId).dataTable().fnDraw();
        });

        var row = 20; //số dòng
        var settings;
        if ($.fn.DataTable.isDataTable(tableId)) {
            settings = $(tableId).dataTable().fnSettings();

        }
        else{
            settings={
                iDraw: 1,
                _iDisplayStart: 0,
                _iDisplayLength : row,
            }
        }
        var AdditionalParameters = function (data) {
            @*data.SortColumn = sortvalue;
            data.SortDirection = type;
            data.search['value'] = searchvalue;
            data.ContactGroupId = '@ViewBag.ContactGroupId';
            data.Active = true;

            data.Unsubscribe = false;
            data.SuppressionMail = false;
            App.blockUI({
                target: 'body',
                animate: true
            });*@
            var search={
                value:searchvalue
            }
            var datanew={
                columns:{},
                draw: settings.iDraw,
                start: settings._iDisplayStart,
                length : settings._iDisplayLength,
                SortColumn : sortvalue,
                SortDirection : type,
                search : search,
                ContactGroupId : '@ViewBag.ContactGroupId',
                Active : true,
                Unsubscribe : false,
                SuppressionMail :false,
                Loading: App.blockUI({
                    target: 'body',
                    animate: true
                }),
            }
            return datanew;


        }

        var height = resizeTableContactList();

        var messageTable = {
            DateCreated: '@Html.Raw(Resources.ContactResource.DateCreated)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            Edit: '@Html.Raw(Resources.ContactResource.Edit)',
            Delete: '@Html.Raw(Resources.ContactResource.Delete)',

        };


        var permissiontable=@Html.Raw(Json.Encode(permission));
        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters,height, row ,messageTable, permissiontable);
        //update lại setting
        settings = $(tableId).dataTable().fnSettings();

        var showcol=localStorage.getItem('ShowCol');
        if(showcol!=undefined){
        showcol=showcol.split(',');
        showcol.push(1);showcol.push(2);showcol.push(3);showcol.push(4);showcol.push(7);
        $('#select-contactcolum').selectpicker('val',showcol);
        $('#select-contactcolum').selectpicker('refresh')
            selected=showcol;
            for(var i=5;i<=20;i++){
                var column = $(tableId).DataTable().column(i);
                column.visible(false);
            }
            for(i=0;i<selected.length;i++){
                var column = $(tableId).DataTable().column(selected[i]);
                column.visible(true);
            }
        }



        //action
        var message = {
            GetInfoError: '@Html.Raw(Resources.ContactResource.notifyErrorInfo)',
            DeleteSuccess: '@Html.Raw(Resources.ContactResource.notifySuccessDelete)',
            DeleteError: '@Html.Raw(Resources.ContactResource.notifyErrorDelete)',
            SelectContactGroup: '@Html.Raw(Resources.ContactResource.SelectContactGroup)',
            CopyContact: '@Html.Raw(Resources.ContactResource.CopyContact)',
            MoveContact: '@Html.Raw(Resources.ContactResource.MoveContact)',
            CopyTo: '@Html.Raw(Resources.ContactResource.CopyTo)',
            MoveTo: '@Html.Raw(Resources.ContactResource.MoveTo)',
            CopySuccess: '@Html.Raw(Resources.ContactResource.CopySuccess)',
            CopyError: '@Html.Raw(Resources.ContactResource.CopyError)',
            MoveSuccess: '@Html.Raw(Resources.ContactResource.MoveSuccess)',
            MoveError: '@Html.Raw(Resources.ContactResource.MoveError)',
            FileName: '@Html.Raw(Resources.ContactResource.FileName)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            CreateDate: '@Html.Raw(Resources.ContactResource.DateCreated)',
            Processing: '@Html.Raw(Resources.ContactResource.Processing)',
            FileNameRequire: '@Html.Raw(Resources.ContactResource.FileNameRequire)',
            DownLoad: '@Html.Raw(Resources.ContactResource.DownLoad)',
            ExportError: '@Html.Raw(Resources.ContactResource.ExportError)',
            Row: '@Html.Raw(Resources.ContactResource.Row)',

            WarningPageLoad: '@Html.Raw(Resources.ContactResource.warningPageLoad)',
            SaveCustomFieldError: '@Html.Raw(Resources.ContactResource.notifyErrorCreate)',
            SaveCustomFieldSuccess: '@Html.Raw(Resources.ContactResource.notifySuccessCreate)',
            CheckName: '@Html.Raw(Resources.ContactResource.notifyCheckName)',
            ODau: '@Html.Raw(Resources.ContactResource.notifyCheckNameOD)',

            CheckExistCustomField: '@Html.Raw(Resources.ContactResource.notifyCheckExistCustomField)',
            Create: '@Html.Raw(Resources.ContactResource.contactCreate)',
            ErrorGetInfo: '@Html.Raw(Resources.ContactResource.GetInfoError)',
            Success: '@Html.Raw(Resources.ContactResource.NotifySuccess)',
            Error: '@Html.Raw(Resources.ContactResource.NotifyError)',

            RequireInputLengthValue:'@Html.Raw(Resources.ContactResource.RequireInputLengthValue)',
            ValueExceedLength:'@Html.Raw(Resources.ContactResource.ValueExceedLength)',
        }
        var ContactGroupId = '@ViewBag.ContactGroupId';
        var CampaignId = '@ViewBag.CampaignId';
        contactlist_Action(apiDomain, access_token, tableId, ContactGroupId, CampaignId, message);

        var idGroupValue = 'GroupFieldValue';
        var Title = '@Html.Raw(Resources.ContactResource.contactCustomfieldValue)';
        var PlaceHolder = '@Html.Raw(Resources.ContactResource.contactCustomfieldEntervalue)';
        var permissiontable=@Html.Raw(Json.Encode(permission));
        createcustomfield_Action(apiDomain, access_token, message, Title, PlaceHolder, idGroupValue, permissiontable);
    });

</script>
