﻿<div class="row" style="max-width: 800px; margin: 0 auto;">
    <div class="col-md-12">
        <form action="#" class="form-horizontal" data-type="">
            <div class="form-body" id="formAddCustomField">
                <div class="form-group">
                    <label class="col-md-3 control-label">@Resources.ContactResource.contactCustomfieldname</label>
                    <div class="col-md-6">
                        <input type="text" id="create-custom-field-name" class="form-control" placeholder="@Resources.ContactResource.contactCustomfieldEntername">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">@Resources.ContactResource.contactCustomfieldType</label>
                    <div class="col-md-6" id="div-custom-field-type">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">@Resources.ContactResource.contactCustomfieldFormat</label>
                    <div class="col-md-6" id="div-custom-field-format">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">@Resources.ContactResource.contactCustomfieldMaxLength</label>
                    <div class="col-md-6">
                        <input type="number" id="input-customfield-maxlength" class="form-control" placeholder="Giới hạn kí tự" min="0">
                    </div>
                </div>
                <div id="GroupValue">

                </div>

            </div>
            <div class="form-group" id="GroupAddValue">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-6">
                    <a class="btn btn-circle btn-icon-only blue" id="addAnotherValue"><i class="fa fa-plus"></i></a>
                    <span>@Resources.ContactResource.contactCustomfieldAddvalue</span>
                </div>
            </div>
        </form>
    </div>
</div>

