﻿
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/Contacts/addgroup.js")?@ViewBag.JsPara" type="text/javascript"></script>
  }
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Content("~/Home")">
                <span>@Resources.PagetitleResource.pagetitleHome</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts")">
                <span>@Resources.PagetitleResource.pagetitleGroup</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span><b>@Resources.PagetitleResource.pagetitleCreateContacts</b></span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12" id="createContactGroup">
        <div class="portlet box light form-horizontal">
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactGroupName
                    <span class="required">*</span>
                </label>
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="" name="name" id="contactgroupname">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">
                        @Resources.ContactResource.contactInputGroupName
                    </span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactDesciption
                    <span class="required"></span>
                </label>
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="" name="desciption" id="contactgroupdesciption">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputDesciption</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label">
                    @Resources.ContactResource.contactActive
                    <span class="required">*</span>
                </label>
                <div class="col-md-7">
                    <div class="md-checkbox has-success">
                        <input type="checkbox" id="checkGroupActive" class="md-check" checked>
                        <label for="checkGroupActive">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:none;text-align:center;">
                <button type="submit" class="btn btn-sm green-jungle" id="saveCreateContactGroup"><i class="fa fa-save"></i> @Resources.ContactResource.contactSave</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#mncreatecontact').addClass('active');
        $('#mncreatecontact').children('a').append('<span class="selected"></span>');

        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var message ={
            Success:'@Html.Raw(Resources.ContactResource.notifySuccessCreate)',
            Error: '@Html.Raw(Resources.ContactResource.notifyErrorCreate)',
            GroupNameRequire: '@Html.Raw(Resources.ContactResource.ContactGroupRequire)',
        }
        creategroup_EventAdd(apiDomain, access_token, message);
    })
</script>



