﻿@model _123SendMailV2.ViewModels.CustomFieldsViewModel
@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title= "Form";

}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
   
<script src="~/Scripts/Contacts/form.js?@ViewBag.JsPara"></script> 
<script src="@Url.Content("~/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Contacts/formsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Contacts/customfield.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Contacts/createcustomfield.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];

}

<style>
    .tab-pane a
    {
        text-align:left;

    }


</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.Resource.pagetitleHome</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts")">
                <span>@Resources.Resource.pagetitleGroup</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/Contacts/ContactList?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName">
                <span>@Resources.PagetitleResource.pagetitleContacts - @ViewBag.ContactGroupName</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>

        <li>
            <a id="btnManageForm" href="@Url.Content("~/Contacts/ManageForm?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName">
                @Resources.ContactResource.contactmanageForm
            </a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <span><b>Form</b></span>
        </li>
    </ul>
</div>

<div class="row">
    <div id="fieldForm">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#select-field-layout" id="tab-select-field" data-toggle="tab">@Resources.ContactResource.AddField </a>
                </li>
                @*<li class="disabled">
                    <a href="#setting-field-style" data-toggle="tab"> Style </a>
                </li>*@
                <li class="">
                    <a href="#setting-field-style" id="tab-setting-style"> @Resources.ContactResource.FieldStyle </a>
                </li>
                @if (permission.IsParent)
                {
                <li>
                    <a href="#select-field-delete" id="tab-delete-field" data-toggle="tab"> @Resources.ContactResource.DeleteField </a>
                </li>
                }
                else
                {
                    if (permission.ManageForm == 2)
                    {
                        <li>
                            <a href="#select-field-delete" id="tab-delete-field" data-toggle="tab"> @Resources.ContactResource.DeleteField </a>
                        </li>
                    }
                }
            </ul>
            <div class="tab-content">
                <!--tab field-->
                <div class="tab-pane active" id="select-field-layout">
                    <div id="scroll-field-form" data-always-visible="1" data-rail-visible="0">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div id="accordion1" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#pre-custom-field-panel" aria-expanded="true">@Resources.ContactResource.Predefined</a>
                                            </h4>
                                        </div>
                                        <div id="pre-custom-field-panel" class="panel-collapse collapse in" aria-expanded="true">
                                            <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">

                                                <div id="predefine1" class="predefine1 col-md-6 col-sm-6 col-xs-6" style="padding:5px;">

                                                </div>
                                                <div id="predefine2" class="predefine2 col-md-6 col-sm-6 col-xs-6" style="padding:5px;">


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#user-custom-field-panel" aria-expanded="true"> @Resources.ContactResource.Yourcustomfield</a>
                                            </h4>
                                        </div>
                                        <div id="user-custom-field-panel" class="panel-collapse collapse in" aria-expanded="true">
                                            <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">

                                                <div id="usercustom1" class="usercustom1 col-md-6 col-sm-6 col-xs-6" style="padding:5px;">

                                                </div>
                                                <div id="usercustom2" class="usercustom2 col-md-6 col-sm-6 col-xs-6" style="padding:5px;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end tab field-->
                <!--tab style-->
                <div class="tab-pane" id="setting-field-style">
                    <!---->
                    <div id="scroll-style-form" data-always-visible="1" data-rail-visible="0">
                        <div class="tab-pane" id="tab-pane-style">
                            <div id="accordion-style" class="panel-group">
                                <!--tab pan setting headerline-->
                                <div class="panel panel-default display-hide" id="tab-pane-setting-style-headerline">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#Appearance-panel" aria-expanded="true">Text Header</a>
                                        </h4>
                                    </div>
                                    <div id="Appearance-panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">
                                            <!---->
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Label</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8 form-group form-md-line-input">
                                                    <input class="form-control input-sm " id="input-lable-headerline-form" type="text" placeholder="" autofocus>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Alignment</label>
                                                <div id="header-alignment" class="btn-group btn-group-sm col-md-8 col-sm-8 col-xs-8" data-toggle="buttons">
                                                    <label class="btn btn-default  tooltips" data-style="blue" data-container="body" data-original-title="Left">
                                                        <input type="radio" class="toggle" name="align-head" value="left"><i class="fa fa-align-left"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Center">
                                                        <input type="radio" class="toggle" name="align-head" value="center"><i class="fa fa-align-center"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Right">
                                                        <input type="radio" class="toggle" name="align-head" value="right"><i class="fa fa-align-right"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Color</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8 ">
                                                    <input type="text" id="color-headline-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Label size</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div id="slider-size-header"></div>

                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!--end-->

                                <!--tab pan setting textcontent-->
                                <div class="panel panel-default display-hide" id="tab-pane-setting-style-text-content">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#Appearance-Content-Panel" aria-expanded="true">Text Content</a>
                                        </h4>
                                    </div>
                                    <div id="Appearance-Content-Panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">
                                            <!---->
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Label</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8 form-group form-md-line-input">
                                                    <input class="form-control input-sm " id="input-lable-content-form" type="text" placeholder="" autofocus>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Alignment</label>
                                                <div id="content-alignment" class="btn-group btn-group-sm col-md-8 col-sm-8 col-xs-8" data-toggle="buttons">
                                                    <label class="btn btn-default  tooltips" data-style="blue" data-container="body" data-original-title="Left">
                                                        <input type="radio" class="toggle" name="align-head" value="left"><i class="fa fa-align-left"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Center">
                                                        <input type="radio" class="toggle" name="align-head" value="center"><i class="fa fa-align-center"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Right">
                                                        <input type="radio" class="toggle" name="align-head" value="right"><i class="fa fa-align-right"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Color</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8 ">
                                                    <input type="text" id="color-content-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Label size</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div id="slider-size-content"></div>

                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>



                                <!--end-->
                                <div class="panel panel-default display-hide" id="tab-pane-setting-style-text-line">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#Appearance-Line-Panel" aria-expanded="true">Text Content</a>
                                        </h4>
                                    </div>
                                    <div id="Appearance-Line-Panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">
                                            <!---->
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Label</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8 form-group form-md-line-input">
                                                    <input class="form-control input-sm " id="input-lable-line-form" type="text" placeholder="" autofocus>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Alignment</label>
                                                <div id="line-alignment" class="btn-group btn-group-sm col-md-8 col-sm-8 col-xs-8" data-toggle="buttons">
                                                    <label class="btn btn-default  tooltips" data-style="blue" data-container="body" data-original-title="Left">
                                                        <input type="radio" class="toggle" name="align-head" value="left"><i class="fa fa-align-left"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Center">
                                                        <input type="radio" class="toggle" name="align-head" value="center"><i class="fa fa-align-center"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Right">
                                                        <input type="radio" class="toggle" name="align-head" value="right"><i class="fa fa-align-right"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Color</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8 ">
                                                    <input type="text" id="color-line-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Label size</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div id="slider-size-line"></div>

                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!--end-->

                                <!--tab pan setting field-->
                                <div class="panel panel-default display-hide" id="tab-pane-setting-style-field">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#Layout-panel" aria-expanded="true">Controls </a>
                                        </h4>
                                    </div>
                                    <div id="Layout-panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Label</label>
                                                <div class="form-group form-md-line-input col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control input-sm" id="input-lable-custom-field-form" type="text" placeholder="custom-field-name">

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Placeholder</label>
                                                <div class="form-group form-md-line-input col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control input-sm" id="input-placeholder-custom-field-form" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-4">Field is required</label>

                                                <div class="form-group form-md-checkboxes col-md-8 col-sm-8 col-xs-8">
                                                    <div class="md-checkbox-inline">
                                                        <div class="md-checkbox">
                                                            <input class="md-check" id="required-custom-field-form" type="checkbox">
                                                            <label for="required-custom-field-form">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!--panel nhãn text box-->
                                <div class="panel panel-default display-hide" id="tab-pane-label-textbox-field">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#label-panel" aria-expanded="true">Label and TextBox </a>
                                        </h4>
                                    </div>
                                    <div id="label-panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Label Size</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div id="slider-size-label"></div>

                                                </div>
                                            </div>

                                            <!--end size-->
                                            <!--color label-->
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Label Color</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="color-label-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Label Position</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <select id="label-position" class="select-fieldForm" style="border:0 !important;">
                                                        <option value="top">
                                                            Top
                                                        </option>
                                                        <option value="inside">
                                                            Inside
                                                        </option>
                                                        <option value="center">
                                                            Center
                                                        </option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <!--end color label-->
                                            <!--size textbox-->
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">TextBox Size</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div id="slider-size-textbox"></div>

                                                </div>
                                            </div>
                                            <!--end size textbox-->
                                            <!--color textbox-->
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">TextBox Color</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="color-text-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Border Color</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" id="color-border-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Border Radius</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div class="row div-form-radius-control">
                                                        <input type="number" name="change-radius-control" id="color-radius-lefttop-form" class="input-fieldForm pull-left form-control input-sm" value="0" max="100" min="0">
                                                        <input type="number"  name="change-radius-control" id="color-radius-righttop-form" class="input-fieldForm pull-right form-control input-sm" value="0" max="100" min="0">
                                                    </div>
                                                         <div class="text-center border-radius-background" style=""><input id="change-all-radius-control" type="checkbox" checked disabled/></div>
                                                    <div class="row div-form-radius-control">
                                                        <input type="number"  name="change-radius-control" id="color-radius-leftbottom-form" class="input-fieldForm pull-left form-control input-sm" value="0" max="100" min="0">
                                                        <input type="number"  name="change-radius-control" id="color-radius-rightbottom-form" class="input-fieldForm pull-right form-control input-sm" value="0" max="100" min="0">
                                                    </div>
                                                  </div>
                                            </div>
                                            <!--end color textbox-->
                                        </div>

                                    </div>
                                </div>
                                <!--end nhãn texbox -->
                                <!--panel setting button-->
                                <div class="panel panel-default display-hide" id="tab-pane-setting-style-button">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#Button-panel" aria-expanded="true"> @Resources.ContactResource.Button </a>
                                        </h4>
                                    </div>
                                    <div id="Button-panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">

                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Label</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7 form-group form-md-line-input">
                                                    <input class="form-control input-sm " id="input-lable-button-form" type="text" placeholder="" autofocus>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Alignment</label>
                                                <div id="button-alignment" class="btn-group btn-group-sm col-md-7 col-sm-7 col-xs-7" data-toggle="buttons">
                                                    <label class="btn btn-default active tooltips" data-style="blue" data-container="body" data-original-title="Left">
                                                        <input type="radio" class="toggle" name="button-align" value="left"><i class="fa fa-align-left"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Center">
                                                        <input type="radio" class="toggle" name="button-align" value="center"><i class="fa fa-align-center"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Right">
                                                        <input type="radio" class="toggle" name="button-align" value="right"><i class="fa fa-align-right"></i>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Height</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <div id="slider-size-height-button"></div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Width</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <div id="slider-size-button"></div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Text Color</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <input type="text" id="color-button-text-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Text Hover</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <input type="text" id="color-button-text-hover-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Button Color</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <input type="text" id="color-button-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Button Hover</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <input type="text" id="color-button-hover-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!--end -->
                                <!--panel setting image form-->
                                <div class="panel panel-default display-hide" id="tab-pane-setting-image-form">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#Image-panel" aria-expanded="true"> Banner </a>
                                        </h4>
                                    </div>
                                    <div id="Image-panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">
                                            <div class="form-group" style="height:auto;text-align:center">
                                                   
                                                        <div class="fileinput fileinput-new" data-provides="fileinput" id="fileinput-banner">
                                                            <div class="fileinput-new thumbnail" id="thubnail-image-form" style="width: 260px; height: 100px;">
                                                                <img src="~/Content/Images/no-avatar.png" alt="" />
                                                            </div>
                                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 260px; max-height: 100px;width: 260px; height: 100px;"> </div>
                                                            <div>
                                                                <span class="btn btn-xs white btn-file pull-left" style="width:49%;">
                                                                    <span class="fileinput-new">Banner</span>
                                                                    <span class="fileinput-exists">Banner</span>
                                                                    <input type="file" name="..." id="select-image-form" accept="image/x-png, image/jpeg, image/jpg">
                                                                </span>
                                                                <a class="btn btn-xs white pull-right" id="remove-banner" style="width:49%;"> Remove </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                           
                                               
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 col-xs-4 margin-top-10">Show</label>
                                                        <div class="form-group form-md-checkboxes col-md-7 col-sm-7 col-xs-7">
                                                            <div class="md-checkbox-inline">
                                                                <div class="md-checkbox">
                                                                    <input class="md-check" id="show-image-form" type="checkbox">
                                                                    <label for="show-image-form">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                           

                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-4">Banner Position</label>
                                                <div id="image-position" class="btn-group btn-group-sm col-md-8 col-sm-8 col-xs-8" data-toggle="buttons">
                                                    <label class="btn btn-default active tooltips" data-style="blue" data-container="body" data-original-title="Top">
                                                        <input type="radio" class="toggle" name="image-position" value="top"><i class="fa fa-chevron-up"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Right">
                                                        <input type="radio" class="toggle" name="image-position" value="right"><i class="fa fa-chevron-right"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Bottom">
                                                        <input type="radio" class="toggle" name="image-position" value="bottom"><i class="fa fa-chevron-down"></i>
                                                    </label>
                                                    <label class="btn btn-default tooltips" data-style="blue" data-container="body" data-original-title="Left">
                                                        <input type="radio" class="toggle" name="image-position" value="left"><i class="fa fa-chevron-left"></i>
                                                    </label>
                                                </div>
                                            </div>
                                          

                                        </div>

                                    </div>
                                </div>

                                <!--end -->
                               <!--panel background-->
                                <div class="panel panel-default display-hide" id="tab-pane-setting-background-form">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" href="#Background-panel" aria-expanded="true"> Background</a>
                                        </h4>
                                    </div>
                                    <div id="Background-panel" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" style="background-color: #EEF1F5;padding: 5px;">
                                            <div class="form-group" style="height:auto;text-align:center">
                                                <div class="fileinput fileinput-new" data-provides="fileinput" id="fileinput-background">
                                                    <div class="fileinput-new thumbnail" id="thubnail-background-form" style="width: 260px; height: 100px;">
                                                        <img src="~/Content/Images/no-avatar.png" alt="" />
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 260px; max-height: 100px;width: 260px; height: 100px;"> </div>
                                                    <div>
                                                        <span class="btn btn-xs white btn-file pull-left"  style="width:49%;">
                                                            <span class="fileinput-new">Background</span>
                                                            <span class="fileinput-exists">Background</span>
                                                            <input type="file" name="..." id="select-background-form" accept="image/x-png, image/jpeg, image/jpg">
                                                        </span>
                                                        <a class="btn btn-xs white pull-right" id="remove-background" style="width:49%;"> Remove </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 col-sm-5 col-xs-5">Manual Size</label>
                                                <div class="form-group col-md-7 col-sm-7 col-xs-7">
                                                    <input type="number" class="input-fieldForm pull-left" id="bacground-size" min="1" max="100" style="border:0 !important;margin:2px;width:100%;" placeholder="Kích thước %">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 col-sm-5 col-xs-5">Auto Size</label>
                                                <div class="form-group col-md-7 col-sm-7 col-xs-7">
                                                    <select id="background-size-auto" class="select-fieldForm" style="border:0 !important;">
                                                        <option value="noselect">
                                                            Không chọn
                                                        </option>
                                                        <option value="inherit">
                                                            inherit
                                                        </option>
                                                        <option value="initial">
                                                            initial
                                                        </option>
                                                        <option value="cover">
                                                            cover
                                                        </option>
                                                        <option value="contain">
                                                            contain
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 col-sm-5 col-xs-5">Position</label>
                                                <div class="form-group col-md-7 col-sm-7 col-xs-7">
                                                    <input type="number" class="input-fieldForm pull-left" id="bacground-position-x" min="-100" max="100" style="border:0 !important;margin:2px;" placeholder="x">
                                                    <input type="number" class="input-fieldForm pull-left" id="bacground-position-y" min="-100" max="100" style="border:0 !important;margin:2px;" placeholder="y">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 col-sm-5 col-xs-5">Allow Repeat Background</label>
                                                <div class="form-group form-md-checkboxes col-md-7 col-sm-7 col-xs-7">
                                                    <div class="md-checkbox-inline">
                                                        <div class="md-checkbox">
                                                            <input class="md-check" id="repeat-background-form" type="checkbox" checked>
                                                            <label for="repeat-background-form">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5 col-sm-5 col-xs-5">Background Color</label>
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <input type="text" id="color-bacground-form" class="form-control input-sm" data-control="hue" value="">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!--end panel background-->
                            </div>
                        </div>
                        <!---->
                    </div>

                </div>
                <!--end tab field-->
                <!--start tab delete-->
                <div class="tab-pane" id="select-field-delete">
                    <div id="scroll-field-form" data-always-visible="1" data-rail-visible="0">
                        <div id="delete-usercustom1" class="delete-usercustom1 col-md-6 col-sm-6 col-xs-6" style="padding:5px;">

                        </div>
                        <div id="delete-usercustom2" class="delete-usercustom2 col-md-6 col-sm-6 col-xs-6" style="padding:5px;">

                        </div>
                    </div>
                </div>
                <!--end tab delete-->
            </div>
        </div>
   
    </div>
         
    <div id="contentForm">
        
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption" style="padding:10px 10px;">
                        <i class="fa fa-globe"></i>@Resources.ContactResource.Form
                    </div>
                    <div class="caption btn-group pull-right">
                        @if (permission.IsParent)
                        {
                        <a class="btn btn-sm yellow-gold" id="btnSettingForm" style="margin-right:5px;">
                            <i class="fa fa-cog"></i>@Resources.ContactResource.contactFormUpdateSetting
                        </a>
                        <a id="btnSaveForm" class="btn btn-sm green-jungle">
                            <i class="fa fa-save"></i>@Resources.ContactResource.contactFormSave
                        </a>
                        }
                        else
                        {
                            if (permission.ManageForm == 2)
                            {
                                <a class="btn btn-sm yellow-gold" id="btnSettingForm" style="margin-right:5px;">
                                    <i class="fa fa-cog"></i>@Resources.ContactResource.contactFormUpdateSetting
                                </a>
                                <a id="btnSaveForm" class="btn btn-sm green-jungle">
                                    <i class="fa fa-save"></i>@Resources.ContactResource.contactFormSave
                                </a>
                            }
                        }
                    </div>


                </div>
                <div id="panelForm" class="portlet-body">
                    <div id="scroll-form-content" data-always-visible="1" data-rail-visible="0">
                        <div class="controlInput row">
                            <span style="padding: 10px 20px 10px 0px;cursor: pointer;width:100%;" class="fa fa-ellipsis-v tooltips" id="showaddimage" data-placement="top" data-container="body" data-original-title="Chọn cấu hình banner và background"></span>
                            <div id="image" class="hide text-center">
                                <img id="custom-image-form" src=""/>
                            </div>
                            
                            <form class="" role="form" id="form">
                                <div class="form-body">
                                    <div class="headline custom-padding-item"></div>
                                    <ul class="items"></ul>
                                    <div class="submit custom-padding-item"></div>
                                </div>
                            </form>
                        </div>

                    </div>

            </div>

        </div>
        </div>
</div>

<!--modal create customfiel-->
<div class="modal fade create-customfield-modal" id="modal-create-customfield" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.ContactResource.contactCreateCustomField</h4>
            </div>
            <div class="modal-body">
                @*<form action="#" class="form-horizontal" data-type="">
                    <div class="form-body" id="formAddCustomField">
                        <div class="form-group">
                            <label class="col-md-3 control-label">@Resources.ContactResource.contactCustomfieldname</label>
                            <div class="col-md-6">
                                <input type="text" id="create-custom-field-name" class="form-control" placeholder="@Resources.ContactResource.contactCustomfieldEntername">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">@Resources.ContactResource.contactCustomfieldType</label>
                            <div class="col-md-6" id="div-custom-field-type">
                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">@Resources.ContactResource.contactCustomfieldFormat</label>
                            <div class="col-md-6" id="div-custom-field-format">

                            </div>
                        </div>
                        <div id="GroupValue">

                        </div>
                        
                    </div>
                    <div class="form-group" id="GroupAddValue">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">
                            <a class="btn btn-circle btn-icon-only blue" id="addAnotherValue"><i class="fa fa-plus"></i></a>
                            <span>@Resources.ContactResource.contactCustomfieldAddvalue</span>
                        </div>
                    </div>
                </form>*@
                @{Html.RenderAction("CreateCustomField", "Contacts");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.ContactResource.contactClose</button>
                <button type="button" class="btn btn-sm green-jungle" id="save-user-custom-field"><i class="fa fa-save"></i>@Resources.ContactResource.contactSave</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--end modal-->
<!--model confirm delete-->
<div class="modal fade" id="confirm-delete-customfield-modal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span class="fa fa-warning"></span> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">
                <p>@Resources.ContactResource.WarningDelete</p>
                <h3 class="bold">@Resources.ContactResource.QuestionContinue ?</h3>
            </div>
            <input class="hide" id="id-custom-field"/>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                <button type="button" class="btn btn-sm default btn-outline grey-gallery" id="delete-user-custom-field">@Resources.ContactResource.YesContinue</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--end model confirm-->
<!--modalsetting-->
<div class="modal fade" tabindex="-1" id="modalSettingForm" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cập nhật cấu hình form</h4>

            </div>
            <div class="modal-body">
                @{Html.RenderAction("Setting", "Contacts");}
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm yellow-gold" data-dismiss="modal">@Resources.ContactResource.ctCancel</a>

                <a id="btnFormSettingSaveModal" class="btn btn-sm green-jungle">
                    <i class="fa fa-save"></i>@Resources.ContactResource.ctSave
                </a>
            </div>
        </div>
    </div>
</div>
<!--endmodalsettin-->


   <script type="text/javascript">
    //$('body').addClass('page-sidebar-closed');
    var Title = '@Html.Raw(Resources.ContactResource.contactCustomfieldValue)';
    var PlaceHolder = '@Html.Raw(Resources.ContactResource.contactCustomfieldEntervalue)';
    var nameButtonSubmit = '@Html.Raw(Resources.ContactResource.contactFormSubmitButtonName)';
    var nameHeadline = '@Html.Raw(Resources.Resource.contactFormHeadlineName)';
    var messageWarning =
           {
               WarningPageLoad: '@Html.Raw(Resources.ContactResource.warningPageLoad)',
               SaveCustomFieldError: '@Html.Raw(Resources.ContactResource.notifyErrorCreate)',
               SaveCustomFieldSuccess: '@Html.Raw(Resources.ContactResource.notifySuccessCreate)',
               CheckName: '@Html.Raw(Resources.ContactResource.notifyCheckName)',
               ODau: '@Html.Raw(Resources.ContactResource.notifyCheckNameOD)',
               UpdateFormError: '@Html.Raw(Resources.ContactResource.notifyUpdateFormError)',
               UpdateFormSuccess: '@Html.Raw(Resources.ContactResource.notifyUpdateFormSuccess)',
               CheckExistCustomField: '@Html.Raw(Resources.ContactResource.notifyCheckExistCustomField)',
               Create: '@Html.Raw(Resources.ContactResource.contactCreate)',
               ErrorGetInfo: '@Html.Raw(Resources.ContactResource.GetInfoError)',
               Success: '@Html.Raw(Resources.ContactResource.NotifySuccess)',
               Error: '@Html.Raw(Resources.ContactResource.NotifyError)',
               RequireInputDefaultValue:'@Html.Raw(Resources.ContactResource.RequireInputDefaultValue)',
               ValueExceedLength:'@Html.Raw(Resources.ContactResource.ValueExceedLength)',

           };
    var idGroupValue = 'GroupFieldValue';


    $(document).ready(function () {
        var btnSaveId = 'btnSaveForm';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var FormId = '@ViewBag.FormId';
        var GroupId = '@ViewBag.ContactGroupId';
        var userId = @userinfo.UserId;
        var imgUrl='@System.Configuration.ConfigurationManager.AppSettings["image"]';
        var gName='@Html.Raw(ViewBag.ContactGroupName)';
        var eId='@ViewBag.CampaignId';
        var permissiontable=@Html.Raw(Json.Encode(permission));
        form_Action(apiDomain, access_token, Title, PlaceHolder, idGroupValue, messageWarning, btnSaveId, FormId, GroupId, nameButtonSubmit, nameHeadline, userId, imgUrl,eId,gName,permissiontable)
        addField(nameButtonSubmit, nameHeadline);
        //chỉnh with trong form theo sự kiện resize
        $(window).resize(function () {
            form_resizeContentForm();
        });


        var message = {
            RangeError: '@Html.Raw(@Resources.ContactResource.NotifyRangeError)',
            GetInfoError: '@Html.Raw(@Resources.ContactResource.GetInfoError)',
            Success: '@Html.Raw(@Resources.ContactResource.NotifySuccess)',
            Error: '@Html.Raw(@Resources.ContactResource.NotifyError)',

        }
        var usrinfo = {
            Avartar: '@userinfo.Avatar',
            UserId: '@userinfo.UserId',
            Email:'@userinfo.Email',
            Mobile:'@userinfo.Mobile',
        }

      
        formsetting_Action(apiDomain, access_token, GroupId, FormId, eId, gName, message, usrinfo,permissiontable);
        createcustomfield_Action(apiDomain, access_token, messageWarning, Title, PlaceHolder, idGroupValue, permissiontable, FormId);
    })
    </script>

