﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.Resource.pagetitleContactsFormSetting;
}
@section JS{
    
<script src="@Url.Content("~/Scripts/Contacts/formsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
@{
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home"><span>@Resources.PagetitleResource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Resources.Resource.pagetitleGroup</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/Contacts/ContactList?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName">
                <span>@Resources.PagetitleResource.pagetitleContacts - @ViewBag.ContactGroupName</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts/ManageForm?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName"> 
                <span>@Resources.Resource.pagetitleContactsManageForm</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span><b>@Resources.Resource.pagetitleContactsFormSetting</b></span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divRedirect" class="col-md-12 col-sm-12 col-xs-12">

            <div class="text-center">
                <a href="@Url.Content("~/Contacts/ManageForm?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName" id="btnFormSettingBack" class="btn btn-sm yellow-gold">
                    <i class="fa fa-arrow-left"></i>@Resources.ContactResource.Previous
                </a>
                <a id="btnFormSettingNext" class="btn btn-sm green-jungle">
                    <i class="fa fa-save"></i>@Resources.ContactResource.ctSave
                </a>
            </div>

        </div>
        @*<div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-body form">
                        <form action="#" class="form-horizontal" id="formSetting">
                            <div class="form-body">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">@Resources.ContactResource.contactFormSettingFormName</label>
                                    <div class="col-md-5">
                                        <input type="text" id="formname" class="form-control" placeholder="@Resources.ContactResource.contactFormSettingFormName">
                                        <span class="help-block"> @Resources.ContactResource.contactFormSettingFormNameInput </span>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input" id="action-ready-subcribe">
                                    <label class="col-md-4 control-label" for="form_control_1">@Resources.ContactResource.contactFormSettingThankPage</label>
                                    <div class="col-md-8">
                                        <div class="md-radio-list">
                                            <div class="md-radio">
                                                <input type="radio" id="thankdefault" name="thankpage" value="2" class="md-radiobtn" checked>
                                                <label for="thankdefault">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>@Resources.ContactResource.contactFormSettingThankDefault
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="thankcustom" name="thankpage" value="3" class="md-radiobtn">
                                                <label for="thankcustom">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.ContactResource.contactFormSettingThankCustom
                                                </label>

                                            </div>
                                            <div id="urlThankpage" style="display:none;" class="form-group form-md-line-input">
                                                <div class="col-md-6">
                                                    <input type="text" id="thank-url-page" class="form-control" name="url" placeholder="http://">
                                                    <span class="help-block"> @Resources.ContactResource.contactThankPageNote </span>
                                                </div>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="nothank" name="thankpage" value="1" class="md-radiobtn">
                                                <label for="nothank">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.ContactResource.contactFormSettingThankNo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="action-notify-register">
                                    <label class="col-md-4 control-label" for="form_control_1">Khi có đăng kí mới <span></span></label>
                                    <div class="col-md-8">
                                        <div class="md-radio-list">
                                            <div class="md-radio">
                                                <input type="radio" id="unsend-notify-register" name="notify-register" value="1" class="md-radiobtn" checked>
                                                <label for="unsend-notify-register">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Không nhận thông báo
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="send-notify-register" name="notify-register" value="2" class="md-radiobtn">
                                                <label for="send-notify-register">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Nhận thông báo
                                                </label>

                                            </div>
                                            <div id="info-notify-send" style="display:none;">
                                                <div  class="md-radio-inline" >
                                                    <div class="md-radio has-warning">
                                                        <input type="radio" name="typesendnotify" id="sendemail" value="0" class="md-check" checked>
                                                        <label for="sendemail" class="font-yellow-gold">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Qua Email
                                                        </label>
                                                    </div>
                                                    <div class="md-radio has-warning">
                                                        <input type="radio" name="typesendnotify" id="sendsms" value="1" class="md-check" >
                                                        <label for="sendsms" class="font-yellow-gold">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Qua SMS
                                                        </label>
                                                    </div>
                                                    <div class="md-radio has-warning">
                                                        <input type="radio" id="send-emailsms"  name="typesendnotify" value="2" class="md-check">
                                                        <label for="send-emailsms" class="font-yellow-gold">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Qua Email và SMS
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 margin-top-10 nopading" id="selectemailnotify" style="display:none;">
                                                    <div class="col-md-5 nopading ">
                                                        <span class="margin-bottom-10">Chọn email nhận thông báo</span>
                                                        <select class="form-control" id="txtSettingEmailSend" style="width:100%;"></select>
                                                    </div>

                                                </div>
                                                <div class="col-md-12 margin-top-10 nopading" id="selectmobilenotify" style="display:none">
                                                    <div class="col-md-5 nopading">
                                                        <span class="margin-bottom-10">Nhập mobile nhận thông báo</span>
                                                        <input class="form-control" id="txtSettingMobiSend" onkeypress="validate(evt);" placeholder="vui lòng nhập số điện thoại" style="width:100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="action-notify-register">
                                    <label class="col-md-4 control-label" for="form_control_1">Cho phép gửi email xác nhận <span></span></label>
                                    <div class="col-md-8">
                                        <input type="checkbox" class="make-switch"  data-size="mini" data-on-color="success" data-off-color="warning">
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>*@
        @{Html.RenderAction("Setting", "Contacts");}
    </div>
</div>

<div class="modal fade bs-modal-sm" id="confirm-update-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">@Resources.ContactResource.contactConfirmUpdateCustomField</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.ContactResource.No</button>
                <button type="button" id="confirm-continue-update-form" class="btn green">@Resources.ContactResource.Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var ContactGroupId = '@ViewBag.ContactGroupId';
        var FormId = '@ViewBag.FormId';
        var message = {
            RangeError: '@Html.Raw(@Resources.ContactResource.NotifyRangeError)',
            GetInfoError: '@Html.Raw(@Resources.ContactResource.GetInfoError)',
            Success: '@Html.Raw(@Resources.ContactResource.NotifySuccess)',
            Error: '@Html.Raw(@Resources.ContactResource.NotifyError)',

        }
        var eId = '@ViewBag.CampaignId';
        var gName = '@Html.Raw(ViewBag.ContactGroupName)';
        var userinfo = {
            Avartar: '@userinfo.Avatar',
            UserId: '@userinfo.UserId',
            Email: '@userinfo.Email',
            Mobile: '@userinfo.Mobile',
        }
        var permissiontable=@Html.Raw(Json.Encode(permission));
        formsetting_Action(apiDomain, access_token, ContactGroupId, FormId, eId, gName, message, userinfo, permissiontable);
    })
</script>