﻿
@{
    ViewBag.Title = "FormPayment-Sendmail";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <h3>Who will publish this web form on your website?</h3>
        </div>
        <div class="portlet light">
            <div class="portlet-body form">
                <div id="type-publish">
                    <div class="form-body">
                        @*<div class="form-group form-md-line-input" id="gen-form-payment">
                            <textarea cols="10" id="copy-form-payment">

                            </textarea>
                        </div>*@
                        <div id="gen-form-payment" class="form-group form-md-line-input">
                            <label class="col-md-2 col-sm-2">Mã html</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" id="copy-form-payment" class="form-control">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-sm-1 col-md-1">
                                <button class="btn btn-sm  btn-circle btn-outline blue" id="copy-link">Copy</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GroupId='@ViewBag.ContactGroupId'
        formpayment_Action(GroupId);
    })
</script>

<script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=ZgId&webforms_id=3723801"></script>