﻿@{ 
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = "Import file";
}
@section JS{
   
    <script src="@Url.Content("~/Scripts/ReadExcel/shim.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/jszip.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/xlsx.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/ods.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/readexcel.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/write.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/FileSaver.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/FileSaver.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-knob/js/jquery.knob.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
<style>
    #drop {
        border: 2px dashed #bbb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        font: 20pt bold,"Vollkorn";
        color: #bbb;
    }

    #b64data {
        width: 100%;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>

            <a href="~/Home"><span>@Resources.PagetitleResource.pagetitleHome</span></a>

            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts")">
                <span>@Resources.PagetitleResource.pagetitleGroup</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/Contacts/ContactList?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName">
                <span>@Resources.PagetitleResource.pagetitleContacts - @ViewBag.ContactGroupName</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.ContactResource.contactImport</span></b>
        </li>

    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 portlet light portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption" style="padding:10px 10px;">
                    <i class="fa fa-globe"></i>@Resources.ContactResource.TitleImport
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" id="btn-reload-table-contactlist" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-12">
                    <p style="font-size:17px;margin:10px 0;">@Html.Raw(Resources.ContactResource.RuleImport1)</p>
                    <p style="font-size:17px;margin:10px 0;">@Html.Raw(Resources.ContactResource.RuleImport2)</p>
                    <p style="font-size:17px;margin:10px 0;font-weight:bold;">@Resources.ContactResource.RuleImport3</p>
                    <p>
                        <img src="~/Content/Images/ExcelFormat.png" style="border:1px solid #217346;width:100%;max-width:1079px;" />
                    </p>
                    <p>
                       <b>@Resources.ContactResource.RuleImport4 </b>
                    </p>
                    <p>
                        <a class="bold" style="padding:5px;color:red" href="http://files.myxteam.com/chat/4613/2681/1487729004552/Sample.xlsx"><i class="fa fa-file-excel-o"></i>@Resources.ContactResource.FileTemplate</a>
                        <a class="bold" style="padding:5px;color:red" href="http://files.myxteam.com/chat/4613/2681/1487730566677/Format.xlsx"><i class="fa fa-file-excel-o"></i> @Resources.ContactResource.GuideFormatImport</a>
                    </p>

                    <div class="form-group">
                        <input type="file" name="xlfile" id="xlf" style="display:none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        <div id="drop">@Html.Raw(Resources.ContactResource.ClickorDrop)</div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="modal-mapping-contact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title uppercase">@Resources.ContactResource.ConfigImport</h4>
            </div>
            <div class="modal-body text-center">
                <div id="table-before-import-contact">
                    <div class="col-md-12 text-right margin-bottom-10">
                        <div class="md-checkbox pull-right">
                            <input type="checkbox" id="list-has-column-name" class="md-check" checked>
                            <label for="list-has-column-name">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@Resources.ContactResource.ExcelHasHeader
                            </label>
                        </div>

                    </div>
                    <div class="col-md-12 table-responsive">
                        <div class="wrap-table">
                            <table class="head">
                                <thead id="thead-import-contact" style="background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(250,250,250,1)),color-stop(100%,rgba(236,234,235,1)));">

                                </thead>
                            </table>
                            <div class="inner_table" style="height: 686px;">
                                <table class="table">
                                    <tbody id="tbody-import-contact"></tbody>
                                </table>
                            </div>
                          
                        </div>

                    </div>
                    
                </div>
                <div id="table-info-import-contact" style="display:none;"> 
                    <div style="padding:5px;">
                        <p class="bold" style="font-size:18px;">@Resources.ContactResource.TotalContactValid: <span id="total-query-contact">0</span></p>
                        <p class="bold font-red" id="info-total-not-query" style="display:none">@Resources.ContactResource.TotalContactInValid: <span id="total-not-query-contact">0</span></p>
                        <p class="bold">
                            @Resources.ContactResource.NoteBeforeImport
                           
                        </p>
                        <p  class="bold font-red">
                            @Resources.ContactResource.NoteBeforeImport1
                        </p>
                        @*<div id="knob-process-import" style="display:none">
                <input id="process-import-excel" class="knob" data-angleoffset=90 value="0" disabled>
            </div>*@
                    </div>

                    <div style="padding:5px" id="has-sms-gateway">
                        <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayTitle)</p>
                        <p class="font-red font-md">@Html.Raw(Resources.AdvancedCampaignResource.WarningGateWayContent)</p>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div id="footer-table-before-import">
                    <button type="button" id="btn-cancel-import" class="btn btn-sm default btn-outline font-grey-gallery" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                    <button type="button" id="btn-import-contact" class="btn btn-sm green-jungle">@Resources.ContactResource.YesContinue</button>
                </div>
                <div id="footer-table-info-import" style="display:none;">
                    <button type="button" id="btn-back-import-contact" class="btn btn-sm default btn-outline font-grey-gallery">@Resources.ContactResource.Previous</button>
                    <button type="button" id="btn-action-import-contact" class="btn btn-sm green-jungle">@Resources.ContactResource.confirm</button>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-info-after-import" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-file-excel-o"></i> @Resources.ContactResource.resultimport </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                   <span class="font-lg">@Resources.ContactResource.ContactSentToServer</span>
                                </td>
                                <td class="text-center">
                                  <span class="font-lg" id="number-contact-sent"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-lg">@Resources.ContactResource.ContactServerRemove</span>
                                </td>
                                <td class="text-center">
                                    <span class="font-lg" id="number-contact-remove"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-lg">@Resources.ContactResource.ContactServerImport </span>
                                </td>
                                <td class="text-center">
                                   <span class="font-lg" id="number-contact-import"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               <button data-dismiss="modal" class="btn btn-sm default btn-outline font-grey-gallery">@Resources.ContactResource.StayOnPage</button>
               <button class="btn btn-sm green-jungle" id="go-to-contactlist">@Resources.ContactResource.GoToContactPage</button>
            </div>
        </div>
    </div>
</div>

<div style="display:none;">
   <input type="checkbox" name="useworker" checked> />
   <input type="checkbox" name="xferable" checked> />
  <input type="checkbox" name="userabs" checked> />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            FormatError: '@Html.Raw(Resources.ContactResource.ExcelFormatError)',
            FormatEmailError: '@Html.Raw(Resources.ContactResource.FormatEmailError)',
            FormatContactNameError: '@Html.Raw(Resources.ContactResource.FormatContactNameError)',
            FormatMobileError: '@Html.Raw(Resources.ContactResource.FormatMobileError)',
            FileNotSupport: '@Html.Raw(Resources.ContactResource.FileNotSupport)',
            Character:'@Html.Raw(Resources.SendsmsResource.Character)',
    };
        var ContactGroupId = '@ViewBag.ContactGroupId';
        var CampaignId = '@ViewBag.CampaignId';
        var gName = '@Html.Raw(ViewBag.ContactGroupName)';
        readexcelEvent(apiDomain, access_token, ContactGroupId, CampaignId, gName, message);
        readexcel_Reset("#removeFileImport");
        readexcel_DropClick("#drop", "#xlf");
    });
</script>
