﻿@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleGroup;
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];

}
@section JS{
<script src="@Url.Content("~/Scripts/Contacts/addgroup.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Contacts/updategroup.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Contacts/contactgroup.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Contacts/formsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home"><span>@Resources.PagetitleResource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <b><span>@Resources.PagetitleResource.pagetitleGroup</span></b>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="actions" style="float:left;">
                    @if (permission.IsParent)
                    {
                        <a class="btn green-jungle btn-sm" data-target="#modalCreateGroup" data-toggle="modal" href="@Url.Content("~/Contacts/AddContactGroup")">
                            <i class="fa fa-plus" id="custom"></i> @Resources.ContactResource.contactCreate
                        </a>
                        <a id="btn-export-all-contact-group" class="btn btn-xs blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.ExportAllTitle">
                            <i class="fa fa-file-excel-o" id="custom"></i>Export All
                        </a>
                    }
                    else
                    {
                        if (permission.ManageGroup == 2)
                        {
                            <a class="btn green-jungle btn-sm" data-target="#modalCreateGroup" data-toggle="modal" href="@Url.Content("~/Contacts/AddContactGroup")">
                                <i class="fa fa-plus" id="custom"></i> @Resources.ContactResource.contactCreate
                            </a>
                        }
                        if (permission.ManageGroup != 0)
                        {
                            <a id="btn-export-all-contact-group" class="btn btn-xs blue popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.ExportAllTitle">
                                <i class="fa fa-file-excel-o" id="custom"></i>Export All
                            </a>
                        }
                    }
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a id="toolsreload" href="javascript:;" class="custom-reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
                
            </div>
            <div class="portlet-body">
                <div id="divAction">
                    <div id="divAction-selectall">
                        <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                    </div>
                    <div id="divAction-selectall" class="col-md-5 col-sm-6" style="padding-left:0px;">
                        <span><b>@Resources.NewsletterResource.SelectAll</b></span>
                        <span><b id="number-contactgroup-select" style="display:none;"></b></span>
                        @if (permission.IsParent)
                        {
                            <a id="btn-merge-contact-group" class="btn btn-outline btn-xs yellow-gold hide">
                                <i class="fa fa-compress" id="custom"></i>@Resources.ContactResource.Merge
                            </a>
                            <a id="btn-export-contact-group" class="btn btn-outline btn-xs green-jungle hide popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.ExportTtitle">
                                <i class="fa fa-file-excel-o" id="custom"></i>Export
                            </a>
                            <a id="btn-deleteall-group" class="btn btn-outline btn-xs red hide">
                                <i class="fa fa-remove" id="custom"></i>@Resources.ContactResource.Delete
                            </a>
                        }
                        else
                        {
                            if (permission.ManageGroup == 2)
                            { <a id="btn-merge-contact-group" class="btn btn-outline btn-xs yellow-gold hide">
                            <i class="fa fa-compress" id="custom"></i>@Resources.ContactResource.Merge
                        </a>
                            }
                            if (permission.ManageGroup != 0)
                            {
                                <a id="btn-export-contact-group" class="btn btn-outline btn-xs green-jungle hide popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="@Resources.ContactResource.ExportTtitle">
                                    <i class="fa fa-file-excel-o" id="custom"></i>Export
                                </a>}
                            if (permission.ManageGroup == 2)
                            {
                                <a id="btn-deleteall-group" class="btn btn-outline btn-xs red hide">
                                    <i class="fa fa-remove" id="custom"></i>@Resources.ContactResource.Delete
                                </a>
                            }
                        }

                    </div>


                    <div class="col-md-4 col-sm-5 col-xs-5" style="height:25px;">
                        <div class="form-group form-md-line-input" id="divAction-Search">
                            <div class="input-group">
                                <span class="input-group-addon" id="iconsearch">
                                    <i class="icon-magnifier"></i>
                                </span>
                                <input id="searchvalue" type="text" class="form-control  input-sm" placeholder="@Resources.ContactResource.searchcontact">
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4 col-sm-4 col-xs-7">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group form-md-line-input" id="divAction-formtype">
                                <select id="divAction-type" class="form-control edited">
                                    <option value="Descending">@Resources.ContactResource.descending</option>
                                    <option value="Ascending">@Resources.ContactResource.ascending</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group form-md-line-input" id="divAction-formsort">
                                <select id="divAction-sort" class="form-control edited">
                                    <option value="CreateDate">@Resources.ContactResource.contactCreateday</option>
                                    <option value="ContactGroupName">@Resources.ContactResource.contactContactsGroupName</option>
                                    <option value="Active">@Resources.ContactResource.contacActive</option>
                                    <option value="ContactCount">@Resources.ContactResource.contacContactCount</option>
                                </select>
                                
                                
                            </div>
                           
                        </div>
                    </div>*@
                    <div class="btn-group" id="btn-sort" style="float:right;">
                        <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby :</b></span>
                        <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="title-btn-sort" sort="CreateDate" typesort="Descending">@Resources.ContactResource.contactCreateday <span class="fa fa-sort-alpha-desc"></span></span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            @*<li role="presentation">
                                <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Ascending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contactCreateday
                                    <span id="iconsorttype" class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </li>*@
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contactCreateday
                                    @*<span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>*@
                                </a>
                            </li>
                            @*<li role="presentation" class="divider"> </li>
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="ContactGroupName" typesort="Ascending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contactContactsGroupName
                                    <span id="iconsorttype" class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </li>*@
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="ContactGroupName" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contactContactsGroupName
                                    @*<span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>*@
                                </a>
                            </li>
                            @*<li role="presentation" class="divider"> </li>
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="Active" typesort="Ascending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contacActive
                                    <span id="iconsorttype" class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </li>*@

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="Active" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contacActive
                                    @*<span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>*@
                                </a>
                            </li>
                            @*<li role="presentation" class="divider"> </li>
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="ContactCount" typesort="Ascending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contacContactCount
                                    <span id="iconsorttype" class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </li>*@

                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="ContactCount" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contacContactCount
                                    @*<span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>*@
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <table class="table table-striped table-hover table-checkable" id="tableContactGroup">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-sm-1 col-xs-1">
                                @*<input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">*@
                            </th>
                            <th class="col-md-5 col-sm-5 col-xs-5"></th>
                            <th class="col-md-2 col-sm-2 col-xs-2"></th>
                            <th class="col-md-4 col-sm-4 col-xs-4"></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- END EXAMPLE TABLE PORTLET-->

        </div>
    </div>
    <div class="modal fade" id="modalCreateGroup" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>
    @*model confirm*@
    <div class="modal fade" id="deleteontable" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
                </div>
                <div class="modal-body text-center">
                    <p>
                        @Resources.ContactResource.WarningDelete
                    </p>
                    <h4 class="bold">@Resources.ContactResource.QuestionContinue </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                    <button type="button" id="confirmDelete" class="btn default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalconfirmdeleteall" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title uppercase"><i class="fa fa-warning font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
                </div>
                <div class="modal-body text-center">
                    <p>
                        @Resources.ContactResource.WarningDelete
                    </p>
                    <h4 class="bold">@Resources.ContactResource.QuestionContinue </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm green-jungle" data-dismiss="modal">@Resources.ContactResource.NoThanks</button>
                    <button type="button" id="confirmDeleteAll" class="btn btn-sm default btn-outline font-grey-gallery">@Resources.ContactResource.YesContinue</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<div class="modal fade" id="modal-warning-merger-group" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle font-yellow-gold"></i> @Resources.ContactResource.warning</h4>
            </div>
            <div class="modal-body text-center">

                <p>
                    @Resources.ContactResource.infomergegroup

                </p>
                <h4 class="bold">@Resources.ContactResource.requestcontinue </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm green" data-dismiss="modal">@Resources.NewsletterResource.nothank</button>
                <button type="button" class="btn btn-sm default btn-outline font-grey-gallery" id="confirm-merge-group">@Resources.NewsletterResource.yescontinue</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal-merge-group" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-compress font-green-jungle"></i> @Resources.ContactResource.Merge</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                @Resources.ContactResource.contactGroupName
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="" name="name" id="mergegroupname">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                    @Resources.ContactResource.contactInputGroupName
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i> @Resources.ContactResource.ctCancel</button>
                <button type="button" class="btn green-jungle" id="action-merge-group"><i class="fa fa-save"></i> @Resources.ContactResource.ctSave</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="modal-export-group-contact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-file-excel-o"></i> Export </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="createContactGroup">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                @Resources.ContactResource.FileName
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="" name="name" id="file-export-name">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                   @Resources.ContactResource.EnterFileName
                                </span>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm green-jungle" id="submit-export-group-contact"><i class="fa fa-file-excel-o"></i>@Resources.ContactResource.contactExport</button>
                            </div>
                        </div>
                        <div class="clear-fix" style="height:10px;">

                        </div>
                        <div id="table-file-export" style="margin-top:20px;">
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //active menu
        $('#mncontact').addClass('active');
        $('#mncontact').children('a').append('<span class="selected"></span>');
       // resizeTableContact();

        var tableId = '#tableContactGroup';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var dataUrl = 'api/ContactGroup/Web/GetList';

        var file = "/Scripts/JsonDefineColumn/groupcontact.json?@ViewBag.JsPara";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));

        var idCondition = {
            sorttype: "#divAction-type",
            sortvalue: "#divAction-sort",
            searchvalue: "#searchvalue"
        }


        var type = $('#btn-sort  #title-btn-sort').attr('typesort');
        var sortvalue = $('#btn-sort  #title-btn-sort').attr('sort');

        var searchvalue = $(idCondition.searchvalue).val();

        //$(idCondition.sorttype).on('change', function (event, state) {
        //    type = $(idCondition.sorttype + ' option:selected').val();
        //    $(tableId).dataTable().fnDraw();


        //});

        var timer;

        $(idCondition.searchvalue).keypress(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
                searchvalue = $(idCondition.searchvalue).val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });


        $(idCondition.searchvalue).keyup(function () {
            clearInterval(timer);  //clear any interval on key up
            timer = setTimeout(function () { //then give it a second to see if the user is finished
               searchvalue = $(idCondition.searchvalue).val();
                $(tableId).dataTable().fnDraw();
            }, 1000);
        });


        //$(idCondition.sortvalue).change(function () {
        //    sortvalue = $(idCondition.sortvalue + ' option:selected').val();

        //    $(tableId).dataTable().fnDraw();
        //})

        $('#btn-sort  .menuitem ').on('click', function () {
            type = $(this).attr('typesort');
            sortvalue = $(this).attr('sort');

            var text = $(this).text();
            $('#title-btn-sort').attr('sort', sortvalue);
            $('#title-btn-sort').attr('typesorts', type);
            var html
            if (type == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (type == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#title-btn-sort').text(text);
            $('#title-btn-sort').append(html);

            //$('#btn-sort').find('a').removeClass('backroundselectsort');
            //$(this).addClass('backroundselectsort');
            $(tableId).dataTable().fnDraw();
        });

        var AdditionalParameters = function (data) {
            data.SortColumn = sortvalue;
            data.SortDirection = type;
            data.search['value'] = searchvalue;
            App.blockUI({
                target: 'body',
                animate: true
            });
        }
        var height = resizeTableContact();

        //message (da ngôn ngữ trong các lable, tooltip trong table)
        var message = {
            DateCreated: '@Html.Raw(Resources.ContactResource.DateCreated)',
            TotalContact: '@Html.Raw(Resources.ContactResource.TotalContact)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            DeleteSuccess: '@Html.Raw(Resources.ContactResource.NotifyDeleteSuccess)' ,
            DeleteError: '@Html.Raw(Resources.ContactResource.NotifyDeleteError)',
            Manager: '@Html.Raw(Resources.ContactResource.Manager)',
            Edit: '@Html.Raw(Resources.ContactResource.Edit)',
            Delete: '@Html.Raw(Resources.ContactResource.Delete)',
            MergerSuccess: '@Html.Raw(Resources.ContactResource.MergerSuccess)',
            MergerError: '@Html.Raw(Resources.ContactResource.MergerError)',
            GroupNameRequire: '@Html.Raw(Resources.ContactResource.ContactGroupRequire)',
            FileName: '@Html.Raw(Resources.ContactResource.FileName)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            CreateDate: '@Html.Raw(Resources.ContactResource.DateCreated)',
            Processing: '@Html.Raw(Resources.ContactResource.Processing)',
            FileNameRequire: '@Html.Raw(Resources.ContactResource.FileNameRequire)',
            DownLoad: '@Html.Raw(Resources.ContactResource.DownLoad)',
            ExportError: '@Html.Raw(Resources.ContactResource.ExportError)',
            WarningDeleteGroupAuto: '@Html.Raw(Resources.ContactResource.WarningDeleteGroupAuto)',
            Row: '@Html.Raw(Resources.ContactResource.Row)',
        }
        var row = 10; //số dòng
        var permissiontable=@Html.Raw(Json.Encode(permission));
        console.log(permissiontable);
        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters,height,row,message, permissiontable)
        contactgroup_Action(apiDomain, access_token, tableId, message);

    });


</script>

