﻿
<div class="modal-body" id="content-custom-field" style="overflow-y:scroll;overflow-x:hidden">
    <div class="row">
        <div class="col-md-12">
            <div id="custom-field-custom"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var message = {
            Error: '@Html.Raw(Resources.ContactResource.NotifyError)',
            Success: '@Html.Raw(Resources.ContactResource.NotifySuccess)',
            ConfirmDelete:'@Html.Raw(Resources.ContactResource.confirmdelete)',
        };
        customfield_Action(apiDomain, access_token, message);
    });
</script>




