﻿
@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.Resource.pagetitleContactsManageForm;
}
@section JS{
<script src="@Url.Content("~/Scripts/Contacts/manageform.js")?@ViewBag.JsPara" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Contacts/formsetting.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
@{
    _123SendMailV2.ViewModels.Permission permission = (_123SendMailV2.ViewModels.Permission)HttpContext.Current.Session["SessionPermisson"];
    _123SendMailV2.ViewModels.SessionUser userinfo = (_123SendMailV2.ViewModels.SessionUser)HttpContext.Current.Session["UserInfo"];

}


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home"><span>@Resources.PagetitleResource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts")"><span>@Resources.Resource.pagetitleGroup</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/Contacts/ContactList?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName">
                <span>@Resources.PagetitleResource.pagetitleContacts - @ViewBag.ContactGroupName</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        
        <li>
            <b><span>@Resources.Resource.pagetitleContactsManageForm</span></b>
            
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="porlet-manage-form">
            <div class="portlet-title">
                <div class="actions" style="float:left;">
                    <a href="/Contacts/ContactList?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName" id="btn-manageform-previous" class="btn yellow-gold btn-sm">
                        <i class="fa fa-arrow-left" id="custom"></i>@Resources.ContactResource.Previous
                    </a>
                    @if (permission.IsParent)
                    {
                    <a href="/Contacts/FormSetting?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName&fId=-1" class="btn btn-sm green-jungle" id="btnCreateForm">
                        <i class="fa fa-plus" id="custom"></i>@Resources.ContactResource.contactCreate
                    </a>
                    }
                    else
                    {
                        if (permission.ManageForm == 2)
                        {
                            <a href="/Contacts/FormSetting?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName&fId=-1" class="btn btn-sm green-jungle" id="btnCreateForm">
                                <i class="fa fa-plus" id="custom"></i>@Resources.ContactResource.contactCreate
                            </a>
                        }
                    }


                </div>
                @*<div class="caption" style="padding:10px 10px;">
                    <i class="fa fa-globe"></i>@Resources.ContactResource.contactContactGroup
                </div>*@
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a id="toolsreload" href="javascript:;" class="reload grey-silver"> </a>
                    <a href="" class="fullscreen grey-silver"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="divAction">
                    @*<div class="col-md-4 col-sm-4" id="divAction-toolbar">
                        
                    </div>*@
                    <div id="divAction-selectall">
                            <input name="select_all" value="1" type="checkbox" id="select_all" class="group-checkable">
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <span><b>@Resources.ContactResource.SelectAll</b></span>
                        @if (permission.IsParent)
                        {
                        <a id="btn-deleteall-form" class="btn btn-outline btn-xs red hide">
                            <i class="fa fa-remove" id="custom"></i>@Resources.ContactResource.Delete
                        </a>
                        }
                        else
                        {
                            if (permission.ManageForm == 2)
                            {
                                <a id="btn-deleteall-form" class="btn btn-outline btn-xs red hide">
                                    <i class="fa fa-remove" id="custom"></i>@Resources.ContactResource.Delete
                                </a>
                            }
                        }
                    </div>
                    <a></a>
                    @*<div class="col-md-3">
                            <div class="form-group form-md-line-input" id="divAction-Search">
                                <div class="input-group">
                                    <span class="input-group-addon" id="iconsearch">
                                        <i class="icon-magnifier"></i>
                                    </span>
                                    <input id="searchvalue" type="text" class="form-control  input-sm" placeholder="search...">
                                </div>
                            </div>
                        </div>*@
                    @*<div class="col-md-4 col-sm-4">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input" id="divAction-formtype">
                                <select id="divAction-type" class="form-control edited">
                                    <option value="Descending">@Resources.ContactResource.descending</option>
                                    <option value="Ascending">@Resources.ContactResource.ascending</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-md-line-input" id="divAction-formsort">
                                <select id="divAction-sort" class="form-control edited">
                                    <option value="CreateDate">@Resources.ContactResource.contactCreateday</option>
                                    <option value="FormName">Form Name</option>
                                    <option value="Active">@Resources.ContactResource.contacActive</option>
                                </select>
                            </div>
                        </div>
                    </div>*@
                    <div class="btn-group" id="btn-sort" style="float:right;">
                        <span style="float:left;padding:0 5px;"><b>@Resources.ContactResource.Sortedby:</b></span>
                        <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="title-btn-sort" sort="CreateDate" typesort="Descending">@Resources.ContactResource.contactCreateday <span class="fa fa-sort-alpha-desc"></span></span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            @*<li role="presentation">
                                <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Ascending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contactCreateday
                                    <span id="iconsorttype" class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </li>*@
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="CreateDate" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contactCreateday
                                    @*<span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>*@
                                </a>
                            </li>
                            @*<li role="presentation" class="divider"> </li>
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="FormName" typesort="Ascending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.FormName
                                    <span id="iconsorttype" class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </li>*@
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="FormName" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.FormName
                                    @*<span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>*@
                                </a>
                            </li>
                            @*<li role="presentation" class="divider"> </li>
                            <li role="presentation">
                                <a role="menuitem" class="menuitem" sort="Active" typesort="Ascending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contacActive
                                    <span id="iconsorttype" class="fa fa-sort-alpha-asc"></span>
                                </a>
                            </li>*@

                            @*<li role="presentation">
                                <a role="menuitem" class="menuitem" sort="Active" typesort="Descending" tabindex="-1" href="javascript:;">
                                    @Resources.ContactResource.contacActive
                                    <span id="iconsorttype" class="fa fa-sort-alpha-desc"></span>
                                </a>
                            </li>*@
                            
                        </ul>
                    </div>
                </div>

                <table class="table table-striped table-hover table-checkable" id="tableForm">
                    <thead>
                        <tr>
                            <th class="col-md-1 col-sm-1 col-xs-1"></th>
                            <th width="col-md-4 col-sm-4 col-xs-4"></th>
                            <th width="col-md-2 col-sm-2 col-xs-2"></th>
                            <th width="col-md-2 col-sm-2 col-xs-2"></th>
                            <th width="col-md-3 col-sm-3 col-xs-3"></th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- END EXAMPLE TABLE PORTLET-->

        </div>
        @*model confirm*@
        <div class="modal fade bs-modal-sm" id="confirmdeleteall-form" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title uppercase">@Resources.ContactResource.contactConfirmDelete</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.ContactResource.No</button>
                        <button type="button" id="confirmDeleteAll-form" class="btn green">@Resources.ContactResource.Yes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade bs-modal-sm" id="confirmdelete-form" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title uppercase">@Resources.ContactResource.contactConfirmDelete</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">@Resources.ContactResource.No</button>
                        <button type="button" id="confirmDelete-form" class="btn green">@Resources.ContactResource.Yes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>

<!--modalsetting-->
<div class="modal fade" tabindex="-1" id="modalSettingForm" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cập nhật cấu hình form</h4>

            </div>
            <div class="modal-body">
                @{Html.RenderAction("Setting", "Contacts");}
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm yellow-gold" data-dismiss="modal">@Resources.ContactResource.ctCancel</a>

                <a id="btnFormSettingSaveModal" class="btn btn-sm green-jungle">
                    <i class="fa fa-save"></i>@Resources.ContactResource.ctSave
                </a>
            </div>
        </div>
    </div>
</div>
<!--endmodalsetting-->
<script>

    $(document).ready(function () {

        //active menu
        $('#mncontact').addClass('active');
        $('#mncontact').children('a').append('<span class="selected"></span>')
        var ContactGroupId = '@ViewBag.ContactGroupId';
        var tableId = '#tableForm';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var dataUrl = 'api/Form/Web/GetList';

        var file = "/Scripts/JsonDefineColumn/manageform.json?@ViewBag.JsPara";
        var columnDefine = JSON.parse(custom_ReadTextFile(file));

        var idCondition = {
            sorttype: "#divAction-type",
            sortvalue: "#divAction-sort",
           // searchvalue: "#searchvalue"
        }


        var type = $('#btn-sort  #title-btn-sort').attr('typesort');
        var sortvalue = $('#btn-sort  #title-btn-sort').attr('sort');
        //var searchvalue = $(idCondition.searchvalue).val();

        //$(idCondition.sorttype).on('change', function (event, state) {
        //    type = $(idCondition.sorttype + ' option:selected').val();
        //    alert(type);
        //    $(tableId).dataTable().fnDraw();


        //});

        var timer;

        //$(idCondition.searchvalue).keypress(function () {
        //    clearInterval(timer);  //clear any interval on key up
        //    timer = setTimeout(function () { //then give it a second to see if the user is finished
        //        searchvalue = $(idCondition.searchvalue).val();
        //        $(tableId).dataTable().fnDraw();
        //    }, 1000);
        //});


        //$(idCondition.searchvalue).keyup(function () {
        //    clearInterval(timer);  //clear any interval on key up
        //    timer = setTimeout(function () { //then give it a second to see if the user is finished
        //        searchvalue = $(idCondition.searchvalue).val();
        //        $(tableId).dataTable().fnDraw();
        //    }, 1000);
        //});

        //$(idCondition.sortvalue).change(function () {
        //    sortvalue = $(idCondition.sortvalue + ' option:selected').val();
        //    $(tableId).dataTable().fnDraw();
        //})

        $('#btn-sort  .menuitem ').on('click', function () {
            type = $(this).attr('typesort');
            sortvalue = $(this).attr('sort');

            var text = $(this).text();
            $('#title-btn-sort').attr('sort', sortvalue);
            $('#title-btn-sort').attr('typesorts', type);
            var html
            if (type == "Descending") {
                html = '<span class="fa fa-sort-alpha-desc"></span>';
                $(this).attr('typesort', 'Ascending');
            }
            else if (type == "Ascending") {
                html = '<span class="fa fa-sort-alpha-asc"></span>';
                $(this).attr('typesort', 'Descending');
            }
            $('#title-btn-sort').text(text);
            $('#title-btn-sort').append(html);

            $('#btn-sort').find('a').removeClass('backroundselectsort');
            $(this).addClass('backroundselectsort');
            $(tableId).dataTable().fnDraw();
        });

        var AdditionalParameters = function (data) {
            data.SortColumn = sortvalue;
            data.SortDirection = type;
            data.ContactGroupId = ContactGroupId;
        }


        //message (da ngôn ngữ trong các lable, tooltip trong table)
        var message = {
            DateCreated: '@Html.Raw(Resources.ContactResource.DateCreated)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            Preview: '@Html.Raw(Resources.ContactResource.Preview)',
            Edit: '@Html.Raw(Resources.ContactResource.Edit)',
            Delete: '@Html.Raw(Resources.ContactResource.Delete)',
            GetLink: '@Html.Raw(Resources.ContactResource.Link)',
            Setting: '@Html.Raw(Resources.ContactResource.SettingForm)',
            Design: '@Html.Raw(Resources.ContactResource.DesignForm)',
            TitleSettingForm: '@Html.Raw(Resources.ContactResource.TitleSettingForm)',
            TitleDesignForm:'@Html.Raw(Resources.ContactResource.TitleDesignForm)',
        }

        var messageform = {
            DeleteSuccess: '@Html.Raw(Resources.ContactResource.NotifyDeleteSuccess)',
            DeleteError: '@Html.Raw(Resources.ContactResource.NotifyDeleteError)',
            UpdateSuccess: '@Html.Raw(Resources.ContactResource.notifySuccessUpdate)',
            UpdateError: '@Html.Raw(Resources.ContactResource.notifyErrorUpdate)',
            RangeError: '@Html.Raw(@Resources.ContactResource.NotifyRangeError)',
            GetInfoError: '@Html.Raw(@Resources.ContactResource.GetInfoError)',
            Success: '@Html.Raw(@Resources.ContactResource.NotifySuccess)',
            Error: '@Html.Raw(@Resources.ContactResource.NotifyError)',
        };

        var height = resizeTableContact();
        var row = 10; //số dòng
        var permissiontable=@Html.Raw(Json.Encode(permission));

        global_DataTable(apiDomain, access_token, tableId, dataUrl, columnDefine, AdditionalParameters,height,row,message,permissiontable);
        var eId = '@ViewBag.CampaignId';
        var gName = '@Html.Raw(ViewBag.ContactGroupName)';
        manageform_Action(apiDomain, access_token, ContactGroupId, tableId, messageform, eId,gName)

        //xử lý nút setting
        var usrinfo = {
            Avartar: '@userinfo.Avatar',
            UserId: '@userinfo.UserId',
            Email:'@userinfo.Email',
            Mobile:'@userinfo.Mobile',
        }
        var FormId=-1; 
        formsetting_Action(apiDomain, access_token, ContactGroupId, FormId, eId, gName, messageform, usrinfo,permissiontable);

    });

</script>

