﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/Contacts/webform.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
<style>
    body{
        background:white;
    }
</style>
<div class="control-web-form" style="margin-top:50px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="headline"></div>
        <ul class="items"></ul>
        <div class="submit"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var FormId = '@ViewBag.FormId';
        var Width = '400';
        var Height = '@ViewBag.Height';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        webform_Action(apiDomain, FormId, Width, Height);
    })
</script>