﻿
@{
    ViewBag.Title = Resources.Resource.pagetitlePublishForm;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
  
 
  
    <script src="@Url.Content("~/Scripts/Contacts/publishform.js")?@ViewBag.JsPara" type="text/javascript"></script>

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Home"><span>@Resources.PagetitleResource.pagetitleHome</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts")">
                <span>@Resources.Resource.pagetitleGroup</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/Contacts/ContactList?gId=@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName">
                <span>@Resources.PagetitleResource.pagetitleContacts - @ViewBag.ContactGroupName</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Content("~/Contacts/ManageForm?gId=")@ViewBag.ContactGroupId&eId=@ViewBag.CampaignId&gName=@ViewBag.ContactGroupName">
                <span>@Resources.Resource.pagetitleContactsManageForm</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span><b>@Resources.Resource.pagetitlePublishForm</b></span>

        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body form">
                <div id="type-publish">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h3>@Resources.ContactResource.InsertHtml</h3>
                                </div>
                                <div id="html-code" class="form-group form-md-line-input">
                                    <label class="col-md-2 col-sm-2 text-right">@Resources.ContactResource.HtmlCode </label>
                                    <div class="col-md-8 col-sm-8">
                                        <textarea rows="3" type="text" id="htlmcode" class="form-control" name="url"></textarea>
                                        <span class="help-block">  </span>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <button class="btn btn-sm btn-circle btn-outline blue" id="copy-code">Copy</button>
                                    </div>

                                </div>
                                @*<div class="col-md-12">
                                    <div id="html-code" class="form-group form-md-line-input">
                                        <label class="col-md-2 col-sm-2 text-right">Mã nhúng iframe </label>
                                        <div class="col-md-8 col-sm-8">
                                            <textarea rows="3" type="text" id="htlmcodeiframe" class="form-control" name="url"></textarea>
                                            <span class="help-block">  </span>
                                        </div>
                                        <div class="col-sm-1 col-md-1">
                                            <button class="btn btn-sm btn-circle btn-outline blue" id="copy-code-iframe">Copy</button>
                                        </div>

                                    </div>
                                </div>*@
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h3>@Resources.ContactResource.InsertLink</h3>
                                </div>
                                <div id="web-form-link" class="form-group form-md-line-input">
                                    <label class="col-md-2 col-sm-2 text-right"> @Resources.ContactResource.HtmlLink </label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="webformlink" class="form-control" name="url">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <button class="btn btn-sm  btn-circle btn-outline blue" id="copy-link">Copy</button>
                                    </div>
                                </div>
                                <div id="web-form-link" class="form-group form-md-line-input">
                                    <label class="col-md-2 col-sm-2 text-right"> Đường dẫn rút gọn </label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="webformlinkshort" class="form-control" name="url">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <button class="btn btn-sm  btn-circle btn-outline blue" id="copy-shortlink">Copy</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h3>Form popup</h3>
                                </div>
                                <div id="web-form-link" class="form-group form-md-line-input">
                                    <label class="col-md-2 col-sm-2 text-right"> @Resources.ContactResource.HtmlCode </label>
                                    <div class="col-md-8 col-sm-8">
                                        <textarea type="text" rows="3" id="webformpopup" class="form-control" name="url"></textarea>
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <button class="btn btn-sm  btn-circle btn-outline blue" id="copy-popup">Copy</button>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div>
    <iframe id="iframe-form-size" style="max-width:460px; width:100%;" scrolling="yes" src="/View/ViewForm?fId=@ViewBag.FormId"></iframe>
</div>*@
<script type="text/javascript">
    var formId = '@ViewBag.FormId';
    var width = '@ViewBag.Width';
    var height = '@ViewBag.height';
    var form64 = '@ViewBag.Form64';
    var key = '@System.Configuration.ConfigurationManager.AppSettings["GoolgeShortLinkApiKey"]';
    $(document).ready(function () {
        publishform_Action(formId, form64, width, height, key);
    });

</script>