﻿<style>
    .multiselect-container > li > a > label {
        padding:3px 20px 3px 40px !important;
    }
</style>
    <div class="row" style="max-width: 800px; margin: 0 auto;">
    <div class="col-md-12">
        <div class="">
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" id="formSetting">
                    <div >
                        <div class="form-group">
                            <label class="col-md-4 control-label">@Resources.ContactResource.contactFormSettingFormName</label>
                            <div class="form-group form-md-line-input nopading">
                                <div class="col-md-7">
                                    <input type="text" id="formname" class="form-control" placeholder="@Resources.ContactResource.contactFormSettingFormName">
                                    <span class="help-block"> @Resources.ContactResource.contactFormSettingFormNameInput </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-margin-panel">
                            <div class="panel-body custom-padding-panelbody">
                                <div class="form-group" id="action-ready-subcribe">
                                    <label class="col-md-4 control-label" for="form_control_1">@Resources.ContactResource.contactFormSettingThankPage</label>
                                    <div class="col-md-8">
                                        <div class="md-radio-list">
                                            <div class="md-radio">
                                                <input type="radio" id="thankdefault" name="thankpage" value="2" class="md-radiobtn" checked>
                                                <label for="thankdefault">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>@Resources.ContactResource.contactFormSettingThankDefault
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="thankcustom" name="thankpage" value="3" class="md-radiobtn">
                                                <label for="thankcustom">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.ContactResource.contactFormSettingThankCustom
                                                </label>

                                            </div>
                                            <div id="urlThankpage" style="display:none;" class="form-group form-md-line-input">
                                                <div class="col-md-11">
                                                    <input type="text" id="thank-url-page" class="form-control" name="url" placeholder="http://">
                                                    <span class="help-block"> @Resources.ContactResource.contactThankPageNote </span>
                                                </div>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="nothank" name="thankpage" value="1" class="md-radiobtn">
                                                <label for="nothank">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.ContactResource.contactFormSettingThankNo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-margin-panel">
                            <div class="panel-body custom-padding-panelbody">
                                <div class="form-group" id="action-ready-subcribe-page">
                                    <label class="col-md-4 control-label" for="form_control_1">@Resources.ContactResource.contactFormSettingSubcribePage</label>
                                    <div class="col-md-8">
                                        <div class="md-radio-list">
                                            <div class="md-radio">
                                                <input type="radio" id="readydefault" name="readypage" value="2" class="md-radiobtn" checked>
                                                <label for="readydefault">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>@Resources.ContactResource.contactFormSettingSubcribeDefault
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="readycustom" name="readypage" value="3" class="md-radiobtn">
                                                <label for="readycustom">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>@Resources.ContactResource.contactFormSettingSubcribeCustom
                                                </label>

                                            </div>
                                            <div id="urlReadypage" style="display:none;" class="form-group form-md-line-input">
                                                <div class="col-md-11">
                                                    <input type="text" id="ready-url-page" class="form-control" name="url" placeholder="http://">
                                                    <span class="help-block">@Resources.ContactResource.contactFormSettingSubCribeNoType Nhập địa chỉ trang thông báo đã đăng kí </span>
                                                </div>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="noready" name="readypage" value="1" class="md-radiobtn">
                                                <label for="noready">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.ContactResource.contactFormSettingSubCribeNo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-margin-panel">
                            <div class="panel-body custom-padding-panelbody">
                                <div class="form-group" id="action-notify-register">
                                    <label class="col-md-4 control-label" for="form_control_1">@Resources.ContactResource.WhenRegisterNew</label>
                                    <div class="col-md-8">
                                        <div class="md-radio-list">
                                            <div class="md-radio">
                                                <input type="radio" id="unsend-notify-register" name="notify-register" value="1" class="md-radiobtn" checked>
                                                <label for="unsend-notify-register">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.ContactResource.NotReceiveNotify
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="send-notify-register" name="notify-register" value="2" class="md-radiobtn">
                                                <label for="send-notify-register">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @Resources.ContactResource.ReceiveNotify <b>@Resources.ContactResource.FeeNotify</b>
                                                </label>

                                            </div>
                                            <div id="info-notify-send" style="display:none;">
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox has-warning">
                                                        <input type="checkbox" name="typesendnotify" id="sendemail" value="1" class="md-check" checked>
                                                        <label for="sendemail" class="font-yellow-gold">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @Resources.ContactResource.ViaEmail
                                                        </label>
                                                    </div>
                                                    <div class="md-checkbox has-warning">
                                                        <input type="checkbox" name="typesendnotify" id="sendsms" value="2" class="md-check" checked>
                                                        <label for="sendsms" class="font-yellow-gold">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @Resources.ContactResource.ViaSMS
                                                        </label>
                                                    </div>
                                                    <div class="md-checkbox has-warning">
                                                        <input type="checkbox" id="send-notify" name="typesendnotify" value="4" class="md-check" checked>
                                                        <label for="send-notify" class="font-yellow-gold">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @Resources.ContactResource.ViaNotify
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 margin-top-10 nopading" id="div-list-user" style="display:none;">
                                                    <label class="col-md-12 nopading">@Resources.ContactResource.ListUserNotify</label>
                                                    <div class="col-md-12 nopading">
                                                        <div id="list-sent-notify" style="max-width:400px;">
                                                        </div>
                                                        @*<div class="pull-left" style="width:30px;height:30px;">
                                                                <i class="glyphicon glyphicon-plus-sign font-green-jungle" style="font-size:30px;"></i>
                                                            </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-md-12 margin-top-10 nopading" id="div-list-device" style="display:none;">
                                                    <label class="col-md-12 nopading">@Resources.ContactResource.ListDeviceNotify</label>
                                                    <div class="col-md-12 nopading">
                                                        <div id="list-device-sent-notify" style="max-width:400px;">
                                                        </div>

                                                    </div>
                                                </div>
                                                @*<div class="col-md-12 margin-top-10 nopading" id="selectemailnotify" style="display:none;">
                                                        <div class="col-md-11 nopading ">
                                                            <span class="margin-bottom-10"> @Resources.ContactResource.SelectEmailReceiveNotify</span>
                                                            <select class="form-control" id="txtSettingEmailSend" style="width:100%;max-width:400px;"></select>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12 margin-top-10 nopading" id="selectmobilenotify" style="display:none">
                                                        <div class="col-md-11 nopading">
                                                            <span class="margin-bottom-10">@Resources.ContactResource.EnterMobileNotify</span>
                                                            <input class="form-control" id="txtSettingMobiSend" onkeypress="validate(evt);" placeholder="@Resources.ContactResource.EnterMobileNotify" style="width:100%;max-width:400px;">
                                                        </div>
                                                    </div>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-margin-panel">
                            <div class="panel-body custom-padding-panelbody">
                                <div class="form-group" id="action-notify-register">
                                    <label class="col-md-4 control-label" for="form_control_1">@Resources.ContactResource.SentEmailVerify <span></span></label>
                                    <div class="col-md-8">
                                        <input type="checkbox" id="comfirmoption" class="make-switch" data-size="mini" data-on-color="success" data-off-color="warning">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


