﻿@using _123SendMailV2.ViewModels;
@model ContactViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">@Resources.ContactResource.UpdateContact</h4>
</div>
<div class="modal-body" id="content-update-field" style="overflow-y:scroll;overflow-x:hidden">
    <div class="row">
        <div class="col-md-12" id="UpdateContacts">
            <div class="alert alert-danger display-hide" id="alertnotify">
                <button class="close" data-close="alert"></button>
                <span></span>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactName
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="name" class="form-control" id="txtContactName">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputname</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="6">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.LastName
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" id="txtLastName">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputLastname</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="5">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.FirstName
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" id="txtFirstName">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputFirstname</span>
                </div>
            </div>

            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactPhonenumber
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="phone" class="form-control" id="txtPhone" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputphone</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactEmail
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="email" class="form-control" id="txtEmail" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputEmail</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactBirthday
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text"  class="form-control" date-picker id="txtBirthday" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputBirthday</span>
                </div>
            </div>
            <div class="form-group form-md-line-input allow-show-data hide" data-show="8">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactAge
                    <span class="required"></span>
                </label>
                <div class="col-md-9">

                    <select class="form-control" id="txtAge">
                        <option value=""></option>
                        <option value="18-29">18-29</option>,
                        <option value="30-44">30-44</option>,
                        <option value="45-60">45-60</option>,
                        <option value=">60">&gt;60</option>,
                        <option value="<18">&lt;18</option>
                    </select>
                    <div class="form-control-focus"> </div>

                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="9">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactGender
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <select class="form-control" id="txtGender">
                        <option value=""></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="form-control-focus"> </div>

                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="10">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactFax
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="txtFax" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputFax</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="11">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactCompany
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="txtCompany" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputCompany</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="13">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactUrl
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="txtUrl" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputUrl</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="14">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactCity
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="txtCity" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputCity</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="15">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactStreet
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="txtStreet" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputStreet</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="16">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactAddresss
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="txtAddress" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputAddress</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactNote
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtNote" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputNote</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="18">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactNote 1
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtNote1" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputNote 1</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="19">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactNote 2
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtNote2" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputNote 2</span>
                </div>
            </div>
            <div class="form-group form-md-line-input hide allow-show-data" data-show="20">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactNote 3
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" name="note" class="form-control" id="txtNote3" />
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputNote 3</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label">
                    @Resources.ContactResource.contactActive
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <div class="md-checkbox has-success">
                        <input type="checkbox" id="ucheckContactActive" class="md-check">
                        <label for="ucheckContactActive">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!--dùng tạm mua ấn phẩm-->
            @*<div class="form-group form-md-line-input">
                <label class="col-md-3 control-label">
                    Thanh toán
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <div class="md-checkbox has-success">
                        <input type="checkbox" id="ucheckPaid" class="md-check">
                        <label for="ucheckPaid">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                        </label>
                    </div>
                </div>
            </div>*@
            <!--end-->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i>@Resources.ContactResource.contactClose</button>
    <button type="button" class="btn btn-sm green-jungle" id="modalupdatecontact"><i class="fa fa-save"></i> @Resources.ContactResource.contactSave</button>
</div>
<script>
    $(document).ready(function () {
        var obj={
            Active: '@Model.Active',
            ContactID: '@Model.ContactID',
            ContactName:'@Html.Raw(Model.ContactName)',
            Email:'@Model.Email',
            Mobile: '@Model.Mobile',
            Note: '@Html.Raw(Model.Note.Replace("\n", "").Replace("\r", "\r\n"))',
        };
        @*JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.Contact))');*@
        updatecontact_LoadUpdate(obj);

        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var contactId = obj.ContactID;
        var message = {
             NameNull: '@Html.Raw(Resources.ContactResource.notifyCheckName)',
            Success: '@Html.Raw(Resources.ContactResource.notifySuccessUpdate)',
            Error: '@Html.Raw(Resources.ContactResource.notifyErrorCreate)',
            MobileError: '@Html.Raw(Resources.ContactResource.notifyMobileError)',
            EmailError: '@Html.Raw(Resources.ContactResource.notifyEmailError)',
            MobileOrEmailNull: '@Html.Raw(Resources.ContactResource.notifyMobileOrEmailNull)',
            EmailExistSuppression: '@Html.Raw(Resources.ContactResource.notifyEmailExistSuppression)',
            EmailExitsSentError: '@Html.Raw(Resources.ContactResource.notifyEmailExitsSentError)',
            EmailErrorFormat: '@Html.Raw(Resources.ContactResource.FormatEmailError)',
            MobileErrorFormat: '@Html.Raw(Resources.ContactResource.FormatMobileError)',
        };

        $('#txtBirthday').datepicker({
            rtl: App.isRTL(),
            orientation: "left",
            autoclose: true,
            format:'dd-mm-yyyy'
        });

        $('#content-update-field').css({'max-height': $(window).innerHeight() - 200});
        var showcol = localStorage.getItem('ShowCol');
        if (showcol != undefined) {
            showcol = showcol.split(',');
            $('.allow-show-data').each(function () {
                datashow = $(this).attr('data-show');
                if (showcol.indexOf(datashow) != -1) {
                    $(this).removeClass('hide');
                }
            })
        }

        var ContactGroupId=@ViewBag.ContactGroupId;
        updatecontact_EventUpdate(apiDomain, access_token,ContactGroupId, contactId, message);

    });


</script>




