﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Update contact group</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12" id="createContactGroup">
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactGroupName
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" name="name" id="ucontactgroupname">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">
                        @Resources.ContactResource.contactInputGroupName
                    </span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label" for="form_control_1">
                    @Resources.ContactResource.contactDesciption
                    <span class="required"></span>
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="" name="desciption" id="ucontactgroupdesciption">
                    <div class="form-control-focus"> </div>
                    <span class="help-block">@Resources.ContactResource.contactInputDesciption</span>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <label class="col-md-3 control-label">
                    @Resources.ContactResource.contactActive
                    <span class="required">*</span>
                </label>
                <div class="col-md-9">
                    <div class="md-checkbox has-success">
                        <input type="checkbox" id="ucheckGroupActive" class="md-check" >
                        <label for="ucheckGroupActive">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm yellow-gold" data-dismiss="modal"><i class="fa fa-remove"></i> @Resources.ContactResource.contactClose</button>
    <button type="submit" class="btn btn-sm green-jungle" id="updatecontactgroup"><i class="fa fa-save"></i> @Resources.ContactResource.contactSave</button>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var data = {
            ContactGroupId: '@Html.Raw(ViewBag.ContactGroupId)',
            ContactGroupName: '@Html.Raw(@ViewBag.ContactGroupName)',
            Active: '@Html.Raw(ViewBag.Active)',
            Desciption: '@Html.Raw(ViewBag.Desciption)',
        };

        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var message ={
            Success:'@Html.Raw(Resources.ContactResource.notifySuccessUpdate)',
            Error:'@Html.Raw(Resources.ContactResource.notifyErrorUpdate)',
        }
        updategroup_LoadData(data)
        updategroup_EventUpdateGroup(apiDomain, access_token, data.ContactGroupId, message);

    })
</script>


