﻿@{ 
    Layout = "~/Views/shared/_Layout_Home.cshtml";
    ViewBag.Title = Resources.PagetitleResource.pagetitleGeneralStatistic;

}
@section JS{

    <script src="@Url.Content("~/Scripts/Statistics/statistics.js")?@ViewBag.JsPara"type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Statistics/statisticmessage.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/amcharts.js")?@ViewBag.JsPara"type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/pie.js")?@ViewBag.JsPara"type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/themes/light.js")?@ViewBag.JsPara"type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/serial.js")?@ViewBag.JsPara"type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/highcharts/js/highcharts.js")?@ViewBag.JsPara"type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/underscore-min.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/jszip.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/xlsx.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/ods.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/write.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ReadExcel/FileSaver.js")?@ViewBag.JsPara" type="text/javascript"></script>

}
<style>
   
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.MenuResource.mnStatistics</span>
            <i class="fa fa-circle"></i>

        </li>

        <li>
            <b><span>@Resources.MenuResource.mnAnalyticsBasic</span></b>
        </li>
       
    </ul>
</div>
<div class="portlet  box light bordered" id="basicemailcontent">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-rocket"></i>
            <span>@Resources.PagetitleResource.pagetitleGeneralStatistic</span>
            @*<input id="chckSendmail" type="checkbox" checked />*@
        </div>
        <div class="actions">
            <div class="form-group">
                <div class="col-md-7 " style="padding:0;">
                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                        <input id="select-date-from" type="text" class="form-control" name="from">
                        <span class="input-group-addon"> @Resources.StatisticResource.to </span>
                        <input id="select-date-to" type="text" class="form-control" name="to">

                    </div>


                </div>
                <div class="col-md-5">
                    <a class="btn  green-jungle" id="select-date-report"><i class="fa fa-check"></i> @Resources.StatisticResource.OK</a>
                    <a class="btn  blue" id="select-date-export"><i class="fa fa-file-excel-o"></i> @Resources.ContactResource.contactExport</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div id="statistics-campaign-tab">
                <div class="col-md-12 col-sm-12 margin-bottom-10">
                    <div class="col-md-2 col-sm-2 text-center">
                        <label>@Resources.StatisticResource.Campaign</label>
                    </div>
                    <div class="col-md-9 col-sm-9" id="campaign-list-statistic">
                    </div>
                </div>
                <div class="clear-fix"></div>
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li id="tab-statistics-email" class="active">
                            <a href="#tab_emailrocket" data-toggle="tab" aria-expanded="true">@Resources.StatisticResource.StatisticEmail </a>
                        </li>
                        <li id="tab-statistics-sms" style="display:none;">
                            <a href="#tab_smsrocket" data-toggle="tab">@Resources.StatisticResource.StatisticSMS </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="padding:5px 0 !important">
                        <div class="tab-pane active" id="tab_emailrocket">
                            <div class="col-lg-12 col-md-12 nopading" style="padding-top:10px;">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs custom-nav-tabs-statistic">
                                        <li class="active col-md-2 col-sm-2 nopading" style="padding:0">
                                            <a id="tab-total-statistic" href="#tab_total" data-toggle="tab" class="text-center  nopading">
                                                <h4><b>@Resources.StatisticResource.tab_total </b></h4>

                                                <h5><b>@Resources.StatisticResource.TotalContactActive <span id="head-total-sent">0</span></b></h5>
                                            </a>
                                        </li>
                                        <li class="col-md-2 col-sm-2 nopading">
                                            <a id="tab-open-statistic" href="#tab_open" data-toggle="tab" class="text-center  nopading">
                                                <h4>
                                                    <b> @Resources.StatisticResource.tab_open </b>
                                                </h4>
                                                <h5>
                                                    <b id="head-open">0</b>
                                                </h5>
                                            </a>
                                        </li>
                                        <li class="col-md-2 col-sm-2 nopading">
                                            <a id="tab-click-statistic" href="#tab_click" data-toggle="tab" class="text-center  nopading">
                                                <h4>
                                                    <b> @Resources.StatisticResource.tab_click</b>
                                                </h4>
                                                <h5>
                                                    <b id="head-click">0</b>
                                                </h5>
                                            </a>
                                        </li>
                                        <li class="col-md-2 col-sm-2 nopading">
                                            <a id="tab-unsubcribed-statistic" href="#tab_unsubcribed" data-toggle="tab" class="text-center nopading">
                                                <h4><b>@Resources.StatisticResource.tab_unsubcribed</b> </h4>
                                                <h5>
                                                    <b id="head-unsubcribed">0</b>
                                                </h5>
                                            </a>
                                        </li>
                                        <li class="col-md-2 col-sm-2 nopading">
                                            <a id="tab-bounce-statistic" href="#tab_bounced" data-toggle="tab" class="text-center  nopading">
                                                <h4><b>@Resources.StatisticResource.tab_bounced</b></h4>
                                                <h5>
                                                    <b id="head-bounced">0</b>
                                                </h5>
                                            </a>
                                        </li>
                                        <li class="col-md-2 col-sm-2 nopading">
                                            <a id="tab-complaints-statistic" href="#tab_complaints" data-toggle="tab" class="text-center  nopading">
                                                <h4><b> @Resources.StatisticResource.tab_complaints </b></h4>
                                                <h5>
                                                    <b id="head-complaints">0</b>
                                                </h5>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content " style="padding:0px;">
                                        <div class="tab-pane active" id="tab_total">
                                            <div class="row custom-row-statistic">
                                                @*<input type="checkbox" id="change-sumorunique-totalchart" class="make-switch" data-size="small" checked data-on-text="&nbsp;Summary&nbsp;" data-off-text="&nbsp;Unique&nbsp;" data-on-color="primary" data-off-color="info">*@
                                                <ul class="nav nav-pills" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:0px ">
                                                    <li class="active">
                                                        <a id="tab-total-summary" data-toggle="tab" aria-expanded="false" style="padding: 5px 10px;border-radius: 3px !important;"> Summary </a>
                                                    </li>
                                                    <li>
                                                        <a id="tab-total-unique" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> Unique</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-12" id="hasdata-total-chart">
                                                @*<div class="text-center"><h4>@Resources.StatisticResource.Totalsent : <span id="total-sent">0</span> </h4></div>*@
                                                <div id="chartdiv-total" style="height:350px;width: 100%;"></div>

                                            </div>
                                            <div class="total-chart-ex" id="hasdata-total-sum">
                                                <div class="col-lg-6 col-md-12 text-center">
                                                    <p>
                                                        <em class="emopen" id="sum-rate-open">0%</em>
                                                        <span>@Resources.StatisticResource.openrate</span>
                                                    </p>
                                                    <p>
                                                        <em style="font-size:20px;" id="sum-rate-click">0%</em>
                                                        <span>@Resources.StatisticResource.clickrate</span>

                                                    </p>


                                                    <p>
                                                        <em style="font-size:20px;" id="sum-rate-unsub">0%</em>
                                                        <span>@Resources.StatisticResource.unsubscriberate</span>
                                                    </p>
                                                    <p>
                                                        <em style="font-size:20px;" id="sum-rate-bounce">0%</em>
                                                        <span>@Resources.StatisticResource.bouncerate</span>

                                                    </p>
                                                    <p>
                                                        <em style="font-size:20px;" id="sum-rate-complaint">0%</em>
                                                        <span>@Resources.StatisticResource.complaintrate</span>

                                                    </p>

                                                </div>
                                            </div>
                                            <div id="nodata-total" class="text-center hide">
                                                <img src="~/Content/Images/total.jpg" />
                                                <h3>@Resources.StatisticResource.DontHaveSent</h3>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_open">
                                            <div class="row custom-row-statistic" style="padding-bottom:0px;">
                                                <div class="col-lg-6 col-md-6">
                                                    <ul class="nav nav-pills" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:0px ">
                                                        <li class="active">
                                                            <a id="tab-open-opened" data-toggle="tab" aria-expanded="false" style="padding: 5px 10px;border-radius: 3px !important;"> Opened </a>
                                                        </li>
                                                        <li>
                                                            <a id="tab-open-uniqueopened" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> Unique opened </a>
                                                        </li>
                                                        <li>
                                                            <a id="tab-open-unopened" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> Unopened </a>
                                                        </li>

                                                    </ul>


                                                </div>
                                                <div class="col-lg-6 col-md-6 text-right">
                                                    @*<input type="checkbox" class="make-switch" data-size="small" checked data-on-text="<i class='fa fa-line-chart'></i>" data-off-text="<i class='fa fa-bar-chart'></i>" data-on-color="primary" data-off-color="info">*@
                                                </div>

                                            </div>
                                            <div id="nodata-open" class="text-center hide">
                                                <img src="~/Content/Images/opens.jpg" />
                                                <h3>@Resources.StatisticResource.DontHaveOpen</h3>
                                            </div>
                                            <div id="chartdiv-open" style="height:400px;"></div>
                                            <div class="text-center hide" id="div-open-type-of-unique" style="padding-top: 5px;padding-bottom: 5px;width:138px;margin:0 auto;">
                                                @*<input id="change-type-of-unique" type="checkbox" class="make-switch" data-size="small" checked data-on-text="&nbsp;Summary&nbsp;" data-off-text="&nbsp;Hour&nbsp;" data-on-color="primary" data-off-color="info">*@
                                                <ul class="nav nav-pills" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:0px ">
                                                    <li class="active">
                                                        <a id="tab-open-unique-summary" data-toggle="tab" aria-expanded="false" style="padding: 5px 10px;border-radius: 3px !important;"> Summary </a>
                                                    </li>
                                                    <li>
                                                        <a id="tab-open-unique-hour" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> Hour</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="table-show-open" style="padding-top: 5px;">

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_click">
                                            <div class="row custom-row-statistic">
                                                <div class="col-lg-4 col-md-4 nopading">
                                                    @*<input id="change-clickorunique-clickchart" type="checkbox" class="make-switch" data-size="small" checked data-on-text="&nbsp;Clicked&nbsp;" data-off-text="&nbsp;Unique clicked&nbsp;" data-on-color="primary" data-off-color="info">*@
                                                    <ul class="nav nav-pills" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:0px ">
                                                        <li class="active">
                                                            <a id="tab-click-summary" data-toggle="tab" aria-expanded="false" style="padding: 5px 10px;border-radius: 3px !important;"> Summary </a>
                                                        </li>
                                                        <li>
                                                            <a id="tab-click-unique" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> Unique</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 col-md-4 nopading" id="div-select-link-click-chart">

                                                </div>
                                                <div class="col-lg-1 col-md-1 text-left hide" id="div-btn-link-click-chart" style="margin-top:3px;padding:0 3px;">
                                                    <a class="btn white" id="select-link">Ok</a>
                                                </div>
                                                @*<div class="col-lg-4 col-md-4 text-right nopading">
                                                        <input type="checkbox" class="make-switch" data-size="small" checked data-on-text="<i class='fa fa-line-chart'></i>" data-off-text="<i class='fa fa-bar-chart'></i>" data-on-color="primary" data-off-color="info">
                                                    </div>*@
                                            </div>
                                            <div class="col-lg-12 nopading">
                                                <div id="chartdiv-click" style="height:400px;"></div>
                                            </div>
                                            <div class="text-center hide" id="div-type-of-unique-click" style="padding-bottom: 5px;width:138px;margin:0 auto;">
                                                @*<input id="change-type-of-unique-click" type="checkbox" class="make-switch" data-size="small" checked data-on-text="&nbsp;Summary&nbsp;" data-off-text="&nbsp;Hour&nbsp;" data-on-color="primary" data-off-color="info">*@
                                                <ul class="nav nav-pills" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:0px ">
                                                    <li class="active">
                                                        <a id="tab-click-unique-summary" data-toggle="tab" aria-expanded="false" style="padding: 5px 10px;border-radius: 3px !important;"> Summary </a>
                                                    </li>
                                                    <li>
                                                        <a id="tab-click-unique-hour" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> Hour</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="nodata-click" class="text-center hide">
                                                <img src="~/Content/Images/clicks.jpg" />
                                                <h3>@Resources.StatisticResource.DontHaveClick </h3>
                                            </div>
                                            <div id="show-table-click"></div>
                                        </div>
                                        <div class="tab-pane" id="tab_unsubcribed">
                                            <div id="chartdiv-unsubcribed" style="height:400px;"></div>
                                            <div id="nodata-unsubcribed" class="text-center hide">
                                                <img src="~/Content/Images/unsubscribe.jpg" />
                                                <h3>@Resources.StatisticResource.DontHaveUnsub </h3>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_bounced">
                                            <div class="text-center hide"><h4>Tota : <span id="total-bounce">0</span> </h4></div>
                                            <div id="chartdiv-bounce" style="height:400px;">

                                            </div>
                                            <div id="nodata-bounce" class="text-center hide">
                                                <img src="~/Content/Images/bounces.jpg" />
                                                <h3>@Resources.StatisticResource.DontHaveBounce </h3>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_complaints">
                                            <div id="chartdiv-complaints" style="height:400px;"></div>
                                            <div id="nodata-complaints" class="text-center hide">
                                                <img src="~/Content/Images/complaints.jpg" />
                                                <h3>@Resources.StatisticResource.DontHaveComplaint </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_smsrocket">
                            <div class="col-lg-12 col-md-12 nopading" style="padding-top:10px;">
                                @{Html.RenderAction("PartialMessage", "Statistics");}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div id="nodata-statistic" class="text-center" style="display:none;">
            <img src="~/Content/Images/clicks.jpg" />
            <h1>@Resources.StatisticResource.DontHaveCampaignToReport </h1>
        </div>
    </div>
</div>
<!--modal-->
<div class="modal fade" id="modal-show-contact" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Resources.StatisticResource.ContactList <a class="btn btn-sm green-jungle" id="export-general-statistic"><i class="fa fa-file-excel-o"></i>@Resources.ContactResource.contactExport</a></h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:80vh;" data-always-visible="1" data-rail-visible="0">
                    <div id="table-show-contact"></div>
                 </div>
                </div>
            <div class="modal-footer" style="text-align:center !important">
                <button class="btn btn-sm yellow-gold" data-dismiss="modal">@Resources.AdvancedCampaignResource.Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="modal-export-statistic-contact" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-file-excel-o"></i> Export </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="createContactGroup">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">
                                @Resources.ContactResource.FileName
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="" name="name" id="file-export-name">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">
                                    @Resources.ContactResource.InputFileName
                                </span>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm green-jungle" id="submit-export-statistic-contact"><i class="fa fa-file-excel-o"></i>@Resources.ContactResource.Export</button>
                            </div>
                        </div>
                        <div class="clear-fix" style="height:10px;">

                        </div>
                        <div id="table-file-export" style="margin-top:20px;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!--end modal-->
<script>
    $(document).ready(function () {

        $('#mnstatisticbasic').addClass('active');
        $('#mnstatisticbasic').children('a').append('<span class="selected"></span>');
        $('.date-picker').datepicker({
            rtl: App.isRTL(),
            orientation: "left",
            autoclose: true,
            format: 'yyyy-mm-dd',
            //minDate: new Date(moment().subtract(90, 'days').year(), moment().subtract(90, 'days').month() - 1, moment().subtract(90, 'days').day()),
            minDate: new Date(2018, 10 - 1, 25),
        });


        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            GetDataError: '@Html.Raw(Resources.StatisticResource.GetDataError)',
            TotalSent: '@Html.Raw(Resources.StatisticResource.Totalsent)',
            TotalBounce: '@Html.Raw(Resources.StatisticResource.TotatBounce)',
            NotData: '@Html.Raw(Resources.StatisticResource.NotData)',
            SMSSent: '@Html.Raw(Resources.StatisticResource.SMSSent)',
            SMSFail: '@Html.Raw(Resources.StatisticResource.SMSFail)',
            Number: '@Html.Raw(Resources.StatisticResource.Number)',
            SMSPending: '@Html.Raw(Resources.StatisticResource.SMSPending)',
            NoMobile: '@Html.Raw(Resources.StatisticResource.NoMobile)',

            FileName: '@Html.Raw(Resources.ContactResource.FileName)',
            Status: '@Html.Raw(Resources.ContactResource.Status)',
            CreateDate: '@Html.Raw(Resources.ContactResource.DateCreated)',
            Processing: '@Html.Raw(Resources.ContactResource.Processing)',
            FileNameRequire: '@Html.Raw(Resources.ContactResource.FileNameRequire)',
            DownLoad: '@Html.Raw(Resources.ContactResource.DownLoad)',
            ExportError: '@Html.Raw(Resources.ContactResource.ExportError)',
            Row: '@Html.Raw(Resources.ContactResource.Row)',
        }

        var CampaignId = '@ViewBag.CampaignId';

        statistic_Action(apiDomain, access_token,CampaignId, message);
    })
</script>