﻿
@{
    ViewBag.Title = @Resources.PagetitleResource.pagetitleStatisticMessage;
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/Statistics/statisticmessage.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/amcharts.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/pie.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/themes/light.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/serial.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/highcharts/js/highcharts.js")?@ViewBag.JsPara" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/underscore-min.js")?@ViewBag.JsPara" type="text/javascript"></script>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>@Resources.MenuResource.mnStatistics</span>
            <i class="fa fa-circle"></i>

        </li>

        <li>
            <b><span>@Resources.MenuResource.mnAnalyticsMessage</span></b>
        </li>

    </ul>
</div>

<div class="portlet  box light bordered" id="basicemailcontent">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-cursor"></i>
            <span>@Resources.StatisticResource.titlemessage</span>
           
        </div>
       
    </div>
    <div class="portlet-body" id="portlet-body-statistic-sms">
        <div class="row">
            <div id="have-campaign-statistic">
                <div class="col-lg-12 col-md-12 nopading margin-top-10">

                    <label class="col-md-2 col-sm-2 text-right">@Resources.StatisticResource.MessageCampaign</label>
                    <div class="col-md-9 col-sm-9">
                        <select id="campaignsms-list-statistic" style="width:100%;"></select>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 nopading margin-bottom-10" style="padding-top:10px;">
                    @{Html.RenderAction("PartialMessage", "Statistics");}

                </div>
            </div>
        </div>
        <div id="nodata-statistic" class="text-center" style="display:none;">
            <img src="~/Content/Images/clicks.jpg" />
            <h3>@Resources.StatisticResource.DontHaveCampaignToReport </h3>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#mnstatisticsms').addClass('active');
        $('#mnstatisticsms').children('a').append('<span class="selected"></span>');
        var access_token = '@HttpContext.Current.Session["access_token"]';
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var message = {
            GetDataError: '@Html.Raw(Resources.StatisticResource.GetDataError)',
            NotData: '@Html.Raw(Resources.StatisticResource.NotData)',
            NoMobile: '@Html.Raw(Resources.StatisticResource.NoMobile)',
            NoCampaignName: '@Html.Raw(Resources.StatisticResource.NoCampaignName)',
            SMSSent: '@Html.Raw(Resources.StatisticResource.SMSSent)',
            SMSFail: '@Html.Raw(Resources.StatisticResource.SMSFail)',
            Number: '@Html.Raw(Resources.StatisticResource.Number)',
            SMSPending: '@Html.Raw(Resources.StatisticResource.SMSPending)',
        }
        var SentId = '@ViewBag.SentId';
        statisticmessage_Action(apiDomain, access_token, SentId, message);
    });
</script>

