﻿
        <div id="sms-nodata-open" class="text-center hide margin-top-40">
            <img src="~/Content/Images/opens.jpg" />
            <h3>@Resources.StatisticResource.DontHaveSMS</h3>
        </div>
        <div id="sms-havedata">
            <div id="chartdiv-sendsms" style="height:400px;max-width:900px;margin:0 auto"></div>
            @*<div class="text-center" id="div-sent-sms-status" style="padding-top: 5px;padding-bottom: 5px;width:400px;margin:0 auto;">
                <ul class="nav nav-pills" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:0px ">
                    <li class="active">
                        <a id="tab-message-sent" data-toggle="tab" aria-expanded="false" style="padding: 5px 10px;border-radius: 3px !important;"> @Resources.StatisticResource.Sent </a>
                    </li>
                    <li>
                        <a id="tab-message-pending" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> @Resources.StatisticResource.Pending </a>
                    </li>
                    <li>
                        <a id="tab-message-fail" data-toggle="tab" aria-expanded="true" style="padding: 5px 10px;border-radius: 3px !important;"> @Resources.StatisticResource.Fail </a>
                    </li>
                </ul>
            </div>
            <div class="table-status-mesage" style="padding-top: 5px;">
                <div class="col-md-12" id="list-mobil-sent" style="margin:0 auto;"></div>
            </div>*@
        </div>
  
