﻿@{ 
    Layout = "~/Views/Shared/_LayoutNotify.cshtml";
}
@section JS{
    <script src="@Url.Content("~/Scripts/Unsubscribe/unsubscribe.js")?@ViewBag.JsPara" type="text/javascript"></script>

}
<div class="row">
    <div class="col-md-12 coming-soon-header text-center">
        <a class="brand" href="/Login">
            <img src="~/Content/Images/sendmail-123.png" alt="logo" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 coming-soon-content text-center">
        <h1>@ViewBag.Email</h1>
        <h1>Sau khi hủy đăng kí bạn sẽ không nhận được bất kì email nào được gửi từ dịch vụ của chúng tôi.</h1>
        <h3 class="font-white">Bạn muốn hủy đăng kí nhận email?</h3>
        <a class="btn red" id="btn-unsubscribe">Đồng ý hủy đăng kí</a>
    </div>

</div>
<script>
    $(document).ready(function () {
        
        var apiDomain = '@System.Configuration.ConfigurationManager.AppSettings["domain"]';
        var Email = '@ViewBag.Email';
        var Id = '@ViewBag.Id';
        var message = {
           
        };
        unsubscribe_Action(apiDomain,Email,Id, message);
    })
</script>