﻿@{
    Layout = "~/Views/Shared/_LayoutNotify.cshtml";
}

<div class="row">
    <div class="col-md-12 coming-soon-header text-center">
        <a class="brand" href="/Login">
            <img src="~/Content/Images/sendmail-123.png" alt="logo" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 coming-soon-content text-center">
        <h1>Hủy đăng kí nhận email thành công </h1>
    </div>
</div>
<script>
    $(document).ready(function () {
        UserLock.init();
    })
    var UserLock = function () {
        return {
            //main function to initiate the module
            init: function () {

                $.backstretch([
                    "/Content/Images/login-background.jpg",

                ], {
                    fade: 1000,
                    duration: 8000
                });
            }

        };

    }();
</script>
